@page "/Galaxies/Asselyum"
    <head>
        <title>Asselyum Galaxy</title>
        <meta property="og:title" content="Known Universe Wiki" />
        <meta property="og:url" content="https://theseamnetwork.com" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://thesteamnetwork.com/Images/FederationFlag.png" />
        <meta content="The Wiki for the Known Universe RPG. Check out the Character Creator to jump in, or read some Voices from the Void articles to give you an idea of whats happening in the Sector. Or maybe just take a glance at the Islands Star-Charts to plot your future adventures." property="og:description" />
        <meta content="#ffe81F" data-react-helmet="true" name="theme-color" />

    </head>

<body>
    <h1>Asselyum-Galaxy</h1>
    <p>The Asselyum Galaxy was founded following the marriage of Fuhrer Jonathan Reid to the heir to the <a href="vers">Versian</a> and <a href="transGalaticEmpire">Imperial</a> thrones Camilla Vers Allussya. The galaxy was named after the last true empress of Vers, Asselyum Vers Allussya, who led the Vers empire in a long and burtal war to keep the <a href="transGalaticEmpire">Third Empire</a> out of the Milky Way.</p>
    <br />
    <p>Today the Asselyum Galaxy stands as the last holdout of the Versian empire, who control just under a quater of a galaxy themselves, split across the 34 Versian Lords living within the Galaxy.</p>
    <table style="width:25.5em;border-spacing:2px;float:left;">
        <tbody>
            <tr><td>1) history</td></tr>
            <tr><td>2) nations within Asselyum Galaxy Galaxy</td></tr>
        </tbody>
    </table>
    <div id="information" style="clear:left">
        <h2>History</h2>
        <p>The Asselyum Galaxy was founded following the wedding between the once Fuhrer Jonathan Reid, and the daughter of the last emperor of the Third Empire. Following their marriage, the Third Empire (what would become Britannia) joined the Vers Empire, and the Imperial Throne was restored. The psudo-democracy that had taken the empires place abolished. To commemorate the new, larger empire, the happy couple pushed heavily for the founding of a new capital for the new Vers Empire.</p>
        <p>Following the great war, Vers was riding high and mighty, until the <a href="deutschland">Deutschland</a>, <a href="xiaoming">Xiao-Ming</a>, and a number of small nations defaulted on the loans the Vers Empire had given them to rebuild. This would crash the Versian economy leading to the fracturing of the Versian Empire.</p>
        <p>After the dissolution of the empires, Vers launched a bloody war under the dishonourable Emperor Charles Vers Allussya. Whos vast war cost the Vers empire their holdings in both the <a href="sheeve">Sheeve Galaxy</a> and the <a href="reverse">Reverse Galaxy</a>.</p>
        <p>Today, with the death of the Foreign Emperor Richard Vers Allussya, his daughter took the throne though fierce legal and political struggles. Now the Vers empire is ruled by Empress Cathrine Vers Allussya, who controls the collosius, while John Hellsbeck rules the Citedal, the needed key to allow Cathrine to take the throne.</p>
        <p>While tensions have cooled for now within the Empire, the new goal has become expanding and colonizing the rest of this galaxy.</p>
        <h2>Nations Within Asselyum Galaxy</h2>
        <ul>
            <li><a href="vers">The Vers Empire</a></li>
        </ul>
        <h2>Audio</h2>
        <p>Coming soon...tm</p>
    </div>
</body>
