@page "/Rules/CircleMagic/"
<h1>Circle Magic</h1>
<p>Cirlce Magic is based on the Cosmological understanding of the 5 Planes as a series of interconnected rings, with the Material ring in the center, with the others connected to each other through the Material Plane.</p>
<p>Circle Magic tends to be more focused and easier to cast then <a href="/Rules/FreeFormMagic">Free Form Magic</a> but is more controlled and directly powerful then <a href="/Rules/SpecializedMagic/">Specialized Magic</a></p>
<p>Circle Magic is divided into the 5 main cirlces or planes, and have a series of spells based off of them. Though the specific spells depend on which school taught you.</p>

<h2>Witcher Cirlce Magic</h2>
<p></p>
<h3>Void Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h3>Aether Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h3>Material Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h3>Nether Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h3>Abyss Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h2>Knights of Ren Circle Magic</h2>
<p></p>
<h3>Void Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h3>Aether Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h3>Material Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h3>Nether Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h3>Abyss Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>