@page "/Rules/Magic/Curses/"

<title>Curses</title>
<h1>curses</h1>
<p>Curses can be cast on people or objects to bind a spell to that person or object for a set amount of time.</p>
<p>There are several known curses, such as the Witcher Vampyrism Curse, or the rashghal plague.</p>