@page "/Rules/HouseRules/"
<title>House Rules</title>

<h1>House Rules</h1>
<p>In this game of traveller I will be using various house rules inspired from other RPGs. These house rules are specified here.</p>
<h2>Rule 1) Clocks</h2>
<p>Clocks are a mechanic borrowed from Blades in the Dark. At any time I, the Referee, may add a new clock to the game of varying lengths from 3-12 ticks. The travellers or referee may, at ANY time recommend a deal wherein the travellers will have to add a number of ticks to the clock in return for some kind of benefit. </p>
<p>To keep things fair, a clock must have a name when it is first defined, and while I do not have to disclose the name, I can not change the name after the fact. As well, the fallout from the clock being finished must be related to the name. The travellers may ask for the name of any clock.</p>
<h2>Rule 2) Flashbacks</h2>
<p>One again borrowing from Blades in the Dark, players may, at any time, take a flashback for the cost of some number of ticks equal to the ask of the flashback. </p>
<p>A flashback is when a traveller would like to improvise a previous preparation for a situation. Given travellers spend a week in jump space, they often have some time to plan. Flashbacks represent the character having planned ahead; Only the planning was off camera</p>
<p>Travellers may make a luck check where the effect of the check is applied as a modifier to the flashback tick count.</p>
<p>Flashbacks may also ask for some other resource to be sacrificed, such as a contact or some credi</p>
<h2>Rule 3) Luck</h2>
<p>Luck is a new skill I am adding to traveller to allow the travellers more freedom to control the story. Luck is very similar to the Jack-of-All-Trades skill, but instead of applying to all skill checks, it only applies to luck checks. Luck is also gotten at the same time that Jack-of-All-Trades would be taken as a replacement. As well, luck can surpass +3.</p>
<p>A luck check can be called for by the travellers at ANY time. A luck check allows the traveller to rewrite the story from the referee, for example taking what should have been a miss and turning it into a lucky hit, or, forcing what should have been a hit from the enemy into a near miss.</p>
<p>A luck check is rolled using the luck skill like any other, some travellers are luckier than others, but everyone gets lucky once in a while, and has no characteristic tied to it, ever.</p>
<p>The luck check must pass the luck DC. The luck DC increases by 1 for every successful luck check and decreases by 1 for every failed check. The luck dc starts at 4.</p>
<p>The act calling for a luck check is like this: The traveller tries to repair a computer during a firefight to close a door and fails. The traveller calls for a luck check to see if they can pull this off. The Referee, taking the context of the situation into account, agrees, and the two begin to negotiate terms. The referee says that the effect, if negative, is added to the attackers hit rolls next shooting phase, the traveller says the effect if positive is added to the players repair roll. The traveller rolls, trying to beat the luck-DC, currently a 5, and rolls a 9, gaining a +4 to the repair check, passing with flying colours, while the luck DC increases to 6.</p>
<p>On the other hand: The traveller tries to repair a computer during a firefight to close a door and fails with a 7 / 8. The traveller calls for a luck check and negotiates with the referee for the standard deal, bonus to be applied to the skill, while the negative is applied to the attacker. The luck dc is 6 and the traveller rolls a 4-3, getting a 1. The -5 on the luckdc means the enemies now have a +5 to their next round of shooting, allowing them to play more aggressively.</p>
<h2>Rule 4) Contacts</h2>
<p>
    I am also redoing how contacts work, taking inspiration from twilight 2000AD. You no longer start off knowing who your contacts are. Instead you note down how you know them and your relationship with the contact, you also start with your SOC+3+D3 contacts+ what whatever you get in character creation.
</p>
<p>To use a contact, now the traveller calls for a luck check with a flat DC-8, If you succeed the check, the traveller gets to pick which of their contacts it is, if the traveller gets a 8, the person is chosen at random, if the traveller fails the check, the referee gets to pick the contact from the players list.</p>
<p>During any study period, the traveller may wish to spend that period researching new people, perform a dc-6 SOC check and gain your effect in new contacts, rolling a D4 to determine their alignment.</p>
<p>You can also at any social place (as determined by the referee), request to perform a social + applicable skill check to attempt to find a new contact.</p>
<h2>Rule 5) Custom Timetables</h2>
<p>Traveller natively uses D6 for all time stats, I will be using an assortment of dice to determine how long a timeline or action takes, not just the D6.</p>
<h2>Rule 6) Custom Faction System</h2>
<p>Behind the scenes, the traveller game will be using a custom faction system taking inspiration from Stars without number. This will only be a basic outline of the system so as to keep it fair. If you wish for further information I am happy to provide it.</p>
<p>
    Basically, there are a number of factions, some named and well known, such as governments listed on the wiki, others are more nefarious and operate behind the scenes (such as menty or the Imperial Mafia) and at this time do not have articles on the wiki. These factions each have a list of assets (such as starships, factories, etc), planets they control, characters within their organization, and other such information.
</p>
<p>After each session, I will see how the actions of the session play out affecting each group. Then each group will have a chance to take one action of their own for each planet they control.</p>
<p>This allows player actions to have real consequence on the sandbox, and the sandbox to really function as a sandbox, even without player interaction.</p>
<h2>Rule 7) Custom Dic</h2>
<p>You are free to use any of the following styles of rolling for this game: 2d6, 1d100, 1d20.</p>
<p>Checks will be referenced by their scale in traveller with percentages translated, reference the table below to see the translation.</p>
<p>All checks challenge will be as stated below pinned to the same challenged level:</p>
<table>
    <tbody>
    <thead>
    <tr><th>Name</th><th>2D6</th><th>1D100</th><th>1D20</th></tr>
    </thead>
    <tr><td>Simple</td><td>2+</td><td>17%</td><td>3+</td></tr>
    <tr><td>Easy</td><td>4+</td><td>33%</td><td>6+</td></tr>
    <tr><td>Routine</td><td>6+</td><td>50%</td><td>10+</td></tr>
    <tr><td>Average</td><td>8+</td><td>67%</td><td>14+</td></tr>
    <tr><td>Difficult</td><td>10+</td><td>83%</td><td>17+</td></tr>
    <tr><td>Very Difficult</td><td>12+</td><td>100%</td><td>20+</td></tr>
    <tr><td>Formidable</td><td>14+</td><td>117%</td><td>23+</td></tr>
    </tbody>
</table>
<p>
    Translation table:
</p>
<table>
    <thead>
        <tr><th>2D6</th><th>1D100</th><th>1D20</th></tr>
    </thead>
    <tbody>
        <tr><td>1</td><td>8%</td><td>2</td></tr>
        <tr><td>2</td><td>17%</td><td>3</td></tr>
        <tr><td>3</td><td>25%</td><td>5</td></tr>
        <tr><td>4</td><td>33%</td><td>6</td></tr>
        <tr><td>5</td><td>42%</td><td>8</td></tr>
        <tr><td>6</td><td>50%</td><td>10</td></tr>
        <tr><td>7</td><td>58%</td><td>12</td></tr>
        <tr><td>8</td><td>67%</td><td>14</td></tr>
        <tr><td>9</td><td>75%</td><td>16</td></tr>
        <tr><td>10</td><td>83%</td><td>17</td></tr>
        <tr><td>11</td><td>92%</td><td>18</td></tr>
        <tr><td>12</td><td>100%</td><td>20</td></tr>

    </tbody>
</table>
<p>All weapon bonuses are assumed to be in traveller stats and are up to the player to translate.</p>

@code {

}
