@page "/Rules/MagicSystems/"
<h1>Magic Systems</h1>
<p>Broadly speaking the magic system is broken down depending on what nation you are from, please refer to the following list for your nations magic page.
    <ul>
        <li><a href="/Rules/CircleMagic/">Circle Magic - Witchers, Knights of Ren</a> </li>
        <li><a href="/Rules/FreeFormMagic">Free Form Magic - Jed-I, Sith, Luna Knights, Equites Ordinis deorum</a></li>
        <li><a href="/Rules/SpecializedMagic/">Specialized Magic - Deutschlands Church of Sigmar, Germushian VoidForcers, Xiao-Ming Investigators, Artekkan Guild-seers</a></li>
    </ul>
</p>
