@page "/Rules/MagicSystems/"
<title>Magic Systems</title>

<h1>Magic Systems</h1>
<p>
    Broadly speaking the magic system is broken down depending on what nation you are from, please refer to the following list for your nations magic page.
    <ul>
        <li><a href="/Rules/Magic/CircleMagic/">Circle Magic - Witchers, Knights of Ren</a> </li>
        <li><a href="/Rules/Magic/FreeFormMagic">Free Form Magic - Jed-I, Sith, Luna Knights, Equites Ordinis deorum</a></li>
        <li><a href="/Rules/Magic/SpecializedMagic/">Specialized Magic - Deutschlands Church of Sigmar, Germushian VoidForcers, Xiao-Ming Investigators, Artekkan Guild-seers</a></li>
    </ul>
</p>
<p>If you fail to cast a spell, you must roll on the <a href="/Rules/Magic/Perils/">Perils Table</a>.</p>
<p><a href="/Generators/TravellerSpellCreator">If you want help crafting a Free Form Magic Spell, check out this tool for helping you translate spells into various languages</a></p>
