@page "/Rules/"
<title>Rules</title>
<h3>Rules</h3>
<p> The rules of this game are inspired heavily by Mongooes Traveller second Edition.</p>
<p>The core mechanic is done by rolling your chosen die as a player VS the assigned challenge level by the DM, with the relevant modifiers. Though this is generally thought of as 2D6, with Normal being DC 8+ on 2D6.</p>
<p>I also use a number of house rules and hacks to the way things work in traveller.</p>
<p>As well, the various magic systems used within the game are from house ruled together.</p>
<ul>
    <li><a href="/Rules/CoreMechanics/">Core Mechanics</a></li>
    <li><a href="/Rules/HouseRules/">House Rules</a></li>
    <li><a href="/Rules/MagicSystems/">Magic Systems</a></li>
</ul>
@code {

}
