@page "/Rules/Magic/SpecializedMagic/"
<h1>Specialized Magic</h1>
<p>Each of the specialized magic groups focus on one of the four planes besides the material for their spells. While Specialized casters don't have the versatility of <a href="/Rules/FreeFormMagic/">Free Form Magic</a> or the generic un-specialized spells of <a href="/Rules/CircleMagic/">Circle Magic</a>, the Specialized Magic areas tend to be very focused, and easy to cast, but underwhelming, but if they go off well, their abilities scale amazingly. </p>
<p>To cast a Specialized Magic spell, refer to your spell list, pick a spell to cast, insure you have enough Psi-Points to cast it, and if you can, then make an Easy Psi + your specialization of magic skill check, the spell should list the effects as well in its scale.</p>
<h2>Deutchland's Church of Sigmar - Void Magic / Creation / Raw Matter / Pure Energy</h2>
<p></p>
    <table>
        <thead>
            <tr><th>Name (Sigmarian)</th><th>Name (English)</th><th>Psi Cost</th><th>Effect 0</th><th>Effect 1</th><th>Effect 2</th><th>Effect 3</th><th>Effect 5</th><th>Effect 7</th><th>Effect 10</th></tr>
            <tr><th></th></tr>
        </thead>
        <tbody>
            <tr><td>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich svet</td> <td>Sigmars Light (Sigmoria, I call on you to please grant me light)</td> <td>1</td> <td>A small amount of light forms around, illuminating 2D meters around the caster.</td> <td>A light with the range of 4D meters centered on the casters Sexton appears.</td> <td>A light with the range of 4D8 * 2 meters appears, centered on the casters Sexton</td> <td>A light appears with 5D10 * 2 meters, as well, those who are deemed impure are blinded by it.</td> <td>A light augmented by Sigmar fills the room, all those who are deemed impure must make and End 8+ check or take 2D damage if they are within the light, which has an area of 4D12 * 10</td> <td>A light augmented with the force of sigmar banishes any unholy creatures from the room. As well illuminating 6D12 * 10 meters centered on the casters Sexton of Sigmar.</td> <td>The light of a super nova is brought into the room with the caster, incinerating within 2D12 * 200 meters.</td></tr>
            <tr><td>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich руководство</td> <td>Sigmars Guidance (Sigmoria, I call on you to please grant me guidance)</td> <td>1</td> <td>A gentle breeze tells the caster which choice to make</td> <td>The casters sexton will inform the catser as to the choice to make</td> <td>Touching the casters sexton, they suddenly have an urge to persue a certain course of action</td> <td>A semi-obvious sign is sent to the caster of what choice to make</td> <td>Sigmar appears in a vision to help guide the caster</td> <td>Sigmars voice appears on and off to guide the caster.</td> <td>A Shard of Sigmar appears in front of the caster and those around him, and gives the caster guidance.</td></tr>
            <tr><td>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich Ogon</td> <td>Sigmars Flame (Sigmoria, I call on you to please grant me fire)</td> <td>2</td> <td>A small flame the size of the casters thumb floats in the center of the casters palm, they can light a candle with it. A light breeze will blow it out. It takes 3D8 minutes to set something ablaze.</td> <td>A small flame the size of the casters fist floats in the center of the casters palm, they can light a campfire with it. A strong breeze will blow it out. It takes 2D4 minutes to set something ablaze.</td> <td>Sigmar grants you the ability to throw a flame from your hand, it has the following stat block and is a ranged attack: SIGMARS_BALL_O_FIRE, 15M, 2D+5, 1KG, 1 Shot, Fire. </td> <td>Sigmars flames flow freely from the casters hands, with the following statblock and are treated as a ranged attack: SIGMARS_FIRE, 25M, 2D, 1KG, 2D6 Shots, Fire. </td> <td>Sigmars flames circle around the fasters arms and body, allowing the caster to control the flames, they have the following stat block and are treated as a ranged attack: SIGMARS_FIRE, 50M, 3D, 1KG, 5D4 Shots, Fire. </td> <td>Sigmars flames surrounds the caster, anyone within 4D8 meters of the caster must pass an END 8+ check or take 2D Damage</td> <td>The cleansing flame of sigmar engulfs the area within 6D10 * 5 meters of the caster. If they pass an END 10+ check their damage is halved, those who fail the check take the full 10D8 Damage</td></tr>
            <tr><td>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich led</td> <td>Sigmars Freeze (Sigmoria, I call on you to please grant me ice)</td> <td>2</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
            <tr><td>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich voda</td> <td>Sigmars Water (Sigmoria, I call on you to please grant me water)</td> <td>2</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
            <tr><td>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich vozdukh</td> <td>Sigmars Air (Sigmoria, I call on you to please grant me air)</td> <td>2</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
            <tr><td>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich znaniya</td> <td>Sigmars Knowledge (Sigmoria, I call on you to please grant me knowledge)</td> <td>4</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
            <tr><td>Sigmoria, ich prosit von vy zu pozhaluysta geben mich vash hand</td> <td>Sigmars Hand (Sigmoria, I call on you to please grant me your hand)</td> <td>3</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
            <tr><td>>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich vash Hilfe</td> <td>Sigmars Aid (Sigmoria, I call on you to please grant me your aid)</td> <td>5</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
            
        </tbody>
    </table>

<h2>Artekkan Guilds - Aetherial Magic / Souls / Life </h2>
<p></p>
<h2>Germushian Cartal VoidForcers - Nether Magic / Death / Disease / Sin</h2>
<p></p>
<h2>Xiao-Ming Investigators - Abyssal Magic / Destruction / Entropy / The Absence of sanity</h2>
<p></p>