@page "/Rules/Magic/SpecializedMagic/"
<h1>Specialized Magic</h1>
<p>Each of the specialized magic groups focus on one of the four planes besides the material for their spells. While Specialized casters don't have the versatility of <a href="/Rules/FreeFormMagic/">Free Form Magic</a> or the generic un-specialized spells of <a href="/Rules/CircleMagic/">Circle Magic</a>, the Specialized Magic areas tend to be very focused, and easy to cast, but underwhelming, but if they go off well, their abilities scale amazingly. </p>
<p>To cast a Specialized Magic spell, refer to your spell list, pick a spell to cast, insure you have enough Psi-Points to cast it, and if you can, then make an Easy Psi + your specialization of magic skill check, the spell should list the effects as well in its scale.</p>
<h2>Deutchland's Church of Sigmar - Void Magic / Creation / Raw Matter / Pure Energy</h2>
<p></p>
<ul>
    <li>
    <table>
        <thead>
            <tr><th>Name</th><th>Psi Cost</th><th>Effect 0</th><th>Effect 1</th><th>Effect 2</th><th>Effect 3</th><th>Effect 5</th><th>Effect 7</th><th>Effect 10</th></tr>
            <tr><th></th></tr>
        </thead>
        <tbody>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </tbody>
    </table>
    </li>
</ul>
<h2>Artekkan Guilds - Aetherial Magic / Souls / Life </h2>
<p></p>
<h2>Germushian Cartal VoidForcers - Nether Magic / Death / Disease / Sin</h2>
<p></p>
<h2>Xiao-Ming Investigators - Abyssal Magic / Destruction / Entropy / The Absence of sanity</h2>
<p></p>