@page "/kt"
<head>
    <title>Kotlik Tribunal </title>
</head>

<body>
<h1>Kotlik Tribunal (KT)</h1>
<p>The Kotlik Tribunal is a large military enclave supported by the UFE and the <a href="wia">Western Islands Alliance</a>.</p>
<div>
<table style="width:25.5em;border-spacing:2px;float:left;">
    <tbody>
    <tr>
        <td>1) Short Description</td>
    </tr>
    <tr>
        <td>2) History</td>
    </tr>
    <tr>
        <td>3) Government</td>
    </tr>
    </tbody>
</table>
<table style="width:27.5em;border-spacing:2px;float:right;">
<tbody>
<tr>
    <td>Name</td><td>Relationship</td>
</tr>
<td style="color:wheat;">Major factions</td>
<tr>
    <td colspan="2" id="seperator"></td>
</tr>

<tr>
    <td>
        <a href="ufe" style="color:white">United Federation Of Earth</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="germushia" style="color:white">Germushia</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="polanskia" style="color:white">Polandskia</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="deutschland" style="color:white">Deutschland</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="xiaoming" style="color:white">Xiao-Ming</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="firstorder" style="color:white">First Order</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="britannia" style="color:white">Britannia</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="ivft" style="color:white">Imperial Versian Federated Territories</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="transGalaticEmpire" style="color:white">Trans Galatic Empire</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="vers" style="color:white">Vers</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="url" style="color:white">United Reverse Lords</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="axios" style="color:white">Axios Allience</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>

<tr>
    <td style="color:wheat">Sector Sized Factions</td>
</tr>
<tr>
    <td>
        <a href="wia" style="color:white">Western Islands Alliance (UFE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="ub" style="color:white">United Baronies (POL)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="witc" style="color:white">Western Islands Trade Consortium (GER)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="ds" style="color:white">Dominate Supremius (TGE)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="wic" style="color:white">Western Islands Commune (DEU)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="ro" style="color:white">Rex van der Ostrovki(VE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>


<tr>
    <td style="color:wheat">Subsector Sized Factions</td>
</tr>
<tr>
    <td>
        <a href="idf" style="color:white">Independent Defense Federation (UFE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="sca" style="color:white">Starcan Alliance (UFE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="kt" style="color:white">Kotlik Tribunal (UFE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="tt" style="color:white">Tilova Pact (AA)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="ss" style="color:white">Spiritwood Senate (AA)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="ncbb" style="color:white">New Colchis Buisness Board (GER)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="mmr" style="color:white">Mainhair Military Republic (GER)</a>
    </td><td style="color:lawngreen;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="istc" style="color:white">Intercourse Subsector Trade Consortium (GER)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="cstc" style="color:white">Cirtra Sector Trade Consortium (GER)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="oild" style="color:white">Old Islands Defense League (TGE)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="vds" style="color:white">Venhut Dominate State (TGE)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="nta" style="color:white">Neubayern Topas Alliance (DEU)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="op" style="color:white">Olitar Protectorate (DEU)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="jktp" style="color:white">Jeffers-Kosse Trade Pact (XM)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="hsptp" style="color:white">Harwichport-Simla-Parcol Trade Pact (XM)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="iwtp" style="color:white">Ionia-Waskish Trade Pact (XM)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="epg" style="color:white">Esperanza Planetary Government (VE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="cma" style="color:white">Coila Military Alliance (VE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="gse" style="color:white">Gunipped Stellar Empire (VE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="stc" style="color:white">Sar-Tan Confederacy (URl)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="rrr" style="color:white">Red Rock Republic (URl)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="ek" style="color:white">Essia Kritarchy (URl)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>

<tr>
    <td>Traits</td>
</tr>
<tr>
    <td style="color:orange">Tribunal</td>
</tr>
<tr>
    <td style="color:orange">Liberal</td>
</tr>
<tr>
    <td style="color:orange">Jurdical focused</td>
</tr>
<tr>
    <td style="color:orange">Island State.</td>
</tr>
<tr>
    <td style="color:orange">Technologically behind</td>
</tr>
</tbody>
</table>
</div>
<br/>
<div id="information" style="clear:left">
    <h2>Short Description</h2>
    <p>The Kotlik Tribunal is a large collective of planets in the Galactic north, residing within the <a href="Subsector_Kendrick">Kendrick Subsector</a>.</p>
    <h2>History</h2>
    <p>Following the <a href="ds">Dominate Supremius</a> growing rapidly within the Oren Wastes 1, the UFE saw the need to gain a foothold in the galactic north, especially with the encroaching commune shuffling up from the east.</p>
    <p>To solve this, the Western Islands Alliance set up a tribunal to adjudicate any questions or disagreements from within the various systems, and to act as the binding rule on military action proposed by the various nations.</p>
    <h2>Government</h2>
    <h2>Army</h2>
    <p>The Kotlik Tribunal currently has 6 standing armies: </p>
    <ol>
        <li>st Army, composed of 3 Elite Infantry Units, commanded by Maisie Price, currently headquartered in Kotlik</li>
        <li>nd Army, composed of 9 Infantry Units, commanded by Otto Clarke, currently headquartered in Bevier</li>
        <li>rd Army, composed of 9 Elite Infantry Units, commanded by Rae Armstrong, currently headquartered in Blissfield</li>
        <li>th Army, composed of 9 Elite Infantry Units, commanded by Fraser Grant, currently headquartered in Winnemucca</li>
        <li>th Army, composed of 5 Elite Infantry Units, commanded by Kayla Simpson, currently headquartered in Rheems</li>
        <li>th Army, composed of 18 Good Infantry Units, commanded by John Watson, currently headquartered in the GrimsleyTu</li>
    </ol>
    <h2>Navy</h2>
    <p>the KT also has 8 dedicated fleets</p>
    <ol>
        <li>st, composed of 20 vessels, Led by High Judge Hayden Travis, Stationed out of Kotlik</li>
        <li>nd, compoesd of 18 vessels, Led by High Judge Cruz Leslie, Stationed out of Delrey</li>
        <li>rd, composed of 17 vessels, Led by High Judge Vaughn Morgan, Stationed out of GrimsleyTu</li>
        <li>th, composed of 7 vessels, Led by High Judge Ali Jimena, Stationed out of Redhook</li>
        <li>th, composed of 2 vessels, Led by Low Judge Rhys Kody, Stationed out of Bevier</li>
        <li>th, composed of 3 vessels, Led by Low Judge Anahi Diamond, Stationed out of Ridgeview</li>
        <li>th, composed of 11 vessels, Led by High Judge Reuben Hadassah, Stationed out of Brill</li>
        <li>th, composed of 3 vessels, Led by Low Judge Penelope Stout, Stationed out of Gouldsboro</li>
    </ol>
    <h2>Companies managed from within the Tribunal</h2>
    <ul>
        <li>
            Fuel Companies:
            <table style="border-style: solid;">
                <thead>
                <tr>
                    <th>Name</th><th>Fuel Type</th><th>Size within nation</th><th>Mining Worlds</th><th>Refining Worlds</th><th>Average Share Price</th><th>Notes</th>
                </tr>
                </thead>
                <tbody style="color:#ffe81F">
                </tbody>
            </table>
        </li>
    </ul>
    <h2>Planets Controlled</h2>
    <p>Naval base: a location that a fleet can operate out of.</p>
    <p>Army base: A location that an army can operate out of.</p>
    <p>Naval Shipyard: A location that can produce military grade vessels.</p>
    <p>Research: A reseach lab of some kind is located here.</p>
    <p>Food: This planet producers food.</p>
    <p>Industrial: This planet is dedicated to building stuff!</p>
    <p>Supply planet - just produces things to be consumed.</p>
    <p>High Population - Lots of people, generally important for commerce.</p>
    <p>Fuel Depo - a planet where fuel is stored/sold for cheaper then regular (indicated by a O on the map)</p>

    <ul>
        <li>
            <a href="Subsector_Kendrick">Kendrick</a>
        </li>
        <ul>
            <li>Kotlik - Naval Base, Capital</li>
            <li>Redhook - Research Base</li>
            <li>Ridgeview - Fuel Depo</li>
            <li>Bevier - Army Base</li>
            <li>Gouldsboro - Rich</li>
            <li>Grimsley - Naval Base</li>
            <li>Natalia - Fuel Depo</li>
            <li>Cayey - Fuel Depo</li>
            <li>Winnemucca - Army Base</li>
            <li>Blissfield - Army Base</li>
            <li>Styker - Supply Planet</li>
            <li>Rheems - Army base</li>
            <li>Rosalia - High Population</li>
            <li>Nunica - High Population</li>
        </ul>
        <li>
            <a href="Subsector_Wynona">Wynona</a>
        </li>
        <ul>
            <li>Brill - Naval Base</li>
            <li>Delrey - Naval Shipyard</li>
        </ul>
    </ul>
</div>
</body>