@page "/OIDL"
<head>
    <title>Old Islands Defense League </title>
</head>

<body>
<h1>The Old Islands Defense League</h1>
<p>The Old Islands Defense League or OILD is one of the less powerful nations within the the Western Islands <a href="galaxySize">Sector</a>. But it importantly has the planet of <a href="acadie">Acadie</a>, a major fuel hub for the entire Corridor, producing some of the purest Tillium in the known Universe.</p>
<p>The nations within the OILD are: The Amondiage Imperial Government, New Home, and Colchis.</p>
<div>
<table style="width:25.5em;border-spacing:2px;float:left;">
    <tbody>
    <tr>
        <td>1) Short Description</td>
    </tr>
    <tr>
        <td>2) History</td>
    </tr>
    <tr>
        <td>3) Government</td>
    </tr>
    </tbody>
</table>

<table style="width:27.5em;border-spacing:2px;float:right;">
<tbody>
<tr>
    <td colspan="2" id="seperator"></td>
</tr>
<tr>
    <td>Name</td><td>Relationship</td>
</tr>
<td style="color:wheat;">Major factions</td>
<tr>
    <td>
        <a href="ufe" style="color:white">United Federation Of Earth</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="germushia" style="color:white">Germushia</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="polanskia" style="color:white">Polandskia</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="deutschland" style="color:white">Deutschland</a>
    </td><td style="color:lawngreen;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="xiaoming" style="color:white">Xiao-Ming</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="firstorder" style="color:white">First Order</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="britannia" style="color:white">Britannia</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="ivft" style="color:white">Imperial Versian Federated Territories</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="transGalaticEmpire" style="color:white">Trans Galatic Empire</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="vers" style="color:white">Vers</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="url" style="color:white">United Reverse Lords</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="axios" style="color:white">Axios Allience</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>

<tr>
    <td style="color:wheat">Sector Sized Factions</td>
</tr>
<tr>
    <td>
        <a href="wia" style="color:white">Western Islands Alliance (UFE)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="ub" style="color:white">United Baronies (POL)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="witc" style="color:white">Western Islands Trade Consortium (GER)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="ds" style="color:white">Dominate Supremius (TGE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="wic" style="color:white">Western Islands Commune (DEU)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="ro" style="color:white">Rex van der Ostrovki(VE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>


<tr>
    <td style="color:wheat">Subsector Sized Factions</td>
</tr>
<tr>
    <td>
        <a href="idf" style="color:white">Independed Defense Federation (UFE)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="sca" style="color:white">Starcan Alliance (UFE)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="kt" style="color:white">Kotlik Tribunal (UFE)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="tt" style="color:white">Tilova Pact (AA)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="ss" style="color:white">Spiritwood Senate (AA)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="ncbb" style="color:white">New Colchis Buisness Board (GER)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="mmr" style="color:white">Mainhair Military Republic (GER)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="istc" style="color:white">Intercourse Subsector Trade Consortium (GER)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="cstc" style="color:white">Cirtra Sector Trade Consortium (GER)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="vds" style="color:white">Venhut Dominate State (TGE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="nta" style="color:white">Neubayern Topas Alliance (DEU)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="op" style="color:white">Olitar Protectorate (DEU)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="jktp" style="color:white">Jeffers-Kosse Trade Pact (XM)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="hsptp" style="color:white">Harwichport-Simla-Parcol Trade Pact (XM)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="iwtp" style="color:white">Ionia-Waskish Trade Pact (XM)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="epg" style="color:white">Esperanza Planetary Government (VE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="cma" style="color:white">Coila Military Alliance (VE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="gse" style="color:white">Gunipped Stellar Empire (VE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="stc" style="color:white">Sar-Tan Confederacy (URL)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="rrr" style="color:white">Red Rock Republic (URL)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="ek" style="color:white">Essia Kritarchy (URL)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>

<tr>
    <td colspan="2" id="seperator"></td>
</tr>
<tr>
    <td>Traits</td>
</tr>
<tr>
    <td style="color:orange">Imperial</td>
</tr>
<tr>
    <td style="color:orange">Islands State</td>
</tr>
<tr>
    <td style="color:orange">Weak</td>
</tr>
<tr>
    <td style="color:orange">Technologically behind</td>
</tr>
</tbody>
</table>
</div>
<br/>
<div id="information" style="clear:left">
    <h2>Short Description</h2>
    <p>The Old Islands Defense League was founded following a vicious war between the Amondiage Imperial Government, New Home, and Colchis over the world of Acadie. After the <a href="transGalaticEmpire">Empire</a> stepped in with the AIG, the other members of the Old Island Defense League soon fell into line and joined.</p>
    <p>Today the OILD is a loose alliance ruled from Amondiage, where the Imperial Embassy is for the whole Subsector.</p>
    <p>The OILD is also under the command of the Dominate Supremius.</p>

    <h2>History</h2>
    <p>The Old Islands Defense League was founded 23 years after the end of the Great war, after Acadie experienced a nuclear war flooding the planets once plentiful farmland and turning it into the tillium rich planet of today.</p>
    <h2>Government</h2>
    <p>The Old Island Defense League formally is a military alliance between the member states, to respond in kind if anyone is attacked, as well as various trade and economic policies. Informally this is managed from Amondiage and is tied to the Imperial Government.</p>
    <h2>Army</h2>
    <p>The OIDL currently has 5 standing armies: </p>
    <ol>
        <li>st Army, composed of 16 Units, commanded by Newman Wilson, currently headquartered in Amondiage</li>
        <li>nd Army, composed of 8 Imperial Stormtrooper Units, commanded by Fortune Bernard, currently headquartered in Acadie</li>
        <li>rd Army, composed of 11 Units, commanded by Nicolas Joseph, currently headquartered in Colchis</li>
        <li>rth Army, composed of 10 Units, commanded by Prelatte Berecraft, currently headquartered in New Home</li>
        <li>th Army, composed of 4 Units, commanded by Emanuel Janner, currently headquartered in Nappanee</li>
    </ol>
    <p>The OIDL arms their troops with the: {WEAPON} and uses: {ARMOUR}</p>
    <h2>Navy</h2>
    <p>The OIDL Is split into 2 Major factions, and each of which is itself split into 2 factions. The Largest faction is the Amondiage Imperial Government, who controlled Acadie, they are apposed by the Nappanee Region Government, who want to expand further into the Stacyville sector but lack either the industry or the technology to do so on their own.</p>
    <p>The second Major faction is are the two island states, Colchis and New Home. Colchis is the smaller and weaker of the two Islands, and due too its closer proximity to Amondage, the AIG has more way over them. While New Home, further away and with its own shipyards, has enough independence and sway (due to its positon within the Acadie highway) to swing Colchis back to its side now and then. </p>
    <p>The OIDL currently has 6 standing Fleets (total vessels: 18(Amondiage)/4(Colchis)/20(New Home)): </p>
    <ol>
        <li>st, composed of 9 vessels, Led by Grand Fleet Moff Parsons Scarlett, Stationed out of Amondaige</li>
        <li>nd, composed of 7 vessels, Led by Lower Fleet Moff Margaret Burlton, Stationed out of Admondiage</li>
        <li>rd, composed of 2 vessels, Led by Fleet Moff Alexandria Beaumont, Stationed out of Nappanee</li>
        <li>th, composed of 4 vessels, Led by Admiral Vincent Gabriell, Stationed out of Colchis</li>
        <li>th, composed of 16 vessels, Led by Grand Admiral Hicchecok Hampton, Stationed out of New Home</li>
        <li>th, composed of 4 vessels, Led by Admiral Pennebrygg Lucy, Stationed out of New Home</li>
    </ol>

    <h2>Companies managed from within the OIDL</h2>
    <ul>
        <li>
            Fuel Companies:
            <table style="border-style: solid;">
                <thead>
                <tr>
                    <th>Name</th><th>Fuel Type</th><th>Size within nation</th><th>Mining Worlds</th><th>Refining Worlds</th><th>Average Share Price</th><th>Notes</th>
                </tr>
                </thead>
                <tbody style="color:#ffe81F">
                <tr id="tableInfo">
                    <td>Imperial Aldminium Company.North Western Islands</td><td>Aldminium</td><td>Small</td><td>Renwick</td><td>Renwcik</td><td>Cr346</td><td>Offically owned by the Trans Galatic Empire.</td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
    <h2>Planets Controlled</h2>
    <p>Naval base: a location that a fleet can operate out of.</p>
    <p>Army base: A location that an army can operate out of.</p>
    <p>Naval Shipyard: A location that can produce military grade vessels.</p>
    <p>Research: A reseach lab of some kind is located here.</p>
    <p>Food: This planet producers food.</p>
    <p>Industrial: This planet is dedicated to building stuff!</p>
    <p>Supply planet - just produces things to be consumed.</p>
    <p>High Population - Lots of people, generally important for commerce.</p>
    <p>Fuel Depo - a planet where fuel is stored/sold for cheaper then regular (indicated by a O on the map)</p>

    <ul>
        <li>
            <a href="Subsector_Old_Islands">Old Islands Subsector</a>
        </li>
        <ul>
            <li>Amondaige - Naval Shipyard, Capital</li>
            <li>St. Denis - Army Base</li>
            <li>Achille - Supply </li>
            <li>New Home - Navy Base</li>
            <li>Colchis - Naval Shipyard</li>
        </ul>
        <li>
            <a href="Subsector_Stacyville">Stacyville</a>
        </li>
        <ul>
            <li>Nappanee - Army Base</li>
        </ul>
    </ul>
</div>
</body>