@page "/OP"
<head>
    <title>Olitar Protectorate</title>
</head>

<body>
    <h1>Olitar Protectorate (OP)</h1>
    <p>The Olitar Protectorate is a state within the <a href="Subsector_Oren_Wastes_3">Oren Wastes 3 Subsector</a>, and is supported by the <a href="wic"> Western Islands Commune</a> and by extension the <a href="duetschland">Deutschland Empire</a>.</p>
    <p>The Olitar Protectorate are a large part of the Deutschlands reliance on tillium especially the <a href="acadieHighway">Acadie Highway</a> which the commune relies on for fuel.</p>
    <div>
        <table style="width:25.5em;border-spacing:2px;float:left;">
            <tbody>
                <tr><td>1) Short Description</td></tr>
                <tr><td>2) History</td></tr>
                <tr><td>3) Government</td></tr>
            </tbody>
        </table>

        <table style="width:27.5em;border-spacing:2px;float:right;">
            <tbody>
                <tr><td colspan="2" id="seperator"></td></tr>
                <tr><td>Name</td><td>Relationship</td></tr>
            <td style="color:wheat;">Major factions</td>
            <tr><td><a href="ufe" style="color:white">United Federation Of Earth</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="germushia" style="color:white">Germushia</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="polanskia" style="color:white">Polandskia</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="deutschland" style="color:white">Deutschland</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="xiaoming" style="color:white">Xiao-Ming</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="firstorder" style="color:white">First Order</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="britannia" style="color:white">Britannia</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ivft" style="color:white">Imperial Versian Federated Territories</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="transGalaticEmpire" style="color:white">Trans Galatic Empire</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="vers" style="color:white">Vers</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="url" style="color:white">United Reverse Lords</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="axios" style="color:white">Axios Allience</a></td><td style="color:#fc1f1a;">Enemy</td></tr>

            <tr><td style="color:wheat">Sector Sized Factions</td></tr>
            <tr><td><a href="wia" style="color:white">Western Islands Alliance (UFE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ub" style="color:white">United Baronies (POL)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="witc" style="color:white">Western Islands Trade Consortium (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ds" style="color:white">Dominate Supremius (TGE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="wic" style="color:white">Western Islands Commune (DEU)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ro" style="color:white">Rex van der Ostrovki(VE)</a></td><td style="color:yellow;">Neutral</td></tr>


            <tr><td style="color:wheat">Subsector Sized Factions</td></tr>
            <tr><td><a href="idf" style="color:white">Independed Defense Federation (UFE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="sca" style="color:white">Starcan Alliance (UFE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="kt" style="color:white">Kotlik Tribunal (UFE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="tt" style="color:white">Tilova Pact (AA)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ss" style="color:white">Spiritwood Senate (AA)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ncbb" style="color:white">New Colchis Buisness Board (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="mmr" style="color:white">Mainhair Military Republic (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="istc" style="color:white">Intercourse Subsector Trade Consortium (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="cstc" style="color:white">Cirtra Sector Trade Consortium (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="oild" style="color:white">Old Islands Defense League (TGE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="vds" style="color:white">Venhut Dominate State (TGE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="nta" style="color:white">Neubayern Topas Alliance (DEU)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="op" style="color:white">Olitar Protectorate (DEU)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="jktp" style="color:white">Jeffers-Kosse Trade Pact (XM)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="hsptp" style="color:white">Harwichport-Simla-Parcol Trade Pact (XM)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="iwtp" style="color:white">Ionia-Waskish Trade Pact (XM)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="epg" style="color:white">Esperanza Planetary Government (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="cma" style="color:white">Coila Military Alliance (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="gse" style="color:white">Gunipped Stellar Empire (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="stc" style="color:white">Sar-Tan Confederacy (URl)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="rrr" style="color:white">Red Rock Republic (URl)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="ek" style="color:white">Essia Kritarchy (URl)</a></td><td style="color:yellow;">Neutral</td></tr>

            <tr><td colspan="2" id="seperator"></td></tr>
            <tr><td>Traits</td></tr>
            <tr><td style="color:orange">Communist</td></tr>
            <tr><td style="color:orange">Empire</td></tr>
            <tr><td style="color:orange">Religous</td></tr>
            <tr><td style="color:orange">Technologically backwards</td></tr>
            </tbody>
        </table>
    </div>
    <br />
    <div id="information" style="clear:left">
        <h2>Short Description</h2>
        <p>As the commune needed more and more fuel, and a trade route down to their holdings in the <a href="Subsector_Old_Islands">Old Islands Subsector</a>, the <a href="nta"> Neubayern Topas Alliance</a>, the choice was made to support the overwhelming but starving population on Olitar, the large industry needed land and food to feed its massive subservient population. Reaching out the Nobels on Ranwas, the Olitar Protectorate was formed with support from the Western Islands Commune.</p>
        <p>Today the OP serves as a very important part to the Acadie Highway, serving the major switching point between the southern islands and the northern commune.</p>
        <p></p>
        <h2>History</h2>
        <p>The Deutshcland needed a safe trade route they controlled to elicit an alliance with the Empire, Olitar needed food, and Ranwas' nobles wanted money, the three used their mutual need to benefit each other.</p>
        <p>Of course, not everyone within the Protectorate was willing to join, and a rebellion was stagged on the now prison world of Travnis, known as the Olitar Rebellion. While it was shut down quickly, it served to motivate other powers who relied on the Wastes for trade to rethink their position of external ignorance and instead take a more active role.</p>
        <h2>Government</h2>
        <p>The government of the protectorate is ruled almost exclusily by the very persausive orator who rules from Olitar itself with a near blinding level of support. While several pro-democracy groups make moves on Ranwas, the Deutschlands inquisitors make short work of any threatening rebellions.</p>
        <h2>Army</h2>
        <p>The Protectorate currently has 2 standing armies: </p>
        <ol>
            <li>st Army, composed of 9 Units, commanded by Yumatov Bach, currently headquartered in Olitar</li>
            <li>nd Army, composed of 2 Units, commanded by Korablin Binger, currently headquartered in Yupen</li>
        </ol>
        <p>The Protectorate arms their troops with the: {WEAPON} and uses: {ARMOUR}</p>
        <h2>Navy</h2>
        <p>The Protectorate currently has 3 standing Fleets (total vessels: 20): </p>
        <ol>
            <li>st, composed of 8 vessels, Led by Admerial Peltzer Shastin, Stationed out of Olitar</li>
            <li>nd, composed of 7 vessels, Led by Captain Bessonova Schlechter, Stationed out of Gassaway</li>
            <li>rd, composed of 1 vessels, Led by Captain Abakumov Ulyana, Stationed out of Yupen</li>
        </ol>

        <h2>Companies managed from within the Protectorate</h2>
        <ul>
            <li>
                Fuel Companies:
                <table style="border-style: solid;">
                    <thead>
                        <tr><th>Name</th><th>Fuel Type</th><th>Size within nation</th><th>Mining Worlds</th><th>Refining Worlds</th><th>Average Share Price</th><th>Notes</th></tr>
                    </thead>
                    <tbody style="color:#ffe81F">
                        <tr id="tableInfo"><td>Imperial Aldminium Company.North Western Islands</td><td>Aldminium</td><td>Small</td><td>Renwick</td><td>Renwcik</td><td>Cr346</td><td>Offically owned by the Trans Galatic Empire.</td></tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <h2>Planets Controlled</h2>
        <p>Naval base: a location that a fleet can operate out of.</p>
        <p>Army base: A location that an army can operate out of.</p>
        <p>Naval Shipyard: A location that can produce military grade vessels.</p>
        <p>Research: A reseach lab of some kind is located here.</p>
        <p>Food: This planet producers food.</p>
        <p>Industrial: This planet is dedicated to building stuff!</p>
        <p>Supply planet - just produces things to be consumed.</p>
        <p>High Population - Lots of people, generally important for commerce.</p>
        <p>Fuel Depo - a planet where fuel is stored/sold for cheaper then regular (indicated by a O on the map)</p>

        <ul>
            <li><a href="Subsector_Oren_Wastes_3">Oren Wastes 3</a></li>
            <ul>
                <li>Olitar - Naval Shipyard, Capital</li>
                <li>Travnis - Fuel Depo</li>
                <li>Ranwas - No starport</li>
            </ul>
        </ul>
        </div>
</body>
