@page "/STC"
<head>
    <title>Sar-Tan Confederacy</title>
</head>

<body>
<h1>Sar-Tan Confederacy (STA)</h1>
<p>The Sar-Tan Confederacy is an alliance within the <a href="Subsector_Oren_Wastes_3">Oren Wastes 3 Subsector</a> and is supported by the <a href="url">United Reverse Lords</a>.</p>
<div>
<table style="width:25.5em;border-spacing:2px;float:left;">
    <tbody>
    <tr>
        <td>1) Short Description</td>
    </tr>
    <tr>
        <td>2) History</td>
    </tr>
    <tr>
        <td>3) Government</td>
    </tr>
    </tbody>
</table>

<table style="width:27.5em;border-spacing:2px;float:right;">
<tbody>
<tr>
    <td colspan="2" id="seperator"></td>
</tr>
<tr>
    <td>Name</td><td>Relationship</td>
</tr>
<td style="color:wheat;">Major factions</td>
<tr>
    <td>
        <a href="ufe" style="color:white">United Federation Of Earth</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="germushia" style="color:white">Germushia</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="polanskia" style="color:white">Polandskia</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="deutschland" style="color:white">Deutschland</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="xiaoming" style="color:white">Xiao-Ming</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="firstorder" style="color:white">First Order</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="britannia" style="color:white">Britannia</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="ivft" style="color:white">Imperial Versian Federated Territories</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="transGalaticEmpire" style="color:white">Trans Galatic Empire</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="vers" style="color:white">Vers</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="url" style="color:white">United Reverse Lords</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="axios" style="color:white">Axios Allience</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>

<tr>
    <td style="color:wheat">Sector Sized Factions</td>
</tr>
<tr>
    <td>
        <a href="wia" style="color:white">Western Islands Alliance (UFE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="ub" style="color:white">United Baronies (POL)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="witc" style="color:white">Western Islands Trade Consortium (GER)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="ds" style="color:white">Dominate Supremius (TGE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="wic" style="color:white">Western Islands Commune (DEU)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="ro" style="color:white">Rex van der Ostrovki(VE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>


<tr>
    <td style="color:wheat">Subsector Sized Factions</td>
</tr>
<tr>
    <td>
        <a href="idf" style="color:white">Independed Defense Federation (UFE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="sca" style="color:white">Starcan Alliance (UFE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="kt" style="color:white">Kotlik Tribunal (UFE)</a>
    </td><td style="color:yellow">Neutral</td>
</tr>
<tr>
    <td>
        <a href="tt" style="color:white">Tilova Pact (AA)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="ss" style="color:white">Spiritwood Senate (AA)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="ncbb" style="color:white">New Colchis Buisness Board (GER)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="mmr" style="color:white">Mainhair Military Republic (GER)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="istc" style="color:white">Intercourse Subsector Trade Consortium (GER)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="cstc" style="color:white">Cirtra Sector Trade Consortium (GER)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="oild" style="color:white">Old Islands Defense League (TGE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="vds" style="color:white">Venhut Dominate State (TGE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="nta" style="color:white">Neubayern Topas Alliance (DEU)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="op" style="color:white">Olitar Protectorate (DEU)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="jktp" style="color:white">Jeffers-Kosse Trade Pact (XM)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="hsptp" style="color:white">Harwichport-Simla-Parcol Trade Pact (XM)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="iwtp" style="color:white">Ionia-Waskish Trade Pact (XM)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="epg" style="color:white">Esperanza Planetary Government (VE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="cma" style="color:white">Coila Military Alliance (VE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="gse" style="color:white">Gunipped Stellar Empire (VE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="stc" style="color:white">Sar-Tan Confederacy (URl)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="rrr" style="color:white">Red Rock Republic (URl)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="ek" style="color:white">Essia Kritarchy (URl)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>

<tr>
    <td colspan="2" id="seperator"></td>
</tr>
<tr>
    <td>Traits</td>
</tr>
<tr>
    <td style="color:orange">Confederacy</td>
</tr>
<tr>
    <td style="color:orange">Reverse Support</td>
</tr>
<tr>
    <td style="color:orange">Tradeless</td>
</tr>
<tr>
    <td style="color:orange">Technologically backwards</td>
</tr>
</tbody>
</table>
</div>
<br/>
<div id="information" style="clear:left">
    <h2>Short Description</h2>
    <p>Looking for allies, Sar-Tan saw the neighboring systems and realized it had a chance, being the largest starport it could build some kind of alliance, all it would need is a backer. It found one in the form of the United Reverse Lords</p>
    <h2>History</h2>
    <p>As Sar-Tan ships explored its neighboring systems, the Confederacy realized 2 major things, 1) it was the only system with a fleet, and 2) it had the best starport in the area. Using these two facts, Sar-tan was able to convince the URL to support them and send trade their way</p>
    <p>being out of the same areas as many of the other URL colonies has left the Confederacy in a frightful position, but due to lack of support from anyone else in the area, the Confederacy stays with the URL.</p>
    <h2>Government</h2>
    <p>The government of the Confederacy is a parliemtary democracy with each 1 million citizens or planet (which ever is smaller) getting a representative.</p>
    <h2>Army</h2>
    <p>The Confederacy currently has 5 standing armies: </p>
    <ol>
        <li>st Army, composed of 2 Units, commanded by Licinius Asinia, currently headquartered in GenSpace</li>
        <li>nd Army, composed of 2 Units, commanded by Ahala Iunius, currently headquartered in GenSpace</li>
        <li>rd Army, composed of 5 Units, commanded by Mus Arcadius, currently headquartered in SarTan</li>
        <li>rth Army, composed of 3 Units, commanded by Mus Arcadius, currently headquartered in SarTan</li>
        <li>th Army, composed of 1 Units, commanded by Diocourides Rusticus, currently headquartered in BrawlBrook</li>
    </ol>
    <p>The Confederacy arms their troops with the: {WEAPON} and uses: {ARMOUR}</p>
    <h2>Navy</h2>
    <p>The Confderacy currently has 5 standing Fleets (total vessels: 11): </p>
    <ol>
        <li>st, composed of 2 vessels, Led By Zosimus Volusenus, Stationed out of Sar-Tan</li>
        <li>nd, composed of 4 vessels, Led by Zosimus Volusenus, Stationed out of Sar-Tan</li>
        <li>rd, composed of 2 vessels, Led by Magunnus Atronia, Stationed out of Sar-Tan</li>
        <li>th, composed of 2 vessels, Led by Maximus Nigilia, Stationed out of Sar-Tan</li>
        <li>th, composed of 1 vessels, Led by Blossius Arborius, Stationed out of Sar-Tan</li>
    </ol>

    <h2>Companies managed from within the Confederacy</h2>
    <ul>
        <li>
            Fuel Companies:
            <table style="border-style: solid;">
                <thead>
                <tr>
                    <th>Name</th><th>Fuel Type</th><th>Size within nation</th><th>Mining Worlds</th><th>Refining Worlds</th><th>Average Share Price</th><th>Notes</th>
                </tr>
                </thead>
                <tbody style="color:#ffe81F">
                <tr id="tableInfo">
                    <td>Imperial Aldminium Company.North Western Islands</td><td>Aldminium</td><td>Small</td><td>Renwick</td><td>Renwcik</td><td>Cr346</td><td>Offically owned by the Trans Galatic Empire.</td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
    <h2>Planets Controlled</h2>
    <p>Naval base: a location that a fleet can operate out of.</p>
    <p>Army base: A location that an army can operate out of.</p>
    <p>Naval Shipyard: A location that can produce military grade vessels.</p>
    <p>Research: A reseach lab of some kind is located here.</p>
    <p>Food: This planet producers food.</p>
    <p>Industrial: This planet is dedicated to building stuff!</p>
    <p>Supply planet - just produces things to be consumed.</p>
    <p>High Population - Lots of people, generally important for commerce.</p>
    <p>Fuel Depo - a planet where fuel is stored/sold for cheaper then regular (indicated by a O on the map)</p>

    <ul>
        <li>
            <a href="Subsector_Oren_Wastes_3">Oren Wastes 3</a>
        </li>
        <ul>
            <li>SarTan - Naval Shipyard, Capital</li>
            <li>Popumiss - Fuel Depo</li>
            <li>BrawlBrook - Supply</li>
            <li>CadWurry - Fuel Depo</li>
            <li>GenSpace - Army Base</li>
        </ul>
    </ul>
</div>
</body>