@page "/WIA"
<head>
    <title>Western Islands Alliance</title>
</head>

<body>
<h1>Western Islands Alliance (WIA)</h1>
<p>The Western islands alliance is one of the largest alliances within the western islands, and is backed by the <a href="ufe">United Federation of Earth.</a></p>
<p>It contains the following member governments:</p>
<ul>
    <li>
        <a href="idf">Independent Defense Federation</a>
        <a href="sca">Starcan Alliance</a>
        <a href="kt">Kotlik Tribunal</a>
    </li>
</ul>
<div>
<table style="width:25.5em;border-spacing:2px;float:left;">
    <tbody>
    <tr>
        <td>1) Short Description</td>
    </tr>
    <tr>
        <td>2) History</td>
    </tr>
    <tr>
        <td>3) Government</td>
    </tr>
    </tbody>
</table>
<table style="width:27.5em;border-spacing:2px;float:right;">
<tbody>
<tr>
    <td>Name</td><td>Relationship</td>
</tr>
<td style="color:wheat;">Major factions</td>
<tr>
    <td>
        <a href="ufe" style="color:white">United Federation Of Earth</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="germushia" style="color:white">Germushia</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="polanskia" style="color:white">Polandskia</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="deutschland" style="color:white">Deutschland</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="xiaoming" style="color:white">Xiao-Ming</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="firstorder" style="color:white">First Order</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="britannia" style="color:white">Britannia</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="ivft" style="color:white">Imperial Versian Federated Territories</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="transGalaticEmpire" style="color:white">Trans Galatic Empire</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="vers" style="color:white">Vers</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="url" style="color:white">United Reverse Lords</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="axios" style="color:white">Axios Allience</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>

<tr>
    <td style="color:wheat">Sector Sized Factions</td>
</tr>
<tr>
    <td>
        <a href="wia" style="color:white">Western Islands Alliance (UFE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="ub" style="color:white">United Baronies (POL)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="witc" style="color:white">Western Islands Trade Consortium (GER)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="ds" style="color:white">Dominate Supremius (TGE)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="wic" style="color:white">Western Islands Commune (DEU)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="ro" style="color:white">Rex van der Ostrovki(VE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>


<tr>
    <td style="color:wheat">Subsector Sized Factions</td>
</tr>
<tr>
    <td>
        <a href="idf" style="color:white">Independent Defense Federation (UFE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="sca" style="color:white">Starcan Alliance (UFE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="kt" style="color:white">Kotlik Tribunal (UFE)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="tt" style="color:white">Tilova Pact (AA)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="ss" style="color:white">Spiritwood Senate (AA)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="ncbb" style="color:white">New Colchis Buisness Board (GER)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="mmr" style="color:white">Mainhair Military Republic (GER)</a>
    </td><td style="color:lawngreen;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="istc" style="color:white">Intercourse Subsector Trade Consortium (GER)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="cstc" style="color:white">Cirtra Sector Trade Consortium (GER)</a>
    </td><td style="color:lawngreen;">Ally</td>
</tr>
<tr>
    <td>
        <a href="oild" style="color:white">Old Islands Defense League (TGE)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="vds" style="color:white">Venhut Dominate State (TGE)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="nta" style="color:white">Neubayern Topas Alliance (DEU)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="op" style="color:white">Olitar Protectorate (DEU)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="jktp" style="color:white">Jeffers-Kosse Trade Pact (XM)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="hsptp" style="color:white">Harwichport-Simla-Parcol Trade Pact (XM)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="iwtp" style="color:white">Ionia-Waskish Trade Pact (XM)</a>
    </td><td style="color:#fc1f1a;">Enemy</td>
</tr>
<tr>
    <td>
        <a href="epg" style="color:white">Esperanza Planetary Government (VE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="cma" style="color:white">Coila Military Alliance (VE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="gse" style="color:white">Gunipped Stellar Empire (VE)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="stc" style="color:white">Sar-Tan Confederacy (URl)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="rrr" style="color:white">Red Rock Republic (URl)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>
<tr>
    <td>
        <a href="ek" style="color:white">Essia Kritarchy (URl)</a>
    </td><td style="color:yellow;">Neutral</td>
</tr>

<tr>
    <td colspan="2" id="seperator"></td>
</tr>
<tr>
    <td>Traits</td>
</tr>
<tr>
    <td style="color:orange">Federation</td>
</tr>
<tr>
    <td style="color:orange">Liberal</td>
</tr>
<tr>
    <td style="color:orange">Defensive</td>
</tr>
<tr>
    <td style="color:orange">Island State.</td>
</tr>
<tr>
    <td style="color:orange">Technologically behind</td>
</tr>
</tbody>
</table>
</div>
<br/>
<div id="information" style="clear:left">
    <h2>Short Description</h2>

    <h2>History</h2>
    <p>The western Islands alliance was founded shortly after the great war, after the UFE realized the value of the sector and decided to establish a small outpost there. As other nations took interest, the ufes outpost has expanded into a powerful network of alliances managed by the Western Islands Alliance.</p>
    <h2>Government</h2>
    <p>The western islands alliance is composed of four factions. The alliances core members, in the south western part of the sector, the IDF, who operate out of the center areas, the kotlik tribunal, who operate in the north-Western area, and the star-can alliance who operate in the north central area.</p>
    <p>The four factions each have a proportional number of seats, 1 per every 3 planets the faction controls, making the central alliance the most powerful faction within the government.</p>
    <h2>Army</h2>
    <p>The WIA currently has 12 standing armies: </p>
    <ol>
        <li>st Army, composed of 20 Good Infantry Units, commanded by General Madelyn Skye, currently headquartered in Fosterville</li>
        <li>nd Army, composed of 14 Good Infantry Units, commanded by General Jonathon Josie, currently headquartered in Quanah</li>
        <li>rd Army, composed of 13 Good Infantry Units, commanded by Fernandez Hailee, currently headquartered in Kingstree</li>
        <li>rth Army, composed of 18 New Units, commanded by General Karlee Anne, currently headquartered in Kingstree</li>
        <li>th Army, composed of 14 Infantry Units, commanded by General Cameron Knox, currently headquartered in Browerville</li>
        <li>th Army, composed of 13 Infantry Units, commanded by General Connor Cervantes, currently headquartered in Quanah</li>
        <li>th Army, composed of 2 Elite Infantry Units, commanded by Lieutenant Freeman Kayleigh, currently headquartered in Erbacon</li>
        <li>th Army, composed of 4 Elite Infantry Units, commanded by Commander Carley Aditya, currently headquartered in Erbacon</li>
        <li>th Army, composed of 10 Newer Infantry Units, commanded by General Philip Leslie, currently headquartered in Delray</li>
        <li>th Army, composed of 10 Newer Infantry Units, commanded by General Hana Eloise, currently headquartered in Kingstree</li>
        <li>th Army, composed of 4 Federation Infantry Units, commanded by Captain Patel Reilly, currently headquartered in Kingstree</li>
        <li>th Army, composed of 3 Federation Infantry Units, commanded by Captain Rebekah Kamron, currently headquartered in Fosterville</li>
    </ol>
    <p>The WIA arms their troops with the: {WEAPON} and uses: {ARMOUR}</p>
    <h2>Navy</h2>
    <p>The WIA currently has 9 standing Fleets (total vessels: 310): </p>
    <ol>
        <li>st composed of 79 vessels, Led by Grand Admiral Litzy Tess, Stationed out of Fosterville</li>
        <li>nd composed of 63 vessels, Led by Fleet Admiral Paloma Carrillo, Stationed out of Kingstree</li>
        <li>rd composed of 37 vessels, Led by Fleet Admiral Noe Middleton, Stationed out of Quanah</li>
        <li>th composed of 35 vessels, Led by Admiral Dylan Darwin, Stationed out of Autaugavil</li>
        <li>th (expeditionary) composed of 36 vessels, Led by Admiral Arely Bret, Stationed out of GrimsleyTu</li>
        <li>th (expeditionary) composed of 33 vessels, Led by Admiral Warren Layla, Stationed out of the Serendip Belt</li>
        <li>th composed of 17 vessels, Led by Fleet Captain Adonis Jordyn, Stationed out of Kingstree</li>
        <li>th composed of 7 vessels, Led by Fleet Captain Davion Scarlet, Stationed out of Erbacon</li>
        <li>th composed of 3 vessels, Led by Fleet Captain Demetrius Vance, Stationed out of Quanah</li>
    </ol>

    <h2>Companies managed from within the WIA</h2>
    <ul>
        <li>
            Fuel Companies:
            <table style="border-style: solid;">
                <thead>
                <tr>
                    <th>Name</th><th>Fuel Type</th><th>Size within nation</th><th>Mining Worlds</th><th>Refining Worlds</th><th>Average Share Price</th><th>Notes</th>
                </tr>
                </thead>
                <tbody style="color:#ffe81F">
                <tr id="tableInfo">
                    <td>Imperial Aldminium Company.North Western Islands</td><td>Aldminium</td><td>Small</td><td>Renwick</td><td>Renwcik</td><td>Cr346</td><td>Offically owned by the Trans Galatic Empire.</td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
    <h2>Planets Controlled</h2>
    <p>Naval base: a location that a fleet can operate out of.</p>
    <p>Army base: A location that an army can operate out of.</p>
    <p>Naval Shipyard: A location that can produce military grade vessels.</p>
    <p>Research: A reseach lab of some kind is located here.</p>
    <p>Food: This planet producers food.</p>
    <p>Industrial: This planet is dedicated to building stuff!</p>
    <p>Supply planet - just produces things to be consumed.</p>
    <p>High Population - Lots of people, generally important for commerce.</p>
    <p>Fuel Depo - a planet where fuel is stored/sold for cheaper then regular (indicated by a O on the map)</p>
    <ul>
        <li>
            <a href="Subsector_Doland">Doland Subsector</a>
        </li>
        <ul>
            <li>Delray - Army Base</li>
            <li>Kinzers - Fuel Depo</li>
            <li>Schallere - Fuel Depo</li>
            <li>Keldron - Fuel Depo</li>
            <li>Lapaz - Fuel Depo</li>
            <li>Alvyn - High Population</li>
            <li>Fosterville - Naval Shipyard, Capital, Agriculture</li>
            <li>Savonburg - Fuel Depo</li>
            <li>Browerville - Army Base</li>
            <li>Camuy - Fuel Depo</li>
            <li>Mabscott - High Population</li>
            <li>Quanah - Naval Shipyard</li>
            <li>Timpson - Fuel Depo</li>
            <li>Erbacon - Naval Base</li>
            <li>Autaugaville - Naval Base</li>
            <li>Pooler - Fuel Depo</li>
            <li>Chatfield - Fuel Depo</li>
            <li>Kingstree - Naval Shipyard, Industrial</li>
        </ul>
    </ul>
</div>
</body>