@page "/Other/IslandsCompany/{CompanyName}"
@using TravellerWiki.Data
@using TravellerWiki.Data.Services.DataServices
@inject TravellerCompanyService _companyService

@code{
    [Parameter]
    public string CompanyName { get; set; }

    private TravellerCompany _company = null;
    
    public TravellerCompany GetCompany()
    {
        if (_company == null)
        {
            _company = _companyService.Companies.First(x => x.FactionName == CompanyName.Replace("_"," "));
        }

        return _company;
    }

}
<head>
    <title>Islands Company - @GetCompany().FactionName </title>
</head>

<h1>@GetCompany().FactionName</h1>
<p>@GetCompany()</p>
<a href="/Other/IslandsCompanies">Back to Company List</a>
