@page "/ScaleOfTime"
<head>
    <title>Scale of Time</title>
</head>

<body>
    <h1>Scale of Time</h1>
    <p>While doing work on the wiki, I realize it may be a good idea to write out what the actual scale conversion for time and the like is. By this, I mean given the advances in technology within the setting, and the scale at which things are happening within the setting, it may be best to explain a bit about how your average person experiences time.</p>
    <p>The simplest way to explain time is that within the Known Universe time is essentially one degree higher then in our current society. This means that what we think of as a year, and what someone in the Known Universe think of as a year, while the same thing (365 days) the importance of a year to our sense or time is equal to how someone in the Known Universe would experience a decade.</p>
    <p>Refer to the following table for the more exact terms
        <table>
            <thead>
                <tr>
                    <td>Era</td>
                    <td>Day</td>
                    <td>Week</td>
                    <td>Month</td>
                    <td>Year</td>
                    <td>Decade</td>
                    <td>Century</td>
                    <td>Millennium</td>
                </tr>
            </thead>
            <tbody>
                <tr class="tableInfo">
                    <td class="tableInfo">Present Day IRL (Baseline)</td>
                    <td class="tableInfo">24 Hours</td>
                    <td class="tableInfo">7 Days</td>
                    <td class="tableInfo">4 Weeks</td>
                    <td class="tableInfo">12 Months</td>
                    <td class="tableInfo">10 Years</td>
                    <td class="tableInfo">10 Decades</td>
                    <td class="tableInfo">10 Centuries</td>
                </tr>
                <tr class="tableInfo">
                    <td class="tableInfo">In universe present day</td>
                    <td class="tableInfo">1 Week</td>
                    <td class="tableInfo">1 Month</td>
                    <td class="tableInfo">1 Year</td>
                    <td class="tableInfo">1 Decade</td>
                    <td class="tableInfo">1 Century</td>
                    <td class="tableInfo">1 Millennium</td>
                    <td class="tableInfo">1 Megaannum</td>
                </tr>
            </tbody>
        </table>
    </p>
</body>
