@page "/Other/UCGalaxyPowerRating"
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>
</head>

<body>

    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <h1>Universalis Confederation Galaxy Sized Nation Power Ratings</h1>
    <p>The <a href="uc">Universalis Confederation</a> Galaxy Sized Nation Power Rating is a report created by the Universalis Confederation to determine the general rating of each of the major powerers within the galaxy. The report was the center of much contrevesy when it rightly listed the <a href="ufe">United Federation of Earth</a> as the single most powerful nation in the Known Universe. The resulting fallout lead to the current unrest in the <a href="vers">Vers Empire</a>, the reformation of the United Federation of Earth's government after the election of the Fuhrer Emily Goodwin, and the increased pressure from the <a href="transGalacticEmpire">Trans Galatic Empire</a> for groups to join them to increase their power.</p>
    <p>
        The report looked into 5 areas of each major nation, the areas are:
        <ul>
            <li>Military Power (Navy,Ground) - On a scale from 0-1 (1-100) how powerful is their military, seperate and combined.</li>
            <li>Economic Power (TVI, UCCL)- Their Trade Volitiy Index (a messure of the number of unqie ships to a system vs the number of systems the empire controls) and their Universalis Confederation Currency Loan (how many credits does the government ask for every 50 years from the Universalis Confederation to use for intergalatic trade.)</li>
            <li>External Power (trade,UC)- How much power can the nation leverage for internation trade, and how much power can they bring to discussions at the universalis confederation.</li>
            <li>Internal Power (citzens,ece) - How much sway does the government have over the citizens, IE how likely are they to follow laws. As well, how much power do they have over internal extra-citizen-entities, such as corporations, relgious movements, paramilitary companies, etc.</li>
            <li>Tech Level (average,best) - what is the average tech level within the nation and what is the highest tech level in the nation.</li>
        </ul>
    </p>
    <p>
        The report was offenten accused of being biassed one way or another. The response from the commity that created the report defied all expectations with the tired, annoyed, and drained chairman told a reporter:
    </p>
    <p>
        "Look, the report is biassed. It's no different then any other report here published. Biassed to the abyss. The saving grace is that everyone is equally obsessed with making themselves look great and everyone else horrible. The bias ends up acting as a censor on everyone else while forcing the best facts forwad. Sometimes, bullshit is traded. Sometimes outside forces give orders. The report is as biassed as what ever soundbites you pull from this. Fuck it I have a family to get home to get out of my way. Move please. MOVE DAMN IT. BY THE NETHER DO YOU REALIZE WHO I AM AND WHO I WORK FOR GET THE NETHER OUT OF MY WAY!"
    </p>
    <p>
        - The man was fired four days later for impropor conduct and today runs the third most watched polital talk show in the UFE, with a focus on explaining the behind the scenes reasons behind various Universalis Confederations goings on, named Universal Observer.
    </p>
    <div style="clear:left">
        <h2>Universalis Confederation Galaxy Sized Nation Power Ratings Table:</h2>
        <p>The table below shows the general results of the report. Each is mesaure on a scale 0-1 (1-100%) of how close to the galatic "Perfect" or best is. This is discussed in more depth below.</p>
        <p>The result before the bracket is the average adjusted for various other peices of data referenced below.</p>
        <table style="border-spacing:2px;;">
            <tbody style="border-style:solid;">
                <tr><td colspan="6" id="seperator"></td></tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;Military Power&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;Economic Power&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;External Power&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;Internal Power&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tech Level&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr id="tableInfo"><td><a href="ufe" style="color:white"> United Federation Of Earth </a></td><td>.87+ ( .78+ , .90 ) </td><td> .89+ ( .86+ , 1.0 ) </td><td> .70+ ( .94+ , .65 ) </td><td> .3+ ( .2+ , .98 ) </td><td> .96+ ( .3+ , .99 ) </td></tr>
                <tr id="tableInfo"><td><a href="ufTn" style="color:white">&#x2514;United Federation Of Terra Nova </a></td><td>.98 ( .89+ , .96+) </td><td> .90 ( .88+ , 1.0) </td><td> .45 ( .90- , .05+) </td><td> .87+ ( .90+ , .73-) </td><td> .75 ( .45+ , .99) </td></tr>
                <tr id="tableInfo"><td><a href="ucs" style="color:white">&#x2514;United Colony Of Saldor</a></td><td>.49+ ( .67+ , .34+)&nbsp;</td><td>.45+ (.36+ , 1.0)</td><td> .2- ( .4- , .1-)</td><td> .83+ ( .36+ , .98-)</td><td> .49+ ( .13+ , .68+)</td></tr>
                <tr id="tableInfo"><td><a href="ufu" style="color:white">&#x2514;United Federation Of Utopic</a></td><td>.79+ ( .80+ , .76+)</td><td> .78+ ( .80+ , 1.0)</td><td>.67 (.80+ , .53-)</td><td>.89 (.98 , .60-)</td><td>.87 (.73+ , .96+)</td></tr>
                <tr id="tableInfo"><td><a href="uft" style="color:white">&#x2514;United Federation Of Takara</a></td><td> .70 (.68+ , .80+)</td><td>.50+ (.80+ , 1.0)</td><td>.40 (.60+ , .30-)</td><td>.75 ( .65+ , .80-)</td><td>.60 (.23+ , .80+)</td></tr>
                <tr id="tableInfo"><td><a href="uct" style="color:white">&#x2514;United Colony Of Tihara</a></td><td>.34 ( .25- , .40+ )</td><td>.32- ( .50- , 1.0 )</td><td>.25 ( .14- , .05)</td><td>.32 ( .13- , .45-)</td><td>.25- (.05+ , .42-)</td></tr>
                <tr id="tableInfo"><td><a href="ucm" style="color:white"> └United Colony Of Maldeth </a></td><td>.40+ ( .48+ , .36+ ) </td><td> .42 ( .34 , 1.0 ) </td><td> .30- ( .20+ , .08+ ) </td><td> .78 ( .85+ , .83+ ) </td><td> .26 ( .12+ , .47+ ) </td></tr>
                <tr id="tableInfo"><td><a href="deutschland" style="color:white"> Deutschland </a></td><td>.89+ ( .88+ , .78+ ) </td><td> .25- ( .21 , 0.98+ ) </td><td> 0.3+ ( 0.3- , .7- ) </td><td> .95 ( .89+ , .50 ) </td><td> .43 ( .24+ , .66- ) </td></tr>
                <tr id="tableInfo"><td><a href="germushia" style="color:white"> Germushia </a></td><td>.74+ ( .85- , .43+ ) </td><td> .79 ( .88 , .32- ) </td><td> .79+ ( .86+ , .64- ) </td><td> .21 ( .13- , .21+ ) </td><td> .89 ( .61 , .93 ) </td></tr>
                <tr id="tableInfo"><td><a href="polandskia" style="color:white"> Polandskia </a></td><td>.19 ( .21 , .07 ) </td><td> .25 ( .16+ , .45- ) </td><td> .21 ( .31+ , .23- ) </td><td> .21 ( .22 , .09+ ) </td><td> .43 ( .13 , .73- ) </td></tr>
                <tr id="tableInfo"><td><a href="xiaoming" style="color:white"> Xiao-Ming </a></td><td>.42 ( .72- , .35 ) </td><td> .85 ( .93 , .02- ) </td><td> .63+ ( .88+ , .32- ) </td><td> .89+ ( .89+ , 1.0+ ) </td><td> .75+ ( .42+ , .93- ) </td></tr>
                <tr id="tableInfo"><td><a href="firstorder" style="color:white"> First Order </a></td><td>.79+ ( .89+ , .91+ ) </td><td> .79+ ( .99+ , .23- ) </td><td> .87 ( .79+ , .78 ) </td><td> .79 ( .89+ , .79+ ) </td><td> .97+ ( .74+ , .99+ ) </td></tr>
                <tr id="tableInfo"><td><a href="britannia" style="color:white"> Britannia </a></td><td>.82+ ( .81+ , .79+ ) </td><td> .67 ( .71+ , 0.0 ) </td><td> .52 ( .71 , .64 ) </td><td> .79 ( .81+ , .85+ ) </td><td> .74+ ( .51+ , .91 ) </td></tr>
                <tr id="tableInfo"><td><a href="ivft" style="color:white"> Imperial Versian Federated Terrertories </a></td><td>.31 ( .21 , .41 ) </td><td> .56+ ( .75+ , 0.13- ) </td><td> 0.6+ ( 0.8+ , 0.32+ ) </td><td> 0.41 ( 0.26- , 0.51+ ) </td><td> 0.68+ ( 0.60- , 0.81+ ) </td></tr>
                <tr id="tableInfo"><td><a href="trasnGalaticeEmpire" style="color:white"> Trans Galatic Empire </a></td><td>.84+ ( 0.75 , .93+ ) </td><td> .82+ ( .78+ , 1.0 ) </td><td> .89+ ( .91 , 0.70 ) </td><td> .73+ ( 0.83+ , .95+ ) </td><td> .97+ ( .45+ , .99- ) </td></tr>
                <tr id="tableInfo"><td><a href="vers" style="color:white"> Vers Empire </a></td><td>.78+ ( .85+ , .68+ ) </td><td> .45+ ( .71- , 1.0 ) </td><td> .43- ( .47+ , .62- ) </td><td> .42 ( .61+ , .41- ) </td><td> .89+ ( .71+ , .99 ) </td></tr>
                <tr id="tableInfo"><td><a href="url" style="color:white"> United Reverse Lords </a></td><td>.78- ( .74 , .63- ) </td><td> .74 ( .92 , 1.0 ) </td><td> .32 ( .41 , .21 ) </td><td> .71 ( .81- , .61+ ) </td><td> .81 ( .75+ , .98 ) </td></tr>
                <tr id="tableInfo"><td><a href="artekka" style="color:white"> Artekka </a></td><td>.68- ( .91- , .51+ ) </td><td> .25- ( .91 , .60- ) </td><td> .41 ( .61- , .37 ) </td><td> .32 ( .51 , .21 ) </td><td> 1.1 ( .89+ , 1.13+ ) </td></tr>
                <tr id="tableInfo"><td><a href="axiosAllance" style="color:white"> Axios Alliance </a></td><td>.41+ ( .46+ , .35+ ) </td><td> .74+ ( .83+ , .72- ) </td><td> .61+ ( .79 , .42 ) </td><td> .84 ( .77 , .86 ) </td><td> .68+ ( .51 , .91- ) </td></tr>
                <tr id="tableInfo"><td><a href="uar" style="color:white"> United Augmented Republic </a></td><td>.51- ( .62- , .21+ ) </td><td> .31 ( .91 , 0.0 ) </td><td> 0.0 ( 0.0 , 0.0 ) </td><td> 0.67 ( 0.29 , 0.71 ) </td><td> 2.0 ( 1.5 , 2.1 ) </td></tr>
            </tbody>
        </table>
    </div>
    <h2>The data ranges</h2>
    <ol>
        <li>
            Military Power: military power representents not only the military power the nation can bring to bear, but also what they can leverage from their allies and how effectively they can control their military
            <ul>
                <li>Army Power: a percentage as compared to the Universalis Confederation Army</li>
                <li>Navy power: A percentage as compared to the universalis Confederation Navy</li>
            </ul>
        </li>
        <li>
            Economic Power: How well the economy is doing, takes into account location deviations and more factors then listed here.
            <ul>
                <li>Trade Volitiy Index: The number of systems that had a single unique ship enter them divided by the total number of systems the nation controls. unique ship are ships that have not been within that system within at least 3 months EST.</li>
                <li>Universalis Confederation Currency Loan: The central bank of the Universalis Confederation creates and manages Univeraslis Credits, which the Universalis Confederation loans to each nation every half century in order to simplify intergalatic trade between citizens, corporations, and nations. This measure is how much of currency in use is Universalis Credits. Some nations attempt to keep this low while most want a higher value.</li>
            </ul>
        </li>
        <li>
            External Power: How much the nation can influence the universe around them.
            <ul>
                <li>External Trade: How much trade the nation has with other nations. 0 trade is no trade with the outside world 1.0 trade is all trade within this nation is conducted with an outsider in some way (either as ship owner, or sending goods to)</li>
                <li>Power within the Universalis Confederation: How much diplomatic power the nation can leverage within the Universalis Confederation to pass possible bills and laws.</li>
            </ul>
        </li>
        <li>
            Internal Power: The amount of power the nation has over their own governemnt, the people within their nation, and the other ententies within their borders.
            <ul>
                <li>Power of citizens rights: How much control the nation has over its citizens rights. a 0.0 would be total anarchy while a 1.0 would be absoltely no freewill.</li>
                <li>Power of extra-citizen-entities: How much power over non citizens does the government have (such as buisnesses, religous instituions, private industry, etc). 0 would be pure capitalism 1.0 would be a pure communist nation where the state has absolute control over all companies</li>
            </ul>
        </li>
        <li>
            Tech Level: As compared to the univeraslis Confederation, the total takes into account disparity among other variables.
            <ul>
                <li>Average Tech Level: The average tech level percentage</li>
                <li>Best Tech Level: The best tech level as a percentage</li>
            </ul>
        </li>
    </ol>
    <h2>The data justifications</h2>
    <ul>
        <li>UFE - While the UFE is a monolith, it is slow to act, and due to the high free will of the citizens, the government would be hardpressed to maxamize performance, though this has lead to a large amount of technological innovation.</li>
        <br />
        <li>UFTN - Being the giant on whoms shoulders the UFE stands, the United Federation of Terra Nova is the largest and most powerful domminon of the UFE, and becaues of this command an impressive amount of the mobilizable power within the UFE.</li>
        <br />
        <li>UCS - The Colony of Saldor is perhaps the best of the colonial dominons within the UFE. While the internal government is the second most powerful in the UFE, the ability to project that power in the wider galaxy severly limits the abilities of this nation in the long term.</li>
        <br />
        <li>UFU - Utopias unique history of throwing off the chains of class hiarchary and then being forced to mold themselves back into it has lead to an interesting second place. While the nation internally is more powerful then anywhere else in the UFE, it falls behind in military and economy, most likely because they are still recovering from the last war.</li>
        <br />
        <li>UFT - Takara's temaltus position as a dominion seems at first logical, they outpower the colonies within the UFE. But where it seems to truly counts, in the economy and technology areas, the UFT trips behind, running away from the colonies but Saldor seems to be approching quickly.</li>
        <br />
        <li>UCT - Tihara is poor and starved for support from the father nations. While Terra Nova seemingly ignores its painful thorn of a colony. The weak armies fight inhospitable worlds filled with beasts of unimaginable rage. While the cities themselves, beyond the commonly told commandmant that "no one damages the walls" the rifle is ruler. A missunderstanding escalates fast and deadly quickly. For these reasons Tihara is only a threat to thoes within its borders.</li>
        <br />
        <li>UCM - Maldeth is the middle child in an empire that would make Ceaser Petrov cry gravitiless tears. Currently the rise of pro-lord support has lead the nation down a dark, close to seperatist path. The military, while powerful, has questionable loyalties.</li>
        <br />
        <li>Deutschland - While the Deutschland's strongly centralized government has lead to a powerful military, and while the economy is impressively designed, churchs stranglehold on the socieity, and the government (backed by the churhces) unwillingness to advance technology is dooming this empire to be an obscure factoid in future history books, often forgotten about within a millenium or so.</li>
        <br />
        <li>Germushia - The Germushian military while impressive in technology is lacking loyalty and size. The fleet, while advanced and powerful suffers in the same area. The high degree of personal liberty installed by the government makes the people unlikely to follow authority. On the other side, this nations belief in free enterprise and trade have paid off economically quite well.</li>
        <br />
        <li>Polandskia - The reliance of Polandskia on Gemurshia has hurt their ability to do anything on their own. While not legally a colony, for all intents and purposes Polandskia is effecively a client state Germushia.</li>
        <br />
        <li>Xiao-Ming - Following the war, the megacorporation has suffered heavily, they lost their ability to leverage their employees for military might. But with all of these losses, including the loss of territory this has allowed Xiao-Ming to gain economic and interal power.</li>
        <br />
        <li>First Order - Following the imperial invasion of the milky way, the First Order spent the time after the death of their supreme commander in chaos. When the proposition of restoring the empire arose, the man who raised it; Tiberius Mccoy, became hailed as a hero. Having assumed command and held back the vipers nest that is First Order politics. The return of Kylo Ren to manage the empire freed Supreme Commander Mccoy up to deal with many of the persistent issues with in the First Order, resuling in a fantastic turn around as a nation. </li>
        <br />
        <li>Britannia - Following Britannia's joining of the Empire, the nation has begun to militarize to an alarming degree, vastly outpacing what their economy can handle. Unfornately for them, the strict imperial laws cost them the ability to truely utilize their impressive military.</li>
        <br />
        <li>Imperial Versian Federated Territories - The IVFT is perhaps the strongest colony among those in the galatic teir. The tendriles of the emperial leviathan may engulf the IVFT, but the indepentend spirit of the people, mixed with the againg military and being just above the technical curve makes the IVFT a nation to watch in the future.</li>
        <br />
        <li>Trans Galatic Empire - The newly minted Trans Galatic Empire, claiming to be the true direct decendent of Sheeve Palpatines Empire during the First Space Age. While it may follow ancient customs, the beast itself is vast and its power extensive. While the UFE may be the superior power, the empire could, with only a few more allies, defeat the UFE in a war.</li>
        <br />
        <li>Vers - The vers empire has always commanded an impressive military, and internally their nation is abuzz following major changes in the government. Reinvigorated and growing. The nation is once again becoming a powerhouse.</li>
        <br />
        <li>United Reverse Lords - The new empire growing out of the festering remains of what was once the core of the Vers empire. The URL for now is content with staying within their borders, but should they awaken they are going to be a very influenctial middle player.</li>
        <br />
        <li>Artekka - The ancient powerhouse returns. While their technology allows their military to surplant itself in a powerful posistion, the reclusive nature of the nation causes it to have a smaller economy and external power, while the large degree of independed freedom makes for a weak central government. This makes Artekka another scattered nation.</li>
        <br />
        <li>Axios Alliance - The Axios Alliance is enjoying its new found freedom. While the military areas may struggle for good reason, the booming economy and trade that comes with it have helped other returning power catch up. While still behind on technology, the Axion Alliance is set to catch up soon.</li>
        <br />
        <li>United Augmented Republic - While not part of the Universalis Confederation, we decided it would be interesting to compare the UAR as well. We found that following their lose of control over the <a href="twinshadows">Twin Shadows Galaxy</a> has cost them dearly. Hurting them everywhere but technologically.</li>
    </ul>
</body>