@page "/CharacterCreation/New"
@using CharacterCreationTest.CharacterCreation
@using Microsoft.AspNetCore.Html
@using TravellerWiki.Data
@using TravellerWiki.Data.Charcters
@using TravellerWiki.Data.Services
@using TravellerWiki.Data.Services.CareerService
@inject NavigationManager NavManager
@inject MultiPageCharacterCreationService CharacterCreationService;
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>

</head>

@code{

    private void CreateCharacter()
    {
        var id = CharacterCreationService.CreateNewCreator();
        NavManager.NavigateTo($"/CharacterCreation/Name/{id}");
    }

}
<body>
<div style="text-align: center">
        <h1>Traveller Character Creator</h1>
        <p>Do you wish to create a traveller character</p>
        <button class="" @onclick="CreateCharacter">Create Character</button>
    </div>
</body>