@page "/CharacterCreation/"
@using CharacterCreationTest.CharacterCreation
@using Microsoft.AspNetCore.Html
@using TravellerWiki.Data
@using TravellerWiki.Data.Charcters
@using TravellerWiki.Data.CreationEvents
@using TravellerWiki.Data.Services
@using TravellerWiki.Data.Services.CareerService
@using TravellerWiki.Data.TravellerInjuries
@inject CharacterCreatorService CharacterCreationService;
@inject TravellerNationsCharacterInfoService nationsService;
@inject TravellerCareerService careerService;
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>

</head>

<body>
    <div style="text-align:center">

    @code{
    /*
            
                    
                    else 
                    


                            */
        }
    </div>
</body>
