@page "/Rules/Magic/CircleMagic/"
    <head>
        <title>Circle Magic</title>
        <meta property="og:title" content="Known Universe Wiki - Circle Magic" />
        <meta property="og:url" content="https://theseamnetwork.com/Rules/Magic/CircleMagic/" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://thesteamnetwork.com/Images/FederationFlag.png" />
        <meta content="Cirlce Magic is based on the Cosmological understanding of the 5 Planes as a series of interconnected rings, with the Material ring in the center, with the others connected to each other through the Material Plane. It is commonly practiced by Witchers and the Knighs of Ren." property="og:description" />
        <meta content="#ffe81F" data-react-helmet="true" name="theme-color" />

    </head>
<h1>Circle Magic</h1>
<p>Cirlce Magic is based on the Cosmological understanding of the 5 Planes as a series of interconnected rings, with the Material ring in the center, with the others connected to each other through the Material Plane.</p>
<p>Circle Magic tends to be more focused and easier to cast then <a href="/Rules/Magic/FreeFormMagic">Free Form Magic</a> but is more controlled and directly powerful then <a href="/Rules/Magic/SpecializedMagic/">Specialized Magic</a></p>
<p>Circle Magic is divided into the 5 main cirlces or planes, and have a series of spells based off of them. Though the specific spells depend on which school taught you.</p>
<p>To cast a circle magic spell, you Roll PSI+(The skill for the ring you are using) + Modifiers 6+ to cast your spells. </p>
<p>Failing to cast a spell results in the caster rolling on the <a href="/Rules/Magic/Perils">Perils Table</a></p>
<h2>Witcher Cirlce Magic</h2>
<p>Witcher Cirlce Magic focuses on being useful for monster hunting and dealing with the supernatural. In brackets is the Free Form Versian version of the spell</p>
<p>If the name has a [T] next to it, it means that the spell is a touch spell.</p>
<h3>Void Ring</h3>
<p>The Void ring represents the ring of creation and the Void Plane.</p>
<ul>
    <li>Throw Fire - Throw a small amount of fire, making a Dex + Effect range attack. (Saptium Aedificate Ignis)</li>
    <li>Throw Water - Throw a small amount of water, making a Dex + Effect range attack. (Saptium Aedificate Liquidum)</li>
    <li>Throw Electricity - Throw a small amount of , electricity making a Dex + Effect range attack. (Saptium Aedificate Vestibulum)</li>
    <li>Push Air - push some air, if someone wishes to resist, they must make an Str/End 8+ check. (Saptium Mutare Aura)</li>
    <li>Pull Air - pull some air, if someone wishes to resist, they must make an Str/End 8+ check. (Saptium Mutare Aura)</li>
    <li>Create Void Energy Shield[T] - Create a shield of void energy able to absorb PSI Points + Effect D * 10 Damage. Lasts for 2D8+Effect minutes (Saptium Aedificate Vis)</li>
</ul>

<h3>Aether Ring</h3>
<p></p>
<ul>
    <li>Calm[T] - calm the target, making them like the caster. (Caelum Mandatum Mens Beatitas)</li>
    <li>Walk - walk for PSID10 minutes through the Aether. You can still peer into the material world by looking at what those whos bodies are still in the physical world's souls see. [Look through their bodies eyes through their soul] (Caelum Mutare Vis Deorum Sanguinem Alacer </li>
    <li>Truth? - Determine if the target is telling the truth. (Caelum Disco Mens Auctoritas)</li>
    <li>Convince - Convince the target of what the caster is saying. (Caelum Mutare Mens Pertinax)</li>
    <li>Track - Track a target for (2 * (1 d * (10/per PSI point)) * (1D20 * 100) * 2) Meters and is persistant, requiring the target to pass 2 DC 8 + Effect Psi checks to avoid being tracked. (Caelum Disco [Creaturae | Hominum] Dilata Immensa Dilatanda Pertinax)</li>
    <li>Inspect Memories[T] - Inspect the memories of the target,if the effect is less then 5, the only memories the caster can see are those that the target wishes the caster to see. As well, the target can refuse to show memories but must pass a 5 + Effect PSI check. (Caelum Disco Mens Beatitas Daze Turbulentos Talem )</li>
</ul>

<h3>Material Ring</h3>
<p></p>
<ul>
    <li>Mold Earth - Mold 1 + Psi point D meters of Earth. (Verus Mutare Terra)</li>
    <li>Create Food - Create enough food for 1+PSi Point D meals. (Verus Aedificate Planta)</li>
    <li>Create Water - Create 1+PSi Point D Liters of water. (Verus Aedificate Liquidum)</li>
    <li>Create Weapon - Create a weapon of 1D + Effect + Psi Point Tech Level . (Verus Aedificate Molior)</li>
    <li>Super Speed - Multiply your movement by the number of psi points used (Verus Mutare Hominum)</li>
    <li>Change Surface[T] - Heat or Free Freeze a surface by 1D * (-)100 degrees Celsius (Verus Putridus Terra mutare Damno Elementum)</li>
</ul>

<h3>Nether Ring</h3>
<p></p>
<ul>
    <li>Speak with Corpse[T] - Speak with the brain within a corpse. (Exanimum Disco Mens Mortuis)</li>
    <li>Raise Corpse[T] - Bring a corpse under your command. (Exanimum Mandatum Hominum Mortuis)</li>
    <li>Ward from Dead - Protect an area from the dead being able to enter. (Exanimum Aedificate Vis Mortuis)</li>
    <li>Rest Spirit - Banish a spirit to the Nether. (Exanimum Putridus Mens Mortuis)</li>
    <li>Unbind[T] - Remove a ward or curse from an object. (Exanimum Putridus Vis)</li>
    <li>Curse[T] - Apply a <a href="/Rules/Magic/Curses">Curse</a> to an object. (Exanimum Aedificate Vis Maledictum)</li>
</ul>

<h3>Abyss Ring</h3>
<p></p>
<ul>
    <li>Destroy Physical[T] - Destroy something in the material Plane, the target can resist on an Endurance 10+ check. (Exitium Putridus [Creaturae, Liquidum, Aura, Planta, Terra, Molior])</li>
    <li>Destroy Spiritual - Destroy something in the spiritual Plane, the target can resist on an Psi 10+ check.  (Exitium Putridus [Vis, Mens])</li>
    <li>Fast Forward[T] - Accelerate something into a further state of entropy. (Exitium Mutare [Creaturae, Hominum, Planta,  Mens, Molior, Terra])</li>
    <li>Empty Soul - Empty the soul of something in the material plane. Target can resist with a Psi 10+ check. (Exitium Mandatum Vis)</li>
    <li>Extinguish[T] - Extinguish a flame. (Exitium Putridus Ignis)</li>
    <li>Remove from reality[T] - Remove something from ever having existed in this timeline, is cast with a DC of 12+, and can be resisted with a PSI 6+ Effect (Exitium Putridus [creaturae, hominum])</li>
</ul>

<h2>Knights of Ren Circle Magic</h2>
<p></p>
<h3>Void Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h3>Aether Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h3>Material Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h3>Nether Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h3>Abyss Ring</h3>
<p></p>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>