@page "/Rules/CoreMechanics/"
<head>
    <title>Core Mechanics</title>

    <meta property="og:title" content="Known Universe Wiki - Core Mechanics"/>
    <meta property="og:url" content="https://theseamnetwork.com/Rules/CoreMechanics/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://thesteamnetwork.com/Images/FederationFlag.png"/>
    <meta content="This pages covers the core rules/mechanics of the Known Universe." property="og:description"/>
    <meta content="#ffe81F" data-react-helmet="true" name="theme-color"/>
</head>

<h3>Core Mechanics</h3>
<p>The CORE mechanic in this game is ATTRIBUTE + (optional SKILL) + MODIFIERS.</p>
<p>Where ATTRIBUTE is one the six attributes from the following list chosen by your gm, along with Magic: Strength, Dexterity, Endurance, Education, Intelligence, Moral, Sanity, Social, Wealth</p>
<p>And the optional SKILl is chosen from the list at <a href="/CharacterCreation/Skills">Character Skills</a>, you must then justify to the referee why you have chosen this particular skill with this attribute and why it makes sense.</p>
<p>MOFIDEIRS are then determined by the referee with the help of the players on what they agree is fair. This may result in a Boon or Bane die.</p>
<p>A boon or Bane die is a bonus d6 added to a skill roll with 2d6, where you take the highest two of the three dice.</p>

@code {

}