@page "/Rules/Magic/Curses/"

<head>
    <title>Curses</title>

    <meta property="og:title" content="Known Universe Wiki - Curses"/>
    <meta property="og:url" content="https://theseamnetwork.com/Rules/Magic/Curses/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://thesteamnetwork.com/Images/FederationFlag.png"/>
    <meta content="A list of known curses that may be cast within the Known Universe" property="og:description"/>
    <meta content="#ffe81F" data-react-helmet="true" name="theme-color"/>
</head>
<h1>curses</h1>
<p>Curses can be cast on people or objects to bind a spell to that person or object for a set amount of time.</p>
<p>There are several known curses, such as the Witcher Vampyrism Curse, or the rashghal plague.</p>