@page "/Rules/Magic/SpecializedMagic/"
<head>
    <title>Specialized Magic</title>

    <meta property="og:title" content="Known Universe Wiki - Specialized Magic"/>
    <meta property="og:url" content="https://theseamnetwork.com/Rules/Magic/SpecializedMagic/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://thesteamnetwork.com/Images/FederationFlag.png"/>
    <meta content="While others may invision magic as the crossing of various realities into eachother or a force to be commanded and bent to ones will, those who specialize in a certain branch of magic tend to have superior powers when compared to others, though at the expense of limited range." property="og:description"/>
    <meta content="#ffe81F" data-react-helmet="true" name="theme-color"/>
</head>
<h1>Specialized Magic</h1>
<p>Each of the specialized magic groups focus on one of the four planes besides the material for their spells. While Specialized casters don't have the versatility of <a href="/Rules/Magic/FreeFormMagic/">Free Form Magic</a> or the generic un-specialized spells of <a href="/Rules/Magic/CircleMagic/">Circle Magic</a>, the Specialized Magic areas tend to be very focused, and easy to cast, but underwhelming, but if they go off well, their abilities scale amazingly. </p>
<p>To cast a Specialized Magic spell, refer to your spell list, pick a spell to cast, insure you have enough Psi-Points to cast it, and if you can, then make an Easy Psi + your specialization of magic skill check, the spell should list the effects as well in its scale.</p>
<p>Failing to cast a spell results in the caster rolling on the <a href="/Rules/Magic/Perils">Perils Table</a></p>
<h2>Deutchland's Church of Sigmar - Void Magic / Creation / Raw Matter / Pure Energy</h2>
<p></p>
<table>
    <thead style="text-align: center;">
    <tr>
        <th>Name (Sigmarian)</th><th>Name (English)</th><th>Psi Cost</th><th>Effect 0</th><th>Effect 1</th><th>Effect 2</th><th>Effect 3</th><th>Effect 5</th><th>Effect 7</th><th>Effect 10</th>
    </tr>
    <tr>
        <th></th>
    </tr>
    </thead>
    <tbody style="text-align: center; padding: 5px; color: #ffe81F;border-color: deeppink">
    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmoria, ich prosit von vy zu pozhaluysta daruy mich svet</td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmars Light</td>
        <td style="border-style: solid;border-color:#1F36FF;">1</td>
        <td style="border-style: solid;border-color:#1F36FF;">A small amount of light forms around, illuminating 2D meters around the caster.</td>
        <td style="border-style: solid;border-color:#1F36FF;">A light with the range of 4D meters centered on the casters Sexton appears.</td>
        <td style="border-style: solid;border-color:#1F36FF;">A light with the range of 4D8 * 2 meters appears, centered on the casters Sexton</td>
        <td style="border-style: solid;border-color:#1F36FF;">A light appears with 5D10 * 2 meters, as well, those who are deemed impure are blinded by it.</td>
        <td style="border-style: solid;border-color:#1F36FF;">A light augmented by Sigmar fills the room, all those who are deemed impure must make and End 8+ check or take 2D damage if they are within the light, which has an area of 4D12 * 10</td>
        <td style="border-style: solid;border-color:#1F36FF;">A light augmented with the force of sigmar banishes any unholy creatures from the room. As well illuminating 6D12 * 10 meters centered on the casters Sexton of Sigmar.</td>
        <td style="border-style: solid;border-color:#1F36FF;">The light of a super nova is brought into the room with the caster, incinerating within 2D12 * 200 meters.</td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmoria, ich prosit von vy zu pozhaluysta daruy mich руководство</td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmars Guidance</td>
        <td style="border-style: solid;border-color:#1F36FF;">1</td>
        <td style="border-style: solid;border-color:#1F36FF;">A gentle breeze tells the caster which choice to make</td>
        <td style="border-style: solid;border-color:#1F36FF;">The casters sexton will inform the catser as to the choice to make</td>
        <td style="border-style: solid;border-color:#1F36FF;">Touching the casters sexton, they suddenly have an urge to persue a certain course of action</td>
        <td style="border-style: solid;border-color:#1F36FF;">A semi-obvious sign is sent to the caster of what choice to make</td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmar appears in a vision to help guide the caster</td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmars voice appears on and off to guide the caster.</td>
        <td style="border-style: solid;border-color:#1F36FF;">A Shard of Sigmar appears in front of the caster and those around him, and gives the caster guidance.</td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmoria, ich prosit von vy zu pozhaluysta daruy mich Ogon</td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmars Flame</td>
        <td style="border-style: solid;border-color:#1F36FF;">2</td>
        <td style="border-style: solid;border-color:#1F36FF;">A small flame the size of the casters thumb floats in the center of the casters palm, they can light a candle with it. A light breeze will blow it out. It takes 3D8 minutes to set something ablaze.</td>
        <td style="border-style: solid;border-color:#1F36FF;">A small flame the size of the casters fist floats in the center of the casters palm, they can light a campfire with it. A strong breeze will blow it out. It takes 2D4 minutes to set something ablaze.</td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmar grants you the ability to throw a flame from your hand, it has the following stat block and is a ranged attack: SIGMARS_BALL_O_FIRE, 15M, 2D+5, 1KG, 1 Shot, Fire. </td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmars flames flow freely from the casters hands, with the following statblock and are treated as a ranged attack: SIGMARS_FIRE, 25M, 2D, 1KG, 2D6 Shots, Fire. </td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmars flames circle around the fasters arms and body, allowing the caster to control the flames, they have the following stat block and are treated as a ranged attack: SIGMARS_FIRE, 50M, 3D, 1KG, 5D4 Shots, Fire. </td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmars flames surrounds the caster, anyone within 4D8 meters of the caster must pass an END 8+ check or take 2D Damage</td>
        <td style="border-style: solid;border-color:#1F36FF;">The cleansing flame of sigmar engulfs the area within 6D10 * 5 meters of the caster. If they pass an END 10+ check their damage is halved, those who fail the check take the full 10D8 Damage</td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmoria, ich prosit von vy zu pozhaluysta daruy mich led</td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmars Freeze</td>
        <td style="border-style: solid;border-color:#1F36FF;">2</td>
        <td style="border-style: solid;border-color:#1F36FF;">A small shard of ice the size of the casters thumb floats in the center of the casters palm, they can freeze a glass of water with it. A direct sunlight will melt it. It takes 3D8 minutes to freeze something.</td>
        <td style="border-style: solid;border-color:#1F36FF;">A small shard of ice the size of the casters fist floats in the center of the casters palm, they can freeze a small lake with it. A strong heat source will melt it. It takes 2D4 minutes to set freeze something.</td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmar grants you the ability to throw ice from your hand, it has the following stat block and is a ranged attack SIGMAR_ICE_SHARD, 30M, 1D+8, 1KG, 1 Shot, Ice. </td>
        <td style="border-style: solid;border-color:#1F36FF;">The room cools as the casters hands are covered in a thin layer of ice, which they can throw: SIGMARS_ICE_SHARDS, 40M, 3D+6, 1KG, 1D8 Shots, Ice. </td>
        <td style="border-style: solid;border-color:#1F36FF;">A storm begins to appear with a size of 2D8 meters centered on the caster. The harsh hail storm sends out ice shards, characters must make a DC 6+ Dex check or take 1D4 damage from an ice shard hitting them.</td>
        <td style="border-style: solid;border-color:#1F36FF;">A strong ice storm begins to appear with a size of 3D12 meters centered on the caster. The harsh ice storm sends out ice shards, characters must make a DC 8+ Dex check or take 2D damage from an ice shard hitting them.</td>
        <td style="border-style: solid;border-color:#1F36FF;">A massive ice storm begins to appear with a size of 6D12 * 100 meters centered on the caster. The harsh ice storm sends out ice shards, characters must make a DC 10+ Dex check or take 4D8 damage from an ice shard hitting them.</td>
    </tr>

    <tr>
        <td style="border-style: solid; border-color: #1F36FF;">Sigmoria, ich prosit von vy zu pozhaluysta daruy mich voda</td>
        <td style="border-style: solid; border-color: #1F36FF;">Sigmars Water</td>
        <td style="border-style: solid;border-color:#1F36FF;">2</td>
        <td style="border-style: solid;border-color:#1F36FF;">A teardrop the size of the casters thumb floats in the center of the casters palm</td>
        <td style="border-style: solid;border-color:#1F36FF;">A water droplet the size of the casters fist floats in the center of the casters palm, the water can be thrown to put out a camp fire or something else of simliar size.</td>
        <td style="border-style: solid;border-color:#1F36FF;">Water wraps around the casters arms, they can throw the water at people, soaking their clothes with the following stat line: SIGMARS_WATER, 10M, 1D, 1KG, Knockdown</td>
        <td style="border-style: solid;border-color:#1F36FF;">Water surrounds the caster, the caster can throw a torrent of Sigmars wrath in water form strong enough to knock down a lightly armored vehicle.: SIGMARS_WATER_TORRENT, 25M, 3D8, 1KG, Knockdown</td>
        <td style="border-style: solid;border-color:#1F36FF;">A small storm forms around the caster, spreading 2D8 * 10 Meters. The storm can throw others to the ground if they fail a Str/End 6+ taking 1d4 Damage</td>
        <td style="border-style: solid;border-color:#1F36FF;">A sizable storm forms around the caster, spreading 3D12 * 15 Meters. The storm can throw others to the ground if they fail a Str/End 8+ taking 2D Damage</td>
        <td style="border-style: solid;border-color:#1F36FF;">A massive hurricane surrounds the caster spanning 6D12 * 100 meters. Everyone besides the caster must make a STR/DEX/END check or be thrown around taking 6D4 Damage. As well, the caster can call upon sigmar to smite 1D12 enemies per storm.</td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmoria, ich prosit von vy zu pozhaluysta daruy mich vozdukh</td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmars Air</td>
        <td style="border-style: solid;border-color:#1F36FF;">2</td>
        <td style="border-style: solid;border-color:#1F36FF;">the caster can blow out a candle with some air from the center of their palm</td>
        <td style="border-style: solid;border-color:#1F36FF;">The caster can push some air from the center of their palm, enough to knock over a kitten</td>
        <td style="border-style: solid;border-color:#1F36FF;">The caster can push or pull air from the center of their palm, enough to knock over or pull your average person, to avoid being pull they must make a STR 8+ check</td>
        <td style="border-style: solid;border-color:#1F36FF;">The caster can control a torrent of wind, bending it to their bidding, they can throw people around, the target must pass a DC 8+ STR check or be thrown up to 25 meters and take 6D4 damage.</td>
        <td style="border-style: solid;border-color:#1F36FF;">A windstorm forms around the caster with the size of 3D * 10 Meters, the caster can control the storm to push objects or people around. To avoid being pushed around people must pass a DC 8+ STR check.</td>
        <td style="border-style: solid;border-color:#1F36FF;">A massive windstorms eminates from the caster, trees and other heavy objects are thrown around, to stay grounded travellers must make a STR/DEX/END 6+. </td>
        <td style="border-style: solid;border-color:#1F36FF;">A hurricane appears over the caster, stretching for 3D10 * 100 Meters, to stay grounded travellers must pass a DC 10 Str/Dex check. If they get picked up, they are thrown 8D8 meters and can make an END 8+ check to take half damage from the fall. Where the damage is 2D12</td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmoria, ich prosit von vy zu pozhaluysta daruy mich znaniya</td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmars Knowledge</td>
        <td style="border-style: solid;border-color:#1F36FF;">4</td>
        <td style="border-style: solid;border-color:#1F36FF;">The character is enlighted by sigmar with enough to bullshit a conversation.</td>
        <td style="border-style: solid;border-color:#1F36FF;">The caster gains basic knowledge of the topic</td>
        <td style="border-style: solid;border-color:#1F36FF;">The caster is enlighted with a temperorary levelup in 1 skill for 1D * 10 hours.</td>
        <td style="border-style: solid;border-color:#1F36FF;">The caster soon stumbles across a book of sigmar with the knowledge they requested.</td>
        <td style="border-style: solid;border-color:#1F36FF;">The caster stumbles across a data-disk with a wealth of information on the topic, enough to teach the caster a skill at level 1 for 2D Weeks</td>
        <td style="border-style: solid;border-color:#1F36FF;">The caster stumbles across an agent of Sigmar who gives them the knowledge they want, and will train a traveller to level 2 in 1D4 Weeks which lasts for 2D weeks. The skill is premently leveled to level 0 afer this if sigmar wills it.</td>
        <td style="border-style: solid;border-color:#1F36FF;">A shard of Sigmar appeares infront of the caster and tells them anything they wish to know</td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmoria, ich prosit von vy zu pozhaluysta geben mich vash hand</td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmars Hand</td>
        <td style="border-style: solid;border-color:#1F36FF;">3</td>
        <td style="border-style: solid;border-color:#1F36FF;">A ghastly floating hand will point the caster towards that which they asked for.</td>
        <td style="border-style: solid;border-color:#1F36FF;">A ghastly floating hand will help the caster find a way to retreive the object</td>
        <td style="border-style: solid;border-color:#1F36FF;">A floating hand appears and points the caster to the object</td>
        <td style="border-style: solid;border-color:#1F36FF;">A floating hand appears and will help the caster retrieve an object</td>
        <td style="border-style: solid;border-color:#1F36FF;">A floating hand appears and will retrieve an object for the caster</td>
        <td style="border-style: solid;border-color:#1F36FF;">A floating hand appears and will do as the caster commands for 4d8 weeks and can go as far as 1D10Kms</td>
        <td style="border-style: solid; border-color: #1F36FF;">A shard of sigmar appears and offers it's hand to assist the caster</td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color: #1F36FF;">Sigmoria, ich prosit von vy zu pozhaluysta daruy mich vash Hilfe</td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmars Aid</td>
        <td style="border-style: solid;border-color:#1F36FF;">5</td>
        <td style="border-style: solid;border-color:#1F36FF;">A voice from sigmar appears and offers reassurance to the caster</td>
        <td style="border-style: solid;border-color:#1F36FF;">Sigmar offers minor aid, such as unlocking something simple</td>
        <td style="border-style: solid;border-color:#1F36FF;">A spirit of Sigmar appears and offers the caster advice</td>
        <td style="border-style: solid;border-color:#1F36FF;">A spirit of Sigmar appears and aids the caster in what they need help with.</td>
        <td style="border-style: solid; border-color: #1F36FF;">A servant of sigmar appears and will aid the caster as best it can</td>
        <td style="border-style: solid;border-color:#1F36FF;">A superior servant of Sigmar will appear and aid the caster</td>
        <td style="border-style: solid; border-color: #1F36FF;">A shard of Sigmar appears infront of the caster to assist for 3D4 Weeks</td>
    </tr>

    </tbody>
</table>
<p>
    Translations:
    <ul>
        <li>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich svet - Sigmoria, I call on you to please grant me light</li>
        <li>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich руководство - Sigmoria, I call on you to please grant me guidance</li>
        <li>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich Ogon - Sigmoria, I call on you to please grant me fire</li>
        <li>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich led - Sigmoria, I call on you to please grant me ice</li>
        <li>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich voda - Sigmoria, I call on you to please grant me water</li>
        <li>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich vozdukh - Sigmoria, I call on you to please grant me air</li>
        <li>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich znaniya - Sigmoria, I call on you to please grant me knowledge</li>
        <li>Sigmoria, ich prosit von vy zu pozhaluysta geben mich vash hand - Sigmoria, I call on you to please grant me your hand</li>
        <li>Sigmoria, ich prosit von vy zu pozhaluysta daruy mich vash Hilfe - Sigmoria, I call on you to please grant me your aid)</li>
    </ul>
</p>
<h2>Artekkan Guilds - Aetherial Magic / Souls / Life </h2>
<table>
    <thead style="text-align: center;">
    <tr>
        <th>Name (Artekkan)</th><th>Name (English)</th><th>Psi Cost</th><th>Effect 0</th><th>Effect 1</th><th>Effect 2</th><th>Effect 3</th><th>Effect 5</th><th>Effect 7</th><th>Effect 10</th>
    </tr>
    <tr>
        <th></th>
    </tr>
    </thead>
    <tbody style="        text-align: center;
        padding: 5px;
        color: #ffe81F">
    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Xun Hun</td>
        <td style="border-style: solid;border-color:#1F36FF;">Soul Sight</td>
        <td style="border-style: solid;border-color:#1F36FF;">1</td>
        <td style="border-style: solid;border-color:#1F36FF;">You can feel if there are any souls within 1D4M of you</td>
        <td style="border-style: solid;border-color: #1F36FF;">You can feel if there are any souls within 2D10M of you</td>
        <td style="border-style: solid;border-color:#1F36FF;">You can feel and tell what kind of souls are within 1D12M of you</td>
        <td style="border-style: solid;border-color:#1F36FF;">You can feel and tell where and how many souls within 1D12M of you</td>
        <td style="border-style: solid;border-color:#1F36FF;">You can feel and tell what kind of souls are within 2D20 * 10M of you</td>
        <td style="border-style: solid;border-color:#1F36FF;">You can feel and tell where and how many souls within 4D20 * 10M of you</td>
        <td style="border-style: solid;border-color:#1F36FF;">You can pinpoint exactly where, how many, and what kind of souls are within 1D10 * 100KM of you.</td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Sourumaji</td>
        <td style="border-style: solid;border-color:#1F36FF;">Soul Link</td>
        <td style="border-style: solid;border-color:#1F36FF;">2</td>
        <td style="border-style: solid;border-color:#1F36FF;">For 1D6 * 10 seconds you mentally experience what 1 person within 1D20M of you feels, chosen at random.</td>
        <td style="border-style: solid;border-color:#1F36FF;">For 1D6 * 10 seconds you mentally experience what 1 person within 1D20M of you feels, chosen by the caster.</td>
        <td style="border-style: solid;border-color:#1F36FF;">For 2D12 * 10 minutes you visualies what 1D people within 4D20M of you feels, chosen at random.</td>
        <td style="border-style: solid;border-color:#1F36FF;">For 2D12 * 10 minutes you visualies what 1D people within 4D20M of you feels, chosen by the caster.</td>
        <td style="border-style: solid;border-color:#1F36FF;">For 1D6 Days you fully experience what 1 person within 6D10 * 10M of you experiences.</td>
        <td style="border-style: solid;border-color:#1F36FF;">For 2D8 Days you fully experience what 1D6 person within 6D12 * 10M of you experiences.</td>
        <td style="border-style: solid;border-color:#1F36FF;">For 2D4 weeks you can choose to experience the same feelings as another person of your choosing within 1D20 Parsecs of you</td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Palitan ng Diwa</td>
        <td style="border-style: solid;border-color:#1F36FF;">Soul Swap</td>
        <td style="border-style: solid;border-color:#1F36FF;">3</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to briefly (1D6 seconds) experience what another random person within 1D12 Meters of you experinces.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to briefly (1D6 * 10 seconds) experience what another soul within 2d12 * 10 Meters of you experiences.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to move a peice of a random person within 2D20M of you for 1D6 Minutes.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to move two ligaments of a person of your choosing within 4D20M of you for 2D12 Minutes</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to control 1D10 people of your choosing within 1D8M of you for 2D4 Weeks</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to control 1D20 people of your choosing within 1D10M of you for 4D4 Weeks</td>
        <td style="border-style: solid;border-color:#1F36FF;">You can permanently swap your souls control over its physical form with another soul of your choosing, within 1D10 * 100KM of you, as well, you retain its knowledge and memories, in a deteriorated state</td>
    </tr>
    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Shenghuo Manbu</td>
        <td style="border-style: solid;border-color:#1F36FF;">Life Walk</td>
        <td style="border-style: solid;border-color:#1F36FF;">1</td>
        <td style="border-style: solid;border-color:#1F36FF;">You have a gut feeling about something in someone else past.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You have a strong feeling about something in a targets past.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You have a murky vision related to an event in a relevant Contacts past.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You have a clear vision of an event in a relevant Contacts past.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You experience a random snapshot of a target of your choices life.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You experience a snapshot of your choosing from a target of your choices life.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to temporarily distort time, bringing yourself and 1D12 Companions into a pocket dimension where the memory is played out exactly, with all the information that all currently *living* souls know about it.</td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Tao Cuoc Song</td>
        <td style="border-style: solid;border-color:#1F36FF;">Life Create</td>
        <td style="border-style: solid;border-color: #1F36FF;">3</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to bolster some more life into one person you touch, healing them for 1D4 Damage.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to heal one person you touch, for 2D8 Damage.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You heal everyone within 2D10M of you for 1D12 Damage.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to heal everyone of your choosing within 2D12M of you for 2D10 Damage.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You're abel to pull forth 1D8 Lost Souls from the Aehter into your plane, they will attempt to enter any physical form around them to take control of it and escape into the world.</td>
        <td style="border-style: solid; border-color: #1F36FF; ">You're able to pull forth 1D12 Lost Souls from the Aether into your plane and have them follow your command, including taking over bodies, they will exist for 2D12 Days</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to pull forth an Angel from the Aether and grant it a new corporeal form of your choosing, the Angel is indebted to you for 1D8 Weeks.</td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Raifudorein</td>
        <td style="border-style: solid;border-color:#1F36FF;">Life Drain</td>
        <td style="border-style: solid;border-color:#1F36FF;">2</td>
        <td style="border-style: solid;border-color:#1F36FF;">All plants and small living things wlithin 2D20 * 10 Meteres must do a DC 10+ END save or take 1D6 Damage</td>
        <td style="border-style: solid;border-color:#1F36FF;">All plants and small living things within 1D12 meters of you lose their life and die.</td>
        <td style="border-style: solid;border-color:#1F36FF;">All living things within 1D8 Meters of the caster must make an End 6+ check or take 1D4 Damage.</td>
        <td style="border-style: solid;border-color:#1F36FF;">All living things within 1D12 Meters of a target location of the casters choosing must make an End 6+ chekc or take 1D8 Damage.</td>
        <td style="border-style: solid;border-color:#1F36FF;">All living things within 2D10 Meters of the caster must make an End 8+ check or take 2D8 Damage.</td>
        <td style="border-style: solid;border-color:#1F36FF;">All living things within 2D20 Meters of the caster must make an End 10+ check or take 4D12 Damage.</td>
        <td style="border-style: solid;border-color:#1F36FF;">All targets of your chosing within 1D10 * 10M have their souls seperated from their bodies.</td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Yu Gui Tongxing</td>
        <td style="border-style: solid;border-color:#1F36FF;">Aetherial Walk</td>
        <td style="border-style: solid;border-color:#1F36FF;">4</td>
        <td style="border-style: solid;border-color:#1F36FF;">You flash into the Aether for a moment and appear 1D10 Meters away from your oringinal position in a random diretion.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You flash into the Aether for a moment and reappear somewhere within 2D10 Meters of your original postion of your chosing.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to open a portal through the Aether to a random location within 1D10 * 100KM of your location, it is open for 1D6 Minutes.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to open a portal through the Aether to a location of your choosing within 1D10 * 100KM of your location, and the portal remains open for 2D6 Minutes or until the caster closes it.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to open a portal into the Aether, which will remain open for 1D6 * 10 Minutes, and heads to a random planet within the subsector.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to open a portal into the Aether, which will remain open for 2D12 Hours, and the destination is a random planet somewhere in the sector.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to open a portal into the Aehter, which is open as long as you like, the destination portal can be opened anywhere within 2D12 Parsecs away</td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Tenshi to hanasu</td>
        <td style="border-style: solid;border-color:#1F36FF;">Aetherial Talk</td>
        <td style="border-style: solid;border-color:#1F36FF;">4</td>
        <td style="border-style: solid;border-color:#1F36FF;">You think you get a faint signal from an Angel.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You think you get a faint signal from a Lost Soul.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You get a storng singal from a Lost Soul.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You get a strong signal from an Angel.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to communicate with a Lost Soul for 1D20 Minutes</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to communicate with an Angel for 2D20 Minutes</td>
        <td style="border-style: solid;border-color:#1F36FF;">Your soul is able to consult with 1D12 Angels for 2D12 Hours</td>
    </tr>
    <tr>
        <td style="border-style: solid;border-color:#1F36FF;">Cheongug Seuwab</td>
        <td style="border-style: solid;border-color:#1F36FF;">Aetherial Swap</td>
        <td style="border-style: solid;border-color:#1F36FF;">6</td>
        <td style="border-style: solid;border-color:#1F36FF;">You flash into the Aether for 1D6 * 10 Seconds.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You and everyone within 1D10 meteres of you flash into the Aether for 1D12 * 10 seconds</td>
        <td style="border-style: solid;border-color:#1F36FF;">You and everyone within 2D10 Meters of you flash into the Aether for 1D10 * 6 Minutes</td>
        <td style="border-style: solid;border-color:#1F36FF;">You and 1D8 companions of your choice flash into the Aether for 1D6 * 10 Minutes</td>
        <td style="border-style: solid;border-color:#1F36FF;">You and Everyone within 1D10 * 10 Meters of you flash into the Aether for 1D12 Hours.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You and 1D10 Companions of your choice flash into the Aether for 2D12 Hours.</td>
        <td style="border-style: solid;border-color:#1F36FF;">You are able to spend 1D8 Months roaming around the Aether with 2D12 Companions of your choice, reentering the Material plane whenever you wish.</td>
    </tr>
    </tbody>
</table>
<h2>Germushian Cartal VoidForcers - Nether Magic / Death / Disease / Sin</h2>
<table>
    <thead>
    <tr>
        <th>Name (Germushian)</th><th>Name (English)</th><th>Psi Cost</th><th>Effect 0</th><th>Effect 1</th><th>Effect 2</th><th>Effect 3</th><th>Effect 5</th><th>Effect 7</th><th>Effect 10</th>
    </tr>
    <tr>
        <th></th>
    </tr>
    </thead>
    <tbody style="text-align: center; padding: 5px;color:#ffe81F">
    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>
    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>
    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>
    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>
    </tbody>
</table>
<p>
    Translations:
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</p>
<h2>Xiao-Ming Investigators - Abyssal Magic / Destruction / Entropy / The Absence of sanity</h2>
<table>
    <thead>
    <tr>
        <th>Name (Xiao-Ming)</th><th>Name (English)</th><th>Psi Cost</th><th>Effect 0</th><th>Effect 1</th><th>Effect 2</th><th>Effect 3</th><th>Effect 5</th><th>Effect 7</th><th>Effect 10</th>
    </tr>
    <tr>
        <th></th>
    </tr>
    </thead>
    <tbody style="        text-align: center;
        padding: 5px;
        color: #ffe81F">
    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>
    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid; border-color: #1F36FF;"></td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid; border-color: #1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>

    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>
    <tr>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
        <td style="border-style: solid;border-color:#1F36FF;"></td>
    </tr>
    </tbody>
</table>
<p>
    Translations:
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</p>