@page "/CharacterCreationRules/Skills"
@using Microsoft.AspNetCore.Html
@using TravellerWiki.Data
@inject TravellerSkillDisplayService DisplayService;
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>
</head>

<body>
    <h1>Traveller Skills</h1>
    <p>Below is the list of skills within my Traveller game and a brief decription of them. Many are taken from Mongoose Traveller second edition, all credit for those skills and their descriptions goes to Mongoose Publishing.</p>
    <ul>
        @foreach (var skill in DisplayService.GetTravellerSkills())
        {
        <li>
            <p>
                <h4>@skill.SkillNameText: </h4>
                @(new HtmlString(skill.SkillDescriptionText).Value)
            </p>
        </li>
        }
    </ul>
</body>
