@page "/Subsector_Olivehurst"
    <head>
        <title>Olivehurst Subsector </title>
        <meta property="og:title" content="Known Universe Wiki" />
        <meta property="og:url" content="https://theseamnetwork.com" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://thesteamnetwork.com/Images/FederationFlag.png" />
        <meta content="The Wiki for the Known Universe RPG. Check out the Character Creator to jump in, or read some Voices from the Void articles to give you an idea of whats happening in the Sector. Or maybe just take a glance at the Islands Star-Charts to plot your future adventures." property="og:description" />
        <meta content="#ffe81F" data-react-helmet="true" name="theme-color" />
    </head>

<body>
    <h1>Subsector Olivehurst</h1>
    <p>
        the Subsector Olivehurst Subsector is in the <a href="Islands_Sector">Islands Sector sector</a> and contains the following 80 systems:
    </p>
    <h2>Stats</h2>
    Some stats about the Subsector Olivehurst Subsector:
    <ul>
        <li>
            Number of Planets: 27
        </li>
    </ul>
    <img src="Images/Olivehurst_subsector.jpg" alt="Olivehurst Subsector Map" style="width:50%;height:50%">
    <h1>Planets</h1>
    <div class="flex-container">

        <div>
            <div>Name: Minnewaukan</div>
            <br />
            <div>UWP: C8A6686-7</div>
            <br />
            <div>Location: 1:1</div>
            <br />
            <div>Starport Quality: Routine Starport. 1D x Cr100 to Berth. | Unrefined Fuel. | Shipyard(Small Craft) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 12,800KM. | No Listed examples. | 1.0 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Exotic. | Example None. | Pressure Varies. | Survival Gear Required Air Supply..</div>
            <br />
            <div>Hydrographics: 56-65%. | Fucking Huge Oceans.</div>
            <br />
            <div>Population: 382393</div>
            <br />
            <div>Primary Government: Civil Service Bureaucracy. | Ruling functions are performed by government agencies employing individuals selected for their expertise. | Examples: Technocracy, Communism. | Contraband includes drugs and weapons.</div>
            <br />
            <div>Law Level: Weapons Banned: All firearms except shotguns & stunners; carrying weapons discouraged. | Armour Banned: No New Items.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): A pre-stellar society can reach orbit reliably and has telecommunications satellites. Computers become common. At the time of writing, humanity is currently somewhere between TL 7 and TL 8.</div>
            <br />
            <div>Temperature: Hot | Average Temperature 31-80 | Hot world. Small or no ice caps, little liquid water. most water in hte form of clouds.</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Fl)uid Oceans: Worlds where the surface liquid is something other than water, and so are incompatible with Earth-derived life<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.: <div style="color:violet">overwhelming popular support - more powerful than government</div></div><br /><div style="color:#ffe81F">Feudal Technocracy. | Ruling functions are performed by specific individuals for persons who agree to be ruled by them. Relationships are based on the performance of technical activities which are mutually beneficial. | Those with accesss to higher technology tend to have higher social status. | Technology, weapons, computers.: <div style="color:green">Minor group - Some supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Ritualised - social interaction and trade is highly formalised. Politeness and adherence to traditional forms is considered very important.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Ritner</div>
            <br />
            <div>UWP: A94F192-B</div>
            <br />
            <div>Location: 2:1</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 14,400KM. | No Listed examples. | 1.25 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Thin, Tainted. | Example None. | Pressure 0.43 to 0.7. | Survival Gear Required Filter.</div>
            <br />
            <div>Hydrographics: 0-5%. | Desert World</div>
            <br />
            <div>Population: 5</div>
            <br />
            <div>Primary Government: Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.</div>
            <br />
            <div>Law Level: Weapons Banned: Portable energy and laser weapons. | Armour Banned: Combat armour.</div>
            <br />
            <div>Tech Level: (Early Stellar): The first true artificial intelligences become possible, as computers are able to model synaptic networks. Grav-supported structures reach to the heavens. Jump 2 travel becomes possible, allowing easier travel beyond the one jump stellar mains. </div>
            <br />
            <div>Temperature: Cold | Average Temperature -51 - 0| Icy World. Little liquid water, extensive ice caps, few clouds</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Lo)w population: A population of only a few thousand or less.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br />(Wa)ter World: Almost entirely water-ocean across their surface.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:#6bDA26">Military Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.: <div style="color:violet">overwhelming popular support - more powerful than government</div></div><br /><div style="color:#ffe81F">Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.: <div style="color:magenta">Significant - nearly as powerful as government</div></div><br /><div style="color:#ffe81F">Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.: <div style="color:blue">Obscure group - few have heard of them, no popular support</div></div><br />
            <br />
            <div>Quirk</div>
            Ritualised - social interaction and trade is highly formalised. Politeness and adherence to traditional forms is considered very important.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Klossner</div>
            <br />
            <div>UWP: A1C2A38-7</div>
            <br />
            <div>Location: 6:1</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 1,600KM. | Example Triton. | 0.05 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Insidious. | Example None. Pressure Varies. | Survival Gear Required Vacc Suit.</div>
            <br />
            <div>Hydrographics: 16-25%. | A few small seas.</div>
            <br />
            <div>Population: 4461259560</div>
            <br />
            <div>Primary Government: Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.</div>
            <br />
            <div>Law Level: Weapons Banned: All bladed weapons, stunners. | Armour Banned: All visible armour.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): A pre-stellar society can reach orbit reliably and has telecommunications satellites. Computers become common. At the time of writing, humanity is currently somewhere between TL 7 and TL 8.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Fl)uid Oceans: Worlds where the surface liquid is something other than water, and so are incompatible with Earth-derived life<br />(Hi)gh population: A population in the billions<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:#6bDA26">Military Base</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.: <div style="color:azure">Obscure group - few have heard of them, no popular support</div></div><br /><div style="color:#ffe81F">Non-Charismatic Leader. | A previous charismatic dictator has been replaced by a leader through normal channels. | Military dictatorship, hereditary kingship. | Contraband: weapons, technology, computers.: <div style="color:orange">Notable group - significant support, well known</div></div><br />
            <br />
            <div>Quirk</div>
            Unusual Customs: Lifecycle - there might be a mandatory age of termination, or anagathics might be widely used. Family units might be different, with children being raised by the state or banned in favour of cloning.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Tescott</div>
            <br />
            <div>UWP: AA2B67C-E</div>
            <br />
            <div>Location: 1:2</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 16,000KM. | No Listed examples. | 1.4 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Very Thin. | Example None. | Pressure 0.1 to 0.42. | Survival Gear Required Respirator.</div>
            <br />
            <div>Hydrographics: 0-5%. | Desert World</div>
            <br />
            <div>Population: 509858</div>
            <br />
            <div>Primary Government: Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.</div>
            <br />
            <div>Law Level: Weapons Banned: All Weapons. | Armour Banned: All armour.</div>
            <br />
            <div>Tech Level: (Average Stellar): Fusion weapons become man-portable. Flying cities appear. Jump 5 travel.</div>
            <br />
            <div>Temperature: Cold | Average Temperature -51 - 0| Icy World. Little liquid water, extensive ice caps, few clouds</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Ht)High Tech: Among the most technologically advanced in Charted Space<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br />(Wa)ter World: Almost entirely water-ocean across their surface.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:#6bDA26">Military Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Charismatic Oligarchy. | Ruling functions are performed by a select group of members of an organisation or class which enjoys the overwhelming confidence of the citizenry. | Examples: Junta, revolution council. | Contraband: weapons: <div style="color:green">Minor group - Some supporters</div></div><br /><div style="color:#ffe81F">Non-Charismatic Leader. | A previous charismatic dictator has been replaced by a leader through normal channels. | Military dictatorship, hereditary kingship. | Contraband: weapons, technology, computers.: <div style="color:violet">overwhelming popular support - more powerful than government</div></div><br />
            <br />
            <div>Quirk</div>
            Fashion - fine clothing and decoration are considered vitally important in the culture. Underdressed Travellers have no standing here.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Fordoche</div>
            <br />
            <div>UWP: E1F22D0-5</div>
            <br />
            <div>Location: 7:2</div>
            <br />
            <div>Starport Quality: Frontier Starport. 0Cr to Berth. | No Fuel. | No Repair Facilities. No bases.</div>
            <br />
            <div>Size: Size of Roughly 1,600KM. | Example Triton. | 0.05 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Unusual. | Example None. | Pressure Varies. | Survival Gear Required Varies</div>
            <br />
            <div>Hydrographics: 16-25%. | A few small seas.</div>
            <br />
            <div>Population: 31</div>
            <br />
            <div>Primary Government: Religious Dicatorship. | Ruling functions are performed by a religious organisation without regard to the specific individual needs of the citizenry. | Examples: Cult, transcendent philosophy, psionic gorup mind. | Contraband varies</div>
            <br />
            <div>Law Level: Weapons Banned: No restrictions - Heavy armour and a handy weapon are commended...</div>
            <br />
            <div>Tech Level: (Industrial): TL 5 brings widespread electrification, tele-communications and internal combustion. At the high end of the TL, atomics and primitive computing appear. Roughly on a par with the mid-20th century.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Fl)uid Oceans: Worlds where the surface liquid is something other than water, and so are incompatible with Earth-derived life<br />(Lo)w population: A population of only a few thousand or less.<br />(Lt)Low tech: Pre-industrial and cannot produce advanced goods.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.: <div style="color:green">Minor group - Some supporters</div></div><br />
            <br />
            <div>Quirk</div>
            At war - the culture is at war, either with another planet or polity, or is troubled by terrorists or rebels.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Lynbrook</div>
            <br />
            <div>UWP: EA6A874-9</div>
            <br />
            <div>Location: 8:2</div>
            <br />
            <div>Starport Quality: Frontier Starport. 0Cr to Berth. | No Fuel. | No Repair Facilities. No bases.</div>
            <br />
            <div>Size: Size of Roughly 16,000KM. | No Listed examples. | 1.4 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Standard. | Example Earth. | Pressure 0.71-1.49. | Survival Gear Required None.</div>
            <br />
            <div>Hydrographics: 96-100%. | Almost Entirely Water</div>
            <br />
            <div>Population: 19119683</div>
            <br />
            <div>Primary Government: Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.</div>
            <br />
            <div>Law Level: Weapons Banned: Light assault weapons and submachine guns. | Armour Banned: Cloth.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): The defining element of TL 9 is the development of gravity manipulation, which makes space travel vastly safer and faster. This research leads to development of the jump drive, which occurs near the end of this Tech Level. TL 9 cultures can colonise other worlds, although travelling to a colony is often a one-way trip.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Ri)ch: Blessed with a stable government and viable.<br />(Wa)ter World: Almost entirely water-ocean across their surface.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.: <div style="color:yellow">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Non-Charismatic Leader. | A previous charismatic dictator has been replaced by a leader through normal channels. | Military dictatorship, hereditary kingship. | Contraband: weapons, technology, computers.: <div style="color:cyan">Fringe Group - Few supporters</div></div><br /><div style="color:#ffe81F">Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.: <div style="color:springgreen">Fringe Group - Few supporters</div></div><br /><div style="color:#ffe81F">Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.: <div style="color:chartreuse">Minor group - Some supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Deceptive - trickery and equivocation are considered acceptable. Honesty is a sign of weakness.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Brinnon</div>
            <br />
            <div>UWP: A1E5698-E</div>
            <br />
            <div>Location: 1:3</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 1,600KM. | Example Triton. | 0.05 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Low. | Example None. | Pressure 0.5 or less. | Survival Gear Required None.</div>
            <br />
            <div>Hydrographics: 46-55%. | Large Oceans.</div>
            <br />
            <div>Population: 509858</div>
            <br />
            <div>Primary Government: Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.</div>
            <br />
            <div>Law Level: Weapons Banned: All bladed weapons, stunners. | Armour Banned: All visible armour.</div>
            <br />
            <div>Tech Level: (Average Stellar): Fusion weapons become man-portable. Flying cities appear. Jump 5 travel.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Fl)uid Oceans: Worlds where the surface liquid is something other than water, and so are incompatible with Earth-derived life<br />(Ht)High Tech: Among the most technologically advanced in Charted Space<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:#6bDA26">Military Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Feudal Technocracy. | Ruling functions are performed by specific individuals for persons who agree to be ruled by them. Relationships are based on the performance of technical activities which are mutually beneficial. | Those with accesss to higher technology tend to have higher social status. | Technology, weapons, computers.: <div style="color:yellow">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.: <div style="color:magenta">Significant - nearly as powerful as government</div></div><br />
            <br />
            <div>Quirk</div>
            Honourable - one’s word is one’s bond in the culture. Lying is both rare and despised.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Thibodaux</div>
            <br />
            <div>UWP: A8B8397-D</div>
            <br />
            <div>Location: 2:3</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 12,800KM. | No Listed examples. | 1.0 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Corrosive. | Example Venus. Pressure Varies. | Survival Gear Required Vacc Suit.</div>
            <br />
            <div>Hydrographics: 76-85%. | Water World</div>
            <br />
            <div>Population: 637</div>
            <br />
            <div>Primary Government: Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.</div>
            <br />
            <div>Law Level: Weapons Banned: Shotguns. | Armour Banned: No New Items.</div>
            <br />
            <div>Tech Level: (Average Stellar): The battle dress appears on the battlefield in response to the new weapons. Cloning of body parts becomes easy. Advances in hull design and thruster plates means that spacecraft can easily go underwater. Jump 4 travel.</div>
            <br />
            <div>Temperature: Hot | Average Temperature 31-80 | Hot world. Small or no ice caps, little liquid water. most water in hte form of clouds.</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Fl)uid Oceans: Worlds where the surface liquid is something other than water, and so are incompatible with Earth-derived life<br />(Ht)High Tech: Among the most technologically advanced in Charted Space<br />(Lo)w population: A population of only a few thousand or less.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Feudal Technocracy. | Ruling functions are performed by specific individuals for persons who agree to be ruled by them. Relationships are based on the performance of technical activities which are mutually beneficial. | Those with accesss to higher technology tend to have higher social status. | Technology, weapons, computers.: <div style="color:violet">overwhelming popular support - more powerful than government</div></div><br /><div style="color:#ffe81F">Non-Charismatic Leader. | A previous charismatic dictator has been replaced by a leader through normal channels. | Military dictatorship, hereditary kingship. | Contraband: weapons, technology, computers.: <div style="color:cyan">Fringe Group - Few supporters</div></div><br /><div style="color:#ffe81F">Feudal Technocracy. | Ruling functions are performed by specific individuals for persons who agree to be ruled by them. Relationships are based on the performance of technical activities which are mutually beneficial. | Those with accesss to higher technology tend to have higher social status. | Technology, weapons, computers.: <div style="color:springgreen">Fringe Group - Few supporters</div></div><br />
            <br />
            <div>Quirk</div>
            At war - the culture is at war, either with another planet or polity, or is troubled by terrorists or rebels.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Wethersfield</div>
            <br />
            <div>UWP: E586391-6</div>
            <br />
            <div>Location: 4:3</div>
            <br />
            <div>Starport Quality: Frontier Starport. 0Cr to Berth. | No Fuel. | No Repair Facilities. No bases.</div>
            <br />
            <div>Size: Size of Roughly 8,000KM. | Example Mars. | 0.45 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Dense, Tainted.  | Example None. | Pressure 1.5-2.49. | Survival Gear Required Filter.</div>
            <br />
            <div>Hydrographics: 56-65%. | Fucking Huge Oceans.</div>
            <br />
            <div>Population: 127</div>
            <br />
            <div>Primary Government: Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.</div>
            <br />
            <div>Law Level: Weapons Banned: Poison gas, explosives, undetectable weapons, WMD. | Armour Banned: Battle dress.</div>
            <br />
            <div>Tech Level: (Industrial): TL 6 brings the development of fission power and more advanced computing. Advances in materials technology and rocketry bring about the dawn of the space age. </div>
            <br />
            <div>Temperature: Hot | Average Temperature 31-80 | Hot world. Small or no ice caps, little liquid water. most water in hte form of clouds.</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Lo)w population: A population of only a few thousand or less.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:#6bDA26">Military Base</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.: <div style="color:azure">Obscure group - few have heard of them, no popular support</div></div><br />
            <br />
            <div>Quirk</div>
            Obsessed - everyone is obsessed with or addicted to a substance, personality, act or item. This monomania pervades every aspect of the culture.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Gassaway</div>
            <br />
            <div>UWP: A92A9A2-D</div>
            <br />
            <div>Location: 5:3</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 14,400KM. | No Listed examples. | 1.25 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Very Thin. | Example None. | Pressure 0.1 to 0.42. | Survival Gear Required Respirator.</div>
            <br />
            <div>Hydrographics: 96-100%. | Almost Entirely Water</div>
            <br />
            <div>Population: 382393676</div>
            <br />
            <div>Primary Government: Charismatic Dictator. | Ruling functions are performed by agencies directed by a single leader who enjoys the overwhelming confidence of the citizens. | Revolutionary leader, messiah, emperor. | No contraband</div>
            <br />
            <div>Law Level: Weapons Banned: Portable energy and laser weapons. | Armour Banned: Combat armour.</div>
            <br />
            <div>Tech Level: (Average Stellar): The battle dress appears on the battlefield in response to the new weapons. Cloning of body parts becomes easy. Advances in hull design and thruster plates means that spacecraft can easily go underwater. Jump 4 travel.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Hi)gh population: A population in the billions<br />(Ht)High Tech: Among the most technologically advanced in Charted Space<br />(In)dustrial: Dominated by factories and cities.<br />(Wa)ter World: Almost entirely water-ocean across their surface.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:#6bDA26">Military Base</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.: <div style="color:green">Minor group - Some supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Unusual Custom:  Starport - the planet’s starport is more than a commercial centre; it might be a religious temple, or be seen as highly controversial and surrounded by protestors.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Zapata</div>
            <br />
            <div>UWP: B4D04B0-C</div>
            <br />
            <div>Location: 6:3</div>
            <br />
            <div>Starport Quality: Good Starport. 1D x Cr500 to Berth. | Refined Fuel. | Shipyard(Spacecraft) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 6,400KM. | No listed example. | 0.35 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Very Dense. | Example None. | Pressure 2.5+. | Survival Gear Required None</div>
            <br />
            <div>Hydrographics: 0-5%. | Desert World</div>
            <br />
            <div>Population: 5098</div>
            <br />
            <div>Primary Government: Non-Charismatic Leader. | A previous charismatic dictator has been replaced by a leader through normal channels. | Military dictatorship, hereditary kingship. | Contraband: weapons, technology, computers.</div>
            <br />
            <div>Law Level: Weapons Banned: No restrictions - Heavy armour and a handy weapon are commended...</div>
            <br />
            <div>Tech Level: (Average Stellar): Weather control revolutionises terraforming and agriculture. Man-portable plasma weapons and carrier-mounted fusion guns make the battlefield untenable for unarmoured combatants. Jump 3 travel is developed. </div>
            <br />
            <div>Temperature: Cold | Average Temperature -51 - 0| Icy World. Little liquid water, extensive ice caps, few clouds</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(De)sert: Dry and barely habitable<br />(Ht)High Tech: Among the most technologically advanced in Charted Space<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.: <div style="color:orange">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.: <div style="color:orange">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Charismatic Dictator. | Ruling functions are performed by agencies directed by a single leader who enjoys the overwhelming confidence of the citizens. | Revolutionary leader, messiah, emperor. | No contraband: <div style="color:orange">Notable group - significant support, well known</div></div><br />
            <br />
            <div>Quirk</div>
            Peaceful - physical conflict is almost unheard-of. The culture produces few soldiers, and diplomacy reigns supreme. Forceful Travellers will be ostracised.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Ittabena</div>
            <br />
            <div>UWP: A9730E5-6</div>
            <br />
            <div>Location: 8:3</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 14,400KM. | No Listed examples. | 1.25 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Standard, Tainted. | Example None. | Pressure 0.71-1.49. | Survival Gear Required Filter.</div>
            <br />
            <div>Hydrographics: 25-35%. | Small seas and ocean worlds.</div>
            <br />
            <div>Population: </div>
            <br />
            <div>Primary Government: Religious Autocracy. | Government by a single religious leader having absolute power over the citizenry. | Example: Messiah. | Various contraband</div>
            <br />
            <div>Law Level: Weapons Banned: Personal concealable weapons. | Armour Banned: Mesh.</div>
            <br />
            <div>Tech Level: (Industrial): TL 6 brings the development of fission power and more advanced computing. Advances in materials technology and rocketry bring about the dawn of the space age. </div>
            <br />
            <div>Temperature: Cold | Average Temperature -51 - 0| Icy World. Little liquid water, extensive ice caps, few clouds</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Lo)w population: A population of only a few thousand or less.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:#6bDA26">Military Base</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.: <div style="color:yellow">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.: <div style="color:orange">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.: <div style="color:violet">overwhelming popular support - more powerful than government</div></div><br />
            <br />
            <div>Quirk</div>
            Sexist - one gender is considered subservient or inferior to the other.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Clover</div>
            <br />
            <div>UWP: A7381F2-9</div>
            <br />
            <div>Location: 6:4</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 11,200KM. | Example Earth. 0.9 | Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Very Thin, Tainted. | Example None. | Pressure 0.1 to 0.42. | Survival Gear Required Respirator, Filter/</div>
            <br />
            <div>Hydrographics: 76-85%. | Water World</div>
            <br />
            <div>Population: 2</div>
            <br />
            <div>Primary Government: Totalitarian Oligarchy. | Government by an all-powerful minority which maintains absolute control through widespread coercion and oppresion. | Examples: World church, ruthless corporation. | Varies</div>
            <br />
            <div>Law Level: Weapons Banned: Portable energy and laser weapons. | Armour Banned: Combat armour.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): The defining element of TL 9 is the development of gravity manipulation, which makes space travel vastly safer and faster. This research leads to development of the jump drive, which occurs near the end of this Tech Level. TL 9 cultures can colonise other worlds, although travelling to a colony is often a one-way trip.</div>
            <br />
            <div>Temperature: Cold | Average Temperature -51 - 0| Icy World. Little liquid water, extensive ice caps, few clouds</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Lo)w population: A population of only a few thousand or less.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.: <div style="color:red">Significant - nearly as powerful as government</div></div><br /><div style="color:#ffe81F">Feudal Technocracy. | Ruling functions are performed by specific individuals for persons who agree to be ruled by them. Relationships are based on the performance of technical activities which are mutually beneficial. | Those with accesss to higher technology tend to have higher social status. | Technology, weapons, computers.: <div style="color:magenta">Significant - nearly as powerful as government</div></div><br />
            <br />
            <div>Quirk</div>
            Honourable - one’s word is one’s bond in the culture. Lying is both rare and despised.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Flensburg</div>
            <br />
            <div>UWP: A58A0D2-9</div>
            <br />
            <div>Location: 2:5</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 8,000KM. | Example Mars. | 0.45 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Dense, Tainted.  | Example None. | Pressure 1.5-2.49. | Survival Gear Required Filter.</div>
            <br />
            <div>Hydrographics: 96-100%. | Almost Entirely Water</div>
            <br />
            <div>Population: </div>
            <br />
            <div>Primary Government: Religious Dicatorship. | Ruling functions are performed by a religious organisation without regard to the specific individual needs of the citizenry. | Examples: Cult, transcendent philosophy, psionic gorup mind. | Contraband varies</div>
            <br />
            <div>Law Level: Weapons Banned: Portable energy and laser weapons. | Armour Banned: Combat armour.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): The defining element of TL 9 is the development of gravity manipulation, which makes space travel vastly safer and faster. This research leads to development of the jump drive, which occurs near the end of this Tech Level. TL 9 cultures can colonise other worlds, although travelling to a colony is often a one-way trip.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Lo)w population: A population of only a few thousand or less.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br />(Wa)ter World: Almost entirely water-ocean across their surface.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:#6bDA26">Military Base</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.: <div style="color:chartreuse">Minor group - Some supporters</div></div><br /><div style="color:#ffe81F">Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.: <div style="color:azure">Obscure group - few have heard of them, no popular support</div></div><br /><div style="color:#ffe81F">Charismatic Oligarchy. | Ruling functions are performed by a select group of members of an organisation or class which enjoys the overwhelming confidence of the citizenry. | Examples: Junta, revolution council. | Contraband: weapons: <div style="color:springgreen">Fringe Group - Few supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Unusual Customs: Eating - food and drink occupies an unusual place in the culture. Perhaps eating is a private affair, or banquets and formal dinners are seen as the highest form of politeness.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Hermleigh</div>
            <br />
            <div>UWP: A5A974C-9</div>
            <br />
            <div>Location: 5:5</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 8,000KM. | Example Mars. | 0.45 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Exotic. | Example None. | Pressure Varies. | Survival Gear Required Air Supply..</div>
            <br />
            <div>Hydrographics: 86-95%. | Only a few small Islands and archipelagos.</div>
            <br />
            <div>Population: 6373227</div>
            <br />
            <div>Primary Government: Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.</div>
            <br />
            <div>Law Level: Weapons Banned: All Weapons. | Armour Banned: All armour.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): The defining element of TL 9 is the development of gravity manipulation, which makes space travel vastly safer and faster. This research leads to development of the jump drive, which occurs near the end of this Tech Level. TL 9 cultures can colonise other worlds, although travelling to a colony is often a one-way trip.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Fl)uid Oceans: Worlds where the surface liquid is something other than water, and so are incompatible with Earth-derived life<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.: <div style="color:springgreen">Fringe Group - Few supporters</div></div><br /><div style="color:#ffe81F">Charismatic Oligarchy. | Ruling functions are performed by a select group of members of an organisation or class which enjoys the overwhelming confidence of the citizenry. | Examples: Junta, revolution council. | Contraband: weapons: <div style="color:red">Significant - nearly as powerful as government</div></div><br /><div style="color:#ffe81F">Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.: <div style="color:green">Minor group - Some supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Liberal - the culture welcomes change and offworld influence. Travellers who bring new and strange ideas will be welcomed.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Bodfish</div>
            <br />
            <div>UWP: A94B388-9</div>
            <br />
            <div>Location: 6:5</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 14,400KM. | No Listed examples. | 1.25 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Thin, Tainted. | Example None. | Pressure 0.43 to 0.7. | Survival Gear Required Filter.</div>
            <br />
            <div>Hydrographics: 0-5%. | Desert World</div>
            <br />
            <div>Population: 318</div>
            <br />
            <div>Primary Government: Civil Service Bureaucracy. | Ruling functions are performed by government agencies employing individuals selected for their expertise. | Examples: Technocracy, Communism. | Contraband includes drugs and weapons.</div>
            <br />
            <div>Law Level: Weapons Banned: All bladed weapons, stunners. | Armour Banned: All visible armour.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): The defining element of TL 9 is the development of gravity manipulation, which makes space travel vastly safer and faster. This research leads to development of the jump drive, which occurs near the end of this Tech Level. TL 9 cultures can colonise other worlds, although travelling to a colony is often a one-way trip.</div>
            <br />
            <div>Temperature: Cold | Average Temperature -51 - 0| Icy World. Little liquid water, extensive ice caps, few clouds</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Lo)w population: A population of only a few thousand or less.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br />(Wa)ter World: Almost entirely water-ocean across their surface.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Feudal Technocracy. | Ruling functions are performed by specific individuals for persons who agree to be ruled by them. Relationships are based on the performance of technical activities which are mutually beneficial. | Those with accesss to higher technology tend to have higher social status. | Technology, weapons, computers.: <div style="color:yellow">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Feudal Technocracy. | Ruling functions are performed by specific individuals for persons who agree to be ruled by them. Relationships are based on the performance of technical activities which are mutually beneficial. | Those with accesss to higher technology tend to have higher social status. | Technology, weapons, computers.: <div style="color:azure">Obscure group - few have heard of them, no popular support</div></div><br /><div style="color:#ffe81F">Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.: <div style="color:green">Minor group - Some supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Degenerate - the culture is falling apart and is on the brink of war or economic collapse. Violent protests are common, and the social order is decaying.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Lacamp</div>
            <br />
            <div>UWP: A1867B8-A</div>
            <br />
            <div>Location: 8:5</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 1,600KM. | Example Triton. | 0.05 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Dense, Tainted.  | Example None. | Pressure 1.5-2.49. | Survival Gear Required Filter.</div>
            <br />
            <div>Hydrographics: 56-65%. | Fucking Huge Oceans.</div>
            <br />
            <div>Population: 5735905</div>
            <br />
            <div>Primary Government: Non-Charismatic Leader. | A previous charismatic dictator has been replaced by a leader through normal channels. | Military dictatorship, hereditary kingship. | Contraband: weapons, technology, computers.</div>
            <br />
            <div>Law Level: Weapons Banned: All bladed weapons, stunners. | Armour Banned: All visible armour.</div>
            <br />
            <div>Tech Level: (Early Stellar): With the advent of commonly available jump drives, nearby systems are opened up. Orbital habitats and factories become common. Interstellar travel and trade lead to an economic boom. Colonies become much more viable.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Ag)riculture: Dedicated to farming and food production. Often, they are divided into vast semi-feudal estates.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.: <div style="color:yellow">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Feudal Technocracy. | Ruling functions are performed by specific individuals for persons who agree to be ruled by them. Relationships are based on the performance of technical activities which are mutually beneficial. | Those with accesss to higher technology tend to have higher social status. | Technology, weapons, computers.: <div style="color:green">Minor group - Some supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Xenophobic - the culture distrusts outsiders and alien influences. Offworlders will face considerable prejudice.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Eveleth</div>
            <br />
            <div>UWP: A6970A8-B</div>
            <br />
            <div>Location: 2:6</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 9,600KM. | No Listed examples. | 0.7 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Dense. | Example None. | Pressure 1.5-2.49. | Survival Gear Required None.</div>
            <br />
            <div>Hydrographics: 66-75%. | Earth-Like world.</div>
            <br />
            <div>Population: </div>
            <br />
            <div>Primary Government: Charismatic Dictator. | Ruling functions are performed by agencies directed by a single leader who enjoys the overwhelming confidence of the citizens. | Revolutionary leader, messiah, emperor. | No contraband</div>
            <br />
            <div>Law Level: Weapons Banned: All bladed weapons, stunners. | Armour Banned: All visible armour.</div>
            <br />
            <div>Tech Level: (Early Stellar): The first true artificial intelligences become possible, as computers are able to model synaptic networks. Grav-supported structures reach to the heavens. Jump 2 travel becomes possible, allowing easier travel beyond the one jump stellar mains. </div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Lo)w population: A population of only a few thousand or less.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:#6bDA26">Military Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Charismatic Oligarchy. | Ruling functions are performed by a select group of members of an organisation or class which enjoys the overwhelming confidence of the citizenry. | Examples: Junta, revolution council. | Contraband: weapons: <div style="color:blue">Obscure group - few have heard of them, no popular support</div></div><br />
            <br />
            <div>Quirk</div>
            Tourist Attraction - some aspect of the culture or the planet draws visitors from all over charted space.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Alsen</div>
            <br />
            <div>UWP: EB00A2B-B</div>
            <br />
            <div>Location: 4:6</div>
            <br />
            <div>Starport Quality: Frontier Starport. 0Cr to Berth. | No Fuel. | No Repair Facilities. No bases.</div>
            <br />
            <div>Size: Error</div>
            <br />
            <div>Atmosphere: Compostion: None. | Example Moon. | Pressure 0.00. | Survival Gear Required Vacc Suit.</div>
            <br />
            <div>Hydrographics: 0-5%. | Desert World</div>
            <br />
            <div>Population: 3186613971</div>
            <br />
            <div>Primary Government: Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.</div>
            <br />
            <div>Law Level: Weapons Banned: All Weapons. | Armour Banned: All armour.</div>
            <br />
            <div>Tech Level: (Early Stellar): The first true artificial intelligences become possible, as computers are able to model synaptic networks. Grav-supported structures reach to the heavens. Jump 2 travel becomes possible, allowing easier travel beyond the one jump stellar mains. </div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(As)teroids: Usually mining colonies, but can also be orbital factories or colonies.<br />(Hi)gh population: A population in the billions<br />(In)dustrial: Dominated by factories and cities.<br />(Na) Non-Agricultural: Too dry or barren to support their populations using conventional food production.<br />(Va)cuum: No atmosphere.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:#6bDA26">Military Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Civil Service Bureaucracy. | Ruling functions are performed by government agencies employing individuals selected for their expertise. | Examples: Technocracy, Communism. | Contraband includes drugs and weapons.: <div style="color:violet">overwhelming popular support - more powerful than government</div></div><br /><div style="color:#ffe81F">Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.: <div style="color:springgreen">Fringe Group - Few supporters</div></div><br /><div style="color:#ffe81F">Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.: <div style="color:orange">Notable group - significant support, well known</div></div><br />
            <br />
            <div>Quirk</div>
            Unusual Customs: Technology - the culture interacts with technology in an unusual way. Telecommunications might be banned, robots might have civil rights, or cyborgs might be property.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Premont</div>
            <br />
            <div>UWP: C3B8886-8</div>
            <br />
            <div>Location: 3:7</div>
            <br />
            <div>Starport Quality: Routine Starport. 1D x Cr100 to Berth. | Unrefined Fuel. | Shipyard(Small Craft) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 4,800KM. | Examples Mercury, Ganymede. | 0.25 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Corrosive. | Example Venus. Pressure Varies. | Survival Gear Required Vacc Suit.</div>
            <br />
            <div>Hydrographics: 76-85%. | Water World</div>
            <br />
            <div>Population: 44612595</div>
            <br />
            <div>Primary Government: Civil Service Bureaucracy. | Ruling functions are performed by government agencies employing individuals selected for their expertise. | Examples: Technocracy, Communism. | Contraband includes drugs and weapons.</div>
            <br />
            <div>Law Level: Weapons Banned: All firearms except shotguns & stunners; carrying weapons discouraged. | Armour Banned: No New Items.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): At TL 8, it is possible to reach other worlds in the same system, although terraforming or full colonisation are not within the culture’s capacity. Permanent space habitats become possible. Fusion power becomes commercially viable.</div>
            <br />
            <div>Temperature: Boiling | Average Temperature 81+ | Boiling world. No ice caps, little liquid water</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Fl)uid Oceans: Worlds where the surface liquid is something other than water, and so are incompatible with Earth-derived life<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Civil Service Bureaucracy. | Ruling functions are performed by government agencies employing individuals selected for their expertise. | Examples: Technocracy, Communism. | Contraband includes drugs and weapons.: <div style="color:yellow">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Civil Service Bureaucracy. | Ruling functions are performed by government agencies employing individuals selected for their expertise. | Examples: Technocracy, Communism. | Contraband includes drugs and weapons.: <div style="color:azure">Obscure group - few have heard of them, no popular support</div></div><br /><div style="color:#ffe81F">Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.: <div style="color:chartreuse">Minor group - Some supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Unusual Customs: Travel - travellers may be distrusted or feted, or perhaps the culture frowns on those who leave their homes.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Skandia</div>
            <br />
            <div>UWP: A2C32A2-9</div>
            <br />
            <div>Location: 4:7</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 3,200KM. | Examples Luna, Europa. | 0.15 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Insidious. | Example None. Pressure Varies. | Survival Gear Required Vacc Suit.</div>
            <br />
            <div>Hydrographics: 25-35%. | Small seas and ocean worlds.</div>
            <br />
            <div>Population: 25</div>
            <br />
            <div>Primary Government: Charismatic Dictator. | Ruling functions are performed by agencies directed by a single leader who enjoys the overwhelming confidence of the citizens. | Revolutionary leader, messiah, emperor. | No contraband</div>
            <br />
            <div>Law Level: Weapons Banned: Portable energy and laser weapons. | Armour Banned: Combat armour.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): The defining element of TL 9 is the development of gravity manipulation, which makes space travel vastly safer and faster. This research leads to development of the jump drive, which occurs near the end of this Tech Level. TL 9 cultures can colonise other worlds, although travelling to a colony is often a one-way trip.</div>
            <br />
            <div>Temperature: Error</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Fl)uid Oceans: Worlds where the surface liquid is something other than water, and so are incompatible with Earth-derived life<br />(Lo)w population: A population of only a few thousand or less.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>

            <br />
            <div>Quirk</div>
            Peaceful - physical conflict is almost unheard-of. The culture produces few soldiers, and diplomacy reigns supreme. Forceful Travellers will be ostracised.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Moko</div>
            <br />
            <div>UWP: D2842F4-5</div>
            <br />
            <div>Location: 7:7</div>
            <br />
            <div>Starport Quality: Poor Starport. 1D x Cr10 to Berth. | Unrefined Fuel. | Limited Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 3,200KM. | Examples Luna, Europa. | 0.15 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Dense, Tainted.  | Example None. | Pressure 1.5-2.49. | Survival Gear Required Filter.</div>
            <br />
            <div>Hydrographics: 36-45%. | Wet World</div>
            <br />
            <div>Population: 31</div>
            <br />
            <div>Primary Government: Totalitarian Oligarchy. | Government by an all-powerful minority which maintains absolute control through widespread coercion and oppresion. | Examples: World church, ruthless corporation. | Varies</div>
            <br />
            <div>Law Level: Weapons Banned: Light assault weapons and submachine guns. | Armour Banned: Cloth.</div>
            <br />
            <div>Tech Level: (Industrial): TL 5 brings widespread electrification, tele-communications and internal combustion. At the high end of the TL, atomics and primitive computing appear. Roughly on a par with the mid-20th century.</div>
            <br />
            <div>Temperature: Cold | Average Temperature -51 - 0| Icy World. Little liquid water, extensive ice caps, few clouds</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Lo)w population: A population of only a few thousand or less.<br />(Lt)Low tech: Pre-industrial and cannot produce advanced goods.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.: <div style="color:red">Significant - nearly as powerful as government</div></div><br /><div style="color:#ffe81F">Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.: <div style="color:orange">Notable group - significant support, well known</div></div><br />
            <br />
            <div>Quirk</div>
            Unusual Customs: Social Standings - the culture has a distinct caste system. Travellers of a low social standing who do not behave appropriately will face punishment.
            <div>Controlled by</div>
            <a href="ub"> United Baronies</a>
        </div>
        <div>
            <div>Name: Williamsfield</div>
            <br />
            <div>UWP: E69A64F-4</div>
            <br />
            <div>Location: 4:8</div>
            <br />
            <div>Starport Quality: Frontier Starport. 0Cr to Berth. | No Fuel. | No Repair Facilities. No bases.</div>
            <br />
            <div>Size: Size of Roughly 9,600KM. | No Listed examples. | 0.7 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Dense. | Example None. | Pressure 1.5-2.49. | Survival Gear Required None.</div>
            <br />
            <div>Hydrographics: 96-100%. | Almost Entirely Water</div>
            <br />
            <div>Population: 254929</div>
            <br />
            <div>Primary Government: Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.</div>
            <br />
            <div>Law Level: Weapons Banned: All Weapons. | Armour Banned: All armour.</div>
            <br />
            <div>Tech Level: (Industrial): The transition to industrial revolution is complete, bringing plastics, radio and other such inventions. Roughly comparable to the late 19th/early 20th century.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Lt)Low tech: Pre-industrial and cannot produce advanced goods.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br />(Wa)ter World: Almost entirely water-ocean across their surface.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:#6bDA26">Military Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.: <div style="color:orange">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.: <div style="color:red">Significant - nearly as powerful as government</div></div><br /><div style="color:#ffe81F">Non-Charismatic Leader. | A previous charismatic dictator has been replaced by a leader through normal channels. | Military dictatorship, hereditary kingship. | Contraband: weapons, technology, computers.: <div style="color:orange">Notable group - significant support, well known</div></div><br />
            <br />
            <div>Quirk</div>
            Obsessed - everyone is obsessed with or addicted to a substance, personality, act or item. This monomania pervades every aspect of the culture.
            <div>Controlled by</div>
            <a href="wic"> Western Islands Commune</a>
        </div>
        <div>
            <div>Name: Badger</div>
            <br />
            <div>UWP: A2A991E-6</div>
            <br />
            <div>Location: 7:8</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 3,200KM. | Examples Luna, Europa. | 0.15 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Exotic. | Example None. | Pressure Varies. | Survival Gear Required Air Supply..</div>
            <br />
            <div>Hydrographics: 86-95%. | Only a few small Islands and archipelagos.</div>
            <br />
            <div>Population: 573590514</div>
            <br />
            <div>Primary Government: Company/Corporation. | Ruling functions are assumed by a copmany managerial elite, and most citzenry are company employees or dependants. | Examples: Corporate outpost, asteroid mine, feudal domain. | Contraband: Weapons, Drugs, Travellers.</div>
            <br />
            <div>Law Level: Weapons Banned: All Weapons. | Armour Banned: All armour.</div>
            <br />
            <div>Tech Level: (Industrial): TL 6 brings the development of fission power and more advanced computing. Advances in materials technology and rocketry bring about the dawn of the space age. </div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Fl)uid Oceans: Worlds where the surface liquid is something other than water, and so are incompatible with Earth-derived life<br />(Hi)gh population: A population in the billions<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.: <div style="color:green">Minor group - Some supporters</div></div><br /><div style="color:#ffe81F">Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.: <div style="color:chartreuse">Minor group - Some supporters</div></div><br /><div style="color:#ffe81F">Non-Charismatic Leader. | A previous charismatic dictator has been replaced by a leader through normal channels. | Military dictatorship, hereditary kingship. | Contraband: weapons, technology, computers.: <div style="color:springgreen">Fringe Group - Few supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Religious - culture is heavily influenced by a religion or belief systems, possibly one unique to this world.
            <div>Controlled by</div>
            <a href="ub"> United Baronies</a>
        </div>
        <div>
            <div>Name: Kenduskeag</div>
            <br />
            <div>UWP: A2A0691-8</div>
            <br />
            <div>Location: 7:9</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 3,200KM. | Examples Luna, Europa. | 0.15 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Exotic. | Example None. | Pressure Varies. | Survival Gear Required Air Supply..</div>
            <br />
            <div>Hydrographics: 0-5%. | Desert World</div>
            <br />
            <div>Population: 573590</div>
            <br />
            <div>Primary Government: Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.</div>
            <br />
            <div>Law Level: Weapons Banned: Poison gas, explosives, undetectable weapons, WMD. | Armour Banned: Battle dress.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): At TL 8, it is possible to reach other worlds in the same system, although terraforming or full colonisation are not within the culture’s capacity. Permanent space habitats become possible. Fusion power becomes commercially viable.</div>
            <br />
            <div>Temperature: Error</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(De)sert: Dry and barely habitable<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.: <div style="color:magenta">Significant - nearly as powerful as government</div></div><br /><div style="color:#ffe81F">Non-Charismatic Leader. | A previous charismatic dictator has been replaced by a leader through normal channels. | Military dictatorship, hereditary kingship. | Contraband: weapons, technology, computers.: <div style="color:magenta">Significant - nearly as powerful as government</div></div><br /><div style="color:#ffe81F">Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.: <div style="color:violet">overwhelming popular support - more powerful than government</div></div><br />
            <br />
            <div>Quirk</div>
            Remnant - the culture is a surviving remnant of a once-great and vibrant civilisation, clinging to its former glory. The world is filled with crumbling ruins, and every story revolves around the good old days.
            <div>Controlled by</div>
            <a href="ub"> United Baronies</a>
        </div>
        <div>
            <div>Name: Nuremberg</div>
            <br />
            <div>UWP: D46597C-8</div>
            <br />
            <div>Location: 3:10</div>
            <br />
            <div>Starport Quality: Poor Starport. 1D x Cr10 to Berth. | Unrefined Fuel. | Limited Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 6,400KM. | No listed example. | 0.35 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Standard. | Example Earth. | Pressure 0.71-1.49. | Survival Gear Required None.</div>
            <br />
            <div>Hydrographics: 46-55%. | Large Oceans.</div>
            <br />
            <div>Population: 382393676</div>
            <br />
            <div>Primary Government: Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.</div>
            <br />
            <div>Law Level: Weapons Banned: All Weapons. | Armour Banned: All armour.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): At TL 8, it is possible to reach other worlds in the same system, although terraforming or full colonisation are not within the culture’s capacity. Permanent space habitats become possible. Fusion power becomes commercially viable.</div>
            <br />
            <div>Temperature: Cold | Average Temperature -51 - 0| Icy World. Little liquid water, extensive ice caps, few clouds</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Hi)gh population: A population in the billions<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:#6bDA26">Military Base</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Charismatic Dictator. | Ruling functions are performed by agencies directed by a single leader who enjoys the overwhelming confidence of the citizens. | Revolutionary leader, messiah, emperor. | No contraband: <div style="color:orange">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.: <div style="color:violet">overwhelming popular support - more powerful than government</div></div><br /><div style="color:#ffe81F">Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.: <div style="color:yellow">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.: <div style="color:orange">Notable group - significant support, well known</div></div><br />
            <br />
            <div>Quirk</div>
            Artistic - art and culture are highly prized. Aesthetic design is important in all artefacts produced on world.
            <div>Controlled by</div>
            <a href="ub"> United Baronies</a>
        </div>
        <div>
            <div>Name: Hartland</div>
            <br />
            <div>UWP: AA2B2A0-B</div>
            <br />
            <div>Location: 7:10</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 16,000KM. | No Listed examples. | 1.4 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Very Thin. | Example None. | Pressure 0.1 to 0.42. | Survival Gear Required Respirator.</div>
            <br />
            <div>Hydrographics: 0-5%. | Desert World</div>
            <br />
            <div>Population: 12</div>
            <br />
            <div>Primary Government: Charismatic Dictator. | Ruling functions are performed by agencies directed by a single leader who enjoys the overwhelming confidence of the citizens. | Revolutionary leader, messiah, emperor. | No contraband</div>
            <br />
            <div>Law Level: Weapons Banned: No restrictions - Heavy armour and a handy weapon are commended...</div>
            <br />
            <div>Tech Level: (Early Stellar): The first true artificial intelligences become possible, as computers are able to model synaptic networks. Grav-supported structures reach to the heavens. Jump 2 travel becomes possible, allowing easier travel beyond the one jump stellar mains. </div>
            <br />
            <div>Temperature: Cold | Average Temperature -51 - 0| Icy World. Little liquid water, extensive ice caps, few clouds</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Lo)w population: A population of only a few thousand or less.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br />(Wa)ter World: Almost entirely water-ocean across their surface.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:#6bDA26">Military Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>

            <br />
            <div>Quirk</div>
            Barbaric - physical strength and combat prowess are highly valued in the culture. Travellers may be challenged to a fight, or dismissed if they seem incapable of defending themselves. Sports tend towards the bloody and violent.
            <div>Controlled by</div>
            <a href="ub"> United Baronies</a>
        </div>
    </div>
</body>
