@page "/Languages"
<head>
    <title>Language Families</title>
</head>

<body>
<h1>Language Families</h1>
<p>Within the Human Empires of the Known Universe, two major language families have come to dominate the common thought, the Versian Language family and the Federation language family. But there are some other smaller Language families.</p>

<h2>Federation Language Family</h2>
<p>The Federation Language family is the most common throughout the Known Universe. It is at its core a melding of the remaining (mostly western) languages on Earth following the Augment/Third world war. It is mostly based on English though other languages are mixed in. </p>
<ul>
    <li>Universalis Common - A variant of common closer to High Versian with bits of Low Versian as well. It is the primary language used within the Universalis Confederation and those who live within Confederation worlds, and is considered the common language around the Known Universe. Almost every major government teaches it.</li>
    <li>Federation Common - The 'standard' version of Common taught within the United Federation of Earth, it is closer to just regular English then most other variants of common, if only because of author bias.</li>
    <li>Axios Common - A decedent of Axios Poltical Common, it was popular among those who lived within the Axion Alliance during its height and acted as the Lingua Fanca of its time. When the Axion Alliance left to the Axios Galaxy, the language was legislated as the common national tongue and remains so to this day.</li>
    <li>Axios Political - A version of common closer to High Versian then other common variants, though almost nothing from Low Versian. It was created for use by the Original Universalis Confederation after the First Sol War, and is still the primary version of Common used for government work within the Axion Alliance. </li>
    <li>Xiao-Ming - Following the Axios Common becoming common place, Xiao-Ming merged its Corporate Common with Axios Common into what is officially named Corporate Speak, but is often refered to by the employees of the company as Corporate Babble. The language itself is almost impossible to understand to outsiders due to the high degree of vague terms used with unspecified timeline, though the listener will often feel invigorated and synergized with the corporations wishes.</li>
    <li>Traders Cant - The more common language within Xiao-Ming, used by the various trade groups and between the bottom of the barrel shifters who corporate don't believe warrant proper education in Corporate Speak. Traders Cant is often more... guteral and vulger then Corporate Speak, but those that understand both tend to prefer Traders Cant for its ability to actually offer a timeline.</li>
    <li>Utopian - After the first dreams of Utopia broke off from the Federation during the first Imperial war, the language became a more hopeful dialect of Common. Utopia would of course grow and change over time, but Utopian Common is considered the most direct ancestor to the ancient languages of Earth. It has been described as unlearnable because to learn Utopian you must essentially learn eight different langauges at once and how each of them interconnects with one another and theirselves, and which words are varients of loan words from original languages that then took on new complex meanings so that the loan word and the word in the original language may have completely different meanings but sound and are spelled exactly the same way, and can only be differentiated by which other words come before and after it.</li>
</ul>

<h2>Versian Language Family</h2>
<p>Created with the goal of 'destroying the impurities of pre-travel designs' the Versian language was carefully constructed. Taking heavily from Latin, Russian, German, Mandarin, Arabic and several other languages. Versian Languages focus heavily on the concept of the emperor and reinforces throughout tradition and ones position within society.</p>
<ul>
    <li><a href="/Languages/HighVersianLangauge">High Versian</a> - The foundational language as was written after leaving Earth, though it has evolved and is certainly not a dead language, High Versian remains common within Vers and Reverse, and is required to be used within the Military. Most Civis know and speak high Versian, but those on the lower level of the economic scale tend to use Low Versian instead.</li>
    <li>Low Versian - Developed after the founding of the Third Vers Empire, Low Versian is a mixture of Imperial and Versian, leaning more towards Versian then imperial. Many in the Aristocracy, especially Lords see it as disgraceful, bordering on treason.</li>
    <li>Germushian - The langauge of Germushia/Deutschland it focuses more on faith and prayers. People tend to speak to each other with lots of religous references and plasms and references to Sigmar. Throughout the milleniums the language has still maintained its heavy focus on religon and faith, even if the specific god fell. WIth modern Germushia the reference to god have shifted towards being references towards money/capitalism.</li>
    <li>Sigmarian - The language used by the Chuch of Sigmar, it is closer to Versian then the german/russian mix of Germushian, and is considered the 'true language of Sigmar'. The church heavily restricts access to those who can read it.</li>
    <li>Britanian - Britanian developed with the Kingdom of Britania after its split form Vers, it has quickly became state mandated and is much closer </li>
    <li>Tekka - While not really Versian, it is technically a Versian. Developed by the Belters, it is closer to chinese and arabic then Versian and has become common place in the guild, though those from outside the guildes struggle to find someone to teach it to them.</li>
</ul>

<h2>Imperial Language Family</h2>
<p>Following the founding of the empire the Emperor would begun designing his own language and forcing it on the people. In the millenium following, both the First Order and the Empire would use this language. When the Empire joined with Vers, the language was nearly killed. But the resurgance of the trans galatic empire has brought with it the return of the Imperial Languagea</p>
<ul>
    <li>High Imperial - Developed after Sheeve became emperor, and refined during the following milleinum, it is still the common language within the First Order, and is the only language offically with the empire.</li>
    <li>Low Imperial - A cross of Imperial and Versian, leaning more towards Imperial, very common in what is now Britannia.</li>
</ul>

<h2>Elder Language Family</h2>
<p>The Elder Language is the language of the gods and the before people. It tends to focus on divine ideaology but not towards any particular god, but to the godly realms. It is heavily influenced by the Forerunner and Precursor langauges</p>
<ul>
    <li>Elder Tongue - The Elder Language in its purest form, it is rarely spoken and has roots back in forerunner/precursor society and is believed by some fringe historians to actually be the language of the shared relgion between the Forerunners and Precursors.</li>
    <li>Witcher - The Language of the witchers, also known as the Language of the hunt. Partially a mix of common, various random tongues, and Forerunner, the witcher language is cloaked in mysticism and is mostly spoken by witcher scholars.</li>
    <li>Jed-I - The language of the Jed-I and the Sith scriptures, developed based on the common language from star wars, the Jed-I were fully aware of their cultural reference and leaned into it. ~80,000 years later, it has become a major language for two relgions.</li>
</ul>
</body>