@page "/CharacterCreation/Finished/{characterID}"
@using TravellerCharacter.Character_Services
@using TravellerCharacter.CharacterCreator.CharacterCreation
@inject NavigationManager NavManager
@inject MultiPageCharacterCreationService MultiCharacterCreationService
@inject  TravellerCharacterStorageService StorageService
@inject TravellerNationsCharacterInfoService NationsService;
<head>
    <title>Finished Character (17/17)</title>

</head>

@code{

    [Parameter]
    public string characterID { get; set; }

    public CharacterCreatorService GetService()
    {
        return MultiCharacterCreationService.GetCharacterCreatorService(characterID);
    }

    public void DoneFinished()
    {
        NavManager.NavigateTo($"/CharacterCreation/Aging/{characterID}");
    }

    public void BuyGear()
    {
        StorageService.AddCharacter(characterID, GetService().GetPlayerCharacter());
        NavManager.NavigateTo($"/CharacterCreation/BuyGear/{characterID}");
    }

}

<body>

<h1>Traveller Character Creator</h1>
<div class="creatorMarkup">
    <h2>Select @GetService().Name's - Finished?</h2>
    <label for="CharacterProgress">Character Creation Progress: </label>
    <progress id="CharacterProgess" value="17" max="17"></progress>
    <CharacterCreationDrawStats CharacterID="@characterID"/>
    <div style="padding-left: 2em;">
        <p>Would you like to: <button @onclick="DoneFinished">Do another term</button> or <button @onclick="BuyGear">Thats it, save {@GetService().Name} and buy gear.</button></p>
    </div>
</div>
</body>