@page "/"
@namespace TravellerWiki.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/HighVersianStylesheet.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>


    <script src="_framework/blazor.server.js"></script>
</body>
</html>

<!---
<meta property="og:title" content="Known Universe Wiki" />
<meta property="og:url" content="https://theseamnetwork.com" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://thesteamnetwork.com/favicon.ico" />
<meta content="The Wiki for the Known Universe RPG. Check out the Character Creator to jump in, or read some Voices from the Void articles to give you an idea of whats happening in the Sector. Or maybe just take a glance at the Islands Star-Charts to plot your future adventures." property="og:description" />
<meta content="#ffe81F" data-react-helmet="true" name="theme-color" />
>
