@page "/"
@namespace TravellerWiki.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="Known Universe Wiki" />
    <meta property="og:description" content="The wiki for the Known Universe RPG" />
    <meta property="og:url" content="www.thesteamnetwork.com" />
    <meta property="og:image" content="https://thesteamnetwork.com/favicon.ico" />

    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
</head>
<body>
<app>
    <component type="typeof(App)" render-mode="ServerPrerendered"/>
</app>


<script src="_framework/blazor.server.js"></script>
</body>
</html>
