@page "/churchOfSigmar"
<head>
    <title>Church of Sigmar</title>
</head>

<body>
    <h1>The Church of Sigmar</h1>
    <p>
        The church of Sigmar is the state religion within <a href="deutschland">The Deutschland</a>. Because of this it is the third most practiced relgion in the Known Universe. <a href="germushia">Germushia</a> and
        <a href="polandskia">Polandskia</a> both practice Sigmarism.
    </p>
    <table style="width:25.5em;border-spacing:2px;float:left;">
        <tbody>
            <tr><td>1) Church History</td></tr>
            <tr><td>2) About the religon</td></tr>
            <tr><td>3) Inquisition</td></tr>
            <tr><td>4) Sigmarines</td></tr>
        </tbody>
    </table>
    <div id="information" style="clear:left">
        <h2>Church History</h2>
        <p>
            The church of Sigmar dates back to the founding days of Germushia. Sigmar, the humanily embodiment of Sigmoria, the god of the church of Sigmar. Sigmar lead the beaten and battered Germushian people out from under
            the Versian Emperor following the first Sol war. Sigmar lead the people out from versian control and brought them to Pluto. On pluto the Germushian people discovered Tillium, after Sigmar had a vision about where
            to mine it. This discovery of a powerful and efficent fuel lead to a revolution in engine technolgy.
        </p>
        <p>
            Following the invention of first Deutschland tillium engine, Sigmar saw his people, still cowering aboard over crowded cargo ships that had been taped and repaired in a patchwork way, with new engines hacked into
            the increasingly outdated starships left the deutchland needing a new way to expand. Lacking terraforming equipment, the goods needed to build habdones on another planet, and Pluto, while Tillium rich, was simply,
            not worthwhile.
        </p>
        <p>
            Sigmar, loosing hope is said to have dropped to his knees on the bridge of his captial ship. Ordering his crew to gather all the people into their ships, and to spread his apostles to each ship that could. Other,
            smaller ships had the most loyal and dedicated priests take position. Sigmar began to crawl upon his father in the void to help him. To guide him. Falling to his knees in prayer, and while doing so opening the
            first Germushian void portal. Thrusting his fleet of ships into the harsh voidspace. Only the devout prayer of the most loyal priests, and by Sigmorias guidence did the Germushian people, let by Sigmar, discover
            their new home of Berkow.
        </p>
        <p>
            The church would take a vital place within Germushian culture for the next several thousand years. Surviving the Witcher War and the Grand Reconquest. By the time of the fall of the <a href="rhineland">Rhineland</a>
            to the <a href="plascourdrone">Plascourdrone</a> the church had become much less important to the Germushian goverment. But during the <a href="greatJourney">Great Journey</a> the church began to regain
            a fair bit of their control, culminating in the destruction of the Worldship Lawgar. Leaving on the church behind to manage the Government.
        </p>
        <p>
            Following the great war, the church cemented even more control in the Deutschland. Having both the church and Judges put on the Empresses council by force. Once on the council, during the migration, the church began
            their campaign to have technology regress. To have this happen, and to prove to the Empress that it was in fact possible to rule an empire without modern void drives, the priest recreated Sigmars Mirical. Dropping
            to his knees and then, for seven straight days, sang prayers to Sigmar and maintained a void bubble around the ship. Until once again Sigmar, weather out of pity or duty, lead the high priest to the new captial
            of the Deutchland empire. That moment cemented the churchs power of the state.
        </p>
        <p>
            Finally though, the church refused to accept hteir own commandment that technology should be removed. This allowed the church to take supreme control over the Deutschland by having the most technologically advanced ships
            the best soliders, the most money, and control of the states propeganda machine.
        </p>
        <h2>About the religion</h2>
        <p>
            The church of Sigmar is devoted to the praise of Sigmar and his Father Sigmoria. It is written that Sigmoria is the Father of the void and Sigmar the Aether, as Sigmar gave souls to the Deutschland. The relgion today
            focuses on how people should do their duty to Sigmar and the state. That Sigmar has blessed all Deutschland people. As well as those who embrace him. While the church offically states that there are is only Sigmoria
            as a god and that all other "Gods" in the void are really false idols. The relgion focuses on community, working together, hard work and suffering in order to get a good life for the next generation.
        </p>
        <h2>Inquisition</h2>
        <p>
            The Inquisition is a group within the church of the most devote, or those who the most devoted want brough into the Inquisition to server them. Inquisitors are the upmost level of being able to adjudicated about
            holy law. If they find something heretical they are given free reign to do as they please to resolve it. While some inquisitors use this power to abuse their position most are truely devout to sigmar and the holiest
            of teachings from him. For the most inquisitors look to how Sigmar would act when they take action, being generally kind and fair to those around them. As well, while offically outside the militarys control. the
            inquisition was seen as the branch connecting the church to the military powers. Inquisitors could commendeer what ever they need to complete their jobs.
        </p>
        <h2>The Sigmarines</h2>
        <p>
            The sigmarines are the primary military unit of the Church of Sigmar. Taken from their parents at a young age, the Sigmarines are the best warriors within the Deutschland, and as well as the most devoute.
            The sigmarines are structured into various chapters each of which is stations on one of the many Deutschland holy worlds. As well, each inquisition owned planet or church planet will have its own sigmarine chapter.
        </p>
        <p>
            The sigmarines are the modern evolution of the ancient Germushian group <storng>The Order of Sigmoria.</storng> Which was a group of warrior monks dedicated to the service of Sigmoria. The monks themselves focused
            on defending the weak, protecting the innocent, and generally acting as good arbiters of the relgion. The monks mostly fell out of favor during the Great Journey, wherein the church took more control which servered
            as an issue due to the Orders beleif that the church was an old, corrupt, disgusting depiction of Sigmar that is tratorus to the name. Many monks thus chose to stay behind and protect Sigmars chosen people with
            their lives agaisnt the plascourdrone threat. During the jounrey the remaining monks in the order took issue with the inquisition, leading to the creation of the sigmarines. The sigmarines then evolved over time
            as the church took more and more control over them into being servents of the state.
        </p>
        <p>
            From their monk begining though, the Sigmarines have maintained a strong connection to the god himself over the church. This has been a long set rule of the Sigmarines. While most often the Sigmarines look to
            the church to interperet the text. The Sigmarines will sometimes disagree, which has at times lead to battles between sigmarines and the Inquisition. The Sigmarines are considered the single most devout group
            of people within the Deutschland. When the citizens were polled, they truely believed the Sigmarines were most devout then any church offcial. The church has refused to comment on this result and declared its
            dicussion heareasy.
        </p>
        <h3>Military Structure</h3>
        <h4>On their own</h4>
        <p>Sigmarines when deployed on their own follow a 3/7 rule.</p>
        <table>
            <tbody>
                <tr><td id="rank">Title</td><td id="rank">Size(manpower)</td><td id="rank">description</td><td id="rank">Commander Title</td></tr>
                <tr><td id="rank">Sigma</td><td id="rank">1</td><td id="rank">A single trooper.</td><td id="rank">Brother/Second brother</td></tr>
                <tr><td id="rank">Sigme</td><td id="rank">3</td><td id="rank">A fireteam, composed of 3 Sigma, just named brother-(name)</td><td id="rank">First brother</td></tr>
                <tr><td id="rank">Septoris</td><td id="rank">21</td><td id="rank">A patrol/third of a squad. Composed of 7 firetimes, named (im, am, em)</td><td id="rank">Teacher Brother</td></tr>
                <tr><td id="rank">Tritoris</td><td id="rank">63</td><td id="rank">A squad. Composed of 3 septoris titled (Sepim, Sepam, Sepem)</td><td id="rank">(master)Sargeant Brother(of Arms)</td></tr>
                <tr><td id="rank">Septorus</td><td id="rank">441</td><td id="rank"> A platoon. Composed of 7 Squards named after the great prophits (Sigmus, Asmus, Lawgar, Olyar, Haven-syth, Tilorius, Brius)</td><td id="rank">Brother/Father Lieutenant</td></tr>
                <tr><td id="rank">Tritorus</td><td id="rank">1,323</td><td id="rank">A company. Composed of 3 SEptorus titled (Seporim, Seporam, Seporem)</td><td id="rank">Brother/Father Captain</td></tr>
                <tr><td id="rank">Septum</td><td id="rank">9,261</td><td id="rank">A batallion. Composed of 7 Tritorus, Designated (Tritar, Triter, Tritur, Tritir, Tritor, Tritaer, Trituur</td><td id="rank">Father Commander</td></tr>
                <tr><td id="rank">Tritum</td><td id="rank">27,783</td><td id="rank">A Chapter of the Sigmarines. Composed of 3 Septum's (designated Septim, Septam, Septem)</td><td id="rank">Father master</td></tr>
            </tbody>
        </table>
        <p>
            This is the standard army layout per chapter of the Sigmarines. The total number of personal per chapter is limited to 50,000 as that was the most the Sigmarines could house aboard any non-church owned worldship
            , during the great journey. This limit has since become tradition. That number does not include the massive staff employed by the church to maintain the monestaries that the warrior monks use. That also doesn't
            include the staff the church pays to run the various warships. While the actual vehicles of the Sigmarines (both ground and air vehicles) are limited to only sigmarines. Thus the remaining 22,217 Sigmarines in
            each chapter are devoted to handleing the various air support, shuttles, tanks, ground transports, etc. As well as maitence positions and other high ranks with in the church.
        </p>
        <h4>With others</h4>
        <p>In order to better cooperate with standard military units, when interacting with others, the sigmarines follow a 5/2 patter.</p>
        <table>
            <tbody>
                <tr id="rank"><td id="rank">Title</td><td id="rank">Size(manpower)</td><td id="rank">description</td><td id="rank">Rank of person</td></tr>
                <tr id="rank"><td id="rank">Sigserver</td><td id="rank">1</td><td id="rank">A single sigmarine</td><td id="rank"> Brother/new Brother/Second brother</td></tr>
                <tr id="rank"><td id="rank">fearteam</td><td id="rank">5</td><td id="rank">A sigmarine fireteam (5 Sigserver)</td><td id="rank">First/Second Brother</td></tr>
                <tr id="rank"><td id="rank">sigud</td><td id="rank">10</td><td id="rank">A sigmarine Squad. 2 fearteams (adressed as sig(number)-(ft(number))</td><td id="rank">Teacher/Sargeant brother</td></tr>
                <tr id="rank"><td id="rank">platun</td><td id="rank">50</td><td id="rank">A sigmarine platoon. 5 sigud (adress as pla(number))</td><td id="rank">Brother/Father Lieutenant</td></tr>
                <tr id="rank"><td id="rank">compen</td><td id="rank">100</td><td id="rank">A sigmarine company. 2 platun (adress as com(number))</td><td id="rank">Brother Captain</td></tr>
                <tr id="rank"><td id="rank">diven</td><td id="rank">500</td><td id="rank">A sigmarine divsion. 5 compens (adress as div(number))</td><td id="rank">Father Captain</td></tr>
                <tr id="rank">
                    <td id="rank">chapter</td>
                    <td id="rank">1000</td>
                    <td id="rank">
                        A sigmarine chapter. Equal to an army group, composed of 2 diven.
                        (Addressed as its chapters name, if multiple of the same chapter, then add number in order of arrival)
                    </td>
                    <td id="rank">Father Commander</td>
                </tr>
                <tr><td></td><td></td><td></td></tr>
            </tbody>
        </table>
        <p>
            This has caused a large number of people within the deutchland army to develop some confution and myths about the sigmarines, most of which the sigmarines are happy to keep going. Most of these myths are about
            how amazing the sigmarines are, and that sigmarines carry the protection of sigmar himself so they can not die. As well, there are myths that sigmarines can travel at speeds thought impossible because sigmar
            blesses them. These are both false and simply symptoms of the fact that actual sigmarine chapters are simply larger then most people think.
        </p>
        <h2>Audio</h2>
    </div>
</body>