@page "/DS"
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>
</head>

<body>
    <h1>The Dominate Supremius</h1>
    <p> The Dominate Supremius is the largest overall nation-state within the Western Islands. It is supported by the <a href="transGalaticEmpire">Trans Galactic Empire</a> and has many allies within the Islands.</p>
<div><p>It is led by the Dominate Supreme Dino Becker and the capital planet is Kirksey.</p>
        <table style="width:25.5em;border-spacing:2px;float:left;">
            <tbody>
                <tr><td>1) Short Description</td></tr>
                <tr><td>2) History</td></tr>
                <tr><td>3) Government</td></tr>
            </tbody>
        </table>

        <table style="width:27.5em;border-spacing:2px;float:right;">
            <tbody>
                <tr><td colspan="2" id="seperator"></td></tr>
                <tr><td>Name</td><td>Relationship</td></tr>
            <td style="color:wheat;">Major factions</td>
            <tr><td><a href="ufe" style="color:white">United Federation Of Earth</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="germushia" style="color:white">Germushia</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="polanskia" style="color:white">Polandskia</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="deutschland" style="color:white">Deutschland</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="xiaoming" style="color:white">Xiao-Ming</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="firstorder" style="color:white">First Order</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="britannia" style="color:white">Britannia</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ivft" style="color:white">Imperial Versian Federated Territories</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="transGalaticEmpire" style="color:white">Trans Galatic Empire</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="vers" style="color:white">Vers</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="url" style="color:white">United Reverse Lords</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="axios" style="color:white">Axios Allience</a></td><td style="color:#fc1f1a;">Enemy</td></tr>

            <tr><td style="color:wheat">Sector Sized Factions</td></tr>
            <tr><td><a href="wia" style="color:white">Western Islands Alliance (UFE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ub" style="color:white">United Baronies (POL)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="witc" style="color:white">Western Islands Trade Consortium (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ds" style="color:white">Dominate Supremius (TGE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="wic" style="color:white">Western Islands Commune (DEU)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ro" style="color:white">Rex van der Ostrovki(VE)</a></td><td style="color:yellow;">Neutral</td></tr>


            <tr><td style="color:wheat">Subsector Sized Factions</td></tr>
            <tr><td><a href="idf" style="color:white">Independed Defense Federation (UFE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="sca" style="color:white">Starcan Alliance (UFE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="kt" style="color:white">Kotlik Tribunal (UFE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="tt" style="color:white">Tilova Pact (AA)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ss" style="color:white">Spiritwood Senate (AA)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ncbb" style="color:white">New Colchis Buisness Board (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="mmr" style="color:white">Mainhair Military Republic (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="istc" style="color:white">Intercourse Subsector Trade Consortium (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="cstc" style="color:white">Cirtra Sector Trade Consortium (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="oild" style="color:white">Old Islands Defense League (TGE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="vds" style="color:white">Venhut Dominate State (TGE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="nta" style="color:white">Neubayern Topas Alliance (DEU)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="op" style="color:white">Olitar Protectorate (DEU)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="jktp" style="color:white">Jeffers-Kosse Trade Pact (XM)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="hsptp" style="color:white">Harwichport-Simla-Parcol Trade Pact (XM)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="iwtp" style="color:white">Ionia-Waskish Trade Pact (XM)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="epg" style="color:white">Esperanza Planetary Government (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="cma" style="color:white">Coila Military Alliance (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="gse" style="color:white">Gunipped Stellar Empire (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="stc" style="color:white">Sar-Tan Confederacy (URL)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="rrr" style="color:white">Red Rock Republic (URL)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="ek" style="color:white">Essia Kritarchy (URL)</a></td><td style="color:yellow;">Neutral</td></tr>

            <tr><td colspan="2" id="seperator"></td></tr>
            <tr><td>Traits</td></tr>
            <tr><td style="color:orange">Imperial</td></tr>
            <tr><td style="color:orange">Islands State</td></tr>
            <tr><td style="color:orange">Powerful</td></tr>
            <tr><td style="color:orange">Technologically behind</td></tr>
            </tbody>
        </table>
    </div>
    <br />
    <div id="information" style="clear:left">
        <h2>Short Description</h2>
        <p>The Dominate is supported by the Empire, it is allied with the commune and is angainst the Western Islands Alliance.</p>
        <h2>History</h2>
        <p>it is old.</p>
        <h2>Government</h2>
        <p>Based on the Imperial style of Government.</p>

        <h2>Army</h2>
        <p>The Dominate currently has 14 standing armies: </p>
        <ol>
            <li>st Army, composed of 33 Elite Stormtrooper Units, commanded by Hadrius Metunus, currently headquartered in Ventura</li>
            <li>nd Army, composed of 36 Great Stormtrooper Units, commanded by Philto Ripanus, currently headquartered in Greenhurst</li>
            <li>rd Army, composed of 43 Good Stormtrooper Units, commanded by Quintus Iustinus, currently headquartered in Pacifica</li>
            <li>rth Army, composed of 97 New Stormtrooper Units, commanded by Valeria Rullus, currently headquartered in Norwell</li>
            <li>th Army, composed of 36 Great Stormtrooper Units, commanded by Caecina Geminius, currently headquartered in Goldbar</li>
            <li>th Army, composed of 40 Good Stormtrooper Units, commanded by Simo Bassus, currently headquartered in Donegal</li>
            <li>th Army, composed of 66 Newer Stormtrooper Units, commanded by Cocis Avitas, currently headquartered in Berrysberg</li>
            <li>th Army, composed of 60 Newer Stormtrooper Units, commanded by Bacchis Cenaeus, currently headquartered in Plumtree</li>
            <li>th Army, composed of 84 New Stormtrooper Units, commanded by Chrysalus Procus, currently headquartered in Kirksey</li>
            <li>th Army, composed of 1 Imperial Special Forces Unit, commanded by Sextia Lucius, currently headquartered in Templeville</li>
            <li>th Army, composed of 53 Average Stormtrooper Units, commanded by Armenia Rogelius, currently headquartered in Hazelcrest</li>
            <li>th Army, composed of 2 Imperial Stormtrooper Units, commanded by Maximia Publius, currently headquartered in Tokeland</li>
            <li>th Army, composed of 11 Elite Stormtrooper Units, commanded by Varia Sabinius, currently headquartered in Saldee</li>
            <li>th Army, composed of 4 First Order Stormtrooper Units, commanded by Salvia Magunnas, currently headquartered in Modena</li>
        </ol>
        <p>The Dominate arms their troops with the: {WEAPON} and uses: {ARMOUR}</p>
        <h2>Navy</h2>
        <p>The Dominate currently has 6 standing Fleets (total vessels: 271): </p>
        <ol>
            <li>st (AkA Viper Corps), composed of 91 vessels, Led by Fleet Moff Hugo Marple, Stationed out of Kirksey</li>
            <li>nd (AkA Mayhem), composed of  vessels 63, Led by Fleet Moff Rufus Bexley, Stationed out of Donegal</li>
            <li>rd (AkA Revelation), composed of  vessels 47, Led by Fleet Moff Georgina Whittaker, Stationed out of Goldbar</li>
            <li>th (AkA Ruthless), composed of  vessels 24, Led by Fleet Moff Annette Bennet, Stationed out of Rushford</li>
            <li>th (AkA Hell Corps), composed of  vessels 14, Led by Fleet Moff Tobias Mortcombe, Stationed out of Kayenta</li>
            <li>th (AkA The Strong Six), composed of  vessels 32, Led by Fleet Moff Stella Sherington, Stationed out of Ventura</li>
        </ol>

        <h2>Companies managed from within the Dominate</h2>
        <ul>
            <li>
                Fuel Companies:
                <table style="border-style: solid;">
                    <thead>
                        <tr><th>Name</th><th>Fuel Type</th><th>Size within nation</th><th>Mining Worlds</th><th>Refining Worlds</th><th>Average Share Price</th><th>Notes</th></tr>
                    </thead>
                    <tbody style="color:#ffe81F">
                        <tr id="tableInfo"><td>Imperial Aldminium Company.North Western Islands</td><td>Aldminium</td><td>Small</td><td>Renwick</td><td>Renwcik</td><td>Cr346</td><td>Offically owned by the Trans Galatic Empire.</td></tr>
                        <tr id="tableInfo"><td>Imperial Kyber Company.North Western Islands</td><td>Kyber</td><td>Small</td><td>Norwell</td><td>Renwick</td><td>Cr285</td><td>Offically owned by the Trans Galatic Empire.</td></tr>
                        <tr id="tableInfo"><td>Imperial Tillium Company.North Western Islands</td><td>Tillium</td><td>Large</td><td>Acadie</td><td>Acadie</td><td>Cr1893</td><td>Offically owned by the Trans Galatic Empire. Lost control of Acadie recently but holds Sole resale rights</td></tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <h2>Planets Controlled</h2>
        <p>Naval base: a location that a fleet can operate out of.</p>
        <p>Army base: A location that an army can operate out of.</p>
        <p>Naval Shipyard: A location that can produce military grade vessels.</p>
        <p>Research: A reseach lab of some kind is located here.</p>
        <p>Food: This planet producers food.</p>
        <p>Industrial: This planet is dedicated to building stuff!</p>
        <p>Supply planet - just produces things to be consumed.</p>
        <p>High Population - Lots of people, generally important for commerce.</p>
        <p>Fuel Depo - a planet where fuel is stored/sold for cheaper then regular (indicated by a O on the map)</p>
        <ul>
            <li>
                <a href="Subsector_Kendrick">Kendrick Subsector</a>
                <ul>
                    <li>Ventura - Naval Base</li>
                    <li>Ronks - Supply planet</li>
                    <li>Michigamme - High Population</li>
                    <li>Rosman - Empty, Uninhabited</li>
                    <li>Hunnewell - Fuel Depo</li>
                    <li>Bunkie - Fuel Depo</li>
                    <li>Dorena - Fuel Depo</li>
                    <li>Erwinville - Fuel Depo</li>
                    <li>Norwell - Army Base</li>
                    <li>Kula - Supply planet</li>
                    <li>Cowan - Fuel Depo</li>
                </ul>
            </li>
            <li>
                <a href="Subsector_Oren_Wastes_1">Oren Wastes 1 </a>
                <ul>
                    <li>Barninsvil - Army base</li>
                    <li>Norwell - High Population</li>
                    <li>Longleaf - Research</li>
                    <li>Reedsville - Food</li>
                    <li>Oran - High Population</li>
                    <li>Ridgefield - Research</li>
                    <li>Lovilia - Research</li>
                    <li>Sperryville - High Population</li>
                    <li>Henefer - Empty</li>
                    <li>Fallbrook - Food</li>
                    <li>Kayenta - Naval Base</li>
                    <li>Ramer - Fuel Depo</li>
                    <li>Saldee - Naval Base</li>
                    <li>Templeville - Naval Base</li>
                    <li>Modena - Naval Base</li>
                    <li>BarcoPicacho - Empty</li>
                    <li>GwynneThorn - Supply</li>
                    <li>Tenino - Fuel Depo</li>
                    <li>Bruni - Fuel Depo</li>
                    <li>Renwick - High Population, Industrial</li>
                    <li>Wetumka - Naval Base</li>
                    <li>Weskan - Food</li>
                    <li>Hazelcrest - Army Base</li>
                    <li>Laconia - High Population, Naval base</li>
                    <li>Cresson - Food</li>
                    <li>Rushford - Naval Base</li>
                    <li>Bouse - Research</li>
                    <li>Bandera - Research</li>
                    <li>Plumtree - Army Base</li>
                    <li>Kirksey - Naval Shipyard, Capital</li>
                    <li>Bulger - Empty</li>
                    <li>Verden - High Population</li>
                    <li>McLouth - Naval Base</li>
                    <li>Turbeville - Fuel Depo</li>
                    <li>Rangeley - Naval Base</li>
                    <li>Conconully - Food</li>
                    <li>Donegal - Naval Shipyard</li>
                    <li>Harwichport - High Population</li>
                </ul>
            </li>
            <li>
                <a href="Subsector_Doland">Doland Subsector</a>
                <ul>
                    <li>Pacifica - Army Base</li>
                    <li>Goldbar - Naval Shipyard</li>
                    <li>Greenhurst - Naval Base</li>
                    <li>Swampscott - Fuel Depo</li>
                    <li>Nogales - Supply</li>
                    <li>Tokeland - Naval Base</li>
                    <li>Whitesboro - Fuel Depo</li>
                    <li>Rosslyn - Fuel Depo</li>
                </ul>
            </li>
        </ul>
    </div>
</body>
