@page "/error"
<head>
    <title>Error</title>
</head>


<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>It seems the Jewels Tomb-keepers were unable to recover what you were looking for.</h3>
<p>
    Sorry about that, but the Tomb-Keepers have scoured the Jewel and their archives looking for what you want but sofar have been unable to find it.
</p>