@page "/IDF"
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>
</head>

<body>
    <h1>Independent Defense Federation (IDF)</h1>
    <p>the IDF is the most powerful of the minor powers within the new/old islands subsectors, and went on the offensive early on in history. It has a very weak hold on the galaxy.</p>
    <div>
        <table style="width:25.5em;border-spacing:2px;float:left;">
            <tbody>
                <tr><td>1) Short Description</td></tr>
                <tr><td>2) History</td></tr>
                <tr><td>3) Government</td></tr>
            </tbody>
        </table>

        <table style="width:27.5em;border-spacing:2px;float:right;">
            <tbody>
                <tr><td colspan="2" id="seperator"></td></tr>
                <tr><td>Name</td><td>Relationship</td></tr>
            <td style="color:wheat;">Major factions</td>
            <tr><td><a href="ufe" style="color:white">United Federation Of Earth</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="germushia" style="color:white">Germushia</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="polanskia" style="color:white">Polandskia</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="deutschland" style="color:white">Deutschland</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="xiaoming" style="color:white">Xiao-Ming</a></td><td style="color:#fc1f1a;">Ally</td></tr>
            <tr><td><a href="firstorder" style="color:white">First Order</a></td><td style="color:#fc1f1a;">Ally</td></tr>
            <tr><td><a href="britannia" style="color:white">Britannia</a></td><td style="color:#fc1f1a;">Ally</td></tr>
            <tr><td><a href="ivft" style="color:white">Imperial Versian Federated Territories</a></td><td style="color:#fc1f1a;">Ally</td></tr>
            <tr><td><a href="transGalaticEmpire" style="color:white">Trans Galatic Empire</a></td><td style="color:#fc1f1a;">Ally</td></tr>
            <tr><td><a href="vers" style="color:white">Vers</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="url" style="color:white">United Reverse Lords</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="axios" style="color:white">Axios Allience</a></td><td style="color:lawngreen;">Enemy</td></tr>

            <tr><td style="color:wheat">Sector Sized Factions</td></tr>
            <tr><td><a href="wia" style="color:white">Western Islands Alliance (UFE)</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="ub" style="color:white">United Baronies (POL)</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="witc" style="color:white">Western Islands Trade Consortium (GER)</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="ds" style="color:white">Dominate Supremius (TGE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="wic" style="color:white">Western Islands Commune (DEU)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ro" style="color:white">Rex van der Ostrovki(VE)</a></td><td style="color:yellow;">Enemy</td></tr>


            <tr><td style="color:wheat">Subsector Sized Factions</td></tr>
            <tr><td><a href="idf" style="color:white">Independent Defense Federation (UFE)</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="sca" style="color:white">Starcan Alliance (UFE)</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="kt" style="color:white">Kotlik Tribunal (UFE)</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="tt" style="color:white">Tilova Pact (AA)</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="ss" style="color:white">Spiritwood Senate (AA)</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="ncbb" style="color:white">New Colchis Buisness Board (GER)</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="mmr" style="color:white">Mainhair Military Republic (GER)</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="istc" style="color:white">Intercourse Subsector Trade Consortium (GER)</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="cstc" style="color:white">Cirtra Sector Trade Consortium (GER)</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="oild" style="color:white">Old Islands Defense League (TGE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="vds" style="color:white">Venhut Dominate State (TGE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="nta" style="color:white">Neubayern Topas Alliance (DEU)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="op" style="color:white">Olitar Protectorate (DEU)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="jktp" style="color:white">Jeffers-Kosse Trade Pact (XM)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="hsptp" style="color:white">Harwichport-Simla-Parcol Trade Pact (XM)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="iwtp" style="color:white">Ionia-Waskish Trade Pact (XM)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="epg" style="color:white">Esperanza Planetary Government (VE)</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="cma" style="color:white">Coila Military Alliance (VE)</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="gse" style="color:white">Gunipped Stellar Empire (VE)</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="stc" style="color:white">Sar-Tan Confederacy (URl)</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="rrr" style="color:white">Red Rock Republic (URl)</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="ek" style="color:white">Essia Kritarchy (URl)</a></td><td style="color:yellow;">Enemy</td></tr>

            <tr><td colspan="2" id="seperator"></td></tr>
            <tr><td>Traits</td></tr>
            <tr><td style="color:orange">Federation</td></tr>
            <tr><td style="color:orange">Liberal</td></tr>
            <tr><td style="color:orange">Defensive</td></tr>
            <tr><td style="color:orange">Island State.</td></tr>
            <tr><td style="color:orange">Technologically behind</td></tr>
            </tbody>
        </table>
    </div>
    <br />
    <div id="information" style="clear:left">
        <h2>Short Description</h2>
        <p>The Independent Defensive Federation was formed following the founding of the Old Islands Defense League and the New Colchis Buisness Board in the Serendip belt. The United Federation of Earth would serve as the patron to this nation</p>
        <p>The IDF is a part of the <a href="wia">Western Island Alliance</a>.</p>
        <h2>History</h2>
        <p>During the great war, the planet of Serendip was destroyed after a malfunctioning warship voided into the planet. In return for destroying the world, and in accordance with the Suki Agreement, the UFE distributed jump drives to the Serendip Belt, who quickly used their new found power to conquor Glorie, and attempted to attack the NCBB for Elysee.</p>
        <p>Following the failed war, Sansteere joined the IDF in order to protect them from the NTA and OILD that had been forming around the subsectors. Joyuse was quick to join as well seeing the other allies as less then trustworthy.</p>
        <h2>Government</h2>
        <p>The Government of the IDF is a loose Confederacy of nation-states, each of whom are focused on maintaining their independence from one another.</p>
        <h2>Army</h2>
        <p>The IDF currently has 3 standing armies, each controlled by their host state, and one combined army: </p>
        <ol>
            <li>st Army, composed of 3 Elite Infantry Units, commanded by Joel Green, currently headquartered in the Serendip Belt</li>
            <li>nd Army, composed of 10 Infantry Units, commanded by Archie Murray, currently headquartered in Joyuse</li>
            <li>rd Army, composed of 3 Elite Infantry Units, commanded by Sam Fletcher, currently headquartered in Sansterre</li>
            <li>th Army (Expidtionary Force), composed of 20 Elite Infantry Units, commanded by Julia Ross, currently headquartered in St. Genevieve</li>
        </ol><h2>Navy</h2>
        <p>the IDf also has three dedicated fleets</p>
        <ol>
            <li>st, composed of 9 vessels, Led by Fleet Captain Katoe kelly, Stationed out of Sansterre</li>
            <li>nd, compoesd of 9 vessels, Led by Fleet Captain Zuri Tran, Stationed out of Joyuse</li>
            <li>rd, composed of 12 vessels, Led by Fleet Captain Bret Olsen, Stationed out of the Serendip Belt</li>
        </ol>
        <h2>Companies managed from within the Dominate</h2>
        <ul>
            <li>
                Fuel Companies:
                <table style="border-style: solid;">
                    <thead>
                    <tr><th>Name</th><th>Fuel Type</th><th>Size within nation</th><th>Mining Worlds</th><th>Refining Worlds</th><th>Average Share Price</th><th>Notes</th></tr>
                    </thead>
                    <tbody style="color:#ffe81F">
                    </tbody>
                </table>
            </li>
        </ul>
        <h2>Planets Controlled</h2>
        <p>Naval base: a location that a fleet can operate out of.</p>
        <p>Army base: A location that an army can operate out of.</p>
        <p>Naval Shipyard: A location that can produce military grade vessels.</p>
        <p>Research: A reseach lab of some kind is located here.</p>
        <p>Food: This planet producers food.</p>
        <p>Industrial: This planet is dedicated to building stuff!</p>
        <p>Supply planet - just produces things to be consumed.</p>
        <p>High Population - Lots of people, generally important for commerce.</p>
        <p>Fuel Depo - a planet where fuel is stored/sold for cheaper then regular (indicated by a O on the map)</p>
        <ul>
            <li><a href="Subsector_New_Islands">New Islands Subsector</a></li>
            <ul>
                <li>Serendip Belt - Naval Shipyard, Capital</li>
                <li>Gloire - Food</li>
                <li>Joyuse - Naval Shipyard</li>
                <li>Orphee - Food</li>
            </ul>
            <li><a href="Subsector_Old_Islands">Old Islands Subsector</a></li>
            <ul>
                <li>Sansteere - Naval Shipyard</li>
                <li>St. Genevieve - Army Base</li>
            </ul>
        </ul>
    </div>
</body>
