@page "/"
@page "/Index"
@using TravellerWiki
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>
</head>
<body>
    <h1>Traveller Universe Wiki</h1>
    <p>
        Welcome to my Traveller Univers WIki page for my groups traveller games. This has information on the different goverments, things, history, etc. I hope you enjoy. I Recommend starting at the <a href="ufe">United Federation of Earth</a>. If you're just looking to get up to speed on whats happening with the Western Islands (the main area for the traveller game) check out the <a href="VoicesFromTheVoid">Voices from the Void.</a> An in universe news letter designed to let the people of the Western Islands (and the players) know just what all the big players have been up too within the area.
    </p>
    <details>
        <summary class="IndexSummery">Islands Information</summary>
        <ul>
            <li><a href="/Other/IslandsCompanies">Islands Companies</a></li>
            <li><a href="/JobBoard/">Islands Job Board</a></li>
            <li> <a href="/VoicesFromTheVoid/VoicesFromTheVoid">Voices from the Void.</a></li>
            <li> <a href="Islands_Sector">Islands Sector</a></li>
        </ul>
    </details>
    <br />

    <details>
        <summary class="IndexSummery">Player Stuff</summary>
        <ul>
            <li><a href="/CharacterCreation/New">Character Creator (WIP)</a></li>
            <li><a href="/Characters/">View existing characters</a></li>
            <li><a href="/CharacterCreationRules">Character Creation Rules</a></li>
            <li><a href="/Career/">Careers</a></li>
            <li><a href="/CharacterCreationRules/Skills">Character Skills</a></li>
            <li><a href="/Rules/">Rules</a></li>
        </ul>
    </details>
    <br />

    <details>
        <summary class="IndexSummery">NPC/Character Generators</summary>
        <ul>
            <li> <a href="Generators/TravellerNPCCrafter">NPC Crafter</a></li>
            <li> <a href="Generators/TravellerNPCGenerator">NPC Generator</a></li>
            <li> <a href="Generators/TravellerSpecialNPCGenerator">Special NPC Generator</a></li>
            <li> <a href="/Generators/ComplexNPCGenerator">Complex NPC/Character Generator</a></li>
        </ul>
    </details>
    <br />

    <details>
        <summary class="IndexSummery">
            Other Generators
        </summary>
        <ul>
            <li> <a href="Generators/TravellerItemCreator">Item Crafter</a></li>
            <li> <a href="Generators/TravellerNameGenerator">Name Generator</a></li>
            <li> <a href="Generators/TravellerMissionGenerator">Mission Generator</a></li>
        </ul>
    </details>
    <br />

    <details>
        <summary class="IndexSummery">
            Major Goverments
        </summary>
        <ul>
            <li><NavLink href="UFE">The United Federation of Earth</NavLink></li>
            <li><NavLink href="Deutschland">The Communist Empire of the Deutschland</NavLink></li>
            <li><a href="vers">The Vers Empire</a></li>
            <li><a href="url">The United Reverse Lords</a></li>
            <li><a href="xiaoming">The Xiao-Ming mega Corporation</a></li>
            <li><a href="firstOrder">The First Order</a></li>
            <li><a href="britannia">The Kingdom of Britannia</a></li>
            <li><a href="ivft">The Imperial Versian Federated Terrirories</a></li>
            <li><a href="axios">The Axios Allience</a></li>
            <li><a href="artekka">The Artekka Guilds</a></li>
            <li><a href="germushia">The Germushian Republic</a></li>
            <li><a href="polandkia">The People of Polandskia</a></li>
        </ul>
    </details>
    <br />

    <details>
        <summary class="IndexSummery">Galaxies</summary>
        <ul>
            <li><a href="milkyWay" style="font-weight: bold;">The Milky Way Galaxy</a></li>
            <li><a href="sheve">Sheve Dwarf Galaxy</a></li>
            <li><a href="/Galaxies/dewara">Dewara Dwarf Galaxy</a></li>
            <li><a href="tiwak">Tiwak Dwarf Galaxy</a></li>
            <li><a href="canaca">Canaca Dwarf Galaxy</a></li>
            <li><a href="pegasus">Pegasus Dwarf Galaxy</a></li>
            <p><br /></p>
            <li><a href="utopia">Utopia Galaxy</a></li>
            <li><a href="rhineland" style="text-decoration:line-through;">Rhineland Galaxy</a></li>
            <li><a href="berlinnic">Berlinnic Galaxy</a></li>
            <li><a href="takarah">Takarah Galaxy</a></li>
            <li><a href="tihara">Tihara Galaxy</a></li>
            <li><a href="maldeth">Maldeth Galaxy</a></li>
            <li><a href="saldor">Saldor Galaxy</a></li>
            <li><a href="palpatinius">Palpatinus Galaxy</a></li>
            <li><a href="axiousGalaxy">Axious Galaxy</a></li>
            <li><a href="/Galaxies/asselyum">Asselyum Galaxy</a></li>
            <li><a href="twinShadows">Twin Shadows Galaxy</a></li>

        </ul>
    </details>
    <br />

    <details>
        <summary class="IndexSummery"> Other Stuff</summary>
        <ul>
            <li> <a href="/Other/UCGalaxyPowerRating"> Universalis Confederation Galatic Level nation Power Ratings!</a></li>
            <li> <a href="/Other/starshipRegistrationInformation">Starship Registration Information </a></li>
            <li> <a href="/Other/centralTension">An explination of the current central tension in the galaxy.</a>  </li>
            <li> <a href="/Other/earthStandardTime">Earth Standard Time.</a></li>
            <li><a href="/Other/ScaleOfTime">Scale of Time</a></li>
            <li><a href="/Other/LangaugeFamilies">Language Families</a></li>
        </ul>
    </details>
<br />
</body>

