page "/Islands_Sector"
    <head>
        <title>Islands Sector</title>

        <meta property="og:title" content="Known Universe Wiki - Islands Sector" />
        <meta property="og:url" content="https://theseamnetwork.com/Islands_Sector" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://thesteamnetwork.com/favicon.ico" />
        <meta content="The (North Western) Islands Sector lies within the Berlinnic Galaxy, within the Suki Cooridor. It Neighbors the United Federation of Eart Barony of Sicily, and is very close to the Trans Galatic Empires Borders, making it a hotbed for activity. It is also the primary region of play in my Traveller games." property="og:description" />
        <meta content="#ffe81F" data-react-helmet="true" name="theme-color" />
    </head>

<body>
    <h1>Islands Sector</h1>
    <p>
        the Islands Sector Sector  contains the following 16 Subsectors:
        <ol>
            <li><a href="Subsector_Kendrick">Subsector Kendrick</a></li>
            <li><a href="Subsector_Wynona">Subsector Wynona</a></li>
            <li><a href="Subsector_Olivehurst">Subsector Olivehurst</a></li>
            <li><a href="Subsector_Payette">Subsector Payette</a></li>
            <li><a href="Subsector_Oren_Wastes_1">Subsector Oren Wastes 1</a></li>
            <li><a href="Subsector_Oren_Wastes_2">Subsector Oren Wastes 2</a></li>
            <li><a href="Subsector_Oren_Wastes_3">Subsector Oren Wastes 3</a></li>
            <li><a href="Subsector_Oren_wastes_4">Subsector Oren wastes 4</a></li>
            <li><a href="Subsector_Doland">Subsector Doland</a></li>
            <li><a href="Subsector_New_Islands">Subsector New Islands</a></li>
            <li><a href="Subsector_Old_Islands">Subsector Old Islands</a></li>
            <li><a href="Subsector_Stacyville">Subsector Stacyville</a></li>
            <li><a href="Subsector_Intercourse">Subsector Intercourse</a></li>
            <li><a href="Subsector_Citra">Subsector Citra</a></li>
            <li><a href="Subsector_Wallwern">Subsector Wallwern</a></li>
            <li><a href="Subsector_Zaleski">Subsector Zaleski</a></li>

        </ol>
    </p>


    <h2>Factions</h2>
    <ul>
        <li>
            Allies
            <ul>
                <li>
                    United Federation of Earth
                    <ul>
                        <li>
                            <a href="wia" style="color:chartreuse">Western Islands Alliance - &block;</a>
                            <ul>
                                <li><a href="idf" style="color:ForestGreen">Independent Defense Alliance - &block;</a></li>
                                <li><a href="sca" style="color:MediumSpringGreen">Starcan Alliance - &block;</a></li>
                                <li><a href="kt" style="color:SpringGreen">Kotlik Tribunal - &block;</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Axion Alliance/Arteka
                    <ul>
                        <li><a href="tp" style="color:Wheat">Tilova Pact - &block;</a></li>
                        <li><a href="ss" style="color:Goldenrod">Spiritwood Senate - &block;</a></li>
                    </ul>
                </li>
                <li>
                    Germushia
                    <ul>
                        <li>
                            <a href="ncbb" style="color:SlateGray">New Colchis Business Board - &block;</a>
                            <ul>
                                <li><a href="mmr" style="color:DarkGray">Mainhair Military Republic - &block;</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="witc" style="color:Gainsboro">Western Islands Trade Federation- &block; (formerly the Western Islands Trade Consortium)</a>
                            <ul>
                                <li><a href="cstc" style="color:LightSlateGray">Southern Islands Trade Consortium - &block; (formerly Citra Subsector Trade Consortium)</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Deutschland
                    <ul>
                        <li><a href="wic" style="color: PaleVioletRed;text-decoration: line-through"> Western Islands Commune - &block;</a></li>
                        <li><a href="op" style="color:DarkSalmon">Olitar Protectorate - &block;</a></li>
                        <li><a href="nta" style="color:Crimson">Neubayern Topas Alliance - &block;</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            Axis
            <ul>
                <li>
                    Empire
                    <ul>
                        <li>
                            <a href="ds" style="color:Red">Dominate Supremius - &block;</a>
                            <ul>
                                <li><a href="vds" style="color:IndianRed">Venhut Dominate States - &block;</a></li>
                                <li><a href="ImperialFaith" style="color:#FE6347">Dominate of the Imperial Faith- &block;</a></li>
                            </ul>
                        </li>
                        <li><a href="oidl" style="color:Firebrick">Old Islands Defense League - &block;</a></li>
                    </ul>
                </li>

                <li>
                    Vers<ul>
                        <li><a href="ro" style="color:Gold">rex van der Ostrovki - &block;</a>
                            <ul>
                                <li><a href="rs" style="color:#FCC200">rex van der Sever - &block;</a></li>
                            </ul>
                        </li>
                        <li><a href="epg" style="color:Khaki">Esperanza - &block;</a></li>
                        <li><a href="cma" style="color:PeachPuff">Coila Military Alliance - &block;</a></li>
                        <li><a href="gse" style="color:#FFFE03">Gunipped Stellar Empire - &block;</a></li>
                    </ul>
                </li>
                <li>
                    Xiao-Ming
                    <ul>
                        <li><a href="noGodLand" style="color:#01FFFF">No God Land - &block;</a></li>
                        <li><a href="hsptp" style="color:LightCyan">Willsville Trade Pact  - &block; (formerly the Harwichport-Simla-Parcoal Trade Pact)</a></li>
                        <li><a href="jktp" style="color:Aquamarine;text-decoration: line-through">Jeffers-Kosse Trade Pact - &block;</a></li>
                        <li><a href="iwtp" style="color:Aqua;text-decoration: line-through">Ionia Waskish Trade Pact - &block;</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            Independent
            <ul>
                <li>
                    Polandskia
                    <ul>
                        <li><a href="ub" style="color:DarkViolet">Independent Baronies - &block; (formerly the United Baronies)</a></li>
                    </ul>
                </li>
                <li>
                    United Reverse Lords
                    <ul>
                        <li><a href="sta" style="color:LemonChiffon">Sar-Tan Confederacy - &block;</a></li>
                        <li><a href="rrr" style="color:PapayaWhip">Red Rock Republic - &block;</a></li>
                        <li><a href="ek" style="color:Moccasin">Essia Kritarchy - &block;</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div class="grid-container">
        <div class="grid-item">
            <a href="Subsector_Kendrick">
                <img src="Images/Kendrick_subsector.jpg" style="max-width: 100%;">
            </a>
        </div>

        <div class="grid-item">
            <a href="Subsector_Wynona">
                <img src="Images/Wynona_subsector.jpg" style="max-width: 100%;">
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_Olivehurst">
                <img src="Images/Olivehurst_subsector.jpg" style="max-width: 100%;">
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_Payette">
                <img src="Images/Payette_subsector.jpg" style="max-width: 100%;">
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_Oren_Wastes_1">
                <img src="Images/Oren_Wastes_1_Subsector.jpg" style="max-width: 100%;">
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_Oren_Wastes_2">
                <img src="Images/Oren_Wastes_2_Subsector.jpg" style="max-width: 100%;">
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_Oren_Wastes_3">
                <img src="Images/Oren_Wastes_3_Subsector.jpg" style="max-width: 100%;" />
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_Oren_wastes_4">
                <img src="Images/Oren_wastes_4_subsector.jpg" style="max-width: 100%;">
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_Doland">
                <img src="Images/Doland_subsector.jpg" style="max-width: 100%;" />
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_New_Islands">
                <img src="Images/New_Islands_Subsector.jpg" style="max-width: 100%;">
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_Old_Islands">
                <img src="Images/Old_Islands_Subsector.jpg" style="max-width: 100%;">
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_Stacyville">
                <img src="Images/Stacyville_subsector.jpg" style="max-width: 100%;">
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_Intercourse">
                <img src="Images/Intercourse_subsector.jpg" style="max-width: 100%;">
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_Citra">
                <img src="Images/Cirta_Subsector.jpg" style="max-width: 100%;">
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_Wallwern">
                <img src="Images/Wallwern_Subsector.jpg" style="max-width: 100%;">
            </a>
        </div>
        <div class="grid-item">
            <a href="Subsector_Zaleski">
                <img src="Images/Zaleski_subsector.jpg" style="max-width: 100%;">
            </a>
        </div>
    </div>
    <h2>Stats</h2>
    Some stats about the Islands Sector Sector:
    <ul>
        <li>
            Number of Planets: 368
        </li>
    </ul>
</body>

