@page "/SCA"
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>
</head>

<body>
    <h1>Starcan Alliance (STA)</h1>
    <p>The Starcan alliance was founded 32 years after the great war in the <a href="Subsector_Oren_Wastes_3">Oren Wastes 3 Subsector.</a></p>
    <div>
        <table style="width:25.5em;border-spacing:2px;float:left;">
            <tbody>
                <tr><td>1) Short Description</td></tr>
                <tr><td>2) History</td></tr>
                <tr><td>3) Government</td></tr>
            </tbody>
        </table>
        <table style="width:27.5em;border-spacing:2px;float:right;">
            <tbody>
                <tr><td>Name</td><td>Relationship</td></tr>
            <td style="color:wheat;">Major factions</td>

            <tr><td><a href="ufe" style="color:white">United Federation Of Earth</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="germushia" style="color:white">Germushia</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="polanskia" style="color:white">Polandskia</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="deutschland" style="color:white">Deutschland</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="xiaoming" style="color:white">Xiao-Ming</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="firstorder" style="color:white">First Order</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="britannia" style="color:white">Britannia</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ivft" style="color:white">Imperial Versian Federated Territories</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="transGalaticEmpire" style="color:white">Trans Galatic Empire</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="vers" style="color:white">Vers</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="url" style="color:white">United Reverse Lords</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="axios" style="color:white">Axios Allience</a></td><td style="color:lawngreen;">Ally</td></tr>

            <tr><td style="color:wheat">Sector Sized Factions</td></tr>
            <tr><td><a href="wia" style="color:white">Western Islands Alliance (UFE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ub" style="color:white">United Baronies (POL)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="witc" style="color:white">Western Islands Trade Consortium (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ds" style="color:white">Dominate Supremius (TGE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="wic" style="color:white">Western Islands Commune (DEU)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ro" style="color:white">Rex van der Ostrovki(VE)</a></td><td style="color:yellow;">Neutral</td></tr>


            <tr><td style="color:wheat">Subsector Sized Factions</td></tr>
            <tr><td><a href="idf" style="color:white">Independent Defense Federation (UFE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="sca" style="color:white">Starcan Alliance (UFE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="kt" style="color:white">Kotlik Tribunal (UFE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="tt" style="color:white">Tilova Pact (AA)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ss" style="color:white">Spiritwood Senate (AA)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ncbb" style="color:white">New Colchis Buisness Board (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="mmr" style="color:white">Mainhair Military Republic (GER)</a></td><td style="color:lawngreen;">Enemy</td></tr>
            <tr><td><a href="istc" style="color:white">Intercourse Subsector Trade Consortium (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="cstc" style="color:white">Cirtra Sector Trade Consortium (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="oild" style="color:white">Old Islands Defense League (TGE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="vds" style="color:white">Venhut Dominate State (TGE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="nta" style="color:white">Neubayern Topas Alliance (DEU)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="op" style="color:white">Olitar Protectorate (DEU)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="jktp" style="color:white">Jeffers-Kosse Trade Pact (XM)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="hsptp" style="color:white">Harwichport-Simla-Parcol Trade Pact (XM)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="iwtp" style="color:white">Ionia-Waskish Trade Pact (XM)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="epg" style="color:white">Esperanza Planetary Government (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="cma" style="color:white">Coila Military Alliance (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="gse" style="color:white">Gunipped Stellar Empire (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="stc" style="color:white">Sar-Tan Confederacy (URl)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="rrr" style="color:white">Red Rock Republic (URl)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="ek" style="color:white">Essia Kritarchy (URl)</a></td><td style="color:yellow;">Neutral</td></tr>

            <tr><td colspan="2" id="seperator"></td></tr>
            <tr><td>Traits</td></tr>
            <tr><td style="color:orange">Federation</td></tr>
            <tr><td style="color:orange">Liberal</td></tr>
            <tr><td style="color:orange">Defensive</td></tr>
            <tr><td style="color:orange">Island State.</td></tr>
            <tr><td style="color:orange">Technologically behind</td></tr>
            </tbody>
        </table>
    </div>
    <br />
    <div id="information" style="clear:left">
        <h2>Short Description</h2>
        <p>The starcan alliance is an alliance between the three weak powers within the Oren Wastes 3 Subsector, relying on the nearby support of the Islands and the Western Islands Trade Consortium.</p>
        <p>The STA is formally part of the <a href="wia"> Western Islands Alliance</a></p>
        <h2>History</h2>
        <p>The STA was formed after the three weak nations saw the various powerful neighbors allying among themselves, with no other option to avoid being conquored, they pled to the UFE for help and were given a small defense force assigned to keep the three worlds safe.</p>
        <h2>Government</h2>
        <p>Each of the planets are free to maintain their own government, between them is simply a shared set of federation consulates and a single amabsador that rotates between the worlds (3 weeks a month)</p>
        <h2>Army</h2>
        <p>The STA currently has 6 standing armies: </p>
        <ol>
            <li>st Army, composed of 8 Good Infantry Units, commanded by Jamie Sawyer, currently headquartered in Starcan</li>
            <li>nd Army, composed of 6 Good Infantry Units, commanded by Valentine Roman, currently headquartered in Lokleen</li>
            <li>rd Army, composed of 6 Good Infantry Units, commanded by Xzavier Gibbs, currently headquartered in Lokleen</li>
            <li>rth Army, composed of 5 Elite Infantry Units, commanded by Battle Neil, currently headquartered in Sidebrook</li>
            <li>th Army, composed of 7 New Infantry Units, commanded by Anaya Gregory, currently headquartered in Lokleen</li>
            <li>th Army, composed of 4 Federation Infantry Units, commanded by Luca Brooks, currently headquartered in Starcan</li>
        </ol>
        <p>The STA arms their troops with the: {WEAPON} and uses: {ARMOUR}</p>
        <h2>Navy</h2>
        <p>The STA currently has 1 standing Fleet (total vessels: 10): </p>
        <ol>
            <li>st (AkA Starcan's Supreme War Armada), composed of 10 vessels, Led by High Supreme Overlord Grand Admiral of the First Armada Nathaniel Frederick, Stationed out of Starcan</li>
        </ol>

        <h2>Companies managed from within the Alliance</h2>
        <ul>
            <li>
                Fuel Companies:
                <table style="border-style: solid;">
                    <thead>
                        <tr><th>Name</th><th>Fuel Type</th><th>Size within nation</th><th>Mining Worlds</th><th>Refining Worlds</th><th>Average Share Price</th><th>Notes</th></tr>
                    </thead>
                    <tbody style="color:#ffe81F">
                        <tr id="tableInfo"><td>Imperial Aldminium Company.North Western Islands</td><td>Aldminium</td><td>Small</td><td>Renwick</td><td>Renwcik</td><td>Cr346</td><td>Offically owned by the Trans Galatic Empire.</td></tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <h2>Planets Controlled</h2>
        <p>Naval base: a location that a fleet can operate out of.</p>
        <p>Army base: A location that an army can operate out of.</p>
        <p>Naval Shipyard: A location that can produce military grade vessels.</p>
        <p>Research: A reseach lab of some kind is located here.</p>
        <p>Food: This planet producers food.</p>
        <p>Industrial: This planet is dedicated to building stuff!</p>
        <p>Supply planet - just produces things to be consumed.</p>
        <p>High Population - Lots of people, generally important for commerce.</p>
        <p>Fuel Depo - a planet where fuel is stored/sold for cheaper then regular (indicated by a O on the map)</p>

        <ul>
            <li><a href="Subsector_Oren_Wastes_3">Oren Wastes 3</a></li>
            <ul>
                <li>Starcan - Naval Base</li>
                <li>Sidebrook - Fuel Depo</li>
                <li>Lokleen - Army Base</li>
            </ul>
        </ul>
        </div>
</body>
