@page "/Subsector_New_Islands"
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>
</head>

<body>
    <h1>Subsector New Islands</h1>
    <p>
        the Subsector New Islands Subsector is in the <a href="Islands_Sector">Islands Sector sector</a> and contains the following 80 systems:
    </p>
    <h2>Stats</h2>
    Some stats about the Subsector New Islands Subsector:
    <ul>
        <li>
            Number of Planets: 15
        </li>
    </ul>
    <img src="Images/New_Islands_Subsector.jpg" alt="New Islands Subsector Map" style="width:50%;height:50%">
    <h1>Planets</h1>
    <div class="flex-container">

        <div>
            <div>Name: Zulflucht</div>
            <br />
            <div>UWP: C545720-8</div>
            <br />
            <div>Location: 1:1</div>
            <br />
            <div>Starport Quality: Routine Starport. 1D x Cr100 to Berth. | Unrefined Fuel. | Shipyard(Small Craft) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 8,000KM. | Example Mars. | 0.45 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Thin, Tainted. | Example None. | Pressure 0.43 to 0.7. | Survival Gear Required Filter.</div>
            <br />
            <div>Hydrographics: 46-55%. | Large Oceans.</div>
            <br />
            <div>Population: 6373227</div>
            <br />
            <div>Primary Government: Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.</div>
            <br />
            <div>Law Level: Weapons Banned: No restrictions - Heavy armour and a handy weapon are commended...</div>
            <br />
            <div>Tech Level: (Pre-Stellar): At TL 8, it is possible to reach other worlds in the same system, although terraforming or full colonisation are not within the culture’s capacity. Permanent space habitats become possible. Fusion power becomes commercially viable.</div>
            <br />
            <div>Temperature: Frozen | Average Temperate &lt;-51 | Frozen World. No liquid water, very dry atmosphere</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Ag)riculture: Dedicated to farming and food production. Often, they are divided into vast semi-feudal estates.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.: <div style="color:orange">Notable group - significant support, well known</div></div><br />
            <br />
            <div>Quirk</div>
            Unusual Customs: Eating - food and drink occupies an unusual place in the culture. Perhaps eating is a private affair, or banquets and formal dinners are seen as the highest form of politeness.
            <div>Controlled by</div>
            <a href="epg"> Esperanza Planetary Government</a>
        </div>
        <div>
            <div>Name: Berlichingen</div>
            <br />
            <div>UWP: D500437-8</div>
            <br />
            <div>Location: 8:1</div>
            <br />
            <div>Starport Quality: Poor Starport. 1D x Cr10 to Berth. | Unrefined Fuel. | Limited Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 8,000KM. | Example Mars. | 0.45 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: None. | Example Moon. | Pressure 0.00. | Survival Gear Required Vacc Suit.</div>
            <br />
            <div>Hydrographics: 0-5%. | Desert World</div>
            <br />
            <div>Population: 6373</div>
            <br />
            <div>Primary Government: Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.</div>
            <br />
            <div>Law Level: Weapons Banned: Shotguns. | Armour Banned: No New Items.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): At TL 8, it is possible to reach other worlds in the same system, although terraforming or full colonisation are not within the culture’s capacity. Permanent space habitats become possible. Fusion power becomes commercially viable.</div>
            <br />
            <div>Temperature: Hot | Average Temperature 31-80 | Hot world. Small or no ice caps, little liquid water. most water in hte form of clouds.</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(As)teroids: Usually mining colonies, but can also be orbital factories or colonies.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br />(Va)cuum: No atmosphere.<br /></div>
            <br />

            <div>Bases in system</div>

            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.: <div style="color:cyan">Fringe Group - Few supporters</div></div><br /><div style="color:#ffe81F">Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.: <div style="color:yellow">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.: <div style="color:azure">Obscure group - few have heard of them, no popular support</div></div><br />
            <br />
            <div>Quirk</div>
            Progressive - the culture is expanding and vibrant. Fortunes are being made in trade; science is forging bravely ahead.
            <div>Controlled by</div>
            <a href="nta"> Neubayern-Topas Alliance</a>
        </div>
        <div>
            <div>Name: Topas</div>
            <br />
            <div>UWP: D420899-7</div>
            <br />
            <div>Location: 7:2</div>
            <br />
            <div>Starport Quality: Poor Starport. 1D x Cr10 to Berth. | Unrefined Fuel. | Limited Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 6,400KM. | No listed example. | 0.35 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Very Thin. | Example None. | Pressure 0.1 to 0.42. | Survival Gear Required Respirator.</div>
            <br />
            <div>Hydrographics: 0-5%. | Desert World</div>
            <br />
            <div>Population: 25492911</div>
            <br />
            <div>Primary Government: Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.</div>
            <br />
            <div>Law Level: Weapons Banned: All Weapons. | Armour Banned: All armour.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): A pre-stellar society can reach orbit reliably and has telecommunications satellites. Computers become common. At the time of writing, humanity is currently somewhere between TL 7 and TL 8.</div>
            <br />
            <div>Temperature: Frozen | Average Temperate &lt;-51 | Frozen World. No liquid water, very dry atmosphere</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(De)sert: Dry and barely habitable<br />(Na) Non-Agricultural: Too dry or barren to support their populations using conventional food production.<br />(Po)or: Lacking resources, viable land or sufficient population to be anything other than marginal colonies.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.: <div style="color:springgreen">Fringe Group - Few supporters</div></div><br /><div style="color:#ffe81F">Non-Charismatic Leader. | A previous charismatic dictator has been replaced by a leader through normal channels. | Military dictatorship, hereditary kingship. | Contraband: weapons, technology, computers.: <div style="color:springgreen">Fringe Group - Few supporters</div></div><br /><div style="color:#ffe81F">Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.: <div style="color:chartreuse">Minor group - Some supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Conservative - the culture resists change and outside influences.
            <div>Controlled by</div>
            <a href="nta"> Neubayern-Topas Alliance</a>
        </div>
        <div>
            <div>Name: Gloire</div>
            <br />
            <div>UWP: C764567-9</div>
            <br />
            <div>Location: 3:3</div>
            <br />
            <div>Starport Quality: Routine Starport. 1D x Cr100 to Berth. | Unrefined Fuel. | Shipyard(Small Craft) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 11,200KM. | Example Earth. 0.9 | Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Standard. | Example Earth. | Pressure 0.71-1.49. | Survival Gear Required None.</div>
            <br />
            <div>Hydrographics: 36-45%. | Wet World</div>
            <br />
            <div>Population: 38239</div>
            <br />
            <div>Primary Government: Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.</div>
            <br />
            <div>Law Level: Weapons Banned: Shotguns. | Armour Banned: No New Items.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): The defining element of TL 9 is the development of gravity manipulation, which makes space travel vastly safer and faster. This research leads to development of the jump drive, which occurs near the end of this Tech Level. TL 9 cultures can colonise other worlds, although travelling to a colony is often a one-way trip.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Ag)riculture: Dedicated to farming and food production. Often, they are divided into vast semi-feudal estates.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Civil Service Bureaucracy. | Ruling functions are performed by government agencies employing individuals selected for their expertise. | Examples: Technocracy, Communism. | Contraband includes drugs and weapons.: <div style="color:magenta">Significant - nearly as powerful as government</div></div><br />
            <br />
            <div>Quirk</div>
            Influenced - the culture is heavily influenced by another, neighbouring world. Roll again for a cultural quirk that has been inherited from the culture.
            <div>Controlled by</div>
            <a href="idf"> Independent Defense Federation</a>
        </div>
        <div>
            <div>Name: Wellington</div>
            <br />
            <div>UWP: C8B0263-A</div>
            <br />
            <div>Location: 1:5</div>
            <br />
            <div>Starport Quality: Routine Starport. 1D x Cr100 to Berth. | Unrefined Fuel. | Shipyard(Small Craft) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 12,800KM. | No Listed examples. | 1.0 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Corrosive. | Example Venus. Pressure Varies. | Survival Gear Required Vacc Suit.</div>
            <br />
            <div>Hydrographics: 0-5%. | Desert World</div>
            <br />
            <div>Population: 63</div>
            <br />
            <div>Primary Government: Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.</div>
            <br />
            <div>Law Level: Weapons Banned: Military Weapons. | Armour Banned: Flak.</div>
            <br />
            <div>Tech Level: (Early Stellar): With the advent of commonly available jump drives, nearby systems are opened up. Orbital habitats and factories become common. Interstellar travel and trade lead to an economic boom. Colonies become much more viable.</div>
            <br />
            <div>Temperature: Hot | Average Temperature 31-80 | Hot world. Small or no ice caps, little liquid water. most water in hte form of clouds.</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(De)sert: Dry and barely habitable<br />(Lo)w population: A population of only a few thousand or less.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>

            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.: <div style="color:springgreen">Fringe Group - Few supporters</div></div><br /><div style="color:#ffe81F">Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.: <div style="color:azure">Obscure group - few have heard of them, no popular support</div></div><br />
            <br />
            <div>Quirk</div>
            Unusual Customs: Technology - the culture interacts with technology in an unusual way. Telecommunications might be banned, robots might have civil rights, or cyborgs might be property.
            <div>Controlled by</div>
            <a href="epg"> Esperanza Planetary Government</a>
        </div>
        <div>
            <div>Name: Elysee</div>
            <br />
            <div>UWP: B502532-9</div>
            <br />
            <div>Location: 7:5</div>
            <br />
            <div>Starport Quality: Good Starport. 1D x Cr500 to Berth. | Refined Fuel. | Shipyard(Spacecraft) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 8,000KM. | Example Mars. | 0.45 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: None. | Example Moon. | Pressure 0.00. | Survival Gear Required Vacc Suit.</div>
            <br />
            <div>Hydrographics: 16-25%. | A few small seas.</div>
            <br />
            <div>Population: 25492</div>
            <br />
            <div>Primary Government: Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.</div>
            <br />
            <div>Law Level: Weapons Banned: Portable energy and laser weapons. | Armour Banned: Combat armour.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): The defining element of TL 9 is the development of gravity manipulation, which makes space travel vastly safer and faster. This research leads to development of the jump drive, which occurs near the end of this Tech Level. TL 9 cultures can colonise other worlds, although travelling to a colony is often a one-way trip.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Ie)Ice-Capped: Worlds that have most of their surface liquid frozen in polar ice caps, and are cold and dry.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br />(Va)cuum: No atmosphere.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:#6bDA26">Military Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Feudal Technocracy. | Ruling functions are performed by specific individuals for persons who agree to be ruled by them. Relationships are based on the performance of technical activities which are mutually beneficial. | Those with accesss to higher technology tend to have higher social status. | Technology, weapons, computers.: <div style="color:blue">Obscure group - few have heard of them, no popular support</div></div><br /><div style="color:#ffe81F">Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.: <div style="color:yellow">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Non-Charismatic Leader. | A previous charismatic dictator has been replaced by a leader through normal channels. | Military dictatorship, hereditary kingship. | Contraband: weapons, technology, computers.: <div style="color:blue">Obscure group - few have heard of them, no popular support</div></div><br />
            <br />
            <div>Quirk</div>
            Fashion - fine clothing and decoration are considered vitally important in the culture. Underdressed Travellers have no standing here.
            <div>Controlled by</div>
            <a href="ncbb"> New Colchis Business Board</a>
        </div>
        <div>
            <div>Name: Esperanza</div>
            <br />
            <div>UWP: A674ABC-B</div>
            <br />
            <div>Location: 1:6</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 9,600KM. | No Listed examples. | 0.7 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Standard, Tainted. | Example None. | Pressure 0.71-1.49. | Survival Gear Required Filter.</div>
            <br />
            <div>Hydrographics: 36-45%. | Wet World</div>
            <br />
            <div>Population: 6373227943</div>
            <br />
            <div>Primary Government: Non-Charismatic Leader. | A previous charismatic dictator has been replaced by a leader through normal channels. | Military dictatorship, hereditary kingship. | Contraband: weapons, technology, computers.</div>
            <br />
            <div>Law Level: Weapons Banned: All Weapons. | Armour Banned: All armour.</div>
            <br />
            <div>Tech Level: (Early Stellar): The first true artificial intelligences become possible, as computers are able to model synaptic networks. Grav-supported structures reach to the heavens. Jump 2 travel becomes possible, allowing easier travel beyond the one jump stellar mains. </div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Hi)gh population: A population in the billions<br />(In)dustrial: Dominated by factories and cities.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:#6bDA26">Military Base</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.: <div style="color:blue">Obscure group - few have heard of them, no popular support</div></div><br /><div style="color:#ffe81F">Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.: <div style="color:green">Minor group - Some supporters</div></div><br /><div style="color:#ffe81F">Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.: <div style="color:cyan">Fringe Group - Few supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Unusual Customs: Eating - food and drink occupies an unusual place in the culture. Perhaps eating is a private affair, or banquets and formal dinners are seen as the highest form of politeness.
            <div>Controlled by</div>
            <a href="epg"> Esperanza Planetary Government</a>
        </div>
        <div>
            <div>Name: Herzenslust</div>
            <br />
            <div>UWP: E995765-6</div>
            <br />
            <div>Location: 6:6</div>
            <br />
            <div>Starport Quality: Frontier Starport. 0Cr to Berth. | No Fuel. | No Repair Facilities. No bases.</div>
            <br />
            <div>Size: Size of Roughly 14,400KM. | No Listed examples. | 1.25 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Dense. | Example None. | Pressure 1.5-2.49. | Survival Gear Required None.</div>
            <br />
            <div>Hydrographics: 46-55%. | Large Oceans.</div>
            <br />
            <div>Population: 6373227</div>
            <br />
            <div>Primary Government: Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.</div>
            <br />
            <div>Law Level: Weapons Banned: Personal concealable weapons. | Armour Banned: Mesh.</div>
            <br />
            <div>Tech Level: (Industrial): TL 6 brings the development of fission power and more advanced computing. Advances in materials technology and rocketry bring about the dawn of the space age. </div>
            <br />
            <div>Temperature: Hot | Average Temperature 31-80 | Hot world. Small or no ice caps, little liquid water. most water in hte form of clouds.</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange"></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.: <div style="color:azure">Obscure group - few have heard of them, no popular support</div></div><br /><div style="color:#ffe81F">Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.: <div style="color:blue">Obscure group - few have heard of them, no popular support</div></div><br />
            <br />
            <div>Quirk</div>
            Unusual Customs: Lifecycle - there might be a mandatory age of termination, or anagathics might be widely used. Family units might be different, with children being raised by the state or banned in favour of cloning.
            <div>Controlled by</div>
            <a href="ncbb"> New Colchis Business Board</a>
        </div>
        <div>
            <div>Name: Besancon</div>
            <br />
            <div>UWP: C201341-9</div>
            <br />
            <div>Location: 7:6</div>
            <br />
            <div>Starport Quality: Routine Starport. 1D x Cr100 to Berth. | Unrefined Fuel. | Shipyard(Small Craft) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 3,200KM. | Examples Luna, Europa. | 0.15 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: None. | Example Moon. | Pressure 0.00. | Survival Gear Required Vacc Suit.</div>
            <br />
            <div>Hydrographics: 5-15%. | Dry World</div>
            <br />
            <div>Population: 446</div>
            <br />
            <div>Primary Government: Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.</div>
            <br />
            <div>Law Level: Weapons Banned: Poison gas, explosives, undetectable weapons, WMD. | Armour Banned: Battle dress.</div>
            <br />
            <div>Tech Level: (Pre-Stellar): The defining element of TL 9 is the development of gravity manipulation, which makes space travel vastly safer and faster. This research leads to development of the jump drive, which occurs near the end of this Tech Level. TL 9 cultures can colonise other worlds, although travelling to a colony is often a one-way trip.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Lo)w population: A population of only a few thousand or less.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br />(Va)cuum: No atmosphere.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.: <div style="color:yellow">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Self-Perpetuating Oligarchy. | Ruling functions are performed by a restricted minority, with little or no input from the mass of citizenry. | Plutocracy, hereditary ruling caste. | Trachnology, weapons, travellers.: <div style="color:yellow">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.: <div style="color:green">Minor group - Some supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Deceptive - trickery and equivocation are considered acceptable. Honesty is a sign of weakness.
            <div>Controlled by</div>
            <a href="ncbb"> New Colchis Business Board</a>
        </div>
        <div>
            <div>Name: NewColchis</div>
            <br />
            <div>UWP: A8959AA-C</div>
            <br />
            <div>Location: 5:7</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 12,800KM. | No Listed examples. | 1.0 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Dense. | Example None. | Pressure 1.5-2.49. | Survival Gear Required None.</div>
            <br />
            <div>Hydrographics: 46-55%. | Large Oceans.</div>
            <br />
            <div>Population: 637322794</div>
            <br />
            <div>Primary Government: Charismatic Dictator. | Ruling functions are performed by agencies directed by a single leader who enjoys the overwhelming confidence of the citizens. | Revolutionary leader, messiah, emperor. | No contraband</div>
            <br />
            <div>Law Level: Weapons Banned: All Weapons. | Armour Banned: All armour.</div>
            <br />
            <div>Tech Level: (Average Stellar): Weather control revolutionises terraforming and agriculture. Man-portable plasma weapons and carrier-mounted fusion guns make the battlefield untenable for unarmoured combatants. Jump 3 travel is developed. </div>
            <br />
            <div>Temperature: Boiling | Average Temperature 81+ | Boiling world. No ice caps, little liquid water</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Hi)gh population: A population in the billions<br />(Ht)High Tech: Among the most technologically advanced in Charted Space<br />(In)dustrial: Dominated by factories and cities.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:#6bDA26">Military Base</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.: <div style="color:red">Significant - nearly as powerful as government</div></div><br />
            <br />
            <div>Quirk</div>
            Degenerate - the culture is falling apart and is on the brink of war or economic collapse. Violent protests are common, and the social order is decaying.
            <div>Controlled by</div>
            <a href="ncbb"> New Colchis Business Board</a>
        </div>
        <div>
            <div>Name: SerendipBelt</div>
            <br />
            <div>UWP: A000949-C</div>
            <br />
            <div>Location: 5:8</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Less then 1000KM. | Examples Asteroid, Orbital Complex. | Negligible Gravity</div>
            <br />
            <div>Atmosphere: Compostion: None. | Example Moon. | Pressure 0.00. | Survival Gear Required Vacc Suit.</div>
            <br />
            <div>Hydrographics: 0-5%. | Desert World</div>
            <br />
            <div>Population: 509858235</div>
            <br />
            <div>Primary Government: Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.</div>
            <br />
            <div>Law Level: Weapons Banned: All Weapons. | Armour Banned: All armour.</div>
            <br />
            <div>Tech Level: (Average Stellar): Weather control revolutionises terraforming and agriculture. Man-portable plasma weapons and carrier-mounted fusion guns make the battlefield untenable for unarmoured combatants. Jump 3 travel is developed. </div>
            <br />
            <div>Temperature: Frozen | Average Temperate &lt;-51 | Frozen World. No liquid water, very dry atmosphere</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(As)teroids: Usually mining colonies, but can also be orbital factories or colonies.<br />(Hi)gh population: A population in the billions<br />(Ht)High Tech: Among the most technologically advanced in Charted Space<br />(In)dustrial: Dominated by factories and cities.<br />(Na) Non-Agricultural: Too dry or barren to support their populations using conventional food production.<br />(Va)cuum: No atmosphere.<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:#6bDA26">Military Base</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Charismatic Oligarchy. | Ruling functions are performed by a select group of members of an organisation or class which enjoys the overwhelming confidence of the citizenry. | Examples: Junta, revolution council. | Contraband: weapons: <div style="color:green">Minor group - Some supporters</div></div><br /><div style="color:#ffe81F">Charismatic Dictator. | Ruling functions are performed by agencies directed by a single leader who enjoys the overwhelming confidence of the citizens. | Revolutionary leader, messiah, emperor. | No contraband: <div style="color:orange">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.: <div style="color:springgreen">Fringe Group - Few supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Tourist Attraction - some aspect of the culture or the planet draws visitors from all over charted space.
            <div>Controlled by</div>
            <a href="idf"> Independent Defense Federation</a>
        </div>
        <div>
            <div>Name: Joyuse</div>
            <br />
            <div>UWP: A7899B9-C</div>
            <br />
            <div>Location: 8:8</div>
            <br />
            <div>Starport Quality: Excellent Starport. 1D x Cr1000 to Berth. | Refined Fuel. | Shipyard(all) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 11,200KM. | Example Earth. 0.9 | Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Dense, Tainted.  | Example None. | Pressure 1.5-2.49. | Survival Gear Required Filter.</div>
            <br />
            <div>Hydrographics: 86-95%. | Only a few small Islands and archipelagos.</div>
            <br />
            <div>Population: 318661397</div>
            <br />
            <div>Primary Government: Non-Charismatic Leader. | A previous charismatic dictator has been replaced by a leader through normal channels. | Military dictatorship, hereditary kingship. | Contraband: weapons, technology, computers.</div>
            <br />
            <div>Law Level: Weapons Banned: All Weapons. | Armour Banned: All armour.</div>
            <br />
            <div>Tech Level: (Average Stellar): Weather control revolutionises terraforming and agriculture. Man-portable plasma weapons and carrier-mounted fusion guns make the battlefield untenable for unarmoured combatants. Jump 3 travel is developed. </div>
            <br />
            <div>Temperature: Cold | Average Temperature -51 - 0| Icy World. Little liquid water, extensive ice caps, few clouds</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Hi)gh population: A population in the billions<br />(Ht)High Tech: Among the most technologically advanced in Charted Space<br /></div>
            <br />

            <div>Bases in system</div>
            <div style="color:orangered">Gas Giant</div><div style="color:#6bDA26">Military Base</div><div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Charismatic Oligarchy. | Ruling functions are performed by a select group of members of an organisation or class which enjoys the overwhelming confidence of the citizenry. | Examples: Junta, revolution council. | Contraband: weapons: <div style="color:blue">Obscure group - few have heard of them, no popular support</div></div><br /><div style="color:#ffe81F">Civil Service Bureaucracy. | Ruling functions are performed by government agencies employing individuals selected for their expertise. | Examples: Technocracy, Communism. | Contraband includes drugs and weapons.: <div style="color:violet">overwhelming popular support - more powerful than government</div></div><br /><div style="color:#ffe81F">Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.: <div style="color:blue">Obscure group - few have heard of them, no popular support</div></div><br />
            <br />
            <div>Quirk</div>
            Unusual Custom: Conspiracy - something strange is going on. The government is being subverted by another group or agency.
            <div>Controlled by</div>
            <a href="idf"> Independent Defense Federation</a>
        </div>
        <div>
            <div>Name: Orphee</div>
            <br />
            <div>UWP: X885610-0</div>
            <br />
            <div>Location: 6:9</div>
            <br />
            <div>Starport Quality: No Starport. No berthing Cost. | No facilities. | No bases</div>
            <br />
            <div>Size: Size of Roughly 12,800KM. | No Listed examples. | 1.0 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Dense, Tainted.  | Example None. | Pressure 1.5-2.49. | Survival Gear Required Filter.</div>
            <br />
            <div>Hydrographics: 46-55%. | Large Oceans.</div>
            <br />
            <div>Population: 191196</div>
            <br />
            <div>Primary Government: Company/Corporation. | Ruling functions are assumed by a copmany managerial elite, and most citzenry are company employees or dependants. | Examples: Corporate outpost, asteroid mine, feudal domain. | Contraband: Weapons, Drugs, Travellers.</div>
            <br />
            <div>Law Level: Weapons Banned: No restrictions - Heavy armour and a handy weapon are commended...</div>
            <br />
            <div>Tech Level: (Primitive): No technology. TL 0 species have only discovered the simplest tools and principles, and are on a par with Earth’s Stone Age.</div>
            <br />
            <div>Temperature: Boiling | Average Temperature 81+ | Boiling world. No ice caps, little liquid water</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Ag)riculture: Dedicated to farming and food production. Often, they are divided into vast semi-feudal estates.<br />(Ga)rden: Worlds that are like earth<br />(Lt)Low tech: Pre-industrial and cannot produce advanced goods.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>

            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Impersonal Bureaucracy. | Ruling functions are performed by agencies which have become insulated from the governed citizens. | Entrenched castes of bureacrats. Decaying empire. | Contraband includes Technology, weapons, drugs, travellers, psiconics.: <div style="color:chartreuse">Minor group - Some supporters</div></div><br />
            <br />
            <div>Quirk</div>
            Tourist Attraction - some aspect of the culture or the planet draws visitors from all over charted space.
            <div>Controlled by</div>
            <a href="idf"> Independent Defense Federation</a>
        </div>
        <div>
            <div>Name: StHilaire</div>
            <br />
            <div>UWP: B579763-A</div>
            <br />
            <div>Location: 1:10</div>
            <br />
            <div>Starport Quality: Good Starport. 1D x Cr500 to Berth. | Refined Fuel. | Shipyard(Spacecraft) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 8,000KM. | Example Mars. | 0.45 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Standard, Tainted. | Example None. | Pressure 0.71-1.49. | Survival Gear Required Filter.</div>
            <br />
            <div>Hydrographics: 86-95%. | Only a few small Islands and archipelagos.</div>
            <br />
            <div>Population: 1911968</div>
            <br />
            <div>Primary Government: Captive Government. | Ruling functions are performed by an imposed leadership answerable to an outside group. | A colony or conquored area. | Contraband includes weapons, technology, travellers.</div>
            <br />
            <div>Law Level: Weapons Banned: Military Weapons. | Armour Banned: Flak.</div>
            <br />
            <div>Tech Level: (Early Stellar): With the advent of commonly available jump drives, nearby systems are opened up. Orbital habitats and factories become common. Interstellar travel and trade lead to an economic boom. Colonies become much more viable.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange"></div>
            <br />

            <div>Bases in system</div>
            <div style="color:white">Other Base</div>
            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Balkanisation. | No central authority exists; rival governments complete for control. Law level refers to the government nearest the starport. | Multiple governments, civil war. | Various contraband.: <div style="color:orange">Notable group - significant support, well known</div></div><br /><div style="color:#ffe81F">Charismatic Dictator. | Ruling functions are performed by agencies directed by a single leader who enjoys the overwhelming confidence of the citizens. | Revolutionary leader, messiah, emperor. | No contraband: <div style="color:cyan">Fringe Group - Few supporters</div></div><br /><div style="color:#ffe81F">Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.: <div style="color:violet">overwhelming popular support - more powerful than government</div></div><br />
            <br />
            <div>Quirk</div>
            Barbaric - physical strength and combat prowess are highly valued in the culture. Travellers may be challenged to a fight, or dismissed if they seem incapable of defending themselves. Sports tend towards the bloody and violent.
            <div>Controlled by</div>
            <a href="ncbb"> New Colchis Business Board</a>
        </div>
        <div>
            <div>Name: Nebelwelt</div>
            <br />
            <div>UWP: C879425-5</div>
            <br />
            <div>Location: 2:10</div>
            <br />
            <div>Starport Quality: Routine Starport. 1D x Cr100 to Berth. | Unrefined Fuel. | Shipyard(Small Craft) Repair Facilities. Check sheet for bases</div>
            <br />
            <div>Size: Size of Roughly 12,800KM. | No Listed examples. | 1.0 Gravity</div>
            <br />
            <div>Atmosphere: Compostion: Standard, Tainted. | Example None. | Pressure 0.71-1.49. | Survival Gear Required Filter.</div>
            <br />
            <div>Hydrographics: 86-95%. | Only a few small Islands and archipelagos.</div>
            <br />
            <div>Population: 5098</div>
            <br />
            <div>Primary Government: Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.</div>
            <br />
            <div>Law Level: Weapons Banned: Personal concealable weapons. | Armour Banned: Mesh.</div>
            <br />
            <div>Tech Level: (Industrial): TL 5 brings widespread electrification, tele-communications and internal combustion. At the high end of the TL, atomics and primitive computing appear. Roughly on a par with the mid-20th century.</div>
            <br />
            <div>Temperature: Temperate | Average Temperature 0-30 | Temperate world. Earth-Like. Liquid & vaporised water are common. Moderate icecaps</div>
            <br />

            <div>Trade Codes</div>
            <div style="color:orange">(Lt)Low tech: Pre-industrial and cannot produce advanced goods.<br />(Ni) Non-Industrial: Too low in population to maintain an extensive industrial base. <br /></div>
            <br />

            <div>Bases in system</div>

            <br />

            <div>Factions</div>
            <div>Government Type: Strength</div>
            <div style="color:#ffe81F">Representative Democracy. | Ruling functions are performed by elected representatives. | Republic, democracy. | Drugs, Weapons, Psiconics.: <div style="color:chartreuse">Minor group - Some supporters</div></div><br /><div style="color:#ffe81F">Participating Democracy. | Ruling function are reach by the advice and consent of the citzenry directly. | Collective, tribval council, commlinked consensus. | Common contraband includes drugs.: <div style="color:yellow">Notable group - significant support, well known</div></div><br />
            <br />
            <div>Quirk</div>
            Fusion - the culture is a merger of two distinct cultures. Roll again twice to determine the quirks inherited from these cultures. If the quirks are incompatible, then the culture is likely divided.
            <div>Controlled by</div>
            <a href="ncbb"> New Colchis Business Board</a>
        </div>
    </div>
</body>
