@page "/UFE"
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>
</head>

<body>
    <div>
        <h1>United Federation of Earth and her Colonies Among the Stars</h1>
        <p>The United Federation of Earth is the largest faction in the setting and is tied with <a href="vers">Vers</a> for the title of second oldest.</p>
        <p>The Federation is a place where you can be whatever you want to be. Do what ever you want to. There is a planet somewhere in some piece of federation territory that is the exact heaven you dream of, its up to you to find it. And if it doesn't exist, to found it.</p>
        <p>Societies that have formed off of the Federation tend to focus on individualism and democracy. Believing in the freedom to make your own mistakes.</p>
        <table style="width:25.5em;border-spacing:2px;float:left;">
            <tbody>
                <tr><td>1) Short Description</td></tr>
                <tr><td>2) History</td></tr>
                <tr><td>3) Government</td></tr>
                <tr><td>4) Army</td></tr>
                <tr><td>5) Navy</td></tr>
            </tbody>
        </table>

        <table style="width:25.5em;border-spacing:2px;float:right;">
            <tbody>
                <tr><td colspan="2" id="seperator"></td></tr>
                <tr><td>Name</td><td>Relationship</td></tr>
                <tr><td><a href="udTn" style="color:white">United Dominion Of Terra Nova</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="ucs" style="color:white">United Colony Of Saldor</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="ufu" style="color:white">United Federation Of Utopic</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="uct" style="color:white">United Colony Of Tihara</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="uft" style="color:white">United Federation Of Takara</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="ucm" style="color:white">United Colony Of Maldeth</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="germushia" style="color:white">Germushia</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="polanskia" style="color:white">Polandskia</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="deutschland" style="color:white">Deutschland</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="xiaoming" style="color:white">Xiao-Ming</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="firstorder" style="color:white">First Order</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="britannia" style="color:white">Britannia</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="ivft" style="color:white">Imperial Versian Federated Territories</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="transGalaticEmpire" style="color:white">Trans Galactic Empire</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="vers" style="color:white">Vers</a></td><td style="color:yellow;">Neutral</td></tr>
                <tr><td><a href="url" style="color:white">United Reverse Lords</a></td><td style="color:yellow;">Neutral</td></tr>
                <tr><td><a href="axios" style="color:white">Axios Alliance</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="universalisConfederation" style="color:white">Universalis Confederation</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="witcher" style="color:white">Witcher Order</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td colspan="2" id="seperator"></td></tr>
                <tr><td>Traits</td></tr>
                <tr><td style="color:orange">Liberal</td></tr>
                <tr><td style="color:orange">Democratic</td></tr>
                <tr><td style="color:orange">Military Focused</td></tr>
                <tr><td style="color:orange">Very technologically advanced.</td></tr>
            </tbody>
        </table>
    </div>
    <br />
    <div id="information" style="clear:left">
        <h2>Short Description</h2>
        <p>The United Federation of Earth and her Colonies among the Stars is both one of the oldest and one of the youngest nations in the Known Universe. During reforms enacted by the recently elected Fuhrer Emily Goodwin, the Federation of today is a dramatically more democratic society then in days gone by. Molded by a recent war with the empire as well, the Federation now stands as a woken giant.</p>
        <p>Unfortunately for this giant, following Fuhrer Goodwin's reforms, some of the new leaders like Jugendfuhrer Hellsbeck opposed the changes, nearly starting a civil war. Even today the freedoms <a href="ufu">Utopia</a> posses come at the cost of the Federations control over colonies like <a href="ucm">Maldeth</a>.</p>
        <br />
        <p>Life within the UFE is truly wondrous. IF you don't want to work, you don't have too. No matter your political beliefs, your social beliefs, or your fetishes, there is a world out there that is just right for you. With the various levels of government being given extreme degrees of control, the people truly can create their own utopia whatever that may be.</p>
        <p>For most though, they choose to live on "normal" worlds, people have a job that they work 3 days a week, spend time with friends and family, live comfortably, spend time in virtual space and real space. For some, they choose to live on planets that a medieval present would find outdated, or living on a world that Asimov couldn't even begin to image.</p>
        <p>Be who you are, whoever that may be. Because ultimately no one in the federation has the right to stop you.</p>
    </div>
    <div>
        <h2>History</h2>
        <h3>Early history (Founding and First Sol war)</h3>
        <p>The Third world war came following the Augment war, wherein the <a href="uar">United Augmented Republic</a> came together under commander Farsight and launched an all out war against the rest of Humanity, before fleeing to the <a href="twinShadows">Twin Shadows Galaxy</a>. Though officially WW3 comes after the Augment war, there really was no formal in between point. During the Augment war, a nuclear power plant in the central United States was hit by a uranium enriched god rod, as was a nuclear power plant outside Berlin. The result of these strikes was that a 2000km radius (Berlin to French border of Belgium) became a zombie infested radiation filled wasteland.</p>
        <p>During the Third World war, the factional alliance was easily described as North America, Western Europe, Africa, and Eastern South America against Eastern Europe, Western South America, the Middle East, and Asia. Australia was at this point returned to the control of the Emus, as the UAR had previously used it as their capital.</p>
        <p>On the Versian Side (Russia + allies), the orthodox Church took holy minitor warriors to what was left of Poland, while the west sent its three Holy Orders (the Jed-i Order, The Gray Order, and the Order of Sith), and a general unaligned holy order also began to spring up, though more to deal with the otherworldly begins (known as the witcher order)</p>
        <p>This holy war was also the first time that mankind would wield void power.</p>
        <p>The original Federation was founded following the third world war, as the remaining nations on Earth came together to form the United Federation of Earth. While what would become known as Vers fled towards Mars, the UFE focused instead of rebuilding and preparing for the next war. With major work projects like the Moon Mac project, or the Solar Auxillary Force, the UFE was shaping up to be a real system power when the First Sol War began.</p>
        <p>The UFE and Vers Empire would spend the next three years in an epic war over the land between Earth and 'Vers', culminating in the 36 Orbital Knights of Vers launching a crusade for the planet that was promised them, Earth.</p>
        <p>While a majority of the Landing castles the knights used to attack Earth were destroyed before they could arrive, a small section of six castles broke off to head for Luna. While the remaining castles made moves towards Earth. As the Six Luna-bound castles began their approach, the Moon Mac array began barrage the heavens with explosions. Successfully destroying two of the inbound landing castles.</p>
        <p>Meanwhile, the battle for the stars around Earth continued to get more and more heated. As tens of thousands died during insane offenses from leaders without even simulated experience. Through sheer luck, and the support of a rogue knight, the UFE was able to slow down the invading force long enough for the moon to offer its support.</p>
        <p>As four landing castles streaked across the endless night sky, the Deucalion, flagship of the UFE fleet, arrived delivering with it the destruction of a landing castle outright. With the support of the Moon Macs, the rest of the fleet was decimated until only the ruins of two landing castles remained. Both though, were able to burrow themselves into the surface of the moon.</p>
        <p>For the next two months a frantic corridor to corridor war was fought over the massive moon instillation. The two landing castles, the Luna Wolves and the Luna Guides, low on supplies, even lower on power suits and people to man them. The Luna Wolves brokered a deal with the UFE, in exchange for control of the moon, the "Luna Knights" would forever defend Earth, ensuring the planet would never be destroyed. In return for this, the Luna Knights would Secure the moon.</p>
        <p>Following the destruction of the Orbital Knights, the UFE were quick to invade Vers, leaving the fledgling nation with control over the planet. With this defeat, Tzar Victor Petrov would sign the Axion Accords, creating an alliance between the two baby giants, often ridiculed as "the space united nations" the comparison was not without merit. Though the <a href="axiosAlliance">Axion Alliance</a> served more as a forum for leaders to voice their displeasure at one another then as a location to actually pass law.</p>
        <p>Following the war, Sigmar would leave the Vers Empire to found <a href="germushia">Germushia</a> and the belters would begin to rise up to found <a href="artekka">Artekka</a>. Meanwhile Vers and the UFE would begin to launch colony ships to other systems.</p>
        <p>Following the third world war, the UFE's capital was declared to be in the City of Winnipeg. Which had played a vital role during the Augment wars and WW3, and was centralized enough to be able to reach most parts of the world at a fairly even speed, while also being in the middle of a fairly safe area from the effects of climate change that the various nuclear disasters had brought about.</p>
        <h3>Rise of the First Empire</h3>
        <p>Following the First Sol war, humanity entered into a golden age of space exploration. Sigmar was hit with his guiding light to head out and give the Germushian people a home. The belters united and designed their own Void Drive, heading out to gather more resources for the great project. The Versian government had once again calmed itself, and now had a dedicated goal, expand outwards. Instead of competing at how they could more wastefully use their citizens, the UFE and Vers began a rivalry focused on creating new citizens.</p>
        <p>As the sapling human nations began to grow, so to did their desire for bloodshed. The pirates and bandit groups who would take advantage of the vast then unexplored expanse that is the milky way served as a way to occupy the various calls for humans lesser nature to cause harm to one another. But this would not last. Over the following centuries from the Sol war, the various nations and other smaller ones spurred up and began their lives only to be crushed as quickly. The trading of territories would be paused for various events requiring the unity of humanity, such as alien invasions, plagues, and other horrors.</p>
        <p>But as the second millennium came to a close, in the Congress of the United Federation of Earth, a madman, a member of the ancient Sith Order, Darth Sidious, known as Congressman Sheeve Palpatine, would be elected Prime Minister, giving him executive control over congress. In the following days, the Vice President in charge of the Senate was assassinated, and the Senate voted to have Prime Minister Palpatine become Acting Vice President. Several more days later, the presidents capital ship vanished during an unexpected void storm around Earth. The result was that the Prime Minister was also the President and the Vice President. Many within the Senate pointed to the insane contradiction at the end, and a vote was held removing the Prime Minister of his title as Vice President, instead handing it to another member of the Senate, who was a supporter of the Prime Minister named Anakin Skywalker.</p>
        <p>Having effectively taken control of the government, Palpatine declared himself emperor, and his apprentice, Darth Vader (who was elected Vice President), the heir to the throne. This caused massive political upheaval and resulted in the First Imperial war, or the First Civil war. The UFE would declare a new emergency government on Terra Nova, on the far side of the Galaxy from Earth proper. Terra Nova would become the historic and constant home of the UFE to fall back to during times of war, even during the latest <a href="imperialwar">Imperial War</a> and is now the capital of the <a href="ufTn">United Federation of Terra Nova</a>.</p>
        <p>
            Under Emperor Palpatine, the Imperial canon was Codified to contain:
            <ul>
                <li>A declaration of an Empire - The official declaration of the <a href="transGalaticEmpire">Empire</a>, explains how the government should be organized, with the emperor as the head of government and state with absolute power. A legislative branch in the form of the Imperial Senate, the executive branch being composed of the military, and the judicial branch being non existent, instead being folded into both legislative and executive. Declares the Book of Sith the state holy text.</li>
                <li>The book of Sith - The ancient Sith holy hoser book, dating back to the ancient Canadian Sith Order from the days of the Third World War. Defines a lot of the religious and therefore social aspects of the empire.</li>
                <li>The Tarkin Doctrine - Defines the military doctrine of the empire. Supremacy must be visible at all times. The military must appear as a single unified, unbreakable wall. An unstoppable wave of identically trained perfect soldiers.</li>
                <li>An Empire of Nobody - Written by a heavy critic within the Senate of the Emperor. Outlines the fact that the empire is nothing without its citizens and thus is always subservient to them and their needs. If they are not happy then the empire can not function. This document would server as the outline of imperial society for all the future and is considered required reading for any nations leader in the Known Universe.</li>
            </ul>
        </p>
        <p style="font-size: small;">(Authors note, yes, this reads like shitty fan fiction. I am aware. I am sorry. It was a while ago. I have taken a fair bit of work to try and make the actual characters and events different, really the names are closer to jlaw in Star Trek Beyond, where it was a stand in for Jenifer Lawrence or something and they basically hacked it last minute. I just haven't hacked these names yet because theres too much built around it now.)</p>
        <p>During the ensuing war against the empire, a small group of rebels would infiltrate the empire and assassinate the Emperor. The group was composed of: Geralt of Riva, Luke Skywalker, and Sigmarius. Combined their mastery of the void allowed them to open a direct void portal to the imperial throne room. Upon their arrival, the three battled Darth Sidious while his apprentice was off battling the main UFE fleet on the other side of the galaxy. Before the emperor could be slain, he declared that the imperial Senate was no longer in session. Meaning that the empire effectively could only be restarted by Darth Vader.</p>
        <p>Darth Vader, upon hearing about the death of his master declared an immediate cease fire. Ordered all imperial personnel and those who were loyal to the empire to board their ships and head towards a set of <a href="palpatinius">coordinates</a> he broadcast on an open frequency. Over the next decade as various imperial personal declared themselves warlords, and random systems declared independence, the UFE began to attempt to retake the land it once held, including the jewel of humanity, Earth.</p>
        <p>Thankfully, the witcher world ship Rivea arrived at the behest of Geralt, and served as the unofficial occupying force on Earth until the UFE could arrive and properly secure the planet.</p>
        <h3>The Witchers Take Control</h3>
        <p>After Geralt got a taste for power, he decided that organizing the Witchers, from being separate orders each tied to their worldship, into a unified block would serve as a good long term decision. This would destroy universal confidence in the witchers for tens of thousands of years.</p>
        <p>As the world ships began to join Geralt's newly formed <a href="witchers">witcher forum</a>, the individually powerful micro-nations became oppressively powerful. Soon, Geralt began to see the issues with a true democracy composed of those who are, without question, better then your average human. To his disgust the forum became more and more insular and focused on how the witchers knew better then humanity on the course of action, after all, they had the foresight of the ancient forerunners.</p>
        <p>These initially small talks would be amplified by humanity. Some nations doing more then others to tarnish the name of the witchers. The damning moment was the destruction of the worldship Azunmith, home to one of the most outspoken pro peace witchers, by a fleet of Deutschland battlestars. The Ensuing war would come to be known as the Witcher war, or, the Witcher Purges.</p>
        <p>In a <a href="https://www.youtube.com/watch?v=4Ve28vLuEOU">New York Year</a>, the galaxy erupted into an archaic, bloody, inhuman war. As humanity united to try and fight back, they were reminded of their long forgotten sibling only a galaxy away. With several bloody sieges Humanity was able to capture a few world ships, using what time they could to gather whatever other ships they could, and send them en route to the Twin Shadows Galaxy.</p>
        <p style="font-size: small;"> <i>"We need no justification needed for stepping on an ant. They need only to pretend to be convinced we are ants."</i> - Federation Soldier</p>
        <p style="font-size: small;">(authors note, witcher world ships served as the foundation for the later worldships that the UFE would construct for Germushia during the berlinnic crisis. The witcher ships are noticeably different though. Due to their primary focus being a military instillation first, planet second. While also being tied to an actual planet or set of planets. Check out the witcher article for more information)</p>
        <h3>A journey across the ocean and back</h3>
        <p>the UFE, like Vers, Germushia, Artekka, and a collection of smaller states, got one of the stolen world ships. They had also used stolen imperial shipyards to finish constructing the colony ships the emperor had been building to use to invade the other dwarf galaxies. This combined fleet gave the UFE a fairly powerful presence during the great voyage.</p>
        <p>Between the First Imperial War, and the great journey, the UFE launches several of the imperial colony vessels out to the <a href="utopia">Utopia Galaxy</a>.</p>
        <p>For one century, humanity collectively flew, void jumped, shared supplies, shared losses, and shared victories until they arrived at the blessed newly found holy land of the twin Shadows Galaxy. Though initially expecting to be welcomed in with open arms by the United Augmented Republic, the long lost family members seemed distressed with the reunion. An agreement was worked out, the "old galaxy" people could stay for a while and rebuild. Upgrade their vessels and build a new military fleet. The UAR, under the command of Farsight, would also send a military fleet to attempt to assist, as farsight hoped to reunite with humanity.</p>
        <p>Humanity would spend nearly 800 years in the Twin Shadows Galaxy "rebuilding" and upgrading their fleet. Training a generation of military personal who were raised on the idea that they were literally bred to retake the homeland of humanity.</p>
        <p>The journey back to the Milky way was noticeably faster then the journey to the Twin Shadows galaxy. This was in large part due to the leaps and bounds superiority technology of the UAR. When humanity returned to the Milky way, they came ready for a fight. Dedicated and focused the space battles would last for months on end while the ground battles sometimes became each side throwing wave after wave after wave after wave of troops at each other.</p>
        <p>The war would culminate when the UAR and UFE launched an all out assault for Earth, which itself was situated above the massive Forerunner Ark, with the five tendril like arms reaching out to look as though it was holding, or devouring, the planet. The Ark, which had served as the capital of the Witcher empire for the last 1000 years, would be the battleground for two titans of legends.</p>
        <p>Commander Farsight's void portal ripped into the throne room of the Ark, where the 2.7 meter tall machine-man stormed in, void blade drawn, Geralt leapt himself into action. As the two's duel tore the room apart, and was eventually forced into the vacuum outside the towers window. The two dueled as they ran down the tower in tandem striking blows off each other and the building. Eventually the two would reach the bottom, the massive crystal array above which Earth floats. The harsh pull of Earths gravity threatening to tear the warriors upwards and down to the solid surface several hours away, if they go too high.</p>
        <p>Realizing the two could never defeat each other in a pure duel of the blades, farsight decides his only course of action is his own destruction. Throwing his blade at Geralt, before rushing the mad king to tackle him to the ground above. </p>
        <p>The two would spend the first hour fighting on their way down before they realize there is no altering their fate. Moments before the two decent into the hellish heat of reentry, the two realized they really were more similar than different. This realization would cause their souls to remain within the <a href="aether">Aether</a>, holding a connection to <a href="void">The Void</a>.</p>
        <h3>The Rise of Lords and Ladies</h3>
        <p>After the witcher problem was dealt with, the UFE along with the rest of humanity, would enter into a golden age. For nearly one thousand years the galaxy saw a form of peace. No two great nations had a war with each other. Several smaller nations rose up and were given their total right to independence.</p>
        <p>That would end when the empire decided to invade. Under heavy pressure from internal personnel to reopen trade, the empire decided that invasion was better then peace. While the war itself wasn't too much an issue and was dealt with fairly quickly. The admiralty realized just how much power they had, and how due to the weaknesses of those who didn't have to operate in the field, those who couldn't properly respond to what was happening in the day to day lives of the citizens, decided to overthrow the government.</p>
        <p>The 25 admirals of the UFE declared the president without power, shut down all trade and threatened to destroy any ship that dared attempt to leave. Only once parliament elected to declare the house of lords in existence, and the 25 admirals as its first 25 lords, as well as a shared leader, the fuhrer be put in place. Did trade resume and the galaxy return to normal.</p>
        <p>
            The original 25 charter lords are:
            <ol>
                <li>McIntosh</li>
                <li>Johnson</li>
                <li>Lewer</li>
                <li>Dyson</li>
                <li>Pawluk</li>
                <li>Rosendal</li>
                <li>Sutton</li>
                <li>Downey</li>
                <li>Lobato De Faria</li>
                <li>Wong</li>
                <li>Beck</li>
                <li>Van Aert</li>
                <li>Pidwerny</li>
                <li>Roy</li>
                <li>Harren-Dayen</li>
                <li>Pratcshler</li>
                <li>Mishra</li>
                <li>Nyman</li>
                <li>Bajus</li>
                <li>Sarrason</li>
                <li>Nawam</li>
                <li>Hughs</li>
                <li>Mueller</li>
                <li>Laurencelle</li>
                <li>Baron</li>
            </ol>
        </p>
        <p>The reforms the Lords would introduce would server as the foundation for the UFE government system until Fuhrer Goodwins reforms, and would itself take heavy inspiration from this system.</p>
        <p>The premise of the system was to introduce a new house to the government. During the great journey, the government had temporarily introduced the concept of starships representing their own systems in parliament, as their own unique entities, referred to as the star-council. The council was closed following the return to the milky way, and declared no longer needed. The lords used that precedent to create the house of lords, technically at the time a sub-body of the Senate, Though effectively independent. It would also create the office of fuhrer and the privy council, as well as the requirement for the number of lord seats match the number of parliamentary seats. These reforms allowed the Lords, and their massive (and very loyal) fleets to have large amounts of sway over policy and the nation.</p>
        <p>The lords though, were unable to sway the government from being able to maintain their own fleet, separate from the lords fleets. This agreement was created following a major conflict between a majority of the lords over three dozen misplaced cows, wherein a majority of the UFE fleet was destroyed, and the population rightfully pissed. Seeing the chance for an easy victory, the Vers Empire, itself having recent reformed with the new Reverse Dynasty taking the throne and wanted to cement its power with a war. The crippled and weak UFE passed several laws creating a fleet for the defense of the UFE from external threats, while the lords were free to pursue war within borders between each other so long as civilian casualties are minimized. This compromised has somehow withstood the test of time, as it allows the lords to keep the fighting between themselves, maintaining a near constant supply of trained and battle hardened troops to serve in battle if need be, or train those who will do so in their stead.</p>
        <h3>Total Control</h3>
        <p>The UFE, now under its new system flourished, and the UFE grew, sprawling across the milky way. The galactic north was divided between an Axios sect, the Germushian Empire, and the UFE, who controlled the edges. While the south was a battleground between Vers and the UFE, with the Axios state in that area being backed by Artekka. While in the galactic west, the UFE's second home <i>Terra Nova</i> was threatened with the third and final major remnant of the Axion Alliance. <a href="zalyn">Zalyn</a> held territories as well as enclaves of the now decimated and fractured Witcher empire dot the galaxy, as do the faintest bits of the millennium old Imperial warlords, supported by the <a href="firstOrder">First Order</a> in the <a href="sheeve">Sheeve Galaxy.</a></p>
        <p>The various empires began a bloody period of war, as Vers expanded in their new galaxy, their care over the holdings within the Milky way waned. The yearning to control the jewel no longer mattered that much when your empire has an entire galaxy of heathen aliens to slaughter. This lack of care translated to little support during the UFE battles to take the various border territories. In the Artekkian backed area of the Milky way, <a href="xiaoming">Xiao-Ming</a> approaches the fledgling nation, offering it the chance to move to a new galaxy. The recently merged Mega-Corporation offered to procure a fleet of worldships to transport the Axios citizens from all three of the lands to a new galaxy, where they could found their own nation. The deal was quickly accepted and Xiao-Ming became the first corpo-national entity at the galactic scale. The loss of this company, taking all of its business aboard a fleet of ancient, repaired worldships, would cripple the UFE's economy.</p>
        <p>The fallout from this economy collapse would lead the wretched Fuhrer Elizabeth Sutton to cut the federal naval budget. The resulting loss of defence would lead a war hawk Germushian Emperor, Tylisun Gauthier, to declare war against the UFE. Targeting attacks on major dilithium refiners and mines. As well as the use of suicide fleets to attack dilithium storage planets in an attempt destroy the UFE fuel reserves.</p>
        <p>The Emperors plan was a success, and the UFE's, fuel supply was absolutely decimated. A period of deep recession set in as starship owners couldn't afford to fuel their ships, meaning no one could collect the dilithium needed to fuel the fleets. Pressure in Parliament forced the passing of laws restricting the militaries ability to use dilithium to half the supply purchased by the government, the other half must be spent on powering stations, planets, and vessel used by the federal government for non-military purposes.</p>
        <p>At the same time, the civilian market was alloted only 10% of the total dilithium mined within the UFE. This heavy punishment of trade had deep fallout when it came to the worlds ability to survive. As the population across the federation starved, others suffered under constant siege from Germushian warships, slowly forcing their way into the UFE. The military was crawling, sparingly using ships in only the most defensive of situations as to keep the tiny amount of fuel left. Piracy ran rampant as fleets within "safe" core territories were forgotten. That was until those few witcher holdouts decided to strike back at the new king. Destroying the once precious safe havens. While Vers avenged their taken lands with sieges of their own. Not even the Axios Alliance could stop their limited number of people left from taking the chance to stab Caerser. </p>
        <h3>Another Imperial Invasion!</h3>
        <p>As war engulfed the milky way, the Empire couldn't stop themselves from taking the chance to strike back. Coming home to fulfil the final orders of Darth Vader, Darth Zalbesk and his army arrived to what seemed an easy victory. Constructing a masterful peace of technology not yet seen in the Milky way, the <a href="voidGate">Void Gate</a>. This gate would allow the Empire to bring in hoards of ships in 5 <a href="earthStandardTime">Earth Standard Years</a> instead of the usual 50.</p>
        <p>This rabbit imperial dog hounded the various nations within its old home. Appearing in the galactic south, the Empires merciless assault on the Vers Empire would force them to stop their attack on the UFE. While the Germushian Empires true goal became apparent, to move and colonize a galaxy of their own. the <a href="rhineland">Rhineland Galaxy</a> would become the new home for the Germushian Empire. Emperor Gauthier was left with his armies to distract the UFE while the recently crowned Emperor Downey would take the Germushian people to their new home.</p>
        <p>Vers, having ended their war with the UFE, now once again shared a unified enemy. Falling back on the old saying, the two enemies quickly became friends. The Versian military shared an outdated but functional <a href="aldnoah">Aldnoah Drive</a>, which when combined with the UFE's ampul supply of Versian Aldnoah from days gone by allowed the UFE to reenter the offensive with a fierce conviction. Devoting a majority of their dilithium fleets to the North, in order to deal with the Germushian threat, the Aldnoah fleets focused on the imperial threat to the south.</p>
        <p>Unfortunately, this would newfound energy would not be enough to allow for a victory, only a stopping to the defeat. In the UFE's darkest moment of need, their ancient great grandchildren, the <a href="ufu">Peoples Federation of Utopia</a> had returned with a much needed fleet, and their own technological leaps. This turned the balance towards the side of the UFE. Allowing them to take the galactic north with the PFU fleets, while the internal warzones could be devoted towards the now refueling federation fleets. The lords, now once again being able to fuel their fleets, were able to join the war. The Utopian Voidgate was itself a massive improvement over the imperial counterpart allowing travel in 3 years instead of 5.</p>
        <p>The war would end for Vers when Empress Asseylum ReVers took personal command of the Versian Fleet within the Milky way on a suicide mission into the Imperial Voidgate, the camera footage and derby confirmed the complete destruction of both fleets.</p>
        <p>The next several years would be spent cleaning up the various imperial and other military groups that had risen up within the UFE, themselves now the sole major power within the Milky Way galaxy.</p>
        <h3>A child comes home</h3>
        <p>As the UFE cleaned up the milky way, they were presented with a new problem, the Peoples Federation of Utopia. This new ally, their child, was modeled after the old government, held the old governments values, and had its own culture. One which scared those in the upper echelons of the UFE government. This caused a set of reforms to take place, that served to define various sections of the UFE, the designations are:</p>
        <ul>
            <li>Dominion - Any territories that the UFE controls which is not Earth.</li>
            <li>Independent Dominion - A collection of territories (normally a galaxy or dwarf galaxy) that is given an autonomy to self govern. (This is what Utopia was defined as, and is now more often referred to as a "federation"</li>
            <li>Depended Dominion - A title that is mostly used to define smaller holdings that have some level of autonomy, but are generally tied to and depend on a independent dominion for many services, especially defense.</li>
            <li>Colonial Dominion - Colonies are given a similar degree of self governance as an Independent Dominion, but are heavily restricted in what they can do, and at any time their parent Independent Dominion can step in and take control.</li>
        </ul>
        <p>Following this setup, the ufe would begin to enter a golden age, under a new Fuhrer, Eric Johnson, who would guide the UFE for the next seven hundred years in one of its most prosperous millenniums ever.</p>
        <h3>The colonies are founded.</h3>
        <p>For the next several thousand years, the UFE would grow and explore what was left of the Milky Way, moving to colonize the dwarf galaxies that orbit the Milky way. The leaders came and went, lords fought and betrayals were had.</p>
        <ul>
            <li><a href="canaca">Canaca</a></li>
            <li><a href="dewara">Dewara</a></li>
            <li><a href="sheevez">Sheeve</a></li>
            <li><a href="tiwak">Tiwak</a></li>
        </ul>
        <p>In the middle of this time, a series of colony ships are sent to four major galaxies that were yet to be taken by humanity. These galaxies would be:</p>
        <ul>
            <li><a href="Tihara">Tihara</a></li>
            <li><a href="Saldor">Saldor</a></li>
            <li><a href="Maldeth">Maldeth</a></li>
            <li><a href="Takara">Takara</a></li>
        </ul>
        <h3>The stable years</h3>
        <p>Following the founding of the new colonies across this tiny millisecond of the universe, each colony had a voidGate built, while each major nation worked to construct tens of voidGates connecting themselves to each other, spurring on another era of trade and prosperity for the great nations of the day. The Vers Republic embraced their new found liberty with the disappearance of their royal family, while Germushia took the chance to build an entire new empire with glee, launching war after war against any Xeno Foe who dared take a world from the great and powerful humanity. While the Axios Alliance and Xiao-Ming took a different approach, either paying off the aliens or inviting them to join the corporate alliance.</p>
        <p>The UFE prospered as well in the millenniums of great trade. That is not to say that it was without troubles, simply that the nature and depth of the troubles failed to match the threat of total annihilation and destruction of a way of life. Everyone had ample room to expand, plenty of enemies to slaughter, and the distance was far enough that minor slights could never reach their recipient, while larger issues could be resolved with relative haste.</p>
        <p>Science itself saw a massive leap as well, the invention of the <a href="warpDrive">Warp Drive</a>, the discovery of ship to ground void-transporters. The ability to construct massive orbital shipyards that could produce what once took a decade in a year. Trade boomed, people lived good lives.</p>
        <h3>The unstable years</h3>
        <p>But like all good things, they can not last. The election of the eccentric and unwanted Fuhrer Doctor Swansea. Fuhrer Swansea's right hand man, Johnathan Reid, would become known for his brutish habits as the enforcer of Swansea's will..</p>
        <p>The dislike for Fuhrer Swansea culminated when it appeared that he was moving to de-power parliament, passing massive and horrifyingly invasive laws like the War Measures Act or the War Powers Act. Creating a specialized military organization at the direct command of the Fuhrer, absolutely loyal to the Fuhrer above even the state. Army No.501 would become famous for their brutal efficiency, and their trademark pitch black armour, and their ability to seemingly appear from the night. The creation of Section 31, a specialized internal beyond-top secrete above parliament agency based on Section 31 of the War Powers Act, which reads: </p>
        <p style="font-size: smaller;">N.31: During times of extreme threat, any action taken against anyone acting against the Federation of Just, so long as it is done to maintain the Federation. N.31.1: If any action should violate a Federal law, then said action shall be investigated by secrete committee which never happens if found the action would unquestionably benefit the security or stability of the UFE.</p>
        <p>Further stressing the UFE, Fuhrer Swanseas actions to depower parliament from passing any new laws and passing all legislative power to the House of Lords, and make himself and the privy council absolute judicial authority, the already weary Peoples Federation of Utopia threatened open war if Swansea did not step down.</p>
        <h3>Then, things get worse</h3>
        <p>In order to prevent an all out civil war, Johnathan Reid murdered Fuhrer Swansea, holding a snap election, using the newly passed election laws passed by Fuhrer Swansea that would guarantee his Sovereignties victory in the House of Lords, and therefore the election, Fuhrer Reid was quick to take the throne, and immediately repeal said law. As well as many of the previous bills passed under Fuhrer Swansea, before eventually doing the absolute insane idea of declaring the entirety of federal legislation passed under Fuhrer Swansea as the work of a trader, and therefore under Section no.31 could be justified in being removed from the legal system.</p>
        <p>This would keep the PFU in line for a while longer. Fuhrer Reid would work towards securing a much stronger relationship with the Empire. Eventually falling in love with the Daughter of Darth Allusia, Fuhrer Reid would resign from his position to marry Catharine Vers Allusia, heir to both the Imperial crown, and the Versian crown.</p>
        <p>Upon stepping down, the two would marry, Johnathan would take the Imperial crown himself and be knighted as emperor and Sith Master, himself knighting his wife empress and Sith Master. The two would then head to the Vers empire, and reveal to the Collosius that they were in fact the rightful leaders to this empire, and had the military might to support their claim.</p>
        <p>Because Emperor Reid was a vampyr, and would infect his wife with his curse, the two would live for millennium barely aging, and ended up having three children. Camilla, Samantha, and Asseylum.</p>
        <h3>And worse</h3>
        <p>Following Fuhrer Reid leaving office, the UFE was thrown into disarray. A series of fuhrers would take office often ruling for only a couple of decades before being overthrown or eventually voted out of office. This would culminate in Fuhrer Jennifer Rosendal, who would attempt to fulfil Fuhrer Swanseas goal, and once again tried to remove parliament from power, and did a surprisingly good job of it. With heavy support from the Lords within the Milky way, and the 501st having infiltrated most major positions within the military, and section no.31 controlling the rest, the resulting civil war was not just between the people and the government, but also the PFU against the UFE in a war of independence.</p>
        <p>This war would end in the UFE when Fuhrer Rosendal was tracked to Kamino, the basing planet for the 501st, covered in 97% oceans, the Fuhrer would spend 3 years fighting a submarine battle moving from massive underwater city to underwater city, loosing a fleet of ships until eventually being murdered during a coup by the ships fifth head cook during dinner after the Fuhrer asked why the food tasted stale, having not resupplied in over nine months. The murder weapon was reported to be a long, thin loaf of bread baked three weeks before sharped into a sword by what was reported to be rats teeth.</p>
        <h3>Nearing rock bottom</h3>
        <p>As the UFE fell into a death spiral, the colonies began to whisper of independence, the First Order had increased their trade within the milky way, much to the fear of those within, while the economic minded Fuhrer Zenin Pawluk took the profits from the trade increases. He would remove the 501st from being a legal entity. Instead replacing it with a private military company who was owned by the First Order, who received a no-bid contract on constructing a moon sized station to house a spec-ops unit of these private military contractors to deal with piracy and terrorist activities within the area. The elite teams would deploy in small squads aboard corvettes and cutters to quickly appear in systems and deal with various issues in a quick and discreet manor.</p>
        <p>With the Deutschlands discovery of hyperspace and hyperdrives, and Pablo Escobar selling the drives on the open market to the UFE, at the behest of the First Order, the UFE under Fuhrer Zenin would be quick to adopt the new technology with few precautions. In service of making money, the UFE fleet was overhauled to use Hyperdrives manufactured by the First Order, at the recommendation by Pablo Escobar. (and a hefty payment of nearly 3.2 billion <a href="credit">credits</a>.)</p>
        <h3>And now... another Imperial invasion!</h3>
        <p>As Zenin worked to depower the UFE, Pablo Escobar would force Supreme Commander Snoke of the First Order to accelerate his plans. When Pablo spoke in front of the Universalis Confederation, revealing how the First Order had stolen a large chunk of his fortune, forced themselves into controlling his government, and were working on taking over the Universe, he was assassinate by Kylo Ren, who then fled to his Star-Dreadnought and ordered the destruction of the station holding the Universalis Confederation representatives. While it would ultimately be unsuccessful, it would give Kylo time to run. Upon his return to the milky way, he released a virus into the hyperspace network that would prevent the UFE fleet from being able to use the much faster transportation route they now depended on. At the same time, the virus carried a message to any imperial ship to execute order 66, which would declare war on the UFE and immediate make way to rejoin with the areas lead command ship and began an organized attack on the UFE.</p>
        <p>When Kylo Arrived at Earth, he brought with him a fleet of imperial ships and launched an all out assault on Winnipeg. Attacking each of the houses of government, at the same time the houses were voting to remove Fuhrer Pawluk from his position. The vote passed within parliament moments before artillery shells destroyed the building. The more well shielded house of lords was instead the battleground for a nine week seige as the Lords and their "personal guards" numbering in the millions defended the government building and the void-transporter inside, beaming personal to Luna, and from their taking safe passage aboard a luna knights ship to their Sovereignties.</p>
        <p>Over the next decade the first order fought the disorganized UFE, quickly conquering all but the galactic northwest, with the temporary capital of the United Federation of Earth being Terra Nova.</p>
        <p>While the UFE fleet held the Imperial fleet in the North off from invading, mostly due to the patrolling star-holds, the south western front was a different story. The Federation fleet, focused on the south while the lords held the north, and the federation fleet was fighting for survival. While initially composed of nearby ships, stragglers fell  in during the nine years of fighting to create the borders as they were when John Goodwin took control of the recently captured super star destroyer, renamed the Sovereignty.</p>
        <p>Lord Goodwin would renounce his title in trade for sole command of the SSD Sovereignty, as well as command of whatever fleet he could muster behind imperial lines in the Sovereignties name, acting Fuhrer Donald Lewer agreed to the deal, and Lord-Admiral John Goodwin embarked on his 50 year journey to destroy Defense Station-1. </p>
        <p>For the first ten years, Lord Goodwin and his fleet of ships snuck behind enemy lines, using the relatively scattered fleets in the north to quickly make it to the south, and then taking a slow but steady crawl before arriving at the space between a number of key systems where DS-1 Lied. Lord goodwin would launch a doomed assault on the station. Foiled when Kylo Ren arrived with the First Terran Fleet, containing the Terra-Hold, 12 Star-Dreadnoughts each of which had 16 super star destroyers, who themselves had 26 star destroyers. The UFE fleet was outmatched and quickly fled. Using the skills it had gathered over the last 10 years to disappear. It would spend the next 40 years being chased by Kylo Ren, while working with local resistance and pirate groups to destroy imperial systems and weaken the war front while diverting resources to deal with them.</p>
        <p>This would allow the Federal fleet to push through the southern border and eventually reunited with Lord Goodwin. During the final battle, Kylo Rens Starhold was destroyed above the ice-planet of Helzith, where he was thought dead. </p>
        <p>Lord Goodwin would be welcomed back into the UFE and even have his title restored to him, and would join the war effort, helping in spending the next 30 years fighting to retake the UFE. Lord Goodwin was also the first lord to appear in the Sol system, and during the stalemated spacebattle convinced the Luna Knights to end their millennium long oath to not interfere and finally join the galaxy as a whole. The Luna Knight response was a over 10,000 drop pods launched from luna to Earth, and the death of Supreme Commander Snoke within two weeks.</p>
        <p>With the loss of both their leaders in such a short time, Governor Thrawn would take the throne of Supreme commander and order the First order to completely retreat back to the Sheeve Galaxy.</p>
        <p>Lord Goodwin would be elected fuhrer relatively soon after the war ends.</p>
        <h3>Oh god another war?</h3>
        <p>After Fuhrer Goodwin took the throne, he repealed the War Measures Act and War Powers Act, along with numerous other pieces of worrying legislation. Following the reforms, heavy sanctions were placed on the First Order, but it would not be enough to prevent another all out war.</p>
        <p>Initially the UFE was against having any part in the conflict between Germushia and the Deutschland, or Xiao-Ming and Vers, instead choosing to keep its place in the background rebuilding.</p>
        <p>Unfortunately that would change when the Peoples Federation of Utopia declared any UFE citizen to be an enemy of the state and to be rounded up and placed on forced labour worlds. This would serve as the motivation the UFE needed to finally cast off the last remains of the bad governments and instead power words into a brighter tomorrow.</p>
        <p>After several years focusing on the Utopia front, the UFE was successful in retaking the lost lands, being named the United Federation of Utopic. The rallied around a call to help the Germushian people, and would serve as the major front in the Berlinnic Galaxy, while the Federal fleet would focus on the Axios Galaxy. </p>
        <p>The UFE would end the war a signatory of Suki Corridor treaty, and was a major part of making sure the corridor got their independence over a large enough area. At the same time the UFE was also able to secure some lands within the Berlinnic galaxy to be used as Colonial holdings.</p>
        <h3>Reform! Rejoice!</h3>
        <p>The war had crippled the UFE economy. Most trade was being done by military fleets, and most of the governments budget went towards starship maintenance or paying troop salaries. While the ancient government who still had many holdovers from the past regimes and tens of thousands of years of legislation. Fuhrer Goodwin, wanting to retire decided to step down from office and hold an election.</p>
        <p>The election race was close between two major candidates, Emily Goodwin, Granddaughter to the current Fuhrer running on a campaign of heavy reforms to the government. Her opposition, John Hellsbeck, was running on a platform of security above all else, with the not so secrete goal of making the UFE the largest power in the universe by incorporating the other nations by choice or force.</p>
        <p>When Fuhrer Emily Goodwin was elected by just 9 seats in the house of lords, the future of the UFE was set. Within a year of her election, she did as she promised and executed heavy parliamentary reforms, converting the House of Lords into its own distinct branch of government fully separate from Parliament itself. At the same time she further enforced the belief that the Lords own and Legislate over the Lands while parliamentary legislates over the people and their actions. At the same time she issued reforms in how the Dominions should be handled, giving them an even higher degree of autonomy, by allowing each of them to be their own version of the federation parliamentary system, with a Kinderfuhrer or Jugendfuhrer being the head of state and government. As well, she created the Dominion of Terra Nova, being the Dominion in charge of the Milky Way, under the initial leadership of John Hellsbeck. Fuhrer Goodwin then turned the UFE into just being the Sol system, and any of the lords of colonies who aren't part of any other full dominion.</p>
        <p>Beyond the reforms in government, Fuhrer Goodwin's reforms in the military and navy were huge. Converting the UFE army from the 30,000 year old AR-52 rifles to a modern small scale, elite combat force deployed with the most advanced weapons and armour that can be mast produced. Supported by a network of drones and operators the new UFE army is the most technologically equipped in history.</p>
        <p>Fuhrer Goodwin would also nationalize the hyperspace licensing bureau, creating four broad tiers of licenses: Civilian, Small-Trade, Medium Trade, and Large Trade. At the same time, the naval reforms allowed the UFE to downsize their fleet of sometimes ancient ships and sell those that could off to the other Dominions, while retrofitting and building new fleets to take their place. At the same time, Fuhrer Goodwin legislated that for ever 3 military naval vessels of <i>any</i> class one ship must be made for the scout services and sold at cost.</p>
        <p>These reforms, along with the passage of legislation allowing any federation citizen to take a pilgrimage to the jewel itself, as well as free once in your life relocation to any other world within your dominion free of charge. As well as subsidizing intergalactic trade with heavy subsides on voidgate transports.</p>
        <h3>Wait, is that war on the horizon?</h3>
        <p>Unfortunately, even with all the good going on within the UFE, the universe is an unstable place, and the Deutschlands desire to retake their lost lands, and the rest of <i>their</i> galaxy has lead to another round of speculation surrounding a possible war.</p>
        <p>With the fracturing of Vers, the UfE is without any strong allies, while the enemy continues to pull new friends into their cause. While the Dominions and the Federation on paper could win, the various complications and requirements of the dominion's to defend their borders will make the upcoming war the largest threat to the Federation since the Witchers.</p>
        <p>Those within the UFE who are pushing for the federation to take a larger stand in the Universalis Confederation fail to realize that the Empire couldn't care less about what the Confederation has too say. While their focus on trade blinds them to the situation brewing within the Islands the Suki Corridor as a whole.</p>
    </div>

    <div>
        <h2>Government</h2>
        <p>The Government of the UFE is a large complex beast, created and molded over millennium of war and change. At the top is the Fuhrer, the head of state and government, elected by the House of Lords and Parliament. The fuhrer is supported by the privy council, which contains 13 seats, they are:</p>
        <ul>
            The Fuhrer, and the following 6 from each side of the Government.
            <br />
            Privy Council, Parliament
            <ol>
                <li>President - Head of Parliament</li>
                <li>Vice President - Head of the Senate</li>
                <li>Prime Minister - Head of the House of Commons</li>
                <li>Chancellor - Head of the House of business representatives</li>
                <li>Grandest Admiral - Highest ranking person in the Federal Navy</li>
                <li>Grandest General - Highest ranking person in the Federal Army</li>
            </ol>
            <br />
            House of Lords,
            <ol>
                <li>Speaker of the House - Head of the House of Lords</li>
                <li>Lord of the Assembly - Represents the Lords Assembly</li>
                <li>Lord of the Council - Represents the Lords Council</li>
                <li>Lord of the Budget - The lord in charge of the revenue collected by the House of Lords.</li>
                <li>Lord of the People - The lord to represent the lords within the system as people.</li>
                <li>Lord of the Military - The lord to represent the collective Lords Navy and Army</li>
            </ol>
        </ul>
        <p>Where the House of Lords rules over all land, the planets, and the space between them, they can pass taxes on their land and what people want to do with their land. While the Federal government can tax the people, their work, and their income, which includes the income the lords would make from charging taxes to their people, effectively allowing the Federal government to raise revenue without having to pass land taxes themselves.</p>
        <p>This split in power is further divided once one gets inside the two major bodies of government. While the House of Lords may be for the land, the Parliament for the people, the fuhrer and their privy council is to combined the two and lead the people. This system is similar to that of the westminster system.</p>
        <h3>House Of Lords</h3>
        <p>The house of lords rules over all land and currently consists of 134 lords within the United Federations house, including the original 25 lords. Every lord is bound by a charter, which describes the rights the lord has, the system of government for the lords Sovereignty(the term for the land a lord controls), on what the Lord can tax, how much the lod must spend on their fleet and the size of their military. As well as numerous other minutia.</p>
        <p>The house of lords is itself split between two major bodies, the General Assembly and the Lords council.</p>
        <p>The Lords council, or the upper house, is where legislation is voted on whether it should go to the floor of the General Assembly. As well as the final vote on any legislation passed in the General Assembly (though no veto power, only the power to send back for review up to 5 times). Members of the upper house are elected after the Speaker of the House has been elected but before the shadow council has been elected. One can no sit on the Shadow council and the Lords Council, as well, the speaker in insured a spot within the Lords Council. The Lords Council also can recommend the order for events to be placed on the Assemblies docket.</p>
        <p>The General Assembly is the heart of soul of the House of Lords, it is where laws are voted on, wars rallied, calls for action heard, and of course boozing to take place. The General Assembly serves to act as a meeting ground for the lords to work out their issues before declaring war on one another, and when they do so, making said declaration public for everyone to hear and join.</p>
        <p>The shadow council works with the Speaker of the House to draft legislation as proposed by the Lords Council, as well as review who should be called on to speak on various subjects, as well as to set the docket for each House of Lords Meeting.</p>
        <h3>Parliament</h3>
        <p>Parliament rules on everything and everyone else that the House of Lords can't rule on. Parliament itself is split into three branches who come together under the president to work for the United Federation of Earth. The three branches are:</p>
        <ul>
            <li>House of Commons - Run by the Prime Minister, each minister is voted in to legislate on areas as they relate to the <i>Common</i> person, and vote on the laws introduced in the other two houses on how they best serve the people.</li>
            <li>House of Business representatives - Run by the Chancellor, the house of representatives came into existence following the depressing realization that one could not keep companies out of politics. The house now is supposed to work towards making sure the interest of companies is matched and kept in check, as to prevent the other parts of the government from being forced to regulate them.</li>
            <li>The Senate - Run by the Vice-President, the Senate represents the governments interests, and passes legislation related to those interests.</li>
        </ul>
        <p>Each branch of parliamentary legislates over their respective areas while the other two branches keep them in check, as to prevent anyone from taking too much power for themselves.</p>
        <h3>Elections</h3>
        <p>Elections are a massive and complicated mess. A fuhrers term is their life or until they decided to step down, or a vote of no-confidence is held across all 5 houses of government, and all vote Agree.</p>
        <p>For the title of Fuhrer, first the General Assembly nominates a series of candidates before voting on a pool of 12 to go to the Lords Council, who then vote on 8 to head to the House of Business, who then vote on 6 to go to the Senate to vote down to 4 to go to the Commons to vote it down to 2 before finally heading back to the General Assembly for a final vote between the two candidates. At any time any of the houses can reject the candidate list and reset the whole process back to the start.</p>
        <p>For the title of speaker of the house of Lords, the fuhrer dismisses the current speaker and temporarily takes the title themselves, and dissolves the Lords Council, before holding an election for a new speaker, who then holds an election for the House of Lords half of the Lords Council seat, while each house of Parliament votes on their seats to the Lords council. After the Lords council and the Speaker are elected, the speaker then picks their staff for the shadow council.</p>
        <p>The fuhrer must be from the house of lords, and upon doing so must renounce their title and claim to their charter, giving it to their heir, and taking the Throne of Fuhrer, as they are now the Lord over the enteritis of the United Federation of Earth. They may no longer hold a private military fleet as they have the Federal fleet and can rally any lords needed for a war.</p>
        <p>The presidential election is held once every half century (50 years) and is started 20 years before it is needed, as the outermost locations began to cast their votes, eventually the election and paper ballets reach Earth and are checked for authenticity before finally the new President is elected.</p>
        <p>The House of Business representatives hold an election every 30 years of the top companies within the UFE, choosing who to represents them. The senate is voted on by the governors of federation worlds and stations, while the Commons are voted on in their Super Sector Blocks or by population whichever is smaller.</p>

        <h3>Aristocracy</h3>
        <p>The UFE has several levels to the noble titles that represent different areas of land that they control, each title is effectively fuhrer at one level down of abstraction</p>
        <ol>
            <li>OberFuhrer - The previous fuhrer during the transition between leaders, as they guide the current Fuhrer.</li>
            <li>Fuhrer - Leader of the UFE</li>
            <li>Jugendfuhrer - Leader of an Independent Dominion</li>
            <li>Kinderfuhrer - Leader of a Colonial Dominion</li>
            <li>Duke - Title of a lord who is sitting on a privy council, or has sat on the council, not hereditary.</li>
            <li>Earl - Title of a Lord who is sitting or has sat in the Lords council.</li>
            <li>Lord - Leader of one of the various Sovereignties that make up a dominion. </li>
            <li>Count - Leader of a mega-sector within the Lords Sovereignty.</li>
            <li>Viscount - Leader of a super-sector within a Counts mega-sector.</li>
            <li>Marquess - Baron of border territory.</li>
            <li>Baron - Make up the building block of a Sovereignty, Barons are the individual land owners within the UFE, who control and hold systems.</li>
            Fall on a spectrum from Free-Baron - Seated Baron. Where a free baron has almost no Federal government support, pays little if any tax, and has essentially no involvement with the Federal government, whereas a Seated Baron (sometimes called a Landed Baron) is someone who has almost no personal control over their lands, as they rely on the federation for many services and requirements, instead paying to maintain the necessaries but with almost no practical involvement, essentially just a title with no meaning.
        </ol>

        <h2>Army</h2>
        <p>The Army of the UFE is the largest in the Known Universe and serves the peacekeeping force for the federation as well as the force to make sure no one challenges their rule.</p>
        <p>The army today focuses on a split of drones to scout and support, transport gunships for air cover, while driving around in armoured transports with machine guns to keep the six man units secure from small arms fire. With a support starship in orbit overseeing operations on the ground.</p>
        <p>
            The standard UFE army is laid out as such:
            <ol>
                <li>1 person - Soldier</li>
                <li>3 soldiers - 1 Fireteam led by a Corporal [3 soldiers]</li>
                <li>2 fireteams - 1 squad led by a Sargent [6 soldiers]</li>
                <li>4 squads - 1 platoon led by a Lieutenant [24 soldiers]</li>
                <li>4 platoons - 1 Company led by a Captain [96 soldiers]</li>
                <li>6 companies - 1 battalion led by a Commander [576 soldiers]</li>
                <li>8 battalions - 1 regiment led by a Lieutenant Colonel [4,608 soldiers]</li>
                <li>6 regiments - 1 brigade led by a Colonel [27,648 soldiers]</li>
                <li>8 brigades - 1 Division led Lieutenant-General [221,184 soldiers]</li>
                <li>~12+ divisions - 1 army led by a General [2,654,208 soldiers]</li>
            </ol>
        </p>


        <h2>Navy</h2>
        <p>The United Federation of Earth navy is the largest in the known universe. It can be identified by the IFF tag: UFEN (United Federation of Earth Navy)</p>
        <p>Service within the navy is handled in Tours, where each tour is ten years of service. Generally the first two years of your first tour is spent being trained, the next two years are spent aboard a small system craft, getting accustom to the position, before being transferred to more active vessels within the fleet.</p>
        <p>Generally a crew member can expect a review every two years, with a promotion on average every four years.</p>
        <p>It should be noted that ranks are equal across both the lords navies and the UFE general navy. But the Lords navies tend to be seen as lesser due to the focus on political appointment over actual "merit" based promotions.</p>
        <h3>Ranks</h3>
        <p>
            Ranks within the UFE navy are divided into two groups, enlisted and officers, within those groups, people are once again between junior grade and senior grade, as well as their direct rank. The second level of any general rank can be equivalent to the third level (lowest) of the next general rank, and the first of any general rank can be equivalent to the second of the next general rank up. All of these next levels allow the person to transition with the senior grade so long as their duties actually overlapped with equivalent duties of that rank/position.
        </p>
        <p>
            Enlisted personnel are those who do the grunt work aboard the ship, and represent the majority of the crew aboard any given starship. Often filling roles from gunnery loaders, mechanics, chefs, and every other general position.
            <ol id="displayList">
                <ol>
                    Enlisted personnel - Recruits in training.
                    <li>New Enlisted</li>
                    <li>Mid Enlisted</li>
                    <li>Senior Enlisted</li>
                </ol>
                <br />
                <ol>
                    Starman - The general grunt work
                    <li>Starman Third Class</li>
                    <li>Starman Second Class</li>
                    <li>Starman First Class</li>
                </ol>
                <br />
                <ol>
                    Petty Officers - Not technically officers, but close too it.
                    <li>Petty Officer</li>
                    <li>Chief Petty Officer</li>
                    <li>Master Chief Petty Officer</li>
                </ol>
            </ol>
        </p>
        <p>
            Officers consist of anyone who has to make a real decision, and fill out most of the actual operational roles of the vessel. From actually aiming the cannons, flying the fighter, flying the ship, or even just deciding what gets fixed when.
            <ol id="displayList">
                <ol>
                    Ensign, the lowest level of officer, the most plentiful of the officer ranks and generally aren't much above actual starmen.
                    <li>Ensign Third Class</li>
                    <li>Ensign Second Class</li>
                    <li>Ensign First Class</li>
                </ol>
                <br />
                <ol>
                    Sub-Lieutenants are the middle management of starships, acting as the buffer between actually important officers like Lieutenants and above the pointless minutia of the lowest ranks.
                    <li>Sub-Lieutenant Third Class</li>
                    <li>Sub-Lieutenant Second Class</li>
                    <li>Sub-Lieutenant First Class</li>
                </ol>
                <br />
                <ol>
                    Lieutenants serve as the practical officers of the ship, commanding specific sections of a vessel with a crew of Sub-Lieutenants to execute the orders. Ranging from commanding a single section of a broadside, to being the entire fire-decks command Chief.
                    <li>Lieutenant Third Class</li>
                    <li>Lieutenant Second Class</li>
                    <li>Lieutenant First Class</li>
                </ol>
                <br />
                <ol>
                    The Lieutenant-Commander serves to do just as the name suggests, and commands the Lieutenants, dealing with the day to day orders of various section heads and their personnel.
                    <li>Sub-Lieutenant-Commander</li>
                    <li>Lieutenant-Commander</li>
                </ol>
                <br />
                <ol>
                    Commanders serve the vital role of being a check on the captain, and yet still acting as an executive. A friendly force for the crew while gaining command experience.
                    <li>Sub-Commander</li>
                    <li>Commander</li>
                </ol>
                <br />
                <ol>
                    Captains run the ship!
                    <li>Sub-Captain</li>
                    <li>Captain</li>
                </ol>
                <br />
                <ol>
                    Fleet and Sector officers deal with the month to month happenings within the sector.
                    Commodores control stations and ports, captains control vessels.
                    <li>Fleet-Captain/Station Commodore</li>
                    <li>Sector-Captain/Sector Commodore</li>
                </ol>
                <br />
                <ol>
                    Admirals command vast sectors of space and massive fleets of starships, with countless lives under their command.
                    <li>Super-Sector Sub-Admiral</li>
                    <li>Rear-Admiral (mega-sector)</li>
                    <li>Vice Admiral (Quadrant)</li>
                    <li>(Fleet) Admiral</li>
                    <li>Fleets Admiral</li>
                    <li>High Admiral/Grand Admiral/Lord Admiral</li>
                </ol>
            </ol>
        </p>
        <h3>Command Console/Command Officer Corps</h3>
        <p>The command console is where the five most senior officers gather during any situation. The console itself represents a 3d display grid, and sits in the middle of the room, while being connected to the bow wall, where the primary view screen sits as well. The rectangular display-table sits length-wise into the room. At the "head" of the tabel sits the captain, representing the Fuhrer over this realm (the starship). On the left stand (normally) the Sub-Captain and the Commander, representing the crew of the starship and the people outside of it. While to the right of the captain sit the Lieutenant-Commander and the First Lieutenant, representing the physical part of the ship. This dichotomy is related to that of the Parliament representing the people(in this case the crew), and the House of Lords controlling the land (in this case the ship). While the horizontal split (Commander & Lieutenant-Commander VS Sub-Captain & First Lieutenant) represents the internal vs the external. </p>
        <p>
            The positions as held are:
            <ul>
                <li>Left Top: (Normally Commander) represents the operations & crew of the ship, deals with internal issues and the crew. Handles the ship marines and schedules, as well as medical teams</li>
                <li>Left Bottom: (Normally Sub-Captain) represents the external people, with comms and science stations being the primary concerns of the sub-captain position aboard a starship.</li>
                <li>Right Top: (Normally Lieutenant-Commander) Represents the engineering and supplies of the starship, deals with power-allocation and supply distribution and timelines during resupply</li>
                <li>Right Bottom: (Normally First Lieutenant) Represents the tactical areas of the starships as well as shields, takes commands of fighters once they are in the air, while OPs gets to assign which pilots go on flight</li>
                <li>Middle Bottom: (Normally Captain) Represents the fuhrer, and is the deciding choice to lead the ship during battle.</li>
            </ul>
        </p>
        <h3>The Lords Fleet</h3>
        <p>Because the lords first came into existence by being the admirals, the maintenance of a fleet has always been integral to the part of being a lord. While generally offloaded to the counts and barons to maintain their own fleets, the lord is the only one legally obligated federally to maintain a fleet.</p>
        <p>General lords fleets are left out of the UFE fleet strength equation. This is because during anyting but total war, lords must be rallied to war, and becaues it can not be ensured that ANY lord will be rallied, none of their fleets can be counted. This causes some of the safer areas to no longer maintain strong fleets.</p>
        <p>There is a requirement set though that the Lords fleets must meet the minimum fleet specification, this is to keep rough equivalency between the lords and the general navy, as well as each lord. If a lords fleet falls below specification, they are immediately sold the lowest tier of viable surplus and if they can't afford it are given a loan with a hefty 9% interest rate to incentivize repayment quickly.</p>

        <h3>Fleet layout</h3>
        <p>Ufe fleets are broken down into two major types, Lords fleets, and federal fleets, while lords are free to compose their fleets as chosen, due to bureaucracy, the federal fleets must conform to a general standard.</p>
        <p>
            The UFE navy is organized as such (troop ships are an exception):
            <ul>
                <li>Each system gets a system defense boat at minimum.</li>
                <li>For every 3 corvettes there is 1 cutter.</li>
                <li>For every 2 corvettes there should be 1 destroyer</li>
                <li>For every 5 destroyers there should be 1 frigate.</li>
                <li>For every 3 frigates 2 Light-Cruiser</li>
                <li>For every 2 light cruisers 1 cruiser</li>
                <li>For every 6 Cruisers 1 Specialty Cruiser</li>
                <li>For every 8 Specialty Cruisers 1 carrier</li>
                <li>For every 5 carriers 1 Specialty carrier</li>
                <li>For every 5 Cruisers 1 specialized battleship</li>
                <li>For every 6 specialized battleships 1 normal battleship</li>
                <li>For every 10 battleships 1 Battle-Cruiser</li>
                <li>Each High/Grand/Lord Admiral can have as many battle-cruisers as chosen, but by convention only one Dreadnought. Generally though by standard there are 10-30 battle-cruisers per dreadnought.</li>
            </ul>
            This works out to, for example the fifth Berlinnic fleet (total 17,457 ships, with ~1034714):
            <ol>
                <li>2,841 cutters</li>
                <li>8,525 Corvettes</li>
                <li>4,263 Destroyers</li>
                <li>853 Frigates</li>
                <li>568 Light Cruisers</li>
                <li>284 Cruisers</li>
                <li>47 Specialty Cruisers</li>
                <li>6 Carriers</li>
                <li>1 specialized Carrier</li>
                <li>57 specialized battleships</li>
                <li>10 normal battleships</li>
                <li>1 battle-cruiser</li>
                <li>1 dreadnought.</li>
            </ol>
        </p>
        <h3>Ship classes</h3>
        <ul>
            Standard Ships
            <li>System-Defense-Boat - Sub-Lieutenant(Second/First Class) - used to patrol systems and deal with pirate - Crewed by 5-20</li>
            <li>Cutter - Sub-Lieutenant(Second/First Class) - A small craft to cut through enemy lines and quickly do damage during battles. In times of peace serve mostly as support craft - Crewed by 20-40</li>
            <li>Troop Ship - Sub-Lieutenant(Second/First Class) - Used to transport troops around during war. - crewed by 10-30</li>
            <li>Corvette - Sub-Lieutenant First class - generally used to patrol between systems for intersystem piracy and part of battlegroups for larger engagements. - Crewed by 40-60</li>
            <li>Frigate - Lieutenant/Sub-lieutenant - Used to patrol border systems and do more independent missions from destroyers and corvettes. - Crewed by 60-90</li>
            <li>Destroyer - Commander/Lieutenant - Exist for fleet operations during battle, in times of peace are used for system patrol on key trade routes. - Crewed by 40-60</li>
            <br />
            Capital Ships
            <li>Light-Cruiser - Captain/Commander - Used to patrol border regions especially those with hostile nations, as well as primary scout vessels during major battles. - Crewed by 150-300</li>
            <li>Cruiser - Captain - The core of the fleet, maintained for out of border missions in the dominions and border regions, within the capital serve to reinforce the main fleets and deal with larger disputes in less patrolled areas of space. - Crewed by 100-400</li>
            <li>Heavy-Cruiser* - Sector/Fleet Captain - Used mostly in battle, heavier weapons and defenses allow it to match the damage output of a destroyer with the armour of a cruiser. - Crewed by 200-400</li>
            <li>Assault-Cruiser* - Super-Sector Admiral - equipped with extra engines for speed and closer range weapons allowing it to cut distance for quick punches into enemy lines, backed by extra missile volume. - Crewed by 150-300</li>
            <li>Strike-Cruiser* - Super-Sector Admiral - Has fighter capacity as well as troops on board, gets in quickly and boards other ships while using fighters for support. Preferred by lords. - Crewed by 150-300</li>
            <li>Carrier Rear-Admiral - Carries large numbers of strike craft, since recent military reforms have mostly removed the fighter role, these ships have become home to roving gunship platforms. - Crewed by 200-500</li>
            <li>Escort-Carrier* - Rear-Admiral - Mostly retired, those that remain focus on carrying in planet escorts for shuttles. - Crewed by 150-300</li>
            <li>Assault-Carrier* - Rear-Admiral - Mostly retired, those that remain use their stock of fighters to focus assaults on enemy starships at short range, especially to overwhelm opposition fighter support. Often seen in the berlinnic galaxy.  - Crewed by 150-300</li>
            <li>Fleet-Carrier* - Rear-Admiral - A rarity in the modern day, carries several destroyers and corvettes within along with the support vessels to maintain them. - Crewed by 500-800</li>
            <li>Battle-Rider* -  Rear-Admiral - With the removal of a faster then light system, the battle-rider <i>rides</i> into battle inside a battle-tender and serves to bring the <b>BIG</b> guns to a fight.  - Crewed by 300-500</li>
            <li>Battle-Tender* - Fleet Admiral - While the tender itself can pack a punch, its bigger goal is to serve as a delivery system for the Battle-Rider, bringing them into a system and then coordinating their attacks as well as other relevant fleet actions  - Crewed by 800-1500</li>
            <li>Battleship - Vice Admiral - The heavy hitter in the fleet, packs a punch and focuses on destroying enemy vessels. - Crewed by 500-800</li>
            <li>Battle-Cruiser* - Fleets Admiral - Closer to a battleship then a cruiser, the battlecruiser has the ability to be mobile enough to get to a border dispute quickly while at the same time the firepower and armour to deal with most major threats, and the fighter support to deal with ground issues as well.  - Crewed by 800-1500</li>
            <li>Dreadnought - high/Grand/Lord Admiral - The flagship of the fleet, the most decorated and well known, often being millennium old having seen hundreds of captains and retrofits. In some cases bearing no resemblance to her former self.  - Crewed by 1500-3000</li>
        </ul>
        <p style="font-size: small;">* indicates a variant on a central design.</p>
        <h3>Weapons/Defenses</h3>
        <p>UFE starships are equipped with standard multi-phasic shielding being able to alternate between bubble shielding and hex-sheidling with specialized kycilium emitters. This allows the ships to absorb high amounts of broadside damage or dedicated missile damage, though not both at the same time.</p>
        <p>
            From the offensive perspective, UFE starships are equipped with an assortment of tactical options, the broad catagories are:
            <ul>
                <li>Broad side weapons - Various sizes of the core weapons of any ship. From a system defense boats single gun deck to the infinity classes horrifying 600. These weapons serve to destroy most opposition in swift order.</li>
                <li>torpedo's - unguided weapons, useful for attacking smaller vessels or to quickly swap out or in specialized payloads. Slower then missies but faster then cannons or the MAC, torpedo's allow the ship to deliver explosive payloads to surface areas without fear of accidentally destroying a continent.</li>
                <li>Missiles - Coming in three classes: Cluster, Nuclear, Direct. Each is designed to deal with a particular situation. Cluster deals well with shields by distributing a large <i>cluster</i> of small explosions across a large area, while direct is more effective at punching though hull plating and causing destruction. Missiles are very fast.</li>
                <li>MAC - The Magnetic Acceleration Cannon serves as the foundation of the UFE Navel Position, allowing the massive warships to lob 500m+ long depleted uranium rods encased in dilitanium coating with voidonic cores allow a single round to destroy even the most formidable opposing ship.</li>
            </ul>
        </p>
        <h2>The Scout Services</h2>
        <p>Following the repealing of the War Measures Act in the House of Lo5ds and the War Powers act in Parliament. Due to the high level of abuse and broad overreach, the UFE was banned from having any form of covert intelligence service. To solve this problem, the UFE looked to another crisis they were suffering from, people couldn't afford starships in the failing economy, and the lack of trade was literally destroying worlds. The solution was obvious.</p>
        <p>The <i>Government</i> couldn't spy on private citizens. Private investigation companies were completely legal. The navy also had discretionary spending when it came to intelligence operations, so long as the general operation could be justified before the privy council and shown to note violate any standing laws. This caused the UFE to fund the creation of the Scout Services(Tm), a company that sponsors would be starships captains to take on government issued contracts in exchange for government surplus starships. The scout services in return for leasing the ships to the captains, facilitating contracts between the government and captains, as well as other numerous services, such as planetary discovery and logging, hyperspace route discovery, voidspace mapping, and trade. All of these serve as bonus to the array of logging devices stored aboard the ship, the various informant networks run by senior operatives based out of scout service branches.</p>
        <p>The ships themselves serve as intergalactic postal service, possibly carrying out the odd contract for extra money. Some crews get by just taking contracts, others by trade. During the trade, each ship collects a datapacket containing all information from the hyperspace node, and transmits its own datapacket of information as per usual, at the same time, if there is a scout services node (operated out of a scout service facility) the ship sends it a specialized datapacket containing intelligence briefs for this destination, and receives any outgoing messages. Meanwhile the ground stations are operated at the upper levels and throughout with intelligence operatives, and many locations serve a double purpose as a general building within the community, such as a restaurant, grocery store, etc.</p>
        <p>While it is a quite open secrete that the scout services is spies, those within the UFE see it as a necessary evil, and due to the very strong privacy laws and personal defense laws, as well as heavy legislative restrictions applied by the government to the pseudo-government entity leave it with very little moving power on actual federation citizens.</p>
    </div>
</body>
