@page "/Generators/TravellerSkillTableCrafter"
@using TravellerCharacter.Character_Services
@inject TravellerCareerCreatorService CareerCreator

<div style="text-align: center;">
    <table style="margin-left: auto;margin-right: auto;">
        <thead>
        <tr>
            <th>#</th><th>Skill or Attribute</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>
                <TravellerSkillChoiceCrafter></TravellerSkillChoiceCrafter>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <TravellerSkillChoiceCrafter></TravellerSkillChoiceCrafter>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                <TravellerSkillChoiceCrafter></TravellerSkillChoiceCrafter>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>
                <TravellerSkillChoiceCrafter></TravellerSkillChoiceCrafter>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>
                <TravellerSkillChoiceCrafter></TravellerSkillChoiceCrafter>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>
                <TravellerSkillChoiceCrafter></TravellerSkillChoiceCrafter>
            </td>
        </tr>
        </tbody>
    </table>
</div>

@code {


}