@page "/Generators/TravellerQualificationCrafter"
@using TravellerCharacter.Character_Services
@using TravellerCharacter.Character_Services.NPC_Services
@inject TravellerCareerCreatorService CareerCreator
@inject TravellerNPCService NPCService
@inject TravellerItemStoreService ItemStore

<div style="text-align: center;">
    <h3>Qualification List:</h3>
    <ul>
        @foreach (var qual in CareerCreator.QualificationChecks)
        {
            <li>@qual</li>
        }
    </ul>
    <div>
        <b>Qualification </b>

        <TravellerAttributeCheckCrafter ListToAddTo="@CareerCreator.QualificationChecks"/>


    </div>
</div>

@code {

}