@page "/Generators/TravellerAttributeCheckCrafter"
@using TravellerCharacter.Character_Services
@using TravellerCharacter.CharacterCreator
@using TravellerCharacter.CharacterParts
@inject TravellerCareerCreatorService CareerCreator

<div style="text-align: center;">
    <form>
        <label for="careerName">Attribute Name: </label>
        <select @bind="Name" id="careerName">
            @foreach (var attr in Enum.GetValues(typeof(TravellerAttributes)))
            {
                <option value="@attr">@attr</option>
            }
        </select>

        <label for="checkNum">Check Number: </label>
        <input type="number" @bind="CheckNum" id="checkNum"/>
        <button @onclick="AddAttribute">Add Attribute</button>
    </form>

</div>

@code {
    TravellerAttributes Name = TravellerAttributes.Strength;
    int CheckNum = 8;

    [Parameter]
    public List<TravellerAttributeCheck> ListToAddTo { get; set; }

    public void AddAttribute()
    {
        ListToAddTo.Add(new TravellerAttributeCheck(Name, CheckNum));
    }

}