@page "/VoicesFromTheVoid/VoicesFromTheVoid4"
<head>
    <title>Political Troubles over Acadie</title>
</head>
<body>
<h1>Voices from the Void, Vol 4 (Political Troubles over Acadie): 20/12/83389-24/05/83390</h1>

<div>
    <h2>The Changing Tides of Acadie Politics.</h2>
    <p style="font-size:smaller">By Karl Rostova, Voices from the Void, (Published on 13/07/83390)</p>

    <p>
        For the people of Acadie (6,5:3'3) the year since the assignation of the Imperial Governor, after an unveiling gala for his newest Imperial weapon (a secrete that has thus far been lost to time), has been turbulent. In the face of such an insult to his imperial Majesty (both the Amondiage Emperor and our supreme and serene Emperor) the citizens of Acadie have chosen to join with the primal, primitive residents that inhabitant Acadie and work its Tillium mining rigs to rise against the controlling Imperial Tillium Company. The Leader of this non-imperial rebellion is the Versian born Marco Haydrich.
    </p>

    <p>
        Under now Count Haydrich Acadie saw a turbulent change in governance. Acadie was a part of the already unsteady Old Islands Defense League (OILD), which was formed following the Amondiage Imperial Government agreeing to support from the Trans Galactic Empire in exchange for exclusive control over the Acadian tillium fields. With Imperial assistance, New Home and Colchis were forced to submit and join the OILD, creating a Hegemonic League out of the the three (then) most technologically advanced systems in the Subsector, with the Amondiage Imperial Government at its head.
    </p>

    <p>
        It has been over 15 year since Acadie was subjecated by the Amondiage government, and into the OILD with the other two 'free' nations. Now, Acadie has broken free! Showing the grace of the Amondiage Government, following the revolution the Emperor of Amondiage agreed to grant the planet independence in exchange for ImpTilCo maintaining sole mining rights on the planet. Marco took the world into the United Baronies, not knowing what the future would hold.
    </p>

    <p>
        Unfortunately for Marco, the future held that the United Baronies would collapse and join the Trade Consortium, creating the Trade Federation. Acadie could have become an integral piece of the new puzzle, but instead Marco chose to keep the world independent for the time being.
    </p>

    <p>
        Internally, the situation was not improving. With the loss of Imperial troops, the planet was left with a weak military, no food, no real budget, no allies, and large amounts of social discontent from an increasingly hungry and angry population. To attempt to resolve the siltation, Marco offered free fuel to anyone who imported food for the people. However, lacking any mining ships of his own, the food importation game was soon taken over by various different pirate fleets. Eventually the pirate began turning on one another, until whittled down to five major factions. Most factions had a claim to a resource other then food, but food importation from either outside traders for free tillium or more often trading tillium to imperial related groups (such as the infamous Villain of Acadie) in exchange for food.
    </p>

    <p>
        This system has recently seen several large shakeups. Starting with an all war between the religious faction and the military faction, both of whom had the backing and support of the official government, resulted in the complete obliteration of the already crippled religious faction headed by 'The Master', and the emboldening of 'The Warrior', who had a powerful ally and crimelord named Jusko installed as a religious puppet.
    </p>

    <p>
        The puppet was swiftly execute in a livestreamed voidnet-video by 'The Villain' on the claim of religious hearsay, due to Jusko's Lawgarian leanings, and had his own puppet Wotton installed as religious head. This seemed to have angered 'The Warrior' greatly, both the loss of his ally and the public nature of this humiliation.
    </p>

    <p>
        To resolve this moral failing of 'The Villain', 'The Warrior' began to seek out allies, working with high profile terrorist Frye Peyton to smuggle a nuclear weapon into the (Imperial controlled) Capitol city of Acadie detonating the device 3.6 Kilometers away from the Imperial Plaza, destroying much of the densely built capital city and killing tens of thousands, wounding many more. Oddly, before the device detonated, a single ship was seen leaving port, taking over 70% of the protesting Residence at the port.
    </p>

    <p>
        In response to the horrific event now Count Marco (having joined the Rex van der Ostrovski a few months before, seeking a title and protection) issued a statement condemning the attack. Claiming that 'The Warrior' had the nuclear weapons on the planet from before his tenure as leader, that 'The Warrior' had been previously hostile towards imperials, and that according to eye witness accounts 'The Warrior' had troops on the ground, all of this has been verified with two different informants, one Anonymous, and the other being the Imperial-Born but current Chief of Staff of Acadie Dan Egarian. Macro has authorized an Imperial taskforce to enter the system and investigate the issue, allowing for imperial troops to enter and occupy local towns if need be, to find and bring justice to anyone associated with 'The Warriors' regime. Marco has also asked his King, the King of Kosse, to send aid. At this time the King has dispatched the Duke & Dutchess of Jeffers to assist.
    </p>

    <p>
        As previously mentioned, Chief of Staff of Acadie Dan Egarian offered his own account of what ocurred with regards to the attack on the Capitol. According to Dan, the attack was coordinated between 'The Warrior' and known union associated terrorist Frye Peyton. The two had been introduced by Union Leader Algerone Holloway, hence the rescue of the Union Residence from the port before the nuclear detonation. Dan further asserted that Algerone had supported a plan put forward by the new head of the Military, General Kingsley, to assist the supposedly disavowed 'Warrior' in his war against the Imperials by smuggling an illegal and destructive void-bomb to Amondiage. At this time, neither the Imperial/Amondiage investigation forces nor the official Acadie Government have chosen to comment on the interview. However, the current head of Religion, Rebecca Claire (a devout Witcher) agreed tha there was discussion of a possible attack, but it was stopped after she reminded everyone of the religious fallout of their actions.
    </p>

    <p>
        What is next in store for Acadie? No one but Marco and his cronies can be sure. But whatever it is, I'll be making sure that you know about it.
    </p>
</div>


<div>
    <h2>
        What the Nether is happening in the Old Islands
    </h2>
    <p style="font-size:smaller">By Karl Rostova, Voices from the Void, (Published on 29/08/83390)</p>
    <p>
        Marcus. Count Marcus of Acadie, may singlehandedly be responsible for starting the next Sector-Wide war. When his government revealed a connection between the Imperial Tillium Company and the ownership of a Zalyn Unit the company on Acadie imploded. Following its removal, the Chief of Staff for Marcus, Dan Eagarian, was arrested and is now pending Trial by the newly reformed government, and under Supervision of Duchess Sila Ausspex of Jeffers.
    </p>

    <p>
        But lets not get ahead of our story, and how it relates to the rest of this shit-storm. For that we need to go back to before the Warrior backed nuclear attack on the Imperial Capitol, when an Amondiage born Hitman hired by the Imperial Don Korleonius to kill the drug addicted child of a Sansterre Diplomat on Amondiage who was refusing to play ball. The Child also happened to be working with the infamous Federation born art thief and wanted criminal Menty as a low ranking Lieutenant. Whether intentional or not, this assassination would lead to two wars, one between the IDF and IODL, the other between the Imperial Mob and Federation Gangs.
    </p>

    <p>
        Then the infamous nuking of the Capitol, killing thousands. Afterwards Marcus declared his future Prime Minister, the Warrior, an enemy of the state and terrorist. In response to the vicious attacks, ImpTilCo moved its operations onto a Star Destroyer in Orbit, while deploying several companies of troops across the planet, enacting a harsh reprisal system against the people and anyone thought to be associating with the Warrior.
    </p>

    <p>
        During this time the now discredit Dan Eagarian leveled his now believed to be baseless accusations against Algernon. As well a drug liberalization bill was passed by the interim Council, seeing a crackdown on petty crime. This bill also served to cement a relationship between Marcus' state and the Federation Criminal Menty.This period also saw an increase in anti-Imperial propaganda, which resulted in an increase in recruitment to the Warriors cause.
    </p>


    <p>
        Algernon came forward with evidence that ImpTilCo had zalyn technology under their control, and aboard their Star Destroyer. When this information went public, the imperial in command of the ImpTilCo forces arrested their commanding officer and stopped their expansion efforts. Amondiage condemned the action, as has the Dominate Supremius and the Trans-Galactic Empire. The Empire has issued a statement declaring a full investigation, but reaffirming that neither the government nor any of its corporate entities willingly and knowingly violated the Suki Agreement, or the AI Exclusion Act. Algernon also showed that Dan Eagarian, then chief of staff, was involved in covering up this crime. He is now pending trial for a variety of charges, to be overseen by the Duke and Duchess of Jeffers.

    </p>

    <p>
        However, the true fallout from the destabilization of ImpTilCo was that it removed the Dominate and Imperial protection from Amondiage, allowing the IDF to retaliate for the assassination of the Diplomats son. First sending a fleet into St. Denis(8,3:3'3) to remove the immediate imperial forces. Amondiage dispatched their response fleet, and the two sides dueled over Achille(7,4:3'3) ending with Amondiage wining a pyrrhic victory.
    </p>

    <p>
        This victory was short lived, as only days later, while the fleet was returning home for repairs, the system of Amondiage(7,3:'3') was destroyed by a void bomb, believed to have been planted by the criminal Menty
    </p>

    <p>
        In response to this tragic action, which killed ~1,500,000,000 people, of which 400,000,000 were registered Imperials or Citizens of Amondiage, the Venhut Dominate States has declared war on the IDF. The OIDL System-States of Colchis and New Home have both expressed a desire to succeed from the OIDL and possibly join the IDF themselves. At this time the New Colchis Business Board, Neubayern-Topas Alliance, Mainhair Military Republic, Sar-Tan Confederacy, Starcan Alliance, and Rex van der Ostrovski have not expressed a public position
    </p>

    <p>
        Now for some speculation, and connection of facts. The Warrior had previous mentioned his ownership of a void bomb, and since the attack on Amondiage has taken the office of Prime Minister within Count Marcus' government. A government which is known to have deep connections to the terrorist Menty. Who is himself involved in a crime war against the Imperial Mob, who were known to have connections with the Imperial Tillium Company in this sector. It is my opinion that Menty has allied himself with the Warrior, and taken control of Acadie, and is now using the IDF in a proxy war against the old Amondiage government, so that his new puppet may take over the ruins with Menty pulling the strings behind the scenes. I shall not let this investigation go until I am either proven correct, dead (in which case I was most likely correct), or proven wrong beyond any reasonable doubt.
    </p>
</div>


<div>
    <h2>
        Attack on Imperial Tillium Company Transport
    </h2>
    <p style="font-size:smaller">By Wyatt Larson, Voices from the Void, (Published on 03/09/83390)</p>
    <p>
        In a rather shocking turn of events, the retrofitted star destroyer that was transporting evidence pertaining to the trial of several Imperials in relation to the ImpTilCo-Acadie Scandal. Wherein it was revealed that the Imperial Tillium Company was responsible for several Zalyn research facilities on the planet of Acadie, operating under the ocean and the eyes of the Empire.

        Worse still, the aforementioned retrofitted Star Destroyer that was transporting the evidence to the Trans-Galatic Empire for investigation and to stand trial was attacked, the ship has been lost, believed destroyed along with all hands and cargo.

        However, authorities are on alert and advise everyone to be on the lookout for the missing Zalyn units.
    </p>
</div>

</body>