@page "/PoliticsGame/Politics_Game_Info"
<head>
    <title>Politics Game Info</title>
    <meta property="og:title" content="Known Universe Wiki"/>
    <meta property="og:url" content="https://theseamnetwork.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://thesteamnetwork.com/Images/FederationFlag.png"/>
    <meta content="The Wiki for the Known Universe RPG. Check out the Character Creator to jump in, or read some Voices from the Void articles to give you an idea of whats happening in the Sector. Or maybe just take a glance at the Islands Star-Charts to plot your future adventures." property="og:description"/>
    <meta content="#ffe81F" data-react-helmet="true" name="theme-color"/>

</head>
<body>
<h1>Politics Game Info</h1>
<a href="PoliticsGame/ColourMap">The map with fleet starting positions and boarders</a>
<br/>
<a href="PoliticsGame/ClearMap">The map made by Beautiful Barbara which just has the resources on it</a>
</body>