@page "/Factions/IslandsFactionCreator"
@using TravellerWiki.Data
@using TravellerWiki.Data.Services.DataServices
@using System.Runtime.CompilerServices
@using Microsoft.AspNetCore.Components.Web
@using TravellerWiki.Data.Factions
@using TravellerWiki.Data.Services.CareerService
@using TravellerWiki.Data.SimpleWikiClasses
<head>
    <title>Islands Faction Creator </title>
</head>

@code{
    enum FactionTypes
    {
        Corporate_Faction,
        National_Faction,
        Major_Nation_Faction,
        Religious_Faction,
        Political_Faction,
        
        Social_Faction,
        Criminal_Faction,
        Legal_Faction,
        Class_Faction,
        Other_Faction,
    }
    
    FactionTypes FactionType;
}

<body>
    <h1>Islands Faction Creator</h1>
    <p>Use this tool to create factions for the game!</p>
<div>
    
    <label for="selectFactionType">Select Faction Type:</label>
    <select @bind="@FactionType" id="selectFactionType">
        @foreach (var option in Enum.GetValues(typeof(FactionTypes)))
        {
            <option value="@option">@option</option>
        }
    </select>
    
    <h2>@FactionType.ToString().Replace("_"," ")</h2>
    
    @if (FactionType == FactionTypes.Corporate_Faction)
    {
        <IslandsCorporationCreator></IslandsCorporationCreator>
    }else if (FactionType == FactionTypes.Religious_Faction)
    {
        <IslandsReligionCreator></IslandsReligionCreator>
    }
</div>
</body>