@page "/Languages/SigmarianLanguage"
@using WikiServices.DataServices
@inject SigmarianService sigmarian
<head>
    <title>Sigmarian</title>
</head>
<style>
    .high {
        font-family: 'high_versianregular';
    }
</style>

<body>
<h1>Sigmarian Language</h1>
<p></p>

<h2>Sigmarian Letters</h2>
<p>These are the letters of the High Versian Language</p>
<ul>
    @* ReSharper disable once HeapView.BoxingAllocation *@
    @foreach (var letter in sigmarian.Letters())
    {
            <li>
                <b class="high">@letter.ToString().ToUpper():</b> @sigmarian.GetLetterProunciation(letter)
            </li>
    }
</ul>

<SigmarianLanguageWords></SigmarianLanguageWords>

</body>