@page "/Factions/IslandsGroups"
@using TravellerWiki.Data
@using TravellerWiki.Data.Factions
@using TravellerWiki.Data.Services.DataServices
@inject TravellerFactionService _factionService
<head>
    <title>Islands Groups</title>
</head>

<body>
    <h1>Islands Groups</h1>
<p>These are the groups that are within the islands, broken down by type, click the link to view the full list of groups</p>
<ul>
    <li><a href="/Factions/IslandsCompanies">Companies</a></li>
    <li><a href="/Factions/IslandsMajorNations">Major Nations</a></li>
    <li><a href="/Factions/IslandsNations">Islands Nations</a></li>
    <li><a href="/Factions/IslandsCriminalGroups">Criminal Groups</a></li>
    <li><a href="/Factions/IslandsReligions">Religions</a></li>
    <li><a href="/Factions/IslandsSocials">Social Groups/Movements</a></li>
    <li><a href="/Factions/IslandsProfessions">Profesional/Legal grops</a></li>
    <li><a href="/Factions/IslandsClasses">Class/Economic groups</a></li>
    <li><a href="/Factions/IslandsPoliticals">Political Groups</a></li>
    <li><a href="/Factions/IslandsOthers">Other Groups</a></li>


</ul>
 
</body>