@inherits LayoutComponentBase

<div class="main">

    <div>
        @Body
    </div><h3 style="bottom: 0;clear: both;">
    <a style="font-style: normal;font-size: larger;text-decoration: #ffe81F underline;" href="/CharacterCreationRules/Skills">Skills</a>
    <a style="font-style: normal;font-size: larger;text-decoration: #ffe81F underline;" href="/Generators/TravellerItemsDisplay">Items</a>
    <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Index">Home page</a>
    <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Islands_Sector">Islands Sector</a>
    <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Rules/">Rules</a>
    <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/CharacterCreation/New/">Character Creator</a>
        <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Characters/">Created Characters</a>

</h3>
</div>
