@inherits LayoutComponentBase

    <div class="main">

        <div>
            @Body
        </div>
        <h3><a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;"href="/Search">Search</a> <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Index">Home page</a> <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Islands_Sector">Islands Sector</a> <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Rules/">Rules</a></h3>
    </div>
