@page "/VoicesFromTheVoid/VoicesFromTheVoid"
@page "/VoicesFromTheVoid/"
<head><title>@this.ToString().Replace("TravellerWiki.Pages.","") </title></head>

<body>
    <h1>Voices from the Void.</h1>
 <p>The voices from the Void is a voidnet publication within the <a href="Islands_Sector">Western Islands Sector.</a> It covers major faction news within the Islands.</p>
<div>
    <p>
        List of Issues
        <ul>
            <li><a href="/VoicesFromTheVoid/VoicesFromTheVoid1">Issue 1, Bryce Bracing for fallout from Blackmail. 10/04/83390EST</a></li>
        </ul>
    </p>
</div>
</body>
