body {
    font-family: 'Space Mono', monospace;
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    color: #ffe81F;
    background-color: #000;
}

.creatorMarkup {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.hex {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
}

.hex .left {
    float: left;
    width: 0;
    border-right: 60px solid #6C6;
    border-top: 104px solid transparent;
    border-bottom: 104px solid transparent;
}

.hex .middle {
    float: left;
    width: 120px;
    height: 208px;
    background: #6C6;
}

.hex .right {
    float: left;
    width: 0;
    border-left: 60px solid #6C6;
    border-top: 104px solid transparent;
    border-bottom: 104px solid transparent;
}

.hex-row {
    clear: left;
}

.hex.even {
    margin-top: 106px;
}


.components-reconnect-show, .components-reconnect-failed, .components-reconnect-rejected {
    display: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #595b63;
    align-content: center;
    justify-content: center;
}

.flex-container > div {
    width: 20em;
    font-size: 15px;
    border: solid silver;
    margin: 4px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0;
}

.grid-item {
    padding: 0;
    text-align: center;
    width: 100%;
    height: 25%;
}


p {
    line-height: 21px;
    margin-left: 2em;
    margin-right: 2em;
}

h1 {
    color: #ffe81F;
    background-color: #595B63;
    font-size: 2em;
    margin: 0 0 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #A7A7A7;
}

h2 {
    color: #ffe81F;
    background-color: #595B63;
    font-size: 1.5em;
    margin: 0;
    padding: 2px 2px 2px 14px;
    border-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #A7A7A7;
}

.IndexSummery {
    color: #ffe81F;
    background-color: #595B63;
    font-size: 1.5em;
    margin: 0;
    padding: 2px 2px 2px 14px;
    border-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #A7A7A7;
    text-align: center;
}


.SmallerSummery {
    color: #ffe81F;
    background-color: #995D63;
    font-size: 1.0em;
    margin: 0;
    padding: 1px;
    border-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #D8D8D8;
    text-align: center;
}

h3 {
    color: #ffe81F;
    background-color: #595B63;
    font-size: 1.25em;
    margin: 0;
    padding: 2px 2px 2px 14px;
    border-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #A7A7A7;
}

img {
    border-style: dashed solid;
    border-width: 2px;
    border-color: #A7A7A7;
}


a {
    color: #FFa70C;
    text-decoration: dashed underline #DC690C;
    font-style: italic;
    text-transform: capitalize;
}

a:hover {
    background-color: #FFa70C;
    color: black;
}

.moveA {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.moveA:hover {
    background-color: #ddd;
    color: black;
}

.previousArticle {
    background-color: #DD4444;
    color: black;

    text-align: left;
}

.allArticles {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFa70C;
    color: black;
}

.nextArticle {
    background-color: #04AA6D;
    color: white;
    text-align: right;
}

table {
    background-color: #595B63;
    color: #00EDF7;
}

tbody {
    border-style: solid;
    color: #ffe81F;
}

#tableInfo {
    color: #ffe81F;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
}

#seperator {
    border-width: 1px;
    border-style: groove;
    border-color: #A7A7A7;
}

#displayKeyInfo {
}

#smallText {
    font-size: smaller;
}

#rank {
    color: #FFa70C;
    border-style: solid;
    border-width: 3px;
    border-color: #A7A7A7;
}

#displayList {
    background-color: #595B63;
    display: table;
}

#blazor-error-ui {
    display: none
}
