@page "/Deutschland"
    <head>
        <title>Communist Empire of the Deutschland</title>
        <meta property="og:title" content="Known Universe Wiki" />
        <meta property="og:url" content="https://theseamnetwork.com" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://thesteamnetwork.com/Images/FederationFlag.png" />
        <meta content="The Wiki for the Known Universe RPG. Check out the Character Creator to jump in, or read some Voices from the Void articles to give you an idea of whats happening in the Sector. Or maybe just take a glance at the Islands Star-Charts to plot your future adventures." property="og:description" />
        <meta content="#ffe81F" data-react-helmet="true" name="theme-color" />

    </head>
<h1>The Communist Empire of the Deutschland</h1>
<p>
    <strong>The Communist Empire of the Deutschland</strong> is a totalitrian communist state that is headquatered within the <a href="berlinnic">Berlinnic</a> galaxy. The Deutschland is one of the versiarian substates, being a decented from the Germushian tree.
    They are a religious state who believe heavily in the <a href="churchOfSigmar">Church of Sigmar</a> which is also the state mandated religon.
    The nation itself was the result of the <a href="greatJourney">Great Journey</a> when it was undertaken by the <a href="germushia">Germushian</a> people
    following the destruction of the <a href="rhineland">Rhineland</a> galaxy to the <a href="plascourdrone">plascourdrone</a> threat. Since their arrival, the Deutschland has
    become the dominate force in the Berlinnic Galaxy.
</p>
<div>
    <table style="width:25.5em;border-spacing:2px;float:left;">
        <tbody>
            <tr><td>1) Short Description</td></tr>
            <tr><td>2) History</td></tr>
            <tr><td>3) Government</td></tr>
            <tr><td>4) Audio</td></tr>
        </tbody>
    </table>

    <table style="width:25.5em;border-spacing:2px;float:right;">
        <tbody>
            <tr><td colspan="2" id="seperator"></td></tr>
            <tr><td>Name</td><td>Relationship</td></tr>
            <tr><td><a href="ufe" style="color:white">United Federation Of Earth</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="udTn" style="color:white">United Dominion Of Terra Nova</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ucs" style="color:white">United Colony Of Saldor</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ufu" style="color:white">United Federation Of Utopic</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="uct" style="color:white">United Colony Of Tihara</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="uft" style="color:white">United Federation Of Takara</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ucm" style="color:white">United Colony Of Maldeth</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="germushia" style="color:white">Germushia</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="polanskia" style="color:white">Polandskia</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="xiaoming" style="color:white">Xiao-Ming</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="firstorder" style="color:white">First Order</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="britannia" style="color:white">Britannia</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ivft" style="color:white">Imperial Versian Federated Territories</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="vers" style="color:white">Vers</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="url" style="color:white">United Reverse Lords</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="artekka" style="color:white">Artekka</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="axios" style="color:white">Axios Allience</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="uar" style="color:white">United Augemented Republic</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="universalisConfederation" style="color:white">Universalis Confederation</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="witcher" style="color:white">Witcher Order</a></td><td style="color:#fc1f1a;">Enemy</td></tr>

            <tr><td colspan="2" id="seperator"></td></tr>
            <tr><td>Traits</td></tr>
            <tr><td style="color:orange">Communist</td></tr>
            <tr><td style="color:orange">Empire</td></tr>
            <tr><td style="color:orange">Religous</td></tr>
            <tr><td style="color:orange">Technologically backwards</td></tr>
            <tr><td style="color:orange">Hates AI/Robots</td></tr>
            <tr></tr>
            <tr><td colspan="2" id="seperator"></td></tr>
            <tr><td>Government</td></tr>
            <tr><td>Capital: Downoria</td></tr>
            <tr><td>Head of State: Empress Eva Downy</td></tr>
            <tr><td>Head of Government: Chancellor Hermann Mishustin</td></tr>
        </tbody>
    </table>
</div>
<br />
<div id="information" style="clear:left">
    <h2>Description</h2>
    <p>
        The Deutschland is a communist empire under the rule of Empress Eva Downey. The state relgion is Sigmarism as mandated by the Church of Sigmar. The people themselves were once the industrial
        capital of the milky way galaxy, but after the trip to the Rhineland they have lost that title. Following numerous issues with aritfical intelligence, the Deutschland pushed into galatic, and eventually
        universial law that AI was to be banned at all times by everyone. This has remained in effect across all major nations.
    </p>
    <p>
        In more recent memory the Deutschland has become even more Technologically regressive. Following the Great Journey The Deutschland slowly began to swear off technology. Following their defeat in the great war,
        which the Deutschland blame heavily on their overrelience on technology instead of manwpower, the nation has shifted to keeping at little technology in their nation as much as possible. To this end,
        The Deutschland has turned to prayer to have their ships enter the void. Through intense chanting by most of the crew on the ship, sigmar opens a portal into the void allowing the ship to enter.
        Once inside void a priest (or group of priests aboard larger ships) maintain the void bubble for the time the ship is inside.
    </p>
    <p>
        Most of the Deutschland now relies on the <a href="hypedrive">hypderdrive</a>, first invented inside the Deutschland. The church itself has allowed its use to closer connect people with their souls in the
        <a href="aether">aether</a>, and realistically it was needed to keep trade and functional control over space up. The technological regression within the Deutschland has led to the destrction of voidcomms on
        their hyperspace nodes. This has made them much more relient on church priests with enough training to allow them to open a void conversation with another priest on another world.
    </p>
    <p>
        Deutschland culture is one built on one core concept, service in the form of debts to one another. During the great Journey, the central Government took control of the food and water supply. Food and water
        were essential on the voyage, this lead to people becoming dependent on the state to surive. In return for service to the state, people got housing, food, and other needs taken care of. As well, due to the lack
        of contact with the rest of the known Universe, the Deutschland began to develop its own currency.
    </p>
    <p>
        This currency is the Defra (def-rah), which is an hour of someones time as a debt to be payed to the holder. The debt itself is made up of two distinct portions, the time value of the debt, and the
        trustworthiness of the person who holds the debt. Basically, one Defra is equal to an hour in a task that the debter is able to  perform with a degree of compitence. When depostied into the central bank
        Defra are given to the central government in return for an equal value in Government Defra (worth the equivelent as 1 <a href="credit">credit</a>). thus the debter looses an equal number of Defra if they
        have enough. Otherwise the debtee is in debt to the central government. Meanwhile the debter's own debt is either payed down or the Defra are deposted normally and treated as normal currency. This system works
        mostly because the majority of the population use etransfer to trade Defra between them, allowing for the system to work effectively in the background.
    </p>
    <p>
        Should someone have too much debt to the government, they are called into server one of the six branches of the government. The are required to server until their debt (equal to what they would earn in pay
        should they have willingly signed up for this position) is payed off, or they die. This is the primary recruitment tool for the Deutschland military, as all primary and secondary (equal to between grade 10-14)
        education is funded by the state by taking a debt out against each of the students. Meaning plenty of cheap recruitment.
    </p>
    <h2>History</h2>
    <p>
        The history of the Deutschland is largely related to the history of Germushia. The most important recent events are the great Journey, which is where the Deutschland begins. Following the destrctuion
        of the <a href="lawgar">lawgar</a> the Germushian government was formally converted into the Deutschland Emperial Republic. Once arriving in the Berlinnic Galaxy the worldships quickly began going from
        system to colonizing planets in the galatic south east quadrent.
    </p>
    <p>
        Following the rise of <a href="pabloescobar">Pablo Escobar</a> the Deutschlands economy collapsed from Pablos investment company. After Pablo cashed out his winnings and took himself along with all of
        his various crime friends and allies and felt into a section of nearby inhabited systems. Using his large wealth of credits to purchase the planets from their original coloinizers and founding the
        Germushian Republic
    </p>
    <p>
        Over the next several centuries the Deutschland built up its industrial base as the church secured more and more power. Various border skirmishes with the Germushains and the odd war of conquest for the Various
        minor ex-germushian nation-states that inhabited the galaxy. Brining many under the guiding light of Sigmar. During this time, the discovery of the hyperdrive and its quick nationalization caused great distress
        in the <a href="universalisConfederation">Universalis Confederation</a> by preventing other nations from getting their hands on the quickly and increasingly important technolgical marvel.
    </p>
    <p>
        When the <a href="imperialWar">Imperial War</a> started with the United Federated of Earth following the execution of Pablo Escobar in the Universalis Confederation. The Deutschland wasted no time jumping
        into action, declaring a forceful war against the Germushian Republic, which was plauged itself with infighting from the various cartels. The cartels banded together though and united well enough to keep the
        Deutschland back for several hundred years. By the end of the war, the Deutschland government had transitioned from the Reichstag under the seat of the Chancellor and instead was handed to the "Empresses council"
        which was originally composed of four ministers and the empress herself. The ministers were: The Minister of Finance, the Prime-Minister of the Gosduma, the High Admerial and the OberGeneral.
    </p>
    <p>
        Following the failed invasion Germushia, the Deutschland receeded into its borders. Slowly becoming more and more centralized as the growing population of ravenous workers were failing to be given fair employemnent.
        Finally, done with seeing the fortunes being made in Germushia, the Deutschland people demanded complete naitonalization or revoltion. The empress was quick to act and agree to form the communist empire of
        the Deutschland.
    </p>
    <p>
        After the formation of the Communist Empire of the Deutschland, there was half a century of transitional period as the new government took over. But before it could truely salitify its power in government the
        Deutschland was dragged into <a href="greatWar">The Great War</a>. During which the Deutschland focused their war on two main fronts. Taking the various worldship based colonies and bringing them under
        the "Rightful" ruler. The other major front was against the Germushian people in an attempt to wipe out the last reminents at the time of the "capitalist drug loving pigs".
    </p>
    <p>
        Unfornately for the Deutschland, the loss of the great war was excruiatingly painful. In exchange for the existence of the <a href="sukiCorridor">Suki Corridor</a> the Deutschland requried that
        Germushia not be given any more terriroty, that the Deutschland would get all territory north of Germushia and from the East of the Suki Corridor. The Germushians required that the Deutschland not be allowed to have
        three borders with Germushia, and would have to give up their claim in the galatic south east. After intense back and forths during heated negotiations, it was agreed that Polandskia would be created out of the old
        Deutschland terriroity while the Deutschland would take all systems above the germushian border. This would give the Deutschland 60% of the terrirory east of the Suki Corridor.
    </p>
    <p>
        Following the great war, in order to fund the relocation the Deutschland took out heavy debts to the only nation that still had money <strong>Vers</strong>. The terms was for 100 versian Years, about 300 Deutschland
        years. While an expensive debt, the Deutschland should have been able to repay it. Unfornately after only 50 Versian years the Deutschland defaulted on the debt. This would cause the breakup of the Versian galaxies
        This was the final step in the transformation of the Deutschland into a communist state. As well, following the war the empresses council was updated to include the chief-justice and the head of the church of Sigmar.
        Today the Deutschland is hoping to join the <a href="transGalaticEmpire">Trans-Galatic empire</a> some time in the near future.
    </p>
    <h2>Government</h2>
    <p>The government of the Deutschland is really divided into two sections. The offical rulling council, and then the civil serice.</p>
    <h3>Ruling Council</h3>
    <p>
        The Ruling Council of the Communist Empire of the Deutschland is composed 7 seats. These seats are:
        <ul>
            <li>Empress</li>
            <li>Finance Minister</li>
            <li>Chancellor of the Reichstag</li>
            <li>High Admerial</li>
            <li>OberGeneral</li>
            <li>Cheif Justice</li>
            <li>Highest Priest of Sigmar</li>
        </ul>
        The council can pass any act that is then instantly put into effecte with a simple majority (4 of the 7). While at the same time can repeal any law with again a simple majority. The Civil Service can not repeal
        any law passed by the Ruling Council. As well, there is no oversight unless the council wishes to create a commity, which the council also gets to appoint whomever they want onto the commity. Each section of the
        council is also responbily for passing their own laws, as laws passed by the civil service do not apply so long as the people are performing work for their government agency.
    </p>
    <p>
        Formally the various sections of government should need to work together to function. Everyone needs the financy minsters money. The civil serice is requried to call a war (offically) and are also required to
        pass various laws that affect the general population. The General and Admerial each manage their respective domains. The Cheif Justice interprets the laws passed by any member of the council and determens them
        to be in the benefit of the central government. Meanwhile the church is seen as essential in the peoples lives. Of course, the interdepence breaks down as the church has enough funds to bribe the others to vote
        their way. While having the power over the masses to deal with the civil serivce. Its own army and navey, and can simply bribe the judges if need be.
    </p>
    <h3>Civil Service</h3>
    <p>
        The Civil Service within the Deutschland is offically the governemnt. It legally only rules over those within the civil serice, which would be mostly anyone with a job, or those who are in school or Otherwise
        work for the goverment in any way. It is composed of two major houses, the Reichstag and the Gosduma and is headed offically buy the Chancellor out of the Reichstag who controls the government.
    </p>
    <p>
        Following beuroctatic innefficenties during the Germushian war and seige, the Civil Service lost almost all of its powers over the other major branches of the government as the empresses council formed
        this loss of power was not emmediately obviously. But by the end of the great war, with the church joining the council,  it became clear to the careful observer that the Civil serice was now without purpose.
    </p>
    <h2>Audio</h2>
    <p>Coming soon</p>
</div>