@page "/IVFT"
    <head>
        <title>Imperial Versian Federated Territories </title>
        <meta property="og:title" content="Known Universe Wiki" />
        <meta property="og:url" content="https://theseamnetwork.com" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://thesteamnetwork.com/favicon.ico" />
        <meta content="The Wiki for the Known Universe RPG. Check out the Character Creator to jump in, or read some Voices from the Void articles to give you an idea of whats happening in the Sector. Or maybe just take a glance at the Islands Star-Charts to plot your future adventures." property="og:description" />
        <meta content="#ffe81F" data-react-helmet="true" name="theme-color" />

    </head>

<body>
    <h1>Imperial Versian Federated Territories (IVFT)</h1>
    <p>The Imperial Versian Federated Territories is a puppet faction of the <a href="transGalaticEmpire">Empire</a>, and was once a part of <a href="britannia">The Kingdom of Britannia</a>, and was briefly controlled by <a href="vers">The Vers Empire</a></p>
    <div>
        <table style="width:25.5em;border-spacing:2px;float:left;">
            <tbody>
                <tr><td>1) Short Description</td></tr>
                <tr><td>2) History</td></tr>
                <tr><td>3) Government</td></tr>
            </tbody>
        </table>

        <table style="width:25.5em;border-spacing:2px;float:right;">
            <tbody>
                <tr><td colspan="2" id="seperator"></td></tr>
                <tr><td>Name</td><td>Relationship</td></tr>
                <tr><td><a href="ufe" style="color:white">United Federation Of Earth</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="ufTn" style="color:white">United Federation Of Terra Nova</a></td><td style="color:lawngreen;">Enemy</td></tr>
                <tr><td><a href="ucs" style="color:white">United Colony Of Saldor</a></td><td style="color:yellow;">Neutral</td></tr>
                <tr><td><a href="ufu" style="color:white">United Federation Of Utopic</a></td><td style="color:yellow;">Neutral</td></tr>
                <tr><td><a href="uct" style="color:white">United Colony Of Tihara</a></td><td style="color:yellow;">Neutral</td></tr>
                <tr><td><a href="uft" style="color:white">United Federation Of Takara</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="ucm" style="color:white">United Colony Of Maldeth</a></td><td style="color:yellow;">Neutral</td></tr>
                <tr><td><a href="deutchsland" style="color:white">Deutschland</a></td><td style="color:#fc1f1a">Enemy</td></tr>
                <tr><td><a href="germushia" style="color:white">Germushia</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="polanskia" style="color:white">Polandskia</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="xiaoming" style="color:white">Xiao-Ming</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="firstorder" style="color:white">First Order</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="britannia" style="color:white">Britannia</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <!-- <tr><td><a href="ivft">Imperial Versian Federated Territories</a></td><td style="color:lawngreen">Ally</td></tr> -->
                <tr><td><a href="transGalaticEmpire" style="color:white">Trans Galatic Empire (Empire)</a></td><td style="color:lawngreen">Ally</td></tr>
                <tr><td><a href="vers" style="color:white">Vers</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="url" style="color:white">United Reverse Lords</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="artekka" style="color:white">Artekka</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="axios" style="color:white">Axios Allience</a></td><td style="color:#fc1f1a;">Ally</td></tr>
                <tr><td><a href="uar" style="color:white">United Augemented Republic</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="universalisConfederation" style="color:white">Universalis Confederation</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="witcher" style="color:white">Witcher Order</a></td><td style="color:yellow;">Neutral</td></tr>
                <tr><td colspan="2" id="seperator"></td></tr>
                <tr><td>Traits</td></tr>
                <tr><td style="color:orange">Puppet (Imperial state)</td></tr>
                <tr><td style="color:orange">Republic</td></tr>
                <tr><td style="color:orange">Religous</td></tr>
                <tr><td style="color:orange">Strong allience with <a href="kyloren">Kylo Ren</a></td></tr>
                <tr><td style="color:orange">Independed spirit</td></tr>
                <tr><td style="color:orange">Colony</td></tr>
                <tr><td style="color:orange">Vocal Society</td></tr>
            </tbody>
        </table>
    </div>
    <br />
    <div id="information" style="clear:left">
        <h2>Short Description</h2>
        <p>The Imperial Versian Federated Territories are a loose alliance of nationstates within the Sheeve Galaxy who are united under the command of the Trans Galatic Empire. The people the IVFT are often against the empire and very much for universial equality and small micronations being independed. They are often against any form of large centralized government.</p>
        <h2>History</h2>
        <p>The Imperial Versian Federated Territories is a nation born out of war and econmic depression. Following the <a href="greatWar">Great War</a> and the Versian Economy depression and Versian Civil war. Britannia would claim the Versian lands within the <a href="sheeve"> Sheeve Galaxy</a> within which they lie.</p>
        <p>After the purchase of the land, the IVFT began to act out in a civil war. Rebellious fleets, from ex pirates to aristocratic luxary liners that have lost their owners. The rebellion was quelled during the Seiege of Malcor 3. A six month battle for a single system where nearly three thousand Britannian star destroyers were annilahliated by what is now the IVFt's first fleet.</p>
        <p>The Siege culimnated when one of the last <a href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flumiere-a.akamaihd.net%2Fv1%2Fimages%2Fep8-ff-003419_7bd5f27c.jpeg%3Fregion%3D0%252C40%252C1280%252C640&f=1&nofb=1">Star Holds</a> created duing Supreme Commander Snokes violent reign and war for the <a href="milkyWayGalaxy">Milky Way Galaxy</a> against the <a href="ufe">United Federation of Earth</a></p>
        <p>When the starhold arrived and besieged the plannet, backed by the fleet of <a href="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fmedia.moddb.com%2Fimages%2Fgroups%2F1%2F2%2F1088%2FEclipse-class_Super_Star_Destroyer.jpg&f=1&nofb=1">Star Dreadnaughts</a> and star destroyers forcing their way through the rebellious fleet and blotting the sun out of the sky on Malcor 3 with the gray of their cold imperial warships. The hoards of stormtroops pillaged the city planet. Kylo Ren revealed himself when the starhold filled the sky and assisted in defending the planet, before tearing a void portal in front of the bridge to the star hold, defying got itself by hoving kilmeters above the surface of the planet, but still within the world. From the safety of the outside of the awesome stationvessle, Kylo opened a Nether portal, releasing an ironic demoic rampage across the vessle. As the crew was slaughted, Kylo procceeded to act like a child playing with toys. Using the powers of the void to smash dreadnaughts into eachother and their weapons into the star destroyers. Creating hundrends of semi spirit-clones of himself each one making a kingdom of destruction aboard the various imperial ships surrounding him and throughout the system.</p>
        <p>Following the destruction of the ninth Imperial fleet at Malcor 3, with the assiastance of the United Federation of Earth, Britnania signed a peace accord with the Imperial Versian Federated Territories. Who would instead become a state within the empire, with an imperial supereme-governor who watches over the government and has absolute authority to deny the passage of any legislation.</p>
        <p>The Territories, liberated now enjoy a life of quiet reorganization as they come to terms with what all this means and how it will affect them and their standing within the Galaxy. While also trying to work out how to balance the demands of each of the different Territories within the IVFT.</p>
        <h2>Government</h2>
        <p>The government of the IVFT is unlike most other imperial nations. Having thrown out almost all of the standard imperial cannon, insteading adopting a more Versarian style of government and social system, heavily inspired by the movements within the United Reverse lords and with insperation of Fuhrer Emily Goodwin of the United Federation of Earth.</p>
        <p>From that, the IVFt has two central houses of legisliation, the upper house known as the Imperial house, and the lower house known as the Citizen house. The upper house is restricted to only those with imperial level citizenship and are appointed by the Imperial supereme-governor. While the lower house is restricted to those with citizenship to the IVFT, and currently live within the boarders. While the upper house can not propose new legislation, they can at any time vote on whether the supereme-governor can take temperory control of the government above even the union Commander, and pass what ever emergency declarations that are treated as law so long as they are confirmed by the upper house.</p>
        <p>The Executive branch is run by the Union Commander and oversees the military and direction of the budge (which is given to the union commander from the Imperial Government). While Territories have direct control over their own police force, the military using imperial law can at any time circumvent the local authorites and take immediate control and the military themselves are only held to Imperial law, not local law.</p>
        <p>The judical branch is not centralized, if there is an issue at the federal level, it is solved in the Imperial court. Otherwise is it is solved in the Territories highest court.</p>
        <h2>Army</h2>
        <p>The army of the IVFT is mostly composed of those who served in the Restience. Service in the army may grant IVFT citizenship but does not grant Imperial Status. Because of this, it is most often filled with those who are the most patriotic towards the IVFT. This has caused issues as education is heavily focused on imperial indoctrination, causing the standing army of the IVFT to be getting older with fewer and fewer new recruits.</p>
        <p>The IVFT also maintains three standing armies within the Empire and six divisions within the imperial first army, the second largest followed by the <a href="firstOrder">First Order</a></p>
        <h2>Navy</h2>
        <p>The navy of the IVFT is old and not built for war. Denying imperial funding for warships, the IVFT military is currently in three fleets. The largest fleet, the first fleet, is composed of 789 ships, the youngest of which is 37 years old. The weapons system aboard them are outdated and many are held together with junk, scrap metal, prayers and a tiny bit of bubblegum (grape flavour was discovered to be ineffective and for this reason is unoffically banned within the IVFT)</p>
        <p>the IVFT also crew the 37'th imperial navy, but the ships are on loan to the IVFT from the empire.</p>
    </div>
</body>