@page "/UCM"
    <head>
        <title>United Colony of Maldeth</title>
        <meta property="og:title" content="Known Universe Wiki - United Colony of Maldeth" />
        <meta property="og:url" content="https://theseamnetwork.com/UCM" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://thesteamnetwork.com/favicon.ico" />
        <meta content="The United Colonies of Maldeth are one of the 6 domininos of the United Federation of Earth. Maldeth was founded following the second imperial war, around the same time as when the Vers Empireleft the Milky Way Galaxy for the Reverse Galaxy." property="og:description" />
        <meta content="#ffe81F" data-react-helmet="true" name="theme-color" />

    </head>

<body>
    <h1>United Colonies of Maldeth</h1>
    <p>The United Colonies of Maldeth are one of the 6 domininos of the <a href="ufe">United Federation of Earth</a>. Maldeth was founded following the second imperial war, around the same time as when the <a href="vers">Vers Empire</a> left the <a href="milkyWay">Milky Way Galaxy</a> for the <a href="reverse">Reverse Galaxy</a>.</p>
    <p></p>
    <div>
        <table style="width:25.5em;border-spacing:2px;float:left;">
            <tbody>
                <tr><td>1) Short Description</td></tr>
                <tr><td>2) History</td></tr>
                <tr><td>3) Government</td></tr>
            </tbody>
        </table>

        <table style="width:25.5em;border-spacing:4px;margin-left:10px;float:right;">
            <tbody>
                <tr><td colspan="2" id="seperator"></td></tr>
                <tr><td>Name</td><td>Relationship</td></tr>
                <tr><td><a href="ufe" style="color:white">United Federation Of Earth</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="udTn" style="color:white">United Dominion Of Terra Nova</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="ucs" style="color:white">United Colony Of Saldor</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="ufu" style="color:white">United Federation Of Utopic</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="uct" style="color:white">United Colony Of Tihara</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="uft" style="color:white">United Federation Of Takara</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="ucm" style="color:white">United Colony Of Maldeth</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="germushia" style="color:white">Germushia</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="polanskia" style="color:white">Polandskia</a></td><td style="color:yellow;">Neutral</td></tr>
                <tr><td><a href="deutschland" style="color:white">Deutschland</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="xiaoming" style="color:white">Xiao-Ming</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="firstorder" style="color:white">First Order</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="britannia" style="color:white">Britannia</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="ivft" style="color:white">Imperial Versian Federated Territories</a></td><td style="color:yellow;">Neutral</td></tr>
                <tr><td><a href="transGalaticEmpire" style="color:white">Trans Galatic Empire</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
                <tr><td><a href="vers" style="color:white">Vers</a></td><td style="color:#fc1f1a;">Neutral</td></tr>
                <tr><td><a href="url" style="color:white">United Reverse Lords</a></td><td style="color:yellow;">Neutral</td></tr>
                <tr><td><a href="axios" style="color:white">Axios Allience</a></td><td style="color:yellow;">Neutral</td></tr>
                <tr><td><a href="universalisConfederation" style="color:white">Universalis Confederation</a></td><td style="color:lawngreen;">Ally</td></tr>
                <tr><td><a href="witcher" style="color:white">Witcher Order</a></td><td style="color:#fc1f1a;">Enemy</td></tr>

                <tr><td colspan="2" id="seperator"></td></tr>
                <tr><td>Traits</td></tr>
                <tr><td style="color:orange">Subservent</td></tr>
                <tr><td style="color:orange">Federation</td></tr>
                <tr><td style="color:orange">Aristocratic</td></tr>
                <tr><td style="color:orange">Low population</td></tr>
            </tbody>
        </table>
    </div>
    <br />
    <div id="information" style="clear:left">
        <h2>Short Description</h2>
        <p>Maldeth is the middle of the United Federation of Earth colonies, and is technically under the tutalige of the <a href="uft">United Federation of Utopia</a> in order to provide an equal level of support.</p>
        <p>Following the betrayal of Jugendfuhrer Jason Hellsbeck, he fled to Maldeth, where  the local lords and Kinderfuhrer Dynvis kept him safe until a friendly lord in what was left of the <a href="vers">Vers Empire</a> was able to take him in.</p>
        <p>Because of this, Maldeth has always been seen as a bit of a rebel within the Federation. Breaking the tradiation of the people being above the lords, the Maldethian Senate's "Representative Act" was seen as a damning piece of legislation for those who valued a fair and equal democracy for all. Instead requiring that anyone who wishes to hold office also hold an amount of land equal to the scale of the office they wish to take.</p>
        <p>For now, the Colony is holding on by a thread, no one is sure what will happen when the Kinderfuhrer leaves office, as no one has the land required to take the office.</p>
        <h2>History</h2>
        <p>Maldeth was first colonized following the second imperial war. While initally not as prosperous as the other colonies, when the <a href="rhineland">Rhineland Galaxy</a> was destroyed, the remaining world ships that had not yet left the mily way, or were still under production were rerouted towards the dominions of the Federation.</p>
        <p>During this period of booming colonization, Maldeth went from being seen as equal to a dwarf galaxy to actually being a nation itself. The population boom was mostly in the form of those who were looking for whatever work they could get their hands on, this was especially true for the large grops of <a href="germushia">Germishian</a> refugese.</p>
        <p>The colonists were quick to maintain their roots, the Germishians began to restore standard Versiarian ideals into the government, slowly creating a state that depended more and more on the aritocicy.</p>
        <p>Following Fuhrer Goodwins reforms Maldeth took their new found independence to the extreme, passing the "Representative Act" among numerous other measures to consolidate power among the lords. In stark opposition to the <a href="ufu">United Federation of Utopia</a> who embraced the more democractic principles. But for that same reason, Earth can't legislate against it.</p>
        <h2>Government</h2>
        <p>Like other Federation Dominions, Maldeth offically has two major houses of government, the House of the Lords and the House of the People, composed of two and three subhouses respectively.</p>
        <p>Maldeth, Unlike other Dominions, has a stronger House of the Lords, especially the lower house. While in the House of the People, only the Senate holds any real power at this point.</p>
        <br>
        <p>
            <h3>Government Structure</h3>
            <ol>
                <li>
                    House of the Lords
                    <ol>
                        <li>Lower House - General body of the lords, run by the Shadow Council, headed by the speaker.</li>
                        <li>Upper House - Body of 13 Lords, 6 elected by the Lower house, 6 elected by the House of the People (2 by the House of Buisness Representatives, 2 by the House of Commons, and 2 by the Senate)</li>
                    </ol>
                </li>
                <li>
                    House of the People
                    <ol>
                        <li>House of Buisness Representatives - For the Buisnesses, regulates intracolony trade, effectively depowered as all the companies are shell companies owned by the Lords.</li>
                        <li>House of Commons - For the everyday people, normally the most powerful house, unfornately due to poorly written laws and a willfully ignorant people, the ability to legislate over citizens has been given to the lower house of lords, making the House of Commons effecitvely useless.</li>
                        <li>The Senate - For the government, still has the ability to overule actions of the houes of Commons and Representatives for now.</li>
                    </ol>
                </li>
            </ol>
        </p>
        <h2>Army</h2>
        <p>The army of Maldeth federally is weak. Like many Versarian nations Maldeths lords hold a very strong military power. In terms of armies, almost no planet execpt for those with vital federal functions have federal troops, and the standing army is disproportionately smaller then the other colonies. Otherwise it is structured the same as the United Federation of Earth.</p>
        <h2>Navy</h2>
        <p>The Federal navy of Maldeth is in a simliar state to that of the army. Very weak and poorly maintained. Unlike most other colonies that have been buying the old military surplus weapons during the rearmerment, Maldeth instead chose to delay a naval retrofit for another three centuries EST. The bold assumption of Kinderfuhrer Dynvis that war will not come, and if it does, it should not involve Maldeth is spoken about with hushed whispers in the halls of Parlimeant on Earth.</p>
    </div>
</body>