@page "/WikiArticle"
@using WikiServices.DataServices
@using TravellerWikiInfomationArticles
@inject WikiArticleService ArticleService;
<h3>Wiki Articles</h3>

@code {
    List<InformationArticle> Articles;

    public void LoadARticle()
    {
        Articles = ArticleService.AllArticles;
    }
}

@if (Articles == null)
{
    LoadARticle();
}

@if (Articles != null)
{
    <ul>
    @foreach (var article in Articles)
    {
        <li><a href="/WikiArticle/@article.ID"><b>@article.Title</b></a>:  @article.Summery</li>
    }
    </ul>
}