@page "/Galaxies/Dewara"
<head>
    <title>Dewara Galaxy</title>
</head>

<body>
    <h1>Dewara</h1>
    <p>Dewara is one of the four dwarf Galaxy that orbit the milky way. Dewara was the last Dwarf Galaxy to be colonized, happening in the mid 45th milenium. It is currently owned by the Bicnet corporation, the Tielson Family, and the Neartek firearms company.</p>
    <p>It is located to the galatic north west.</p>
    <table style="width:25.5em;border-spacing:2px;float:left;">
        <tbody>
            <tr><td>1) history</td></tr>
            <tr><td>2) nations within Dewara Galaxy</td></tr>
        </tbody>
    </table>
    <div id="information" style="clear:left">
        <h2>History</h2>
        <p>The Dewara galaxy was founded during the highet of the second great journey, when most of the other nations were heading off to find new homes. The UFE looked to Dewara as the last unclaimed galaxy near home and sent the newly made Lord Tielson there to build an early colony. This Galaxy would soon by aquired by the <a href="xiaoming">Xiao-Ming corporation</a>, only to be sold to Bicnet upon Xiao-Mings Arrival in the <a href="axious">Axious Galaxy</a></p>
        <p>During the <a href="imperialwar">Imperial War</a> Neartek took the opportuinity to move their headquarters to the relatively unscathed galaxy and began mass production on weapons for the war effort.</p>
        <h2>Nations Within Dewara Galaxy</h2>
        <ul>
            <li><a href="ufe">The United Federation of Earth</a></li>
        </ul>
        <h2>Audio</h2>
        <p>The history of the Deutschland is largely related to the history of Germushia</p>
    </div>
</body>