@page "/MMR"
<head>
    <title>Mainhair Military Republic </title>
</head>

<body>
    <h1>Mainhair Military Republic</h1>
    <p>the Mainhair military republic recently created a new Military Merchant fleet funded by the <a href="ncbb">New Colchis Buisness Board</a>, to support this, the MMR has chosen to align themselves towards the <a href="germushia">Germushian Republic</a> ideals.</p>
    <div>
        <table style="width:25.5em;border-spacing:2px;float:left;">
            <tbody>
                <tr><td>1) Short Description</td></tr>
                <tr><td>2) History</td></tr>
                <tr><td>3) Government</td></tr>
            </tbody>
        </table>
        <table style="width:27.5em;border-spacing:2px;float:right;">
            <tbody>
            <td style="color:wheat;">Major factions</td>
            <tr><td><a href="ufe" style="color:white">United Federation Of Earth</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="germushia" style="color:white">Germushia</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="polanskia" style="color:white">Polandskia</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="deutschland" style="color:white">Deutschland</a></td><td style="color:#fc1f1a;">Ally</td></tr>
            <tr><td><a href="xiaoming" style="color:white">Xiao-Ming</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="firstorder" style="color:white">First Order</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="britannia" style="color:white">Britannia</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ivft" style="color:white">Imperial Versian Federated Territories</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="transGalaticEmpire" style="color:white">Trans Galatic Empire</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="vers" style="color:white">Vers</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="url" style="color:white">United Reverse Lords</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="axios" style="color:white">Axios Allience</a></td><td style="color:yellow;">Neutral</td></tr>

            <tr><td style="color:wheat">Sector Sized Factions</td></tr>
            <tr><td><a href="wia" style="color:white">Western Islands Alliance (UFE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ub" style="color:white">United Baronies (POL)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="witc" style="color:white">Western Islands Trade Consortium (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ds" style="color:white">Dominate Supremius (TGE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="wic" style="color:white">Western Islands Commune (DEU)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ro" style="color:white">Rex van der Ostrovki(VE)</a></td><td style="color:yellow;">Neutral</td></tr>


            <tr><td style="color:wheat">Subsector Sized Factions</td></tr>
            <tr><td><a href="idf" style="color:white">Independed Defense Federation (UFE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="sca" style="color:white">Starcan Alliance (UFE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="kt" style="color:white">Kotlik Tribunal (UFE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="tt" style="color:white">Tilova Pact (AA)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ss" style="color:white">Spiritwood Senate (AA)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ncbb" style="color:white">New Colchis Buisness Board (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="mmr" style="color:white">Mainhair Military Republic (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="istc" style="color:white">Intercourse Subsector Trade Consortium (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="cstc" style="color:white">Cirtra Sector Trade Consortium (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="vds" style="color:white">Venhut Dominate State (TGE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="nta" style="color:white">Neubayern-Topas Alliance (DEU)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="op" style="color:white">Olitar Protectorate (DEU)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="jktp" style="color:white">Jeffers-Kosse Trade Pact (XM)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="hsptp" style="color:white">Harwichport-Simla-Parcol Trade Pact (XM)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="iwtp" style="color:white">Ionia-Waskish Trade Pact (XM)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="epg" style="color:white">Esperanza Planetary Government (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="cma" style="color:white">Coila Military Alliance (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="gse" style="color:white">Gunipped Stellar Empire (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="stc" style="color:white">Sar-Tan Confederacy (URL)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="rrr" style="color:white">Red Rock Republic (URL)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="ek" style="color:white">Essia Kritarchy (URL)</a></td><td style="color:yellow;">Neutral</td></tr>

            <tr><td colspan="2" id="seperator"></td></tr>
            <tr><td>Traits</td></tr>
            <tr><td style="color:orange">Military Services for Citizenship</td></tr>
            <tr><td style="color:orange">Islands State</td></tr>
            <tr><td style="color:orange">Medium Sized</td></tr>
            <tr><td style="color:orange">Technologically behind</td></tr>
            </tbody>
        </table>
    </div>
    <br />
    <div id="information" style="clear:left">
        <h2>Short Description</h2>
        <p>The MMR is a state that requires military service for citizenship, while the culture itself on Mainhair may be liberal, on Uncode the demand for offworlders to meet their insane demands has changed to instead be that those outside of the republic must meet the rabid dogs rumbling stomach.</p>
        <h2>History</h2>
        <p>Founded only 7 years again, the Mainhair military republic was founded in response to the <a href="sca">Star-Can Alliance</a> and the <a href="stc">Sar-tan Confederacy</a> being formed.</p>
        <p>Today, the initial republic has fallen, replaced by the Military republic following a coup during the <a href="op">Olitar</a> rebellion, with support from the <a href="ncbb">New Colchis Business Board</a>. The military was quick to take power and appointed their leader, Legate Anthony Marcellerus, to the title of Imperator. The Imperator was quickly given the boot by a group of dedicated republicans, one of whom listened when their leader advised to return their fleets to Mainhair, averting total destruction and the formation of an empire.</p>
        <p style="font-size: xx-small;"> yes. I am being that obvious. It makes me smile so idc if you judge me.</p>
        <p>Still though, the current leader, Consul Cicero, has maintained his limited control through military might, and now that military is calling for action.</p>

        <h2>Government</h2>
        <p>The Mainhair military republic is (obviously) based on the Roman Republic. In this form there is the Senate, composed of 20 senators for each class B starport they control, 7 for each class C starport they control.</p>
        <p>
            this gives the senate the following numbers:
            <ul>
                <li>Mainhair: 20 (34)</li>
                <li>Cansok (Mainhair): 7</li>
                <li>KneelDead (mainhair): 7</li>
                <li>Uncode: 20 (27)</li>
                <li>Garbreeze (Uncode): 7</li>
            </ul>
            While Mainhair may technically hold a majority, KneelDead is fairly distant and tends to be fairly independent, especially because of their relationship to the UB due to the major trade route for the Acadie highway being next to them. This allows the Uncode to still have a large say in the system.
        </p>
        <p>Each class B starport is given a position of Consul, while each class C starport is given a magistrate, meaning that while the larger powers may make all the important choices, the ones executing them are from the less well developed areas.</p>
        <h2>Army</h2>
        <ol>
            <li>st Army, composed of 7 Units, commanded by Golab Kontny, currently headquartered in Uncode</li>
            <li>nd Army, composed of 12 Unit, commanded by Sienko Gach, currently headquartered in Mainhair</li>
            <li>rd Army, composed of 7 Units, commanded by Muzyka Luka, currently headquartered in Uncode</li>
        </ol>

        <h2>Navy</h2>
        <p>The MMR navy is also divided into 3 groups composed as such: </p>
        <p>
            <ul>
                Mainhair Fleet (26 Ships)
                <ul>
                    <li>1 * Heavy Cruiser - MRS Mainhair - Mainhair class</li>
                    <li>2 * Cruisers - MRS Vera, MRS Rising - Uncode Class</li>
                    <li>3 * Light Cruisers - MRS Prennia, MRS Diplomat, MRS Ares- Marcus Class </li>
                    <li>5 * Destroyers - MRS Typhoon, MRS Wellington, MRS Inquisitor, MRS Celina, MRS Destiny - Galbreeze Class</li>
                    <li>2 * Frigates - MRS Zenith, MRS Warrior - KneelDead Class</li>
                    <li>5 * Corvette - MRS Blaysin, MRS Milhor, MRS Weltin, MRS Katherina, MRS Ripper -  Cansok Class</li>
                    <li>6 * troop ship MRS (T1/T2/T3/T4/T5/T6) - Aurelius Class</li>
                </ul>
                Uncode Fleet (19 Ships)
                <ul>
                    <li>3 * Cruisers - MRS Starkiller , MRS Stargazer , MRS Hermes  - Uncode Class</li>
                    <li>5 * Frigates - MRS Hathaway , MRS Victory , MRS Agamemnon , MRS Gage , MRS Drake - KneelDead Class</li>
                    <li>4 * Destroyers - MRS Kearsarge , MRS Buran , MRS Bradbury , MRS Zhukov - Galbreeze Class</li>
                    <li>3 * Corvette - MRS Thunderchild, MRS Exeter, MRS Horatio,  -  Cansok Class</li>
                    <li>4 * troop ship MRS (T7/T8/T9/T10) - Aurelius Class</li>
                </ul>
                Colonial Fleet (8 Ships)
                <ul>
                    <li>1 * Light Cruisers -  MRS Viper - Marcus Class </li>
                    <li>1 * Destroyers - MRS Galbreeze - Galbreeze Class</li>
                    <li>3 * Frigates - MRS KneelDead, MRS Orion, MRS Montgomery - KneelDead Class</li>
                    <li>2 * Corvette - MRS Nuria, MRS Lullaby -  Cansok Class</li>
                    <li>1 * troop ship MRS (T11) - Aurelius Class</li>
                </ul>
            </ul>
        </p>
        <p>The fleet uses MRS as the ships government tag, it stands for Mainhair Republic Ship. The total fleet size is 54 ships.</p>
    </div>
    <h2>Planets Controlled</h2> 
    <p>Naval base: a location that a fleet can operate out of.</p>
<p>Army base: A location that an army can operate out of.</p>
<p>Naval Shipyard: A location that can produce military grade vessels.</p>
<p>Research: A reseach lab of some kind is located here.</p>
<p>Food: This planet producers food.</p>
<p>Industrial: This planet is dedicated to building stuff!</p>
<p>Supply planet - just produces things to be consumed.</p>
<p>High Population - Lots of people, generally important for commerce.</p>
<p>Fuel Depo - a planet where fuel is stored/sold for cheaper then regular (indicated by a O on the map)</p>

    <ul>
        <li><a href="Subsector_Oren_Wastes_3">Oren Wastes 3</a></li>

        <ul>
            <li>Mainhair - Naval Shipyard</li>
            <li>Garbreeze - Fuel Depo</li>
            <li>Uncode - Naval Shipyard</li>
            <li>Cansok - Fuel Depo</li>
            <li>KneelDead - Fuel Depo</li>
        </ul>
    </ul>
</body>
