@page "/NCBB"
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>
</head>

<body>
    <h1>New Colchis Business Board. (NCBB)</h1>
    <p>The New Colchis Business Board was formed following a largescale economic crisis on New Colchis and would be heavily invested in by hte <a href="germushia">Germushian</a> government.</p>
    <div>
        <table style="width:25.5em;border-spacing:2px;float:left;">
            <tbody>
                <tr><td>1) Short Description</td></tr>
                <tr><td>2) History</td></tr>
                <tr><td>3) Government</td></tr>
            </tbody>
        </table>

        <table style="width:27.5em;border-spacing:2px;float:right;" e>
            <tbody>
            <td style="color:wheat;">Major factions</td>
            <tr><td><a href="ufe" style="color:white">United Federation Of Earth</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="germushia" style="color:white">Germushia</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="polanskia" style="color:white">Polandskia</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="deutschland" style="color:white">Deutschland</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="xiaoming" style="color:white">Xiao-Ming</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="firstorder" style="color:white">First Order</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="britannia" style="color:white">Britannia</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ivft" style="color:white">Imperial Versian Federated Territories</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="transGalaticEmpire" style="color:white">Trans Galatic Empire</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="vers" style="color:white">Vers</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="url" style="color:white">United Reverse Lords</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="axios" style="color:white">Axios Allience</a></td><td style="color:yellow;">Neutral</td></tr>

            <tr><td style="color:wheat">Sector Sized Factions</td></tr>
            <tr><td><a href="wia" style="color:white">Western Islands Alliance (UFE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ub" style="color:white">United Baronies (POL)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="witc" style="color:white">Western Islands Trade Consortium (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ds" style="color:white">Dominate Supremius (TGE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="wic" style="color:white">Western Islands Commune (DEU)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ro" style="color:white">Rex van der Ostrovki(VE)</a></td><td style="color:yellow;">Neutral</td></tr>


            <tr><td style="color:wheat">Subsector Sized Factions</td></tr>
            <tr><td><a href="idf" style="color:white">Independed Defense Federation (UFE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="sca" style="color:white">Starcan Alliance (UFE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="kt" style="color:white">Kotlik Tribunal (UFE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="tt" style="color:white">Tilova Pact (AA)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ss" style="color:white">Spiritwood Senate (AA)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ncbb" style="color:white">New Colchis Buisness Board (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="mmr" style="color:white">Mainhair Military Republic (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="istc" style="color:white">Intercourse Subsector Trade Consortium (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="cstc" style="color:white">Cirtra Sector Trade Consortium (GER)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="vds" style="color:white">Venhut Dominate State (TGE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="nta" style="color:white">Neubayern Topas Alliance (DEU)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="op" style="color:white">Olitar Protectorate (DEU)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="jktp" style="color:white">Jeffers-Kosse Trade Pact (XM)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="hsptp" style="color:white">Harwichport-Simla-Parcol Trade Pact (XM)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="iwtp" style="color:white">Ionia-Waskish Trade Pact (XM)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="epg" style="color:white">Esperanza Planetary Government (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="cma" style="color:white">Coila Military Alliance (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="gse" style="color:white">Gunipped Stellar Empire (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="stc" style="color:white">Sar-Tan Confederacy (URL)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="rrr" style="color:white">Red Rock Republic (URL)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="ek" style="color:white">Essia Kritarchy (URL)</a></td><td style="color:yellow;">Neutral</td></tr>

            <tr><td colspan="2" id="seperator"></td></tr>
            <tr><td>Traits</td></tr>
            <tr><td style="color:orange">Corpoeate controlled state</td></tr>
            <tr><td style="color:orange">Islands State</td></tr>
            <tr><td style="color:orange">Medium</td></tr>
            <tr><td style="color:orange">Technologically behind</td></tr>
            </tbody>
        </table>
    </div>
    <br />
    <div id="information" style="clear:left">
        <h2>Short Description</h2>
        <p>The NCBB was founded following a series of economic crisis and military dispuits on Colchis, the central govenrment appointed the NCBB to help deal with the crisis, Germushia was quick to invest to fund a space race and military and quickly the NCBB gained power, and took many lands within the islands, and had a small war with the IDF</p>
        <p>Today the NCBB acts as a proxy investment area for Germushia, they can invest within the islands using the NCBB, allowing the NCBB to fund new additions to the <a href="witc">Western Islands Trade Consortium</a>, such as their most recent aquisition, the <a href="mmr">Mainhair Military Republic.</a></p>
        <h2>History</h2>
        <p>Following a series of economic recessions, New Colchis elected to create a group of companies to manage the offworld trade and help save the economy. With the ability to control the starports, the NCBB could justify almost any purchase or acquiesence of power to the government. Germushia Saw the power this offered and was quick to invest in the board, acquiring a large number of shares.</p>
        <p>With the cash injection, the NCBB was able to fund the colonization and control over numerous planets within the islands. With the example of the NCBB being able to bring in new systems, Germushia would use to add systems to the Western Island Trade Consortium.</p>
        <h2>Government</h2>
        <p>The new Colchis Business Board is the board to a company that owns and controls all the starports with in NCBB Territories.</p>
        <h2>Army</h2>
        <p>The NCBB currently has 7 standing armies: </p>
        <ol>
            <li>st Army, composed of 4 Units, commanded by Klosek Krzanowska, currently headquartered in Elysee</li>
            <li>nd Army, composed of 1 Unit, commanded by Wojcicki Wiatrek, currently headquartered in Besancon</li>
            <li>rd Army, composed of 5 Units, commanded by Darga Koziara, currently headquartered in New Colchis</li>
            <li>rth Army, composed of 7 Units, commanded by Kuchar Emilio, currently headquartered in New Colchis</li>
            <li>th Army, composed of 8 Units, commanded by Bergmann Dykas, currently headquartered in New Colchis</li>
            <li>th Army, composed of 1 Unit, commanded by Baba Stolarczyk, currently headquartered in St Hilaire</li>
            <li>th Army, composed of 4 Units, commanded by Baluch Gucwa, currently headquartered in Elysee</li>
        </ol>
        <p>The NCBB arms their troops with the: {WEAPON} and uses: {ARMOUR}</p>
        <h2>Navy</h2>
        <p>The NCBB currently has 6 standing Fleets (total vessels: 41): </p>
        <ol>
            <li>st , composed of 7 vessels, Led by Pyszka Flis, Stationed out of New Colchis</li>
            <li>nd , composed of 4 vessels, Led by Stefanik Cal, Stationed out of New Colchis</li>
            <li>rd , composed of 8 vessels, Led by Grubich Sophia, Stationed out of New Colchis</li>
            <li>th , composed of 7 vessels, Led by Snopek Suchecki, Stationed out of Elysee</li>
            <li>th , composed of 7 vessels, Led by Doman Borecka, Stationed out of Elysee</li>
            <li>th , composed of 8 vessels, Led by Stepien Ptak, Stationed out of Elysee</li>
        </ol>

        <h2>Companies managed from within the NCBB</h2>
        <ul>
            <li>
                Fuel Companies:
                <table style="border-style: solid;">
                    <thead>
                        <tr><th>Name</th><th>Fuel Type</th><th>Size within nation</th><th>Mining Worlds</th><th>Refining Worlds</th><th>Average Share Price</th><th>Notes</th></tr>
                    </thead>
                    <tbody style="color:#ffe81F">
                        <tr id="tableInfo"><td>Imperial Aldminium Company.North Western Islands</td><td>Aldminium</td><td>Small</td><td>Renwick</td><td>Renwcik</td><td>Cr346</td><td>Offically owned by the Trans Galatic Empire.</td></tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <h2>Planets Controlled</h2>
        <p>Naval base: a location that a fleet can operate out of.</p>
        <p>Army base: A location that an army can operate out of.</p>
        <p>Naval Shipyard: A location that can produce military grade vessels.</p>
        <p>Research: A reseach lab of some kind is located here.</p>
        <p>Food: This planet producers food.</p>
        <p>Industrial: This planet is dedicated to building stuff!</p>
        <p>Supply planet - just produces things to be consumed.</p>
        <p>High Population - Lots of people, generally important for commerce.</p>
        <p>Fuel Depo - a planet where fuel is stored/sold for cheaper then regular (indicated by a O on the map)</p>

        <ul>
            <li><a href="Subsector_New_Islands">New Islands Subsector</a></li>
            <ul>
                <li>New Colchis - Naval Shipyard</li>
                <li>Herzenslust - Fuel Depo</li>
                <li>Besancon - Fuel Depo</li>
                <li>Elysee - Naval Base</li>
                <li>St. Hilaire - Supply</li>
                <li>Nebelwelt - Supply</li>
            </ul>
            <li><a href="Subsector_Doland">Doland</a></li>
            <ul>
                <li>Crum - Uninhabited</li>
            </ul>
        </ul>
        </div>
</body>
