@page "/UB"
<head>
    <title>@this.ToString().Replace("TravellerWiki.Pages.", "") </title>
</head>

<body>
    <h1>United Baronies(UB)</h1>
    <div>
        <table style="width:25.5em;border-spacing:2px;float:left;">
            <tbody>
                <tr><td>1) Short Description</td></tr>
                <tr><td>2) History</td></tr>
                <tr><td>3) Government</td></tr>
            </tbody>
        </table>

        <table style="width:27.5em;border-spacing:2px;float:right;">
            <tbody>
                <tr><td colspan="2" id="seperator"></td></tr>
                <tr><td>Name</td><td>Relationship</td></tr>
            <td style="color:wheat;">Major factions</td>
            <tr><td><a href="ufe" style="color:white">United Federation Of Earth</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="germushia" style="color:white">Germushia</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="polanskia" style="color:white">Polandskia</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="deutschland" style="color: white">Deutschland</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="xiaoming" style="color:white">Xiao-Ming</a></td><td style="color: yellow;">Neutral</td></tr>
            <tr><td><a href="firstorder" style="color:white">First Order</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="britannia" style="color:white">Britannia</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="ivft" style="color:white">Imperial Versian Federated Territories</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="transGalaticEmpire" style="color:white">Trans Galatic Empire</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="vers" style="color:white">Vers</a></td><td style="color: yellow;">Neutral</td></tr>
            <tr><td><a href="url" style="color:white">United Reverse Lords</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="axios" style="color:white">Axios Allience</a></td><td style="color:yellow;">Neutral</td></tr>

            <tr><td style="color:wheat">Sector Sized Factions</td></tr>
            <tr><td><a href="wia" style="color:white">Western Islands Alliance (UFE)</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="ub" style="color:white">United Baronies (POL)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="witc" style="color:white">Western Islands Trade Consortium (GER)</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="ds" style="color:white">Dominate Supremius (TGE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="wic" style="        color: white">Western Islands Commune (DEU)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="ro" style="color:white">Rex van der Ostrovki(VE)</a></td><td style="color:yellow;">Neutral</td></tr>


            <tr><td style="color:wheat">Subsector Sized Factions</td></tr>
            <tr><td><a href="idf" style="color:white">Independed Defense Federation (UFE)</a></td><td style="color: yellow;">Enemy</td></tr>
            <tr><td><a href="sca" style="color:white">Starcan Alliance (UFE)</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="kt" style="color: white">Kotlik Tribunal (UFE)</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="tt" style="color:white">Tilova Pact (AA)</a></td><td style="color:yellow;">yellow</td></tr>
            <tr><td><a href="ss" style="color:white">Spiritwood Senate (AA)</a></td><td style="color: yellow;">Enemy</td></tr>
            <tr><td><a href="ncbb" style="color:white">New Colchis Buisness Board (GER)</a></td><td style="color: yellow;">Enemy</td></tr>
            <tr><td><a href="mmr" style="color:white">Mainhair Military Republic (GER)</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="istc" style="color:white">Intercourse Subsector Trade Consortium (GER)</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="cstc" style="color:white">Cirtra Sector Trade Consortium (GER)</a></td><td style="color:yellow;">Enemy</td></tr>
            <tr><td><a href="oild" style="        color: white">Old Islands Defense League (TGE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="vds" style="color:white">Venhut Dominate State (TGE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="nta" style="color:white">Neubayern Topas Alliance (DEU)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="op" style="color:white">Olitar Protectorate (DEU)</a></td><td style="        color: yellow;">Neutral</td></tr>
            <tr><td><a href="jktp" style="color:white">Jeffers-Kosse Trade Pact (XM)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="hsptp" style="color:white">Harwichport-Simla-Parcol Trade Pact (XM)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="iwtp" style="color:white">Ionia-Waskish Trade Pact (XM)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="epg" style="color:white">Esperanza Planetary Government (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="cma" style="color:white">Coila Military Alliance (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="gse" style="color:white">Gunipped Stellar Empire (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="stc" style="color:white">Sar-Tan Confederacy (URl)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="rrr" style="color:white">Red Rock Republic (URl)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="ek" style="color:white">Essia Kritarchy (URl)</a></td><td style="color:yellow;">Neutral</td></tr>

            <tr><td colspan="2" id="seperator"></td></tr>
            <tr><td>Traits</td></tr>
            <tr><td style="color:orange">Dispotic</td></tr>
            <tr><td style="color:orange">Unreliable</td></tr>
            <tr><td style="color:orange">Scattered</td></tr>
            <tr><td style="color:orange">Technologically backwards</td></tr>
            </tbody>
        </table>
    </div>
    <br />
    <div id="information" style="clear:left">
        <h2>Short Description</h2>
        <h2>History</h2>
        <h2>Government</h2>
        <h2>Army</h2>
        <p>The Baronies currently has 19 standing armies: </p>
        <ol>
            <li>st Army, composed of 20 New Infantry Units, commanded by Harmony Lucian, currently headquartered in Seco</li>
            <li>nd Army, composed of 19 Good InfantryUnits, commanded by Natalie Arya, currently headquartered in Eaucalaire</li>
            <li>rd Army, composed of 17 Good Infantry Units, commanded by Ryder Haley, currently headquartered in Nuremberg</li>
            <li>th Army, composed of 15 Good Infantry Units, commanded by Cambria Jakayla, currently headquartered in Carrsville</li>
            <li>th Army, composed of 17 Good Infantry Units, commanded by Monroe Everett, currently headquartered in Ijamsville</li>
            <li>th Army, composed of 15 Good Infantry Units, commanded by Hollie Cael, currently headquartered in Terrell</li>
            <li>th Army, composed of 14 Great Infantry Units, commanded by Ava Alijah, currently headquartered in Lattimore</li>
            <li>th Army, composed of 13 Great Infantry Units, commanded by Alijah Mullins, currently headquartered in Coda</li>
            <li>th Army, composed of 13 New Infantry Units, commanded by Braylen Kellan, currently headquartered in Garrisonville</li>
            <li>th Army, composed of 10 NewInfantry Units, commanded by Kyle Greene, currently headquartered in Hartland</li>
            <li>th Army, composed of 3 Elite Infantry Units, commanded by Nicholas Jaqueline, currently headquartered in Bussin</li>
            <li>th Army, composed of 6 Okay Infantry Units, commanded by Rush Jackson, currently headquartered in Struggling</li>
            <li>th Army, composed of 2 Elite Infantry Units, commanded by Jayden Audrina, currently headquartered in Moncut</li>
            <li>th Army, composed of 5 Infantry Units, commanded by Jionni Finley, currently headquartered in Saltsburg</li>
            <li>th Army, composed of 5 Infantry Units, commanded by Rosa Finnegan, currently headquartered in Lattimore</li>
            <li>th Army, composed of 3 Okay Infantry Units, commanded by Katherine Ash, currently headquartered in Etty</li>
            <li>th Army, composed of 4 Elite Infantry Units, commanded by Haynes Bowman, currently headquartered in Acadie</li>
            <li>th Army, composed of 3 Horrible Infantry Units, commanded by Caldwell Gould, currently headquartered in Worland</li>
            <li>th Army, composed of 2 Elite Infantry Units, commanded by Jimenez Rene, currently headquartered in Bronaugh</li>

        </ol>
        <p>The Baronies arms their troops with the: {WEAPON} and uses: {ARMOUR}</p>
        <h2>Navy</h2>
        <p>The Baronies currently has 29 standing Fleets (total vessels: ): </p>
        <ol>
            <li>st, composed of 89 vessels, Led by Kendal Love, Stationed out of Bussin</li>
            <li>nd, composed of 80 vessels, Led by Reuben Darnell, Stationed out of Hartland</li>
            <li>rd, composed of 76 vessels, Led by Dickerson Andy, Stationed out of Garisonville</li>
            <li>th, composed of 57 vessels, Led by Greyson Raegan, Stationed out of Saltsburg</li>
            <li>th, composed of 54 vessels, Led by Swanson Mcfarland, Stationed out of Struggling</li>
            <li>th, composed of 52 vessels, Led by Copeland Barker, Stationed out of Tonganoxie</li>
            <li>th, composed of 41 vessels, Led by Davin Gonzales, Stationed out of Talihina</li>
            <li>th, composed of 26 vessels, Led by Valerie Tori, Stationed out of Worland</li>
            <li>th, composed of 21 vessels, Led by Jordan Athena, Stationed out of Moncut</li>
            <li>th, composed of 14 vessels, Led by Elsie Freddy, Stationed out of Carrsville</li>
            <li>th, composed of 13 vessels, Led by Justice Clark, Stationed out of Coda</li>
            <li>th, composed of 12 vessels, Led by Bridger Jessica, Stationed out of Seco</li>
            <li>th, composed of 12 vessels, Led by Marcelo Calhoun, Stationed out of Singer</li>
            <li>th, composed of 11 vessels, Led by Kaelynn Nash, Stationed out of Singer</li>
            <li>th, composed of 11 vessels, Led by Tony Haley, Stationed out of Singer</li>
            <li>th, composed of 10 vessels, Led by Guadalupe Weeks, Stationed out of Rockan</li>
            <li>th, composed of 8 vessels, Led by Aliyah Rachael, Stationed out of Hutto</li>
            <li>th, composed of 8 vessels, Led by Trenton Sabrina, Stationed out of Hadlyme</li>
            <li>th, composed of 8 vessels, Led by Boyle Barron, Stationed out of Sustone</li>
            <li>th, composed of 6 vessels, Led by Georgina Stevens, Stationed out of Yupen</li>
            <li>th, composed of 5 vessels, Led by Jett Charlie, Stationed out of Vandiver</li>
            <li>th, composed of 5 vessels, Led by Estrella Rivers, Stationed out of Lattimore</li>
            <li>st, composed of 4 vessels, Led by Quinn Elisha, Stationed out of Ijamsville</li>
            <li>nd, composed of 4 vessels, Led by Vincent Talley, Stationed out of Trevor</li>
            <li>rd, composed of 3 vessels, Led by Meyer Miguel, Stationed out of Bronaugh</li>
            <li>th, composed of 3 vessels, Led by Ayla Bailey, Stationed out of Marchand</li>
            <li>th, composed of 2 vessels, Led by Sampson Neal, Stationed out of Thippe464</li>
            <li>th, composed of 1 vessel, Led by Matteo Mcdonald, Stationed out of Hotania</li>
            <li>th, composed of 1 vessel, Led by Marquez Cory, Stationed out of Nuremberg</li>

        </ol>

        <h2>Companies managed from within the Baronies</h2>
        <ul>
            <li>
                Fuel Companies:
                <table style="border-style: solid;">
                    <thead>
                        <tr><th>Name</th><th>Fuel Type</th><th>Size within nation</th><th>Mining Worlds</th><th>Refining Worlds</th><th>Average Share Price</th><th>Notes</th></tr>
                    </thead>
                    <tbody style="color:#ffe81F">
                        <tr id="tableInfo"><td>Imperial Aldminium Company.North Western Islands</td><td>Aldminium</td><td>Small</td><td>Renwick</td><td>Renwcik</td><td>Cr346</td><td>Offically owned by the Trans Galatic Empire.</td></tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <h2>Planets Controlled</h2>
        <p>Naval base: a location that a fleet can operate out of.</p>
        <p>Army base: A location that an army can operate out of.</p>
        <p>Naval Shipyard: A location that can produce military grade vessels.</p>
        <p>Research: A reseach lab of some kind is located here.</p>
        <p>Food: This planet producers food.</p>
        <p>Industrial: This planet is dedicated to building stuff!</p>
        <p>High Population - Lots of people, generally important for commerce.</p>
        <p>Fuel Depo - a planet where fuel is stored/sold for cheaper then regular (indicated by a O on the map)</p>
        <p>Supply planet - just produces things to be consumed.</p>

        <ul>
            <li><a href="Subsector_Kendrick">Kendrick</a></li>
            <ul>
                <li>Singer - Naval Base</li>
                <li>Jonancy - Fuel Depo</li>
                <li>Seco - Army Base</li>
                <li>Eauclaire - Army Base</li>
                <li>Garrisonvi - Naval Shipyard</li>
            </ul>
            <li><a href="Subsector_Wyona">Wynona</a></li>
            <ul>
                <li>Milesville - Fuel Depo</li>
                <li>Hutto - Research Planet</li>
                <li>Hadlyme - Food</li>
            </ul>
            <li><a href="Subsector_Olivehurst">Olivehurst</a></li>
            <ul>
                <li>Moko - Supply</li>
                <li>Badger - High Population</li>
                <li>Kenduskeag - Fuel Depo</li>
                <li>Hartland - Naval Base</li>
                <li>Nuremberg - Army Base</li>
            </ul>
            <li><a href="Subsector_Payette">Payette</a></li>
            <ul>
                <li>Carrsville - Army Base</li>
                <li>Orcas - Supply</li>
            </ul>
            <li><a href="Subsector_Oren_Wastes_1">Oren Wastes 1</a></li>
            <ul>
                <li>Quasqueton - Fuel Depo</li>
                <li>Bellemead - Fuel Depo</li>
            </ul>
            <li><a href="Subsector_Oren_Wastes_2">Oren Wastes 2</a></li>
            <ul>
                <li>Hotania - Empty</li>
                <li>Agucaitov - Supply</li>
                <li>Thippe464 - Suppky</li>
            </ul>
            <li><a href="Subsector_Oren_Wastes_3">Oren Wastes 3</a></li>
            <ul>
                <li>Sustone - Fuel Depo</li>
                <li>Yupen - High Population</li>
                <li>Elneff - Supply</li>
                <li>Rockan - Naval Base</li>
                <li>Moncut - Naval Shipyard</li>
                <li>Struggling - Naval Shipyard</li>
                <li>Coda - Naval Shipyard</li>
                <li>Bussin - Naval Shipyard</li>
            </ul>
            <li><a href="Subsector_Oren_wastes_4">Oren Wastes 4</a></li>
            <ul>
                <li>Tonanoxie - High Population, Capital</li>
                <li>Ijamsville - Army Base</li>
                <li>Terrell - Army Base</li>
                <li>Trevor - Research</li>
            </ul>
            <li><a href="Subsector_Doland">Doland</a></li>
            <ul>
                <li>Covina - High Population</li>
                <li>Bronaugh - Supply Planet</li>
            </ul>
            <li><a href="Subsector_Old_Islands">Old Islands</a></li>
            <ul>
                <li>Acadie - Fuel Depo/Fuel World</li>
            </ul>
            <li><a href="Subsector_Cirta">Citra</a></li>
            <ul>
                <li>Etty - Army Base</li>
            </ul>
            <li><a href="Subsector_Wallwern">Wallwern</a></li>
            <ul>
                <li>Worland - Fuel Depo</li>
                <li>Vandiver - Fuel Depo</li>
                <li>Saltsburg - Naval Shipyard</li>
                <li>Lattimore - Army Base</li>
                <li>Talihina - Fuel Depo</li>
                <li>Tenstrike - Fuel Depo</li>
            </ul>
            <li><a href="Subsector_Zaleski">Zaleski</a></li>
            <ul>
                <li>Marchand - Uninhabited</li>
            </ul>
        </ul>
        </div>
</body>
