@page "/VDS"
<head>
    <title>Venhut Dominate States</title>
</head>

<body>
    <h1>Venhut Dominate State (VDS)</h1>
    <p>The Venhut Dominate state is a sub-state of the <a href="ds">Dominate Supremius</a>, and is a major part of the <a href="acadieHighway"> Acadie Tillium Highway</a> within the <a href="Subsector_Oren_Wastes_3">Oren Wastes 3</a> subsector. It was founded following the <a href="greatWar">Great war</a>, when Venhut was given access to Jump Drive technology and quickly moved to invade their larger neighbor with the support of the Dominate Supremius.</p>
    <div>
        <table style="width:25.5em;border-spacing:2px;float:left;">
            <tbody>
                <tr><td>1) Short Description</td></tr>
                <tr><td>2) History</td></tr>
                <tr><td>3) Government</td></tr>
            </tbody>
        </table>

        <table style="width:27.5em;border-spacing:2px;float:right;">
            <tbody>
                <tr><td colspan="2" id="seperator"></td></tr>
                <tr><td>Name</td><td>Relationship</td></tr>
            <td style="color:wheat;">Major factions</td>
            <tr><td><a href="ufe" style="color:white">United Federation Of Earth</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="germushia" style="color:white">Germushia</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="polanskia" style="color:white">Polandskia</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="deutschland" style="color:white">Deutschland</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="xiaoming" style="color:white">Xiao-Ming</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="firstorder" style="color:white">First Order</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="britannia" style="color:white">Britannia</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ivft" style="color:white">Imperial Versian Federated Territories</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="transGalaticEmpire" style="color:white">Trans Galatic Empire</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="vers" style="color:white">Vers</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="url" style="color:white">United Reverse Lords</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="axios" style="color:white">Axios Allience</a></td><td style="color:#fc1f1a;">Enemy</td></tr>

            <tr><td style="color:wheat">Sector Sized Factions</td></tr>
            <tr><td><a href="wia" style="color:white">Western Islands Alliance (UFE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ub" style="color:white">United Baronies (POL)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="witc" style="color:white">Western Islands Trade Consortium (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ds" style="color:white">Dominate Supremius (TGE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="wic" style="color:white">Western Islands Commune (DEU)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="ro" style="color:white">Rex van der Ostrovki(VE)</a></td><td style="color:yellow;">Neutral</td></tr>


            <tr><td style="color:wheat">Subsector Sized Factions</td></tr>
            <tr><td><a href="idf" style="color:white">Independed Defense Federation (UFE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="sca" style="color:white">Starcan Alliance (UFE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="kt" style="color:white">Kotlik Tribunal (UFE)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="tt" style="color:white">Tilova Pact (AA)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ss" style="color:white">Spiritwood Senate (AA)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="ncbb" style="color:white">New Colchis Buisness Board (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="mmr" style="color:white">Mainhair Military Republic (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="istc" style="color:white">Intercourse Subsector Trade Consortium (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="cstc" style="color:white">Cirtra Sector Trade Consortium (GER)</a></td><td style="color:#fc1f1a;">Enemy</td></tr>
            <tr><td><a href="oild" style="color:white">Old Islands Defense League (TGE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="vds" style="color:white">Venhut Dominate State (TGE)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="nta" style="color:white">Neubayern Topas Alliance (DEU)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="op" style="color:white">Olitar Protectorate (DEU)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="jktp" style="color:white">Jeffers-Kosse Trade Pact (XM)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="hsptp" style="color:white">Harwichport-Simla-Parcol Trade Pact (XM)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="iwtp" style="color:white">Ionia-Waskish Trade Pact (XM)</a></td><td style="color:lawngreen;">Ally</td></tr>
            <tr><td><a href="epg" style="color:white">Esperanza Planetary Government (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="cma" style="color:white">Coila Military Alliance (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="gse" style="color:white">Gunipped Stellar Empire (VE)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="stc" style="color:white">Sar-Tan Confederacy (URl)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="rrr" style="color:white">Red Rock Republic (URl)</a></td><td style="color:yellow;">Neutral</td></tr>
            <tr><td><a href="ek" style="color:white">Essia Kritarchy (URl)</a></td><td style="color:yellow;">Neutral</td></tr>

            <tr><td colspan="2" id="seperator"></td></tr>
            <tr><td>Traits</td></tr>
            <tr><td style="color:orange">Imperial</td></tr>
            <tr><td style="color:orange">Acadie Highway Member</td></tr>
            <tr><td style="color:orange">Trade Focused</td></tr>
            <tr><td style="color:orange">Democracy</td></tr>
            <tr><td style="color:orange">Technologically backwards</td></tr>
            </tbody>
        </table>
    </div>
    <br />
    <div id="information" style="clear:left">
        <h2>Short Description</h2>
        <p>The Venhut Dominate States are a young empire whos capital lies in the Venhut system, where a democratically elected leader manages the local government, while the imperial Beuacracy battles with the technologically empowered elites for control over the other States.</p>
        <p>Currently, the VDS is a vital part of the Imperial Tillium Highway, serving as the key imperial route between Acadie and the <a href="wic">Western Islands Commune</a> to their north.</p>
        <h2>History</h2>
        <p>Following the great war, the empire was quick to take interest in the Western Islands sector. Following the discovery of the massive tillium deposits on Acadie, the Empire chose to back Venhut and provide funds and weapons for a small army to invade Bodeywalk, the nearby planet that would be essential for trade. While the imperial army was able to take the capital and build a higher quality starport, battles still rage for control over the planet itself.</p>
        <p>Reedu was the second target of invasion, in order to prevent Sansteere within the Old Islands form taking such a valuable system. The planet now supports a minor imperial outpost and a few service stations.</p>
        <p>Finally, the VDS has established a research outpost in the frozen planet of Dovers.</p>
        <h2>Government</h2>
        <p>the government of the VDS is complicated, formally Venhut is the capital and the other offically the Dominate is the alliance of Balkanized states on Venhut. Today though the Imperial Bureaucracy is more important for the actual Dominate, especially with how many positions are appointed from the Dominate Supremius.</p>
        <h2>Army</h2>
        <h2>Army</h2>
        <p>The Dominate States currently has 5 standing armies: </p>
        <ol>
            <li>st Army, composed of 10 Good Infantry Units, commanded by General Beaumont Complyn, currently headquartered in Venhut</li>
            <li>nd Army, composed of 8 Good Units, commanded by General Adams Meredith, currently headquartered in Venhut</li>
            <li>rd Army, composed of 3 Imperial Infantry Units, commanded by Captain Bowthe Breckenridge, currently headquartered in Venhut</li>
            <li>rth Army, composed of 4 Elite Units, commanded by Commander Hornley Abraham, currently headquartered in Venhut</li>
            <li>th Army, composed of 3 New Infantry Units, commanded by Commander Hampton Jameson, currently headquartered in Venhut</li>
        </ol>
        <p>The Dominate States arms their troops with the: {WEAPON} and uses: {ARMOUR}</p>
        <h2>Navy</h2>
        <p>The Dominate States currently has 4 standing Fleets (total vessels: 21): </p>
        <ol>
            <li>st, composed of 8 vessels, Led by Fleet Moff Brimsey Joane, Stationed out of Venhut</li>
            <li>nd, composed of 8 vessels, Led by Fleet Moff More Osyllbury, Stationed out of Venhut</li>
            <li>rd, composed of 3 vessels, Led by Fleet Moff Allen Upperton, Stationed out of Venhut</li>
            <li>th, composed of 2 vessels, Led by Fleet Moff Abigail Brecknock, Stationed out of Venhut</li>
        </ol>

        <h2>Companies managed from within the Dominate States</h2>
        <ul>
            <li>
                Fuel Companies:
                <table style="border-style: solid;">
                    <thead>
                        <tr><th>Name</th><th>Fuel Type</th><th>Size within nation</th><th>Mining Worlds</th><th>Refining Worlds</th><th>Average Share Price</th><th>Notes</th></tr>
                    </thead>
                    <tbody style="color:#ffe81F">
                        <tr id="tableInfo"><td>Imperial Aldminium Company.North Western Islands</td><td>Aldminium</td><td>Small</td><td>Renwick</td><td>Renwcik</td><td>Cr346</td><td>Offically owned by the Trans Galatic Empire.</td></tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <h2>Planets Controlled</h2>
        <p>Naval base: a location that a fleet can operate out of.</p>
        <p>Army base: A location that an army can operate out of.</p>
        <p>Naval Shipyard: A location that can produce military grade vessels.</p>
        <p>Research: A reseach lab of some kind is located here.</p>
        <p>Food: This planet producers food.</p>
        <p>Industrial: This planet is dedicated to building stuff!</p>
        <p>Supply planet - just produces things to be consumed.</p>
        <p>High Population - Lots of people, generally important for commerce.</p>
        <p>Fuel Depo - a planet where fuel is stored/sold for cheaper then regular (indicated by a O on the map)</p>

        <ul>
            <li><a href="Subsector_Oren_Wastes_3">Oren Wastes 3</a></li>
            <ul>
                <li>Venhut - Naval Shipyard, Capital</li>
                <li>Bodeywalk - Food</li>
                <li>Dovers - Supply</li>
                <li>ReeDu - Fuel Depo</li>
            </ul>
        </ul>
    </div>
</body>
