@page "/Generators/TravellerSpellCreator"
@using WikiServices.InformationServices
@model TravellerWiki.TravellerSpellCreatorModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject TravellerFreeFormMagicSystemsService MagicSystem
@{
    ViewData["Title"] = "Spell Creator";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta property="og:title" content="Known Universe Wiki - Spell Creator"/>
    <meta property="og:url" content="https://theseamnetwork.com/Generators/TravellerSpellCreator/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://thesteamnetwork.com/Images/FederationFlag.png"/>
    <meta content="Use this tool to help you create and cast powerful Known Universe Spells." property="og:description"/>
    <meta content="#ffe81F" data-react-helmet="true" name="theme-color"/>


    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
</head>
<body>
<h1>Spell Creator</h1>
<p>This is a Spell Translator or spell creator for the Known Universe <a href="/Rules/Magic/FreeFormMagic/">Free Form Magic System</a>. The creator caps you at one modifier, but if you write it out by hand you can use multiple modifiers.</p>
<form method="get" asp-action="">
    <select name="nation" style="width: 15%">
        <option value="">Language</option>
        <option value="1">High Versian</option>
        <option value="2">Jedi</option>
        <option value="3">Sith</option>
        <option value="4">Federation Common</option>
    </select>
    <select name="plane" style="width: 15%">
        <option value="">Plane</option>
        <option value="1">Void</option>
        <option value="2">Aether</option>
        <option value="3">Material</option>
        <option value="4">Nether</option>
        <option value="5">Abyss</option>
    </select>
    <select name="action" style="width: 10%">
        <option value="">Actions</option>
        <option value="1">Build</option>
        <option value="2">Learn</option>
        <option value="3">Change</option>
        <option value="4">Ruin</option>
        <option value="5">Command</option>
    </select>
    <select name="target" style="width: 10%">
        <option value="">Target</option>
        <option value="1">Air</option>
        <option value="2">Animals</option>
        <option value="3">Constructed</option>
        <option value="4">Creature</option>
        <option value="5">Earth</option>
        <option value="6">Electricity</option>
        <option value="7">Fire</option>
        <option value="8">Image</option>
        <option value="9">Mind</option>
        <option value="10">Plant</option>
        <option value="11">Void</option>
        <option value="12">Water</option>
    </select>
    <select name="modifier" style="width: 30%">
        <option value="">Modifier</option>
        @{
            var modifiers = MagicSystem.
                GetModifiersWords(FreeFormLanguages.FederationCommon)
                .Select(x => x.Value).ToList();
        }
        @for (var i = 1; i < modifiers.Count + 1; i++)
        {
            <option value="@i">@modifiers[i - 1]</option>
        }
    </select>
    <input type="number" style="display: none" name="requestedSpell" value="1"/>
    <button style="width: 15%">Translate to spell!</button>
</form>
@if (Model.HasSpell)
{
    <br/>
    <p style="font-size: xx-large; text-align: center;font-weight: bold">@Model.SpellText</p>
}
<h3>
    <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Search">Search</a> <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Index">Home page</a> <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Islands_Sector">Islands Sector</a> <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Rules/">Rules</a>
</h3>

</body>