@page "/Generators/TravellerSpellCreator"
@using TravellerWiki.Data
@using System.Linq;
@using JobBoardCreator
@model TravellerWiki.TravellerSpellCreatorModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject TravellerFreeFormMagicSystemsService MagicSystem
@{
    ViewData["Title"] = "TravellerSpellCreator";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <h1>Spell Creator</h1>
    <form method="get" asp-action="CreateSpell">
        <select name="nation" style="width: 15%">
            <option value="">Language</option>
            <option value="1">High Versian</option>
            <option value="2">Jedi</option>
            <option value="3">Sith</option>
            <option value="4">Federation Common</option>
        </select>
        <select name="plane" style="width: 15%">
            <option value="">Plane</option>
            <option value="1">Void</option>
            <option value="2">Aether</option>
            <option value="3">Material</option>
            <option value="4">Nether</option>
            <option value="5">Abyss</option>
        </select>
        <select name="action" style="width: 10%">
            <option value="">Actions</option>
            <option value="1">Build</option>
            <option value="2">Learn</option>
            <option value="3">Change</option>
            <option value="4">Ruin</option>
            <option value="5">Command</option>
        </select>
        <select name="target" style="width: 10%">
            <option value="">Target</option>
            <option value="1">Air</option>
            <option value="2">Animals</option>
            <option value="3">Constructed</option>
            <option value="4">Creature</option>
            <option value="5">Earth</option>
            <option value="6">Electricity</option>
            <option value="7">Fire</option>
            <option value="8">Image</option>
            <option value="9">Mind</option>
            <option value="10">Plant</option>
            <option value="11">Void</option>
            <option value="12">Water</option>
        </select>
        <select name="modifier" style="width: 30%">
            <option value="">Modifier</option>
            @{
                var modifiers = MagicSystem.
                    GetModifiersWords(FreeFormLanguages.FederationCommon)
                    .Select(x => x.Value).ToList();
            }
            @for (int i = 1; i < modifiers.Count+1; i++)
            {
                <option value="@i">@modifiers[i-1]</option>
            }
        </select>
        <input type="number" style="display: none" name="requestedSpell" value="1" />
        <button style="width: 15%">Translate to spell!</button>
    </form>
    @if (Model.HasSpell)
    {
        <br />
        <p style="font-size: xx-large; text-align: center;font-weight: bold">@Model.SpellText</p>
    }
    <h3><a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Search">Search</a> <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Index">Home page</a> <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Islands_Sector">Islands Sector</a> <a style="font-style:normal; font-size: larger; text-decoration: #ffe81F underline;" href="/Rules/">Rules</a></h3>

</body>
